---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import CoreMicrosite from '@components/Page/microsites/_CoreMicrosite.astro';
import WhatIsLetMeRender from '@components/Page/microsites/microparts/WhatIsLetMeRender.astro';
import OrderRenderNow from '@components/Page/microsites/microparts/OrderRenderNow.astro';
import RenderDiscounts from '@components/Page/microsites/microparts/RenderDiscounts.astro';
import TodayBlenderVersion from '@components/Elements/SparePart/TodayBlenderVersion.astro';
import MessageRenderStatus from '@components/Page/microsites/microparts/MessageRenderStatus.astro';
import VisitOutOtherSocialMedias from '@components/Page/microsites/microparts/VisitOutOtherSocialMedias.astro';

export interface Props{
    nsfw?:boolean;
}

let detachedGenital:boolean = true;
let noNeedNSFW:boolean = true;
let addHeaderTitle = 'NOTICE: Retirement of Tumblr accounts & blogs';
let addMetaTitle = 'We have been kept blocked by so many in Tumblr';
let addKeywords:string = 'Tumblr, toxic, community, blocked, immature, Contact us';
let addDescriptions:string = 'We have abandoned our Tumblr accounts, but the account kept up for posterity.';
let skipHeader:boolean = false;
let skipNav:boolean = false;
let skipFooter:boolean = false;
let disableOverwhelmStatement:boolean = true;
let author = 'JOELwindows7';

let maxNumCommissionSlot:number = 8;
let maxNumPerTransactionSlot:number = 240;
let maxGigabytePerFile:number = 2;

const{
    nsfw = false,
} = Astro.props.frontmatter || Astro.props as Props;

const canonicalURL:URL = new URL(Astro.url.pathname, Astro.site);
const padd:string = `${canonicalURL}/apps/microsites/`;
---
<CoreMicrosite
    nsfw={nsfw}
    detachedGenital={detachedGenital}
    addKeywords={addKeywords}
    addDescriptions={addDescriptions}
    addHeaderTitle={addHeaderTitle}
    addMetaTitle={addMetaTitle}
    author={author}
    disableOverwhelmStatement={disableOverwhelmStatement}
    skipHeader={skipHeader}
    skipNav={skipNav}
    skipFooter={skipFooter}
    noNeedNSFW={noNeedNSFW}
>
<section style='align-items:center;justify-content: center;display:block;text-align:center;'>
    <h2>In regards of unexpected blocking in Tumblr</h2>

    <p>We have received message from our Tumblr division, that we have been blocked by so many cardiophilia tumblr, old friends, & more blogs (whose have cool posts) <b class="error">without given reason why</b>. Due to this devastating, overwhelming, and evercoming incidents like this, <span style="font-size:large;">we have decided that it is time to sunset all endeavour in Tumblr, <b class="error">For good</b></span>.</p>

    <p>For your clarification, blocking us means agravation & provocation towards keeping availability & existence, as well as ethics, norm, & behaviour in general.</p>

    <p style='font-size:xx-large;'><q>What did I do <b><u>wrong</u></b>?!</q></p>

    <p><b class='error' style='font-size:large;'><u>We do not tolerate such action of blocking us & other gamers for no reason</u></b>, & these actions will not go unpunished. However, things like this has no solution. Therefore, to keep our mental health & other wellbeing parameters from being harmed much further, we have once again decided to retire all endeavour here with Tumblr, <b class="error">forever</b>. Including other unmentioned platforms we have lost count how many (especially ones notorious for the people using it that are toxic, egregious DNI rules, but not limited to such as platforms that are full of restrictability features, allows egregious above evil agenda accelerations, etc.).</p>

    <p>As usual, all accounts, blogs, channels, etc. in it will be kept intact for posterity. We may comeback but <b class='warn'><u>only to reblog/re<del>tweet</del>post other cool stuffs</u></b>, since there are still so many gamers stuck with Tumblr & other legacy platforms these days despite our efforts of whistleblowings.</p>

    <p>Our new all in one place where we tell story is TBA. But its place has been prepared, <ButtonizedLink href={`/apps/posts`} openInNewTab={true}>As you can see here</ButtonizedLink>. Stay tuned.</p>

    <p>In case you have question regarding the new post blog place we picked, unfortunately, <b class="error">LBRY inc. was murdered by SEC</b>, <a href="https://odysee.com/@lbry:3f/theendoflbryinc:d" target="_blank" rel="noreferrer noopener">As you can see here</a>. So unfortunately, fates of all derivatives including Odysee becomes <b class='warn'>unstable</b>. We have lost our once trusted home, only because a government division on Earth, seeks littlest mistake, then proceed to enlarge it in court, and won somehow, like it was presumably lobbied by crypto scammer-terrorist.</p>

    <p style='font-size:x-large;'>In the end, Nobody will hold onto anything forever. If ultimately there is nobody keeping it for atleast so long, <b><i>then who else?</i></b></p>

    <p>It means somebody, shall do it. Or else, it means nothing.</p>

    <p style='font-size:x-large;'><b style='color:black;background-color:gray;'>It ultimately shall be preserved</b>, so it's a thing. The <i>rules</i> that exists, in long term will only hinders it to mean nothing. <i>Such rules</i> shall phase eventually.</p>
</section>

<VisitOutOtherSocialMedias/>

</CoreMicrosite>