---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import CoreMicrosite from '@components/Page/microsites/_CoreMicrosite.astro';
import WhatIsLetMeRender from '@components/Page/microsites/microparts/WhatIsLetMeRender.astro';
import OrderRenderNow from '@components/Page/microsites/microparts/OrderRenderNow.astro';
import RenderDiscounts from '@components/Page/microsites/microparts/RenderDiscounts.astro';
import TodayBlenderVersion from '@components/Elements/SparePart/TodayBlenderVersion.astro';

export interface Props{
    nsfw?:boolean;
}

let detachedGenital:boolean = true;
let noNeedNSFW:boolean = false;
let addHeaderTitle = 'CHEAP & HIGH QUALITY BLENDER 3D MODEL & SCENE RENDER SERVICE';
let addMetaTitle = 'CHEAP & HIGH QUALITY BLENDER 3D MODEL & SCENE RENDER SERVICE';
let addKeywords:boolean = 'Blender, Commission, Render, Renderfarm, Contact us';
let addDescriptions = 'Let us render your Blender file as high quality as possible, and sit back.';
let skipHeader:boolean = false;
let skipNav:boolean = false;
let skipFooter:boolean = false;
let disableOverwhelmStatement:boolean = true;
let author = 'JOELwindows7';

let maxNumCommissionSlot:number = 8;

const{
    nsfw = false,
} = Astro.props.frontmatter || Astro.props as Props;
---
<CoreMicrosite
    nsfw={nsfw}
    detachedGenital={detachedGenital}
    addKeywords={addKeywords}
    addDescriptions={addDescriptions}
    addHeaderTitle={addHeaderTitle}
    addMetaTitle={addMetaTitle}
    author={author}
    disableOverwhelmStatement={disableOverwhelmStatement}
    skipHeader={skipHeader}
    skipNav={skipNav}
    skipFooter={skipFooter}
    noNeedNSFW={noNeedNSFW}
>
    <h2 id='shortcutOrder'>Order Now!!!</h2>
        <p><ButtonizedLink href='#orderNow'>Click here to get started immediately</ButtonizedLink></p>
    <h2 id='aboutRender'>What is this??</h2>
        <WhatIsLetMeRender nsfw={nsfw}/>
    <h2 id='orderNow'>What are you waiting for? ORDER NOW!!!</h2>
        <OrderRenderNow nsfw={nsfw}/>
        <p>Price goes up to 100K in <b>January 1st, 2024</b></p>
    <h2>Why us?</h2>
        <!-- comparison vs competitors -->
    <h2 id='discountSpecial'>SPECIAL EXCLUSIVE DISCOUNTS GIANT DEALS!!!</h2>
        <RenderDiscounts/>
    <h2 id='messageStatus'>Message Statuses</h2>
    <h2 id='rules'>Rules</h2>
        <h3>Terms & Conditions</h3>
            <!-- rule to obey -->
            <p><ButtonizedLink href='/terms_of_service' openInNewTab={true}>Read main Terms of Service</ButtonizedLink></p>
            <ul style='font-size:x-small;'>
                <li style='font-size:1em;'>MAX COMMISSION SLOT = <b style='font-size:1.25em;'>{maxNumCommissionSlot}</b></li>
                <li><mark>Charges Upfront!!</mark> Before you can have your render, the file will be previewed at lower resolution & with terrible capture ways, <b>absolutely free</b>. <br/>Once you are satisfied, We will start render in actual specs, then terrible preview of these files, <b>again, no charge yet</b>.<br/> Pay now and the render will be sent 1 to 1 to you.</li>
                <li><mark class='warning'>No Refund once paid!</mark> You are agree that you are absolutely satified & will never dispute any transactions. In event of my disatisfaction on the later time, it is all faulty of the customer, and will not dispute any transaction.</li>
                <li>Each file have each cost. So it's 50K, 50K, 50K, so on.<br/>
                But if you had discount, <b class='success'>the discount applies to every files!!!!</b> 25K, 25K, so on.
                </li>
                <li>Discounts will void if your file had following restriction, such as but not limited to:
                    <ul>
                        <li><code>NO NSFW ALLOWED</code></li>
                        <li><code>NO USE OUTSIDE XYZ ALLOWED</code></li>
                        <li><code>NO PORT TO XYZ & RELEASE THAT FOR FREE ALLOWED</code></li>
                        <li><code>YOU ARE X AND USE IT IN COMMISSION E.G. IF Y WANTS TO USE THIS MODEL TOO EITHER OR NOT PORT AND/OR ORIGINAL, Y MUST ALSO BUY THIS MODEL ON BUYROAD!</code></li>
                    </ul>
                </li>
                <li>
                   However, Discounts do not void if you have these restrictions (<b class='success'>even if your file is Creative Commons Free Culture compliant licensed</b>):
                   <ul>
                        <li><code>NO AI ALLOWED</code>. Due to a sheer & vast amount of plagiarism, specifically tremendous amount of cases of unauthorized sampling in many Learning AI machines, we tolerate gamers that wishes for their file to be not used for uncredited & no-sauce-url part of AI learning sampling.</li>
                        <li><code>NO PAYWALL ALLOWED</code>. Ayy that's even better.</li>
                    </ul>
                </li>
                <li>Rendering Cache Persistence:
                    <ul>
                        <li class='error'>Render video cache will be kept for whose rendered from Private files. However will also be removed under our discretion, usually when disk ran out.</li>
                        <li>Render video cache will be removed for whose rendered from Public files in around 15 days when we remember to clean up.</li>
                        <li>
                            Files that haven't yet deleted may be reaquired in case of accident deletion. You may quickly ask us the render file before again the above delete window, and the last render cache will be resent back to you <mark class='info'>Absolutely GRATIS!!!</mark> This also include the Blender File, <b class='info'>provided, if we still have it</b>, <mark class='success'>Also no extra charge</mark>.<br/>
                            So it's best if you forever ensure that your Sketchfab page is downloadable & never let it down with backup URLs to make things better, yess.
                        </li>
                        <li>
                            If you had updated the 3D Model or Scene and would like to ask render, then it's considered new file & above price applies for this new file & so on. Again, last render videos survived can be obtained again at no extra cost (if you already paid for those). Just pay for the new render.
                        </li>
                    </ul>
                </li>
                <li>
                    3D Model & Scene File keeping:
                    <ul>
                        <li>Public 3D Model that is downloadable (whatever the license) will be kept forever <b>even after God sent us to the new universe</b>.<br/>
                        If you privated the file now, the file will still be kept and <mark class='warning'>all just privated files will be reported to Admiral Zumi for further prosecutions</mark>. So don't you dare mess with us. We all gamers can see your behaviour.
                        </li>
                        <li>Private 3D Model that is not downloadable (whatever the license) will be removed 15 days after transaction.<br/>
                        If you just made it downloadable, <mark class='warning'>There is no refund or any reimbursement post-transaction</mark>, while your file will be redownloaded and kept forever.
                        </li>
                    </ul>
                </li>

            </ul>
        <h3>Privacy Policy</h3>
            <!-- Public data that we will process & how will we treat them. -->
            <p><ButtonizedLink href='/privacy_policy' openInNewTab={true}>Read main Privacy Policy</ButtonizedLink></p>
            <h4>Data Collected</h4>
                <ul>
                    <li>Public Username. To track assets you have published on the internet & use these as an appreciation showcase if available.</li>
                    <li>Public Behaviour. How you set downloadability of your 3D Model & scenes & the licenses</li>
                </ul>
            <h4>Data Sold</h4>
                <code>NULL</code>
            <h4>Data Spread publicly for $0</h4>
                <ul>
                    <li>Public Username. Gamers wants to know who you are and show appreciations.</li>
                    <li>Public Behaviour. Gamers would like to learn how to behave, as you are the great example. How to be humble. Gratis, Open Source, & FULL VERSION!!!</li>
                </ul>
        <TodayBlenderVersion/>
</CoreMicrosite>