---
import { getCollection } from 'astro:content';
import LayoutMDX from '@components/LayoutMDX.astro';
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import Cardiophilia from '@components/Page/Cardiophilia.astro';

export interface Props{
    title?:string;
    text?:string;
    nsfw?:boolean;
}

export function getStaticPaths(){
    const pages = [
      {
        index: undefined,
        title: "Posts",
        text: "Welcome to the BlogMachine!",
        nsfw:false,
      },
      {
        index: "enterNSFW/nsfw",
        title: "Posts 69",
        text: "Welcome to the BlogMachine!",
        nsfw:true,
      },
    ];
    return pages.map(({ index, title, text, nsfw }) => {
      return {
        params: { index },
        props: { title, text, nsfw },
      };
    });
}

const allPosts = await getCollection("posts");
const { title, text, nsfw } = Astro.props.frontmatter || Astro.props as Props;
---
<Layout
    title={title}
    description="Perkedel NTLF+ASTR. BlogMachine. Blogs & Random Posts"
    keywords="tech, fun, novelty, open source, gratis, free, blog, post"
    nsfw={nsfw}
    >
    <h1>{title} {nsfw?"NSFW":""}</h1>
        <p>{text}</p>
        <ul>
            {allPosts.map((post) => (
                {nsfw?
                    <ButtonizedLink href={"./" + post.slug}>&#xeb99; {post.data.title}</ButtonizedLink>
                    :
                    {post.data.isNSFW?
                        ""
                        :
                        <ButtonizedLink href={"./" + post.slug}>&#xeb99; {post.data.title}</ButtonizedLink>
                    }
                }

            ))}
        </ul>
</Layout>
