---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import Midi from '@components/Elements/MidiPlayer.astro';
import EmbedAudio from '@components/Elements/EmbedAudio.astro';
import RandomPlayMIDIs from '@components/Elements/SparePart/RandomPlayMIDIs.astro';
import RandomLoudLinks from '@components/Elements/SparePart/RandomLoudLinks.astro';
import OwenWowTest from '@components/Elements/SparePart/OwenWowTest.astro';
import IncredibleQuips from '@components/Elements/SparePart/IncredibleQuips.astro';
import HoverExpandTest from '@components/Elements/SparePart/Experiments/HoverExpandTest.astro';
import ScrollRevealTest from '@components/Elements/SparePart/Experiments/ScrollRevealTest.astro';
import JPEGXLTest from '@components/Elements/SparePart/Experiments/JPEGXLTest.astro';
import YearOnNetlify from '@components/Elements/SparePart/Experiments/YearOnNetlify.astro';
import HelloWorldButton from '@components/Elements/SparePart/Experiments/HelloWorldButton.astro';
import SignYamahaPetition from '@components/Messages/SignYamahaPetition.astro';
import MavrickleTest from '@components/Elements/SparePart/Experiments/MavrickleTest.astro';

export interface Props {
  name?:string;
  title?: string;
  description?: string;
  type?:string;
  author?: string;
  date?: string;
  dateMod?: string;
  dateExp?: string;
  keywords?: string;
  hideInfo?: boolean;
  thumbnail?:string;
  thumbnailType?:string;
  thumbnailWidth?:number;
  thumbnailHeight?:number;
  thumbnailAlt?:string;
  thumbnailAudio?:string;
  thumbnailVideo?:string;
  noIndex?:boolean;
  noFollow?:boolean;
  rating?:string;
  favIcon?:string;
  favIconType?:string;
  favIconAlt?:string;
  favIconAltType?:string;
  favIconHD?:string;
  favIconHDType?:string;
  favIconHDAlt?:string;
  favIconHDWidth?:number;
  favIconHDHeight?:number;
  charSet?:string;
  language?:string;
  twitterAuthor?:string;
  twitterSite?:string;
  twitterCard?:string;
  themeColor?:string;
  descriptionPrefix?: string;
  viewSourceURL?: string;
  ejectClarity?:boolean;
  SauceChangelogURL?:string;
  SauceChangelogURLDirect?:string;
  appName?:string;
  legacyMarkdown?:boolean;
}

const {
  title = 'Last Funkin Moments Changelogs',
  name = title,
  author = 'JOELwindows7',
  description = 'Perkedel NTLF+ASTR. Changelogs List of Last Funkin Moments',
  keywords = 'tech, fun, novelty, open source, gratis, free, game, html5, embed, embedded, web, online, game, game online, online game, free play, f2p,  fnf, mods, friday night funkin, friday, night, funkin',
  siteName = 'Perkedel Technologies Division NTLF+ASTR',
  date,
  dateMod,
  dateExp,
  thumbnail = 'https://github.com/Perkedel/After-Church/raw/master/RAW%20files/Inkscape/Week%20Strong/week-strong-thumb.svg',
  thumbnailType = 'image/svg',
  thumbnailWidth = 1080,
  thumbnailHeight = 1920,
  thumbnailAlt = 'Last Funkin Moments Thumbnail',
  thumbnailAudio,
  thumbnailVideo,
  type = 'website',
  descriptionPrefix = 'DO NOT RATIO',
  noIndex = false,
  noFollow = false,
  rating,
  favIcon ='/rawHtml/LastFunkinMoments/assets/images/art/LFMicon64.png',
  favIconType ='image/png',
  favIconAlt ='/rawHtml/LastFunkinMoments/assets/images/art/LFMicon64.png',
  favIconAltType ='image/png',
  favIconHD = '/Perkedel_Icon.png',
  favIconHDType = 'image/png',
  favIconHDAlt = 'Perkedel icon',
  favIconHDWidth = 600,
  favIconHDHeight = 400,
  charSet = 'UTF-8',
  language = 'en',
  twitterAuthor = '@'+author,
  twitterSite = twitterAuthor,
  twitterCard = 'summary_large_image' ,
  themeColor = '#0000aa',
  ejectClarity = false,
  hideInfo = false,
  SauceChangelogURL,
  SauceChangelogURLDirect,
  appName = 'Last Funkin Moments',
  file,
  url,
  nsfw,
  legacyMarkdown = true,
// } = Astro.props as Props;
} = Astro.props.frontmatter || Astro.props as Props;
---
<Layout
    title={title}
    name={name}
    type={type}
    author={author}
    description={description}
    descriptionPrefix={descriptionPrefix}
    keywords={keywords}
    date={date}
    dateMod={dateMod}
    dateExp={dateExp}
    thumbnail={thumbnail}
    thumbnailAlt={thumbnailAlt}
    thumbnailType={thumbnailType}
    thumbnailWidth={thumbnailWidth}
    thumbnailHeight={thumbnailHeight}
    thumbnailAudio={thumbnailAudio}
    thumbnailVideo={thumbnailVideo}
    noIndex={noIndex}
    noFollow={noFollow}
    rating={rating}
    favIcon={favIcon}
    favIconType={favIconType}
    favIconAlt={favIconAlt}
    favIconAltType={favIconAltType}
    favIconHD={favIconHD}
    favIconHDAlt={favIconHDAlt}
    favIconHDType={favIconHDType}
    favIconHDWidth={favIconHDWidth}
    favIconHDHeight={favIconHDHeight}
    charSet={charSet}
    language={language}
    twitterAuthor={twitterAuthor || '@' + author}
    twitterSite={twitterSite || '@' + author}
    twitterCard={twitterCard || 'summary_large_image'}
    themeColor={themeColor || 'navy'}
    hideInfo={hideInfo}
    ejectClarity={ejectClarity}
    appName={appName}
    SauceChangelogURL={SauceChangelogURL}
    SauceChangelogURLDirect={SauceChangelogURLDirect}
    nsfw={nsfw}
    legacyMarkdown = {legacyMarkdown}
    >
  <h1>LFM v2021.06.0</h1>
    <p>Here change!</p>
    <p><a class="Buttonnize" href="https://odysee.com/@JOELwindows7:a/lfm-lore-2021.06:b" target="_blank" rel="noopener noreferrer">https://odysee.com/@JOELwindows7:a/lfm-lore-2021.06:b</a></p>
    <p><a class="Buttonnize" href="https://odysee.com/$/download/lfm-lore-2021.06/b919861e7273e896283be872a97bb0f13a298105" target="_blank" rel="noopener noreferrer">&#xf6d9; Open this lore RAW directly</a></p>
    <br>
    <p><a class="Buttonnize" href="https://odysee.com/@JOELwindows7:a/LFM-changelog-2020.06.0:d" target="_blank" rel="noopener noreferrer">https://odysee.com/@JOELwindows7:a/LFM-changelog-2020.06.0:d</a></p>
    <p><a class="Buttonnize" href="https://odysee.com/@JOELwindows7:a/LFM-changelog-2021.06.2:c" target="_blank" rel="noopener noreferrer">https://odysee.com/@JOELwindows7:a/LFM-changelog-2021.06.2:c</a></p>
    <p><a class="Buttonnize" href="https://odysee.com/@JOELwindows7:a/LFM-changelog-2021.06.3:2" target="_blank" rel="noopener noreferrer">https://odysee.com/@JOELwindows7:a/LFM-changelog-2021.06.3:2</a></p>
    <!--CORS unblock requires subscription. nvm, issue solved! the CORS talking is about embed from THIS neocities to other websites.-->
  
  <iframe id="odysee-iframe" width="100%" height="315" src="https://odysee.com/$/embed/@JOELwindows7:a/last-funkin-moments-gameplay-week_strong:5?r=5QVnh7Qi8KKQzh7G7pWw9nkfaEGprCzM" allowfullscreen></iframe>
  
  <!--MUST BE https://RAR.githubusercontent.com NOT copy the `RAW` button from that GitHub view file. So, click RAW, copy adress bar!-->
  <zero-md width="100%" src="https://player.odycdn.com/api/v4/streams/free/lfm-lore-2021.06/b919861e7273e896283be872a97bb0f13a298105/1f13bd?download=true">
    <!-- Styles declared within will be appended AFTER the default template -->
    <!--<template data-merge="prepend">-->
    <template >
      <!-- Use `link` tags to load external stylesheets -->
      <link rel="stylesheet" href="/style.css" />
      <!-- Use `style` tags to write CSS directly -->
      
      <style>
      
        /*h1 {*/
        /*  color: red;*/
        /*}*/
        
        img{
          width:75%; 
        }
      </style>
      
    </template>
  </zero-md>
  
</Layout>