---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
// import CorePage from '@compnents/Page/__CorePage.astro';
import BeginningOfNSFW from '@components/Elements/SparePart/ListCells/BeginningOfNSFW.astro';
import StatCard from '@components/Elements/SparePart/StatCard.astro';
import CoreHomestuck from './__base/CoreHomestuck.astro';

const filename:string = 'Interpol2025'
const isNSFW:boolean = false;
const addHeaderTitle:string = 'Intergalactic Police Season 1';
const addMetaTitle:string = 'Interpol S1';
const addKeywords:string = 'harrassers, police, law enforcements';
const addDescriptions:string = '';
const skipHeader:boolean = false;
const skipNav:boolean = false;
const skipFooter:boolean = false;
const disableOverwhelmStatement:boolean = true;
const endSay:string = 'End';
const author:string = 'JOELwindows7';
const company:string = 'Perkedel Technologies';
const licenseSay:string = 'CC4.0-BY-SA';
const companyImgSrc:string = '/Perkedel_Icon.png';
const licenseImgSrc:string = '';
const licenseUrl:string = '';
const isWIP:boolean = false;
const notReadyToShow:boolean = false,

const{
    nsfw = false,} = Astro.props;
---
<CoreHomestuck
    nsfw={nsfw} isNSFW={isNSFW}
    addKeywords={addKeywords}
    addDescriptions={addDescriptions}
    addHeaderTitle={addHeaderTitle}
    addMetaTitle={addMetaTitle}
    author={author}
    disableOverwhelmStatement={disableOverwhelmStatement}
    skipHeader={skipHeader}
    skipNav={skipNav}
    skipFooter={skipFooter}
    filename={filename}
    endSay={endSay}
    company={company}
    companyImgSrc={companyImgSrc}
    licenseSay={licenseSay}
    licenseImgSrc={licenseImgSrc}
    isWIP={isWIP}
    notReadyToShow={notReadyToShow}
>
    <h2>Introduction</h2>
        <p>When the world is full of disturbance, one shall take action to counter. If noone would, then who else?</p>
        <p>Once upon a time, the world has been disturbed by a massive organizations. They are mysterious & devious. However, they have a slightly unique ways of attack that here was once very familiar, yet is not physical priority. Despite so, they are stronger than those who we are familiar with and always attacks in target.</p>
    <h2>The Initializations</h2>
        <h3>Intro</h3>
            <h4>Samrose Tower, Peak.</h4>
                <p class='HS Info'>Gyouter & friends are chasing a fugitive. The fugitive has no more way but locked onto the dead end cliff of this tower peak.</p>
                <p class='HS JimmyBolva'>(run towards dead end cliff) hhh! hhh! hhh! hhh! hhh! hhh! (stop just by the cliff)</p>
                <p class='HS GyouterEmbinosa'>(walk calmly pinning Jimmy down) It's over, Jimmy. There's no more where you go. Surrender and we'll give you easy.</p>
                <p class='HS JimmyBolva'>(look back), haha.. Fat chance. Look. I also got you surrounded either way.</p>
                <p class='HS Info'>The enemy mercenaries also have surrounded Gyouter & friends too</p>
                <p class='HS JimmyBolva'>So we're draw. What are you gonna do now? I prefer you concede and <b><i>accept it</i></b>.</p>
                <p class='HS GyouterEmbinosa'>"<code title="Accept that you are banned & you deserve to kill yourself">Accept it</code>"? hah.. I could abandon & find others, but not once again, considering on the other hand you've had also unleashed (look around & hand swipe point out).. your <b>backups</b>. And guess what, of your <i>backups</i>, you did your... <code title="since the victim refuse to cope & either knock off or whatever, do further KYS & death threats">backup things</code>. (walk closer threateningly) I do not let you off easily for such despicable things that's usually, surprisingly alot done on it this (stop with death stare against Jimmy).</p>
                <p class='HS JimmyBolva'>(speaking gone too complicated!!) (reverse 50 cm back) Shut up! We got you surounded. If any of you attack, all of us die, and you won't even gain anything. I do what I want!. And if you want something like this, Do the original youself! Good luck & good day.</p>
                <p class='HS GyouterEmbinosa'>(Error! The problem is Jimmy did death threats as the victim refuses to Accept, hence the topic has already moved at this point. Beside, Perma-ban / Block is hating anyways, and is a Censorship at a personal level even, after all. Anyway basically, Jimmy is way too powerful to let go just for it coz he can do it again easy by easy, somehow idk how) .... (hold Jimmy telepathy secretly & open portal to the Judgement realm capture hole right underneath his feet where camera reveals it this late) No., .., (release Jimmy)!.</p>
                <p class='HS Info'>Jimmy fell into the Judgement hole. This well here, has cushions made of empty cardboard box stacks, fullfilled, for 10 levels. In Judgement Realm, it has properties where all powers malfunction.</p>
                <p class='HS JimmyBolva'>HOAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA!!! (Impact) ARGH!! (attempt to recoordinate) Ugh..., (look up) Wha?.... (upset, Gyouter just dropped me to a well?!?!)YOU!!..? (attempt to use flying power) Hegg......... (failed) huh?</p><p class='HS JimmyBolva'>HOAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA!!! (Impact) ARGH!! (attempt to recoordinate) Ugh..., (look up) Wha?.... (upset, Gyouter just dropped me to a well?!?!)YOU!!..?</p>
                <p class='HS GyouterEmbinosa'>(stare flat down there)</p>
                <p class='HS Chorengte'>(enter and approach fugitive)...</p>
                <p class='HS JimmyBolva'>(attempt to use flying power) Hegg......... (failed) huh? (try again like pooping) HEAAGGGGGGGGGGG!!!..., ARGH!! You.. you <i>hit me</i>. Fool!, my friends will know this. You'll pay for this. Just so you know!.. I got 5 more friends you should also gone to but good luck!</p>
                <p class='HS Chorengte'>(async) (aim tranquilzer needle)... .... (inject)!!</p>
                <p class='HS JimmyBolva'>(async) Coz they've just heard the signal & they're moving (interupt, syncope instantly)</p>
                <p class='HS Info'>The chat log has been recorded all intels in it have been noted.</p>
                <p class='HS GyouterEmbinosa'>Sorry, I can't hear you. Looks like your loud voice has been muffled down there. See ya (close portal)!..!. (look the rest of the enemies)</p>
                <p class='HS Info'>Enemies gone scared stiff as Gyouter had just casted that ultimate spell</p>
                <p class='HS Everyone'>(Enemy) (Vibrating) Ha.. huh...</p>
                <p class='HS GyouterEmbinosa'>(walk menacing around) So, you have 30 seconds to comply. (open another portal to another well at Judgement Realm), To get here.</p>
                <p class='HS Everyone'>(Enemy) (flinch) HEUA!</p>
                <p class='HS GyouterEmbinosa'>Don't worry, there's a cushion down there. No weapons allowed, drop them on the floor, (open the another Judgment well again & move it) I can <code>Hole.io</code> all of you guys & even replace the cushion with grinder if I want.</p>
                <p class='HS Everyone'>(Enemy) ARGH (throw weapons to floor) okay okay, pls don't kill me! (run towards either of the well)</p>
                <p class='HS Info'>One by one, the enemy soldier drops themselves onto the hole & surrendered to the Judgement. Gyouter friends guards the situation.</p>
                <p class='HS GrevorSritowi'>Well done, Chief. Mission accomplished.</p>
                <p class='HS GyouterEmbinosa'>(walk away from the scene & enter the communication), What's the status</p>
                <p class='HS GrevorSritowi'>So today's threat has been handled and finished. The victims will be brought to Psycho for check-ups & recovery. Aand for the.. intel we just got today, we predict this such danger coming, would require... much stronger and also fitting powers.. ... yeah.</p>
                <p class='HS GyouterEmbinosa'>Uhh</p>
                <p class='HS GrevorSritowi'>Let's just assume they all hear it. And since so, they've switched <i>pen</i>. Just in case, Not only we got to have more powers, but we need to acquire different types & break existing boundaries if there is.</p>
                <p class='HS GyouterEmbinosa'>H..How do we do that? (start walking off the scene)</p>
                <p class='HS GrevorSritowi'>We're looking for ways.</p>
                <div style="padding:24px 0px 24px 0px">
                    <p style="font-size:xx-large;text-alignment:center;">
                        INTERGALACTIC POLICE
                    </p>
                </div>
                <p class='HS GrevorSritowi'>But rest assured. We got lots of agents we can hire today and also... we're gonna have to make... initiative.</p>
                <p class='HS Info'>Immediately blank just leave this big title on screen, and wait 10 seconds before moving to the next scene.</p>
        <h3>Discussion</h3>
            <h4>Wakturia Mission Command Center</h4>
                <p class='HS Info'>Gyouter enters back to his office here at Command Center. The numbers of the people are few as last time, during Last Funkin Moment, Joel told everyone to graduate for safety reason. Only few people remains, & these new faces are all probation people. Camera start inside this Command Center room.</p>
                <p class='HS GyouterEmbinosa'>(walk towards the door)....... (open & enter door & continue walk fast)!, ..........</p>
                <p class='HS GrevorSritowi'>Chief!! (stand up & fast towards Gyouter) Thank God you're back, welcome back! (show intels on this tablet PC) So, uh.. We got agents we can hire now..</p>
                <p class='HS GyouterEmbinosa'>(swipe scroll through image files of potential agent profiles)...</p>
                <p class='HS Info'>It's in image file converted from SVG Inkscape because at this time, using PDF has no image-like swipe carouseling & do not Gallery. This template is 1 person per document consisting of body profile photo, name, DOB, Address, and various descriptions. The agents that Grevor collected are all Homestuck characters. Gyouter & Grevor walk together while discussing this intel, towards front stage</p>
                <p class='HS GrevorSritowi'>So.. I found these strong ones, very easy. These are all from that exact universe, has been stopped coz uh.. instance moved to <a>the new one</a> and the old one left yadi yada.., anyways, we can uh.. recover or rescratch these.. idk, we'll ask Saorfa to start this process for it. I hope, the source this... is literally of our Cinematic Universe who knows.</p>
                <p class='HS Info'>They reached the stage & stopped.</p>
                <!-- scattered because of this new instancings. each universe has this abandons waiting to be recovered -->
                <!-- they have small consequence complexity. -->
                <!-- I've asked the Saorfa already, that's what happened -->
<!-- constricted of options~ -->
</CoreHomestuck>