---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
// import CorePage from '@compnents/Page/__CorePage.astro';
import BeginningOfNSFW from '@components/Elements/SparePart/ListCells/BeginningOfNSFW.astro';
import StatCard from '@components/Elements/SparePart/StatCard.astro';
import CoreHomestuck from './__base/CoreHomestuck.astro';

const filename:string = 'Interpol2025'
const isNSFW:boolean = false;
const addHeaderTitle:string = 'Intergalactic Police Season 1';
const addMetaTitle:string = 'Interpol S1';
const addKeywords:string = 'harrassers, police, law enforcements';
const addDescriptions:string = '';
const skipHeader:boolean = false;
const skipNav:boolean = false;
const skipFooter:boolean = false;
const disableOverwhelmStatement:boolean = true;
const endSay:string = 'End';
const author:string = 'JOELwindows7';
const company:string = 'Perkedel Technologies';
const licenseSay:string = 'CC4.0-BY-SA';
const companyImgSrc:string = '/Perkedel_Icon.png';
const licenseImgSrc:string = '';
const licenseUrl:string = '';
const isWIP:boolean = true;
const notReadyToShow:boolean = false;

const{
    nsfw = false,} = Astro.props;
---
<CoreHomestuck
    nsfw={nsfw} isNSFW={isNSFW}
    addKeywords={addKeywords}
    addDescriptions={addDescriptions}
    addHeaderTitle={addHeaderTitle}
    addMetaTitle={addMetaTitle}
    author={author}
    disableOverwhelmStatement={disableOverwhelmStatement}
    skipHeader={skipHeader}
    skipNav={skipNav}
    skipFooter={skipFooter}
    filename={filename}
    endSay={endSay}
    company={company}
    companyImgSrc={companyImgSrc}
    licenseSay={licenseSay}
    licenseImgSrc={licenseImgSrc}
    isWIP={isWIP}
    notReadyToShow={notReadyToShow}
>
    <h2>Introduction</h2>
        <p>When the world is full of disturbance, one shall take action to counter. If noone would, then who else?</p>
        <p>Once upon a time, the world has been disturbed by a massive organizations. They are mysterious & devious. However, they have a slightly unique ways of attack that here was once very familiar, yet is not physical priority. Despite so, they are stronger than those who we are familiar with and always attacks in target.</p>
    <h2>The Initializations</h2>
        <h3>Intro</h3>
            <h4>Samrose Tower, Peak.</h4>
                <p class='HS Info'>Gyouter & friends are chasing a fugitive. The fugitive has no more way but locked onto the dead end cliff of this tower peak.</p>
                <p class='HS JimmyBolva'>(run towards dead end cliff) hhh! hhh! hhh! hhh! hhh! hhh! (stop just by the cliff)</p>
                <p class='HS GyouterEmbinosa'>(walk calmly pinning Jimmy down) It's over, Jimmy. There's no more where you go. Surrender and we'll give you easy.</p>
                <p class='HS JimmyBolva'>(look back), haha.. Fat chance. Look. I also got you surrounded either way.</p>
                <p class='HS Info'>The enemy mercenaries also have surrounded Gyouter & friends too</p>
                <p class='HS JimmyBolva'>So we're draw. What are you gonna do now? I prefer you concede and <b><i>accept it</i></b>.</p>
                <p class='HS GyouterEmbinosa'>"<code title="Accept that you are banned & you deserve to kill yourself">Accept it</code>"? hah.. I could abandon & find others, but not once again, considering on the other hand you've had also unleashed (look around & hand swipe point out).. your <b>backups</b>. And guess what, of your <i>backups</i>, you did your... <code title="since the victim refuse to cope & either knock off or whatever, do further KYS & death threats">backup things</code>. (walk closer threateningly) I do not let you off easily for such despicable things that's usually, surprisingly alot done on it this (stop with death stare against Jimmy).</p>
                <p class='HS JimmyBolva'>(speaking gone too complicated!!) (reverse 50 cm back) Shut up! We got you surounded. If any of you attack, all of us die, and you won't even gain anything. I do what I want!. And if you want something like this, Do the original youself! Good luck & good day.</p>
                <p class='HS GyouterEmbinosa'>(Error! The problem is Jimmy did death threats as the victim refuses to Accept, hence the topic has already moved at this point. Beside, Perma-ban / Block is hating anyways, and is a Censorship at a personal level even, after all. Anyway basically, Jimmy is way too powerful to let go just for it coz he can do it again easy by easy, somehow idk how) .... (hold Jimmy telepathy secretly & open portal to the Judgement realm capture hole right underneath his feet where camera reveals it this late) No., .., (release Jimmy)!.</p>
                <p class='HS Info'>Jimmy fell into the Judgement hole. This well here, has cushions made of empty cardboard box stacks, fullfilled, for 10 levels. In Judgement Realm, it has properties where all powers malfunction.</p>
                <p class='HS JimmyBolva'>HOAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA!!! (Impact) ARGH!! (attempt to recoordinate) Ugh..., (look up) Wha?.... (upset, Gyouter just dropped me to a well?!?!)YOU!!..? (attempt to use flying power) Hegg......... (failed) huh?</p><p class='HS JimmyBolva'>HOAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA!!! (Impact) ARGH!! (attempt to recoordinate) Ugh..., (look up) Wha?.... (upset, Gyouter just dropped me to a well?!?!)YOU!!..?</p>
                <p class='HS GyouterEmbinosa'>(stare flat down there)</p>
                <p class='HS Chorengte'>(enter and approach fugitive)...</p>
                <p class='HS JimmyBolva'>(attempt to use flying power) Hegg......... (failed) huh? (try again like pooping) HEAAGGGGGGGGGGG!!!..., ARGH!! You.. you <i>hit me</i>. Fool!, my friends will know this. You'll pay for this. Just so you know!.. I got 5 more friends you should also gone to but good luck!</p>
                <p class='HS Chorengte'>(async) (aim tranquilzer needle)... .... (inject)!!</p>
                <p class='HS JimmyBolva'>(async) Coz they've just heard the signal & they're moving (interupt, syncope instantly)</p>
                <p class='HS Info'>The chat log has been recorded all intels in it have been noted.</p>
                <p class='HS GyouterEmbinosa'>Sorry, I can't hear you. Looks like your loud voice has been muffled down there. See ya (close portal)!..!. (look the rest of the enemies)</p>
                <p class='HS Info'>Enemies gone scared stiff as Gyouter had just casted that ultimate spell</p>
                <p class='HS Everyone'>(Enemy) (Vibrating) Ha.. huh...</p>
                <p class='HS GyouterEmbinosa'>(walk menacing around) So, you have 30 seconds to comply. (open another portal to another well at Judgement Realm), To get here.</p>
                <p class='HS Everyone'>(Enemy) (flinch) HEUA!</p>
                <p class='HS GyouterEmbinosa'>Don't worry, there's a cushion down there. No weapons allowed, drop them on the floor, (open the another Judgment well again & move it) I can <code>Hole.io</code> all of you guys & even replace the cushion with grinder if I want.</p>
                <p class='HS Everyone'>(Enemy) ARGH (throw weapons to floor) okay okay, pls don't kill me! (run towards either of the well)</p>
                <p class='HS Info'>One by one, the enemy soldier drops themselves onto the hole & surrendered to the Judgement. Gyouter friends guards the situation.</p>
                <p class='HS GrevorSritowi'>Well done, Chief. Mission accomplished.</p>
                <p class='HS GyouterEmbinosa'>(walk away from the scene & enter the communication), What's the status</p>
                <p class='HS GrevorSritowi'>So today's threat has been handled and finished. The victims will be brought to Psycho for check-ups & recovery. Aand for the.. intel we just got today, we predict this such danger coming, would require... much stronger and also fitting powers.. ... yeah.</p>
                <p class='HS GyouterEmbinosa'>Uhh</p>
                <p class='HS GrevorSritowi'>Let's just assume they all hear it. And since so, they've switched <i>pen</i>. Just in case, Not only we got to have more powers, but we need to acquire different types & break existing boundaries if there is.</p>
                <p class='HS GyouterEmbinosa'>H..How do we do that? (start walking off the scene)</p>
                <p class='HS GrevorSritowi'>We're looking for ways.</p>
                <div style="padding:24px 0px 24px 0px">
                    <p style="font-size:xx-large;text-alignment:center;">
                        INTERGALACTIC POLICE
                    </p>
                </div>
                <p class='HS GrevorSritowi'>But rest assured. We got lots of agents we can hire today and also... we're gonna have to make... initiative.</p>
                <p class='HS Info'>Immediately blank just leave this big title on screen, and wait 10 seconds before moving to the next scene.</p>
        <h3>Discussion</h3>
            <h4>Wakturia Mission Command Center</h4>
                <p class='HS Info'>Gyouter enters back to his office here at Command Center. The numbers of the people are few as last time, during Last Funkin Moment, Joel told everyone to graduate for safety reason. Only few people remains, & these new faces are all probation people. Camera start inside this Command Center room.</p>
                <p class='HS GyouterEmbinosa'>(walk towards the door)....... (open & enter door & continue walk fast)!, ..........</p>
                <p class='HS GrevorSritowi'>Chief!! (stand up & fast towards Gyouter) Thank God you're back, welcome back! (show intels on this tablet PC) So, uh.. We got agents we can hire now..</p>
                <p class='HS GyouterEmbinosa'>(swipe scroll through image files of potential agent profiles)...</p>
                <p class='HS Info'>It's in image file converted from SVG Inkscape because at this time, using PDF has no image-like swipe carouseling & do not Gallery. This template is 1 person per document consisting of body profile photo, name, DOB, Address, and various descriptions. The agents that Grevor collected are all Homestuck characters. Gyouter & Grevor walk together while discussing this intel, towards front stage</p>
                <p class='HS GrevorSritowi'>So.. I found these strong ones, very easy. These are all from that exact universe, has been stopped coz uh.. instance moved to <a>the new one</a> and the old one left yadi yada.., anyways, we can uh.. recover or rescratch these.. idk, we'll ask Saorfas to start this process for it. I hope, the source this... is literally of our Cinematic Universe who knows.</p>
                <p class='HS Info'>They reached the stage & stopped.</p>
                <!-- scattered because of this new instancings. each universe has this abandons waiting to be recovered -->
                <!-- they have small consequence complexity. -->
                <!-- I've asked the Saorfa already, that's what happened -->
                <p class='HS GyouterEmbinosa'>(finished short conclusion building, pause swipe scrolling around)... These are.. <b><u>Homestuck</u></b> characters?</p>
                <p class='HS GrevorSritowi'>Yeaa!, indeed. And.. I asked Saorfas about this, and they said infact.., Some universes had it these since the Homestuck ended then transfered to the <a href="https://beyondcanon.com" target="_blank" rel="noopener noreferer">new one</a>, <b>we're lucky to have one o these</b>!., And uh, It's because the transfer causes <i>Fan Point Wave</i> that, you already know this, and we're in luck.</p>
                <p class='HS GyouterEmbinosa'>(thinking if this is worth it)... hmmm.....</p>
                <p class='HS GrevorSritowi'>Don't worry sir, we scanned the Fan Wave incident, and it's Low Consequence Complexity. We can fix them!, It's up to us dwellers to do something with these.</p>
                <p class='HS GyouterEmbinosa'>(considered accepting all of them) Calculate the time needed against the threat we were having.</p>
                <p class='HS GrevorSritowi'>Yes sir..... (wait, how to calculate time before attack? There is no AI module about it built yet at the time here) We don't have calculation tool. I believe it's on (has already started)..., and this is the first step.</p>
                <p class='HS Info'>Lock camera to look Gyouter & occassionally overalls & around.</p>
                <p class='HS GyouterEmbinosa'>(async) (stare around the desolate work desks)</p>
                <p class='HS GrevorSritowi'>(async) Don't you remember, the last incident, the KYS, PermaBan, Evasions & counters?, Anyway-, we gotta do this now. Because, out there people needs to be helped. Ever since we've intervened, they tried to do the physical ways as that's also their type. While other Harrassers on other planets await & do other parts of their Harrassing business. Uh..</p>
                <p class='HS Info'>Release lock.</p>
                <p class='HS GrevorSritowi'>Let's do our parts first. I think the other parts if I'm not mistaken, failed at the moment right? It's our chance!... hehe..</p>
                <p class='HS GyouterEmbinosa'>(give back tablet to Grevor), Tomorrow?</p>
                <p class='HS GrevorSritowi'>We have pulled in agents to harvest agents. All we do now, is to monitor</p>
                <p class='HS GyouterEmbinosa'>Then let's head back.</p>
    <h2>The Real War That Matters</h2>
        <!-- MD The real war that matters -->
        <p>There is something that are more matter right now, as turns out, humans also scronches each other.</p>
        <p>With the help of the initial agents, Saorfas have successfully collected all Homestuck people. They are brought here for the brand new chance.</p>
        <h3>Conclusive Collections</h3>
            <h4>Saorfa Moderation Realm. Temporary Camp</h4>
                <p class='HS Info'>The init agents have returned & reported to the discussion chamber with Saorfas.</p>
                <!-- Misteletoe find -->
                <p class='HS QuerySandros'>(finish counting, go back to the camp chamber)!.., Saorfa. We have successfully collected these agents. We should be ready now.</p>
                <p class='HS Arn'>Excellent. Very well. We shall commence now. (prepare)</p>
                <p class='HS Yab'>(also prepare)</p>
                <p class='HS Tab'>(also prepare)</p>
                <p class='HS Arn'>(ready to walk pause, stare to the door & speak back to Query head still look camp curtain door) You gamers can return home now. Prepare your divisional home for your agents.</p>
                <p class='HS QuerySandros'>Thank you. (async) open portal back to almost ready construction site in Sorrow City</p>
                <p class='HS Info'>The init agents started to return home to prepare their stuffs. (async) camera look to those 3 Saorfas</p>
                <p class='HS Arn'>(async) (await until Query off the scene)....., (go with rest Yab & Tab)..</p>
            <h4>Saorfa Moderation Realm. Off the camp</h4>
                <p class='HS Info'>The 3 Saorfas has gracefully walked out of the camp & about to announce their words. All the Homestuck agents began to pay attentions</p>
                <p class='HS TereziPyrope'>(began to wonder why we're assembled)......, WH4T 4R3 W3 DO1NG H3R3?</p>
                <p class='HS VriskaSerket'>I don't know.., we'll find out?</p>
                <p class='HS Arn'>Greetings, ..-Gamers.</p>
                <p class='HS Yab'>Welcome to Moderation Realm.</p>
                <p class='HS Tab'>You have been summoned here, for an <b><i>important matters</i></b>.</p>
                <p class='HS Arn'>Arn.</p>
                <p class='HS Yab'>Yab.</p>
                <p class='HS Yab'>Tab.</p>
                <!-- a -->
                <p class='HS Arn'>(async) We are the keeper of this Perkedel Cinematic Universe and to ensure all things go well.</p>
                <p class='HS Yab'>(async) We are the keeper of this Perkedel Cinematic Universe and to ensure all things go well.</p>
                <p class='HS Tab'>(async) We are the keeper of this Perkedel Cinematic Universe and to ensure all things go well.</p>
                <p class='HS Info'>Awkward silence 3 seconds. Arn felt awkward Immediately after this.
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </p>
                <p class='HS TereziPyrope'>(sarcastic normal speed applause) WOW!!!, 4lright, v3ry cool.</p>
                <p class='HS Arn'>(self-compensate the awkward) ahem!, mhmm!.., Now. Little question. Do you remember or have any idea, how you people were manifested?</p>
                <p class='HS TereziPyrope'>...</p>
                <p class='HS Yab'>Born. From egg, cocoon, trials, lusus.</p>
                <p class='HS TereziPyrope'>(slight flashback offended) wh4t th3 h3ll 1s this 😠?..</p>
                <p class='HS Tab'>Our apologies. Indeed, a rude question to ask for those who faced this dangerous things everytime for every of you. But you have any idea, what purpose were you?</p>
                <p class='HS Info'>Everyone trolls are thinking trying to remember what good they were supposed to do. Alas, they found none.</p>
                <p class='HS Yab'>Simply said, what do you do, what's your favourite activities?</p>
                <p class='HS HaashNlaktas'><b style="font-size:xx-large;">To make human suffer!</b></p>
                <p class='HS AudioInfo'>all trolls then shout `yeaaaaaah!!!`</p>
                <p class='HS Info'>But then their proud stops here from now on in <b>shame</b> 5 seconds later, as they realized what pride they've been doing, only makes them redo this all over again for eternity. And therefore such pride is like a drug that's addicting, and suffering when you stop consuming.</p>
                <p class='HS AudioInfo'>fading yeay in shame
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </p>
                <p class='HS HaashNlaktas'>(ashamed) ................ uh...</p>
                <p class='HS Info'><span style="font-size:x-small;">Haash Nlaktas is our OC</span></p>
                <p class='HS Arn'>Unfortunately, you're right. Or at least at it was found to be a named-after by <a href="https://mspaintadventures.fandom.com/wiki/Troll" target="_blank" rel="noopener noreferer">fans</a>. Clearly, that's not supposed be your clear purpose I suppose. What name-after I mean is that, it's <u><i>internet trolls</i></u>. You were initially keen on annoying and destroying humans, or often refered <code>kids</code>. Through chattings, where you go, it was.</p>
                <p class='HS Yab'>Don't worry about it. What you should worry now, is something we have to show you.</p>
                <p class='HS Tab'>As the fate of beings, are threatened, i<b style="font-size:large;">ronic</b>ally, ... by each other.</p>
                <p class='HS TereziPyrope'>(went curious) 0K4Y,.. 1'M 4LL 34RS..</p>
                <p class='HS Yab'>All your past, move on. You've seen been over-lengthily worked on, to the point, the plot become convoluted yet it simply is mostly about scronching, and random dramas, more it goes. I mean, <a href="https://youtu.be/wcEJh6BvxSs" target="_blank" rel="noopener noreferer"><code>Something bad happened</code></a>. Luckily that's over or [does it](https://www.homestuck2.com/ ) ?.</p>

    <h2>Robbery at a konbini in Acacia Island</h2>
        <p>
            The first beginner mission takes place a Acacia Island at planet (where Hymatt born & grew). While the Interpol Dasandim Precinct being built, Vriska will do this mission with Lt. Query as her Evaulation Assistant. They will solve the issue of why this konbini is notorious being robbed when the robber could've gone to a lesser secure yet more resourceful konbini or better banks instead. The Wakturia investigates.
        </p>
        <!-- 
        Save this Cashier who's owner of this konbini
        after that robber motorcycle got shot with Dox Bullet (GPS Bullet), Query appreciates her. As the robber goes away, so does the tracking go along with it.
        but alas, the desk was installed invisible pipe bomb beforehand overnight by the robbing organization without owner's notice, and it just exploded. Luckily, before doing battle, Interpol already equipped him with upgraded riot armor. He only got neck snap which should be trivial to Resurrect.
        Recovery & Reinforcement asked requested. they come. 
        more robber came, use force field shield. Bounce off the rocket and duar, the more robber dies. Check situation, but checking `Staff Only` room requires warrant from owner.
        owner resurrected. panik, ask about the stuff. go to the `Staff Only` room!
        go down basement? YES! basement
        it's just golden egg? ARE THEY CRACKED? No it's fine. Thank God!
        Just bring it to me
        Okay, may I portal? JUST DO IT!
        portal here, bring the egg
        grab egg hastily. daddy's here, you're safe now. I don't want to live here anymore.
        Query told everyone to Mover all his stuff to here quickly. Entire Konbini stuffs brought here including nooks and crannies
        Egg hatches. It's a girl. owner moved tear, she finally gets to see the world. I'll name her Odenna (who's later become Restaurant founder, Thicc FNAF-like chicken).
        Since this is your child, where's your wife?
        Sir, we found this coffin when we cleaned up
        OMG, you got everything? Yes.
        btw, why didn't you bury her?
        People hates animal hybrid. Mid class, and Elites. They think it means the human is cursed. They hunted down hybrids. We protected our place together. Until, she bit the dust when they leaked that our only child eggs is Auric (Golden).
        Resurrector move to here
        What are you doing?
        Oh this is resurrector we just beamed at you, now we're trying this too to your wife
        realize this had to be dream. slap me. slap self plak!
        you're not dreaming sir.
        Beam. Easy resurrection, Mom lives again. Reunited!
        We tracked that last robber down to the place. it's this
        Wait, that's the same sub HQ.
        Yeah, the GPS go to here.
        Vriska, when you shot your Dox to the robber motorcycle, do you see the label?
        Yes, the label was DDMF
        HUH? Yes sir, the DDMF thing
        Go, track down................... No mid stop?
        That mean the HQ is on the Acacia Island. This is the Acacia island!
        second batch! bring the first batch go home
        Portal
        2: Hey Jeremy
        1: Hey Lieve. oh, what are you doing here?
        2: We're the second batch!
        1: To the same place?
        2: Yeah, turns out more people needs rescue. Just an update and we've been dispatched for there.
        1: I see. Careful out there
        2: Of course, it's in the note.
        1: mm. Great luck GBU
        2: thanks man.
        check weapon. check
        check unconsented portal deployer. apple delivers no issue check.
        throw apple
        loaded and ready, let's go guys
        go in

        Vriska saw and learn the lore opening moments just there.
        I know this looks like fantasy. But we somehow made it real. If i was nobody else of you, I'd be same disbelieve. Because it's not there, we made this there.
        we wish to have better lives yes.
        -->
        <h3>Probationary Mission</h3>
            <h4>Dalma's Konbini. Acacia Island</h4>
                <p class='HS Info'>Vriska who's now in task for this probationary mission. She has just arrived & obversed the area of this mission. From camera inside konbini, Vriska enter through the glass hinge door. Dalma is wearing his military armor riot anti-terrorist set as usual, but this time with brand new upgrades.</p>
                <p class='HS VriskaSerket'>(semi haste push left door of her view)!..., (enter), (haste walk to back aisle), (open fridge), (follow instruction which is SEFKO Protein Bar which costs 15 Golden), (take one SEFKO protein bar)!, (haste walk to cashier)!...., (haste put protein bar)!..</p>
                <p class='HS DalmaKorrHalfisher'>(prepare transaction for just one protein bar)!..!..!..</p>
                <p class='HS VriskaSerket'>(follow instruction, give two 10 Golden coins instead of 10 & 5, which is not Acacia behaviour where it would be either a 20 Golden or 10 & 5)!..</p>
                <p class='HS DalmaKorrHalfisher'>(internal flabbergasted)?... (remembered about the mission & confirmed that's the agent, continue blend in)..!..!.. Change 5 (Golden), (give the 3 Golden & two 1 Golden coins as acknowledgement as instructed).</p>
                <p class='HS VriskaSerket'>(instruction correct, take protein bar & those change coins)..., (haste go out & observe from right side of this building relative from look to front door)...</p>
            <h4>off the Konbini</h4>
                <p class='HS Info'>Vriska then hide behind the green large trash bin. Carefully, she immediately consume the bar before the robber begins.</p>
                <p class='HS VriskaSerket'>(tear protein bar), (consume whole bar)..., (munch)... (swallow), (continue monitor situation)..</p>
                <p class='HS Info'>The robber has arrived. Again, just a motorcycle with 2 robbers.</p>
                <p class='HS Tondro'>(Impolitely hard open the glass door)!!, (enter)</p>
                <p class='HS Ringki'>(follow enter)</p>
                <p class='HS Tondro'>(point riffle to the owner head)!... The treasure.</p>
                <p class='HS DalmaKorrHalfisher'>I swear! I still don't find it.</p>
                <p class='HS Ringki'>(follow riffle point gun)!, (swipe to point to cashier signifying the fine fee)?!..</p>
                <p class='HS DalmaKorrHalfisher'>Argh.., (open cashier drawer), (take & handover the whole cash tray tremlingly)!.....</p>
                <p class='HS Ringki'>(shower everything in that tray to the cash bag)!!.., (threateningly throw the tray towards a wall)-(async)!!</p>
                <p class='HS DalmaKorrHalfisher'>(async) (flinch)!!!...</p>
                <p class='HS Ringki'>(return to motorcycle & put the bag safely into the storage under chair)....</p>
                <p class='HS Tondro'>(notice new helmet) New helmet. What an irony & so desperate you could only upgrade your protection. But remember, (point riffle tip right at his forehead)..</p>
                <p class='HS Info'>Dalma can only surrender & sorrow. At this point, death is the only way.</p>
                <p class='HS Tondro'>Next time, you got the egg off this planet, no armor.., can save (push threat)!-you. ... ... (finish threat point riffle).., (follow back to motorcycle)..</p>
                <p class='HS DalmaKorrHalfisher'>(grateful not die, but this is not over, keep bad mood).....</p>
                <p class='HS Info'>Tondro then ride the motor front to go back to HQ</p>
                <p class='HS Ringki'>(hold tight in back chair)</p>
                <p class='HS Tondro'>(Hold left brake & press right Starter)!</p>
                <p class='HS AudioInfo'>Motor engine spins to life</p>
                <p class='HS Tondro'>(off we go)!!.................</p>
                <p class='HS Info'>Luckily, they go forward to the right of konbini where Vriska have sight for, because that's where the path to HQ is.</p>
                <p class='HS VriskaSerket'>(the motor is going away), (immediately aim beneath the back wheel well of that motor).... (fire)!</p>
                <p class='HS Info'>the tracker stuck onto the back wheel well & turns on automatically.</p>
                <p class='HS GyouterEmbinosa'>(PTT) Great job, Vriska. The tracker has been started.</p>
            <h4>back in konbini again</h4>
                <p class='HS VriskaSerket'>(reobserve situation in the konbini)...</p>
                <p class='HS DalmaKorrHalfisher'>Did you do it?</p>
                <p class='HS VriskaSerket'>Yes. What about you? You okay?</p>
                <p class='HS DalmaKorrHalfisher'>Clearly not... I just hope this is solved soon.</p>
                <p class='HS VriskaSerket'>(look around)..</p>
                <p class='HS DalmaKorrHalfisher'>I just... don't understand why, I wanna move out</p>
                <p class='HS AudioInfo'><b style="font-size:xx-large;">💥💥💥💥💥💥💥💥💥💥 DUAR INVISIBLE PIPE BOMB THAT WAS SECRETLY PLACED BY THE ROBBER UNDER THE CASHIER EXPLODOS</b></p>
                <p class='HS VriskaSerket'>(surprised)!?!??!??</p>
                <p class='HS Info'>Dalma's body torns to pieces & die immediately. Vriska got throw far onto the tabloid shelf corner right front there. While the entire cashier bar broke to pieces, that <code>Staff Only</code> door survived.</p>
                <p class='HS VriskaSerket'>... (try stand up again)..</p>
                <p class='HS GyouterEmbinosa'>(Mic on) Whoah!! What the hell?! Abort mission! We'll take this over. (open portal right beside Vriska), Evacuate!</p>
                <p class='HS VriskaSerket'>(immediately run into the portal back to X0p1r4t3)!...</p>
        <h3>Unexpected Second hand</h3>
            <h4>Temporary Interpol HQ. X0p1r4t3. House Lobe 0, Floor -6</h4>
                <p class='HS Info'>As Vriska has been done with her mission but also has been pulled back immediately, Gyouter requested Recovery. The Reinforcements & Resurrectors have been deployed. Pilino is one of the Resurrector.</p>
                <p class='HS GyouterEmbinosa'>Is resurrectors ready?</p>
                <p class='HS Pilino'>Sir?</p>
                <p class='HS GyouterEmbinosa'>Okay, let's go!</p>
                <p class='HS Info'>The Resurrector & Reinforcements altogether return back to the scene. The Resurrector collects Dalma's pieces & then attempt resurrecting in the X0p1r4t3. The Reinforcement prepares & expect for follow up robbery. 60 seconds later</p>
                <p class='HS Carc'>(beam teleport him & robbery crews from sky down here & start robbery)!!..... (noticed the konbini has been full of military all of the sudden)???</p>
                <!-- rocket, shield forecefield, bounce back jeger.
                Dalma resurrected. do ask panik situation above note. 
                -->
<!-- constricted of options~ -->
</CoreHomestuck>