---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
// import CorePage from '@compnents/Page/__CorePage.astro';
import BeginningOfNSFW from '@components/Elements/SparePart/ListCells/BeginningOfNSFW.astro';
import StatCard from '@components/Elements/SparePart/StatCard.astro';
import CoreHomestuck from './__base/CoreHomestuck.astro';

const filename:string = 'Sediron4'
const isNSFW:boolean = false;
const addHeaderTitle:string = 'ARENOD, THE MOVIE (Sediron Season 4 FINALE)';
const addMetaTitle:string = 'Sediron S3';
const addKeywords:string = 'Sediron, social media, drama, toxicity, expose,';
const addDescriptions:string = 'The Kingdom';
const skipHeader:boolean = false;
const skipNav:boolean = false;
const skipFooter:boolean = false;
const disableOverwhelmStatement:boolean = true;
const endSay:string = 'End';
const author:string = 'JOELwindows7';
const company:string = 'Perkedel Technologies';
const licenseSay:string = 'CC4.0-BY-SA';
const companyImgSrc:string = '/Perkedel_Icon.png';
const licenseImgSrc:string = '';
const licenseUrl:string = '';
const isWIP:boolean = true;

const{
    nsfw = false,} = Astro.props;
---
<CoreHomestuck
    nsfw={nsfw} isNSFW={isNSFW}
    addKeywords={addKeywords}
    addDescriptions={addDescriptions}
    addHeaderTitle={addHeaderTitle}
    addMetaTitle={addMetaTitle}
    author={author}
    disableOverwhelmStatement={disableOverwhelmStatement}
    skipHeader={skipHeader}
    skipNav={skipNav}
    skipFooter={skipFooter}
    filename={filename}
    endSay={endSay}
    company={company}
    companyImgSrc={companyImgSrc}
    licenseSay={licenseSay}
    licenseImgSrc={licenseImgSrc}
    isWIP={isWIP}
>
    <h2>Introduction</h2>
        <p>After couple months being living in Perkedel internal realm doing mundane works in ASTR, Sediron seeks redemption. Or more like, something that makes him glorious, since he had too less crime, only accusations.</p>
        <p>And then suddenly, he finally got what he wished for. Does it run well though?</p>
    
    <h2>Exiling</h2>
        <h3>Boredom. ASTR Work complex. Perkedel Internal Realm. 2031</h3>
        <!-- 2031 -->
            <p class='HS Info'>Baser arrived again in this office prepared & suited up, to work again. Again, he's still working on support, where he do simple helps & delegating workers to help when got asked to. Still there is nothing interesting in ASTR, and all is feels like desert silence. In this workspace, the only partition is per worker desk. The room is very wide and contains over thousands of desks spans across acres, yet, only Baser & Aad sits here. Camera OFF, then fade in slowly as Baser walks. btw, don't worry, Perkedel Internal Realm ammenities are gratis for employees in this universe. Also for the real life atm, we don't have enough power yet 😜 sorry.</p>
            <p class='HS BaserSediron'>(walk to his desk far of in about corner far opposite to the door he in from)... ... ... ... ..., (greet boringly & depressedly) Morning..., (continue walk)</p>
            <p class='HS Aad'>(look Baser) Morning, sir! (continue staring)</p>
            <p class='HS BaserSediron'>(yes still walking 50 cm left)... ... ... ... ..., (slide out chair), (sit), (snuck in), (turn on Monitor), (stare).... </p>
        <h3>Outside of the office</h3>
            <p class='HS Info'>It is null silent! No wind, only air sitting on each other. B roll camera static around the area and the building.</p>
        <h3>Center Park</h3>
            <p class='HS Info'>Perkedel provides internal park for leisures & relaxation of the employees in this universe. somewhere, there are alot of statues to tribute great events, and also tragic events. The ground are designed so wide area of green grass are exposed, and trees must not cover majority of the area. If they had to, then it means it's a dedicated tree spots for limited area (Small Forest spot), like statues occupying slots. Duron & Chalar are currently relaxing near a Hyundai IONIQ 5 lifesize replica marble statue. Chalar leans closer to the car, making her in between Duron and the car. Duron & Chalar are close each other. They lean by the starboard (right, steering wheel) side, about 50 cm away. Their head points as the back of the car, so the feet goes to car front. The car inside has detail, although not complete, with steering wheel on the starboard (right) just like in Dasandim (& right steered countries) config.</p>
            <p class='HS DuronSediron'>(almost asleep).....</p>
            <p class='HS ChalarGupadi'>(noticed the Hyundai IONIQ 5 but it's stone) Duron. (tap right shoulder), hey!..</p>
            <p class='HS DuronSediron'>(sleep streak meter broken, look Chalar) huh, yeah?</p>
            <p class='HS ChalarGupadi'>Is that looks just like our car? Why did somebody turn it into a stone?</p>
            <p class='HS DuronSediron'>(look car stoned) Huh, idk. Maybe Kaorfa likes it, so.. I think he make the replica? lol??</p>
            <p class='HS ChalarGupadi'><b>Ah ha ha ha ha ha!!</b></p>
            <p class='HS Arn'>Well, (async) you see, </p>
            <p class='HS DuronSediron'>(async) (surprised a moderator is here on starboard away again from duron, look Arn)</p>
            <p class='HS ChalarGupadi'>(async) (surprised a moderator is here on starboard away again from duron, look Arn) huh?</p>
            <p class='HS Arn'>Every statues we have here are for tributes.</p>
            <p class='HS DuronSediron'>Oh, okay..</p>
            <p class='HS Arn'>(look the car stone) This (offer point to the car) one right here.., is a good memory, despite all the struggles. We..., saved a young lady.</p>
            <p class='HS ChalarGupadi'>Oh cool! Who is she?</p>
            <p class='HS Arn'><b>Sky</b>.</p>
            <p class='HS Info'>both Duron & Chalar impressed & interested. For your information, it was during Last Funkin Moments. Sky was one of the survivor from a destroyed dimension when she was looking for her parent. She joined Wakturia, for only then had to resign (voluntarily say yes to that offer announcement day, together with Latsufir & others) due to unsupporting social condition at that time (which to this day still not safe anymore).</p>
            <p class='HS ChalarGupadi'>(async) OOOoo.. . Tell me more about it!</p>
            <p class='HS DuronSediron'>(async) OOOoo.. .</p>
            <p class='HS Arn'>Yeah. She was looking for her parent. Since baby, she must be separated, because an evil religion extremist forced them all citizens who are demons to eat their baby. And then, her parents made replica out of her, record video eating it, send to that extremist. It works, and fooled him, forever. Never know that it was a fool, as he was eliminated by Sky herself during the gambit siege. Yadi yada, now... they live in a dimension Latsufir's dad bought out of winning bid years back, along with whole families, inventing new stuffs.</p>
            <p class='HS DuronSediron'>Woow... Oh I like stuffs. But what is this statue to do?</p>
            <p class='HS Arn'>Well, the.. I'm sorry if this sounds like a... shameless promo, Sky likes to drive the car. Aaand.. This is the car. She drives it everyday. Where she goes, with her husband, it's this. I mean.., your planet, endorses it, it's everywhere there now. Idk why.. It's just..... iconic.</p>
            <p class='HS ChalarGupadi'>Interesting........</p>
            <p class='HS DuronSediron'>Hey. Do you aware if there's more realms I could help out with?</p>
            <p class='HS Arn'>Hmmmm, this is pretty difficult apparently. With Harrassers have conquered, more than they lost, I think I should say.... leave it to be. Unless..</p>
            <p class='HS ChalarGupadi'>🤨....</p>
            <p class='HS Arn'>There is one. ... One that I... Have interest to.</p>
            <p class='HS ChalarGupadi'>What is that?</p>
            <p class='HS Arn'>No idea how, why, when..., But... this realm, everytime we randomly query this, it had an emanating signal..., like.. umami if... tasted with heart....</p>
            <p class='HS DuronSediron'>Okay, what's so special with that one?</p>
            <p class='HS Arn'>Well, ever since you were here, our querying feels.. different. In every touch, of this dimension.., that is the one <b>ALWAYS</b> ....., emits this never felt before aura. It's that one.</p>
            <p class='HS ChalarGupadi'>Name?</p>
            <p class='HS Arn'>People out there call this <i class='info'><b>Areluid</b></i>. Well because, the first settler was named Areluid, hence and forth it's just <i>Areluid</i>. It's <code>she</code>... and, They (people of there) have been there 2000 years ago, and they've got greatly sophisticated civilization.</p>
            <p class='HS DuronSediron'>Okay. Then what's something wrong?</p>
            <p class='HS Arn'>Right. There was a war. long year war, since year about 1500 AD something. A Colonizer tried to take over that place. From sieges, battles, and finally, stuck settled with divisions.</p>
            <p class='HS DuronSediron'>(same old war is boring) Ugh..... Boring!..., (expecting something that could restore reputations somehow) If only something that we could make it right!!, or just have me the <b>{nsfw?`shit`:`8888`}</b>!!!... So that... my dad.. can live normally, all that <b>{nsfw?`bullshit`:`88888888`}</b> gooone!. Heugh......... (tightened semi whisper voice) Gooood....... (stil semi whisper, right hand press forehead in depression) Whaaaaiy....., Ssssssss.....</p>
            <p class='HS Arn'>...</p>
            <p class='HS DuronSediron'>(still normal volume) JUST PLEASE!!... <b style='font-size:large;'>Unblock my family</b>, God!... I don't do anything!! My dad's not to mention! We had to live!!.... AARgh!!..........</p>
            <p class='HS Arn'>... I wish could do help you son. But... neither me, nor Kaorfa himself could do anything. Reality in us world... is broken.</p>
            <p class='HS DuronSediron'>So what? I have to wait until Jesus comeback who knows when?! (scoff) Heh!..., guess I got to freeze myself anyways</p>
            <p class='HS Arn'>Son.. please don't freeze</p>
            <p class='HS DuronSediron'>What, <span style='font-size:large;'>WHAT</span>, <b style='font-size:xx-large;'>WHAAT?!?!</b>. (tear drop of stressed out).... (sniff)!!, ... (blow nose)... (right nosestril full mucus) Huuh?? You can't help me, not even Joel (Kaorfa) could?? What's the point?!</p>
            <p class='HS Arn'>(also tear drop stressed out) He had.. he had been.. also in this bad situation. I know you.. you had done something right should've been done. But apparently, they insisted karenly. .... Look, I know you gonna say you shouldn't have done it, but did anyway, did you?</p>
            <p class='HS ChalarGupadi'>(soothe by wrapping from Duron's left / port side of body)</p>
            <p class='HS DuronSediron'>Hhhh... (take out handkerchief from right pocket), (blow mucus out)!!!!!!, ugh.. I just wanted to clear dad's name. He didn't deserved this. He didn't do that (that grave crime of children things). Idk.. He just.. (increasing crying point) like being <i>father figures</i>, (clear nose with handkerchief)!!!.., Haih..... I..... It just made them madder. I forgot to tell, what did he do to the press, Haaargh... no.... He's just.... <b>Block Reason</b>..... among things.... aand... sauce... <b>Sauce</b> (Forced Attribution in Clarification bar on a post). ..... I forgot.</p>
            <p class='HS Arn'>Well.. It looks like you had same set as Kaorfa. You know, he's just trying to attribute a reuploads. I know.. maybe your people might be rude or just no matter what. And perhaps yes, I know you should just let it go (ignore clean dad's name or in Joel's case ignore ask <b>why he blocked</b>). But you see, these days, nobody can prevent hate speech from spreading around, and does so <i class='error'>she</i> hated him forever and ever. And you certainly, can no longer beg, for the associated to get out of there and apologize. No. Never been in neverary.</p>
            <p class='HS DuronSediron'>Okay, let go, fine. And I have no place to live, I'm rotting.</p>
            <p class='HS Arn'>Remember. You got 1 realm. Like it calls you.</p>
            <p class='HS DuronSediron'>...</p>
            <p class='HS Arn'>If you atleast win that realm, who knows, you got more family, than ever before, even more than that that Pink wolf lady <i>No no no, not you Chalar</i>..., who likes to <i>carress some heart organs</i> but hated Joel in defense of that asshole guy claiming to be an old friend of her. <b style='font-size:large;'>HECK</b>.., <b style='font-size:xx-large;'>EVEN MORE!!!</b>.., than.. all the Harrassers combined. coz infact, there is... (remembering rough counts) uhh.... mmmm... (found it) AH, <b style='font-size:10em;'>10 BILLIONS!!!</b>, last time.. AAh, more than.. anybody, ... in galaxies combined. (chuckle joy) What?... She??.. Nn no, not Chalar, the other she, other other she. Ahem.. She.... guy.... and Harrassers... <b style='font-size:large;'>smooooool</b>. THat.... <b style='font-size:10em;'>BEEEEEEG</b>!. Who knows you can find coincidence, or tell em to make em shape like</p>
            <p class='HS DuronSediron'>STOP convincing me, Mister Telemarketer, Hang up, <i class='error'>BLOCKED</i>. ......</p>
            <p class='HS Arn'>🙂🙂🙂🙂🙂🙂🙂🙂🙂🙂🙂</p>
            <p class='HS DuronSediron'>Just kidding (tight stop).  .... (mouth closed, larynx very almost shut gradual open, and so blow to nose) mmmmmmhhh.. What you do want?</p>
            <p class='HS Arn'>Offering you place!.., You say here, feel free, or try win it? .. 😀😀😀😀😀 Heeh???</p>
            <p class='HS DuronSediron'>Well how hard is it?</p>
            <p class='HS Arn'>Well..., so far it's just territorial issues. aaand.. you just maybe settle a peace, or uh.. if that colonizer is beyond salvation, you could just get rid of them, and let... Areluid wins. Simple.</p>
            <p class='HS DuronSediron'>When?</p>
            <p class='HS Arn'>Anytime!... soon.., you can.. call everyone here first, And I'll send you there. We got agents here to help you there. As consultant. And you can sneak in around do your thing. yeah!.</p>
            <p class='HS DuronSediron'>... Okay, the specific?</p>
            <p class='HS Arn'>Alright, ... ... here we go.., ...</p>
    <h2>Infiltrate</h2>
        <h3>Areluid central sky area</h3>
            <p class='HS Info'>This is the drone B roll of Areluid center city. change to various fly around the castle. You can see the main castle over over there. Watch, that the dialogs written in <i>italic / teks miring</i> marks background voice over</p>
            <p class='HS Arn'><i>So..., you are a <b style='font-size:large;'>Lithium Consultant</b>, ... You know.., Areluids are engineers and they need battery. Invent new and better batteries, all volunteers are accepted to help. But also, as a scientist, you can also explore different space just a little bit.</i></p>
            <p class='HS DuronSediron'><i>Right. How do we get started? I mean, how do I say I got here?</i></p>
            <p class='HS Arn'><i>Uhh... let's see.. .. ..</i></p>
        <h3>Royal Resort. Areluid Main Castle</h3>
            <p class='HS Info'>B Roll of this mega and royal hotel inside hallways. Followed by facilities around it (swimming pool, tennis badminton basketball court, billiard house, luxury restaurant, ballroom, mini golf courses excluding top golf and real golf).</p>
            <p class='HS Arn'><i>Ah, you'll stay here, and yes you ask, say that... you found the poster. You know, uh.. the poster were spread also to select few realms. <b>Luckily</b>, that somehow circulated to Dasandim where you from. Praise the Lord, you can say that.</i></p>
            <p class='HS DuronSediron'><i>Huh. Do I got to wonder tho?</i></p>
            <p class='HS Arn'><i>Nah, don't worry, usually they don't care for this one. uhhh, just be cool, like usual. But <b>don't forget</b>, your mission (to save Areluid from eons of colonizations). eeuuh... I believe you can get there somewhere.  ... No no, don't worry about anything. As long you... are not one of those, which is you are, ... I have confidence, 99 percent.., no matter what, you be fine. They only look after the colonizer to Block. That's it.</i></p>
            <p class='HS DuronSediron'><i>Okay, you claim I definitely be safe. You must be kidding.</i></p>
            <p class='HS Arn'><i>I'm serious. I've been looking every realms for eons, and for this one, they've been in greatest torture from just really 1 single company. <b style='font-size:x-large;'>One</b>. No kidding.</i></p>
            <p class='HS DuronSediron'><i>(feels like that God apologized for getting them through grave days for no apparent reason at all) Oh my God. God, You finally regreted for letting us all through this, You... (mchtsk)! {nsfw?`(unable to say "dickhead" towards God)`:``}.... You know..</i></p>
            <p class='HS Arn'><i>(telepathically heard Duron insulted God) Ayy!!.. that's not polite, I know you're angry. But remember, we're on a mission here. We better spend all energy to focus here, and then if all works out, then we can return to ranting God if you want (with great confidence Duron would forgot or no longer interested to do it afterward as it worked).</i></p>
        <h3>2nd Floor VIP Room hallway</h3>
            <p class='HS Info'>Fade in <a href='https://youtu.be/0ZUoFPLlVQU?si=vMcLmxNuD5u7QS7y' target="_blank" rel="noopener noreferrer">Creo - Sphere</a>. Duron & families has occupied this exclusive room number 2001 (Floor 2, number 1). the hotel guy, Standford was the one carrying the families luggages. Followed by B-roll Duron tidying up stuffs, where the volume of BGM is already at peak.</p>
            <p class='HS DuronSediron'><i>Ugh.. fine by me I guess. Got other realms in case I faile?</i></p>
            <p class='HS Arn'><i>No, unfortunately no.., But I'll try my best to find another one as many as I can. Well if emergency, maybe Sky & Latsufir would accept you, idk, as the 1st second resident (in Salt Flat World realm). But I'm pretty sure, it'll work, like these (the Areluid realm) are already yours since the beginning.</i></p>
            <p class='HS DuronSediron'>(mark the end spot) Yeah yeah, just put it here.</p>
            <p class='HS StandfordAreluid'>Are you sure sir? I can do tidy these all up for you.</p>
            <p class='HS Info'>Sediron families have entered the room in a heartbeat.</p>
            <p class='HS DuronSediron'>No, thank you. I'll take it from here. You know... for safety.</p>
            <p class='HS StandfordAreluid'>I see, I can understand that. Well good luck!, because your day starts tomorrow. Oh! don't forget to look around this hotel! there's alot!</p>
            <p class='HS AudioInfo'>increase BGM volume</p>
            <p class='HS DuronSediron'>Yeah, thanks.</p>
            <p class='HS AudioInfo'>Just audio silence if available</p>
            <p class='HS Info'>Volume BGM full Beat drop & B roll Duron & families tidying up stuffs ...</p>
    <h2>Checkpoint</h2>
        <h3>Still in this room 2001.</h3>
            <p class='HS Info'>Stop music & return to usual dialoging. Italic voiceover marking dismissed. 3 Sedirons are discussing what to do. the girls from mom including kids (Grandma Ananda Topilar, Madam Nylar Rumanod, Nita Sediron, Turial Sediron, Desi Sediron) are auditing items and further tidying stuffs. Teddy Sediron the second is the vice instructor to the guards, and guardian angel to protect daddy Baser. He is also working right now by analyzing situations. The room is considerably small, like only 3 star rating. Only it's scaled up a bit, to area of just around 430 m<sup>2</sup> or something. The bathroom unlike most hotels, are installed far corner away opposite of the door at left, instead of sitting next to it. and the beds are also in that opposite away from door, right side by the bathroom. The bathroom door is side, where perpendicular where fall to bed. The main door is wide twin doors. Before the bathroom, hence between main door and bathroom and at left, an all in one multi-purpose make up table with mirror in the center of the table. the window to the city, on the very right, spans across that right wall, from bed board height to the ceiling. Although, only the bed side had clear window. The rest are permanently stained colored glass with fracture pattern. That's just coincidence, all VIP rooms for stained glass have this fracture with random color pattern.</p>
            <p class='HS DuronSediron'>Okay, here we are..</p>
            <p class='HS TeddySediron'>(right away scan everything around)!!...</p>
            <p class='HS BaserSediron'>Son, are we allowed to look around?</p>
            <p class='HS DuronSediron'>No dad, please don't, everyone. We're on a mission. Idk how {nsfw?`fucked`:`888888`} up this realm has been, considering the situation given. So please. ...., stay safe. I have pre-downloaded offline games for you.</p>
            <p class='HS HamletSediron'>Isn't that Kaorfa's Steam library again?</p>
            <p class='HS DuronSediron'>No, Grandpa. We can't do that anymore. He could get trouble once Gabe saw him locally <i>borrowing something too many times around families</i>. No.. not again. Kaorfa had itch files instead.</p>
            <p class='HS BaserSediron'>Aargh, forget about it. Dang, I wish I could spend myself and grandkids to Billiard.</p>
            <p class='HS TeddySediron'>(take out handheld radar), (turn on), (scan around)...</p>
            <p class='HS HamletSediron'>(throw self to bet, tired) (async)!!! (instantly fall asleep)...</p>
            <p class='HS DuronSediron'>(async) (look grandpa threw himself to bed and asleep instantly).... (look each other)</p>
            <p class='HS BaserSediron'>(async) (look grandpa threw himself to bed and asleep instantly).... (look each other)... (look window to city view)</p>
            <p class='HS DuronSediron'>.... Okay. Just view the world. don't get too close. Only wait for the mission. I also have ordered the hotel to just bring all food to here. Teddy, watch all of us.</p>
            <p class='HS TeddySediron'>👍 Aye, (continue looking handheld radar).</p>
            <p class='HS BaserSediron'>(look back) Okay why?</p>
            <p class='HS DuronSediron'>No getting out at all. Idk if Harrassers could be here, you spotted, you die. We're all die.</p>
            <p class='HS BaserSediron'>(retriggered the fatal ala-Oppenheimer heartbreak of the accusations)...........</p>
            <p class='HS DuronSediron'>Alright, I'm sorry dad. ugh...... Just wait. It'll be over I guess...</p>
    <h2>Consulting</h2>
        <h3>Outside the room. Next day</h3>
            <p class='HS Info'>Jared the Professor has been waiting for the consultant to accept the escort and tour the science research. Duron has already prepared. Other hotel guards have been on stance guarding the Sediron families strictly, as well as more guards watching carefully from outside this castle. standing in ledge, sitting on top, snipers everywhere, etc. like guarding president. Them all are feeling the never felt before signal, that tells them Sedirons are a treasure you might be looking for eons, you've lost once before, or something. Hence why they felt this needs president level of guard. While Duron is out, the rest stays and made safe further by these guards. Despite the available offer to get outside and further guarding, Sedirons decided to be discipline for safety, to stay inside all time, until next order.</p>
            <p class='HS TeddySediron'>Careful brother.</p>
            <p class='HS DuronSediron'>... Yeah, great luck GBU, see you later. (open port bathroom side door left & move out)..., Alright, what are we doing here? (close door)</p>
            <p class='HS JaredAreluid'>Doooo-ronn.</p>
            <p class='HS DuronSediron'>Yes?</p>
            <p class='HS JaredAreluid'>Hai, (walk closer) I'm The Professor. But people called me Jared..</p>
            <p class='HS DuronSediron'>Aah.. Professor Jared. (greet)</p>
            <p class='HS JaredAreluid'>Yes (accept greet)! ! ! So, can we start?</p>
            <p class='HS DuronSediron'>What do you know?</p>
            <p class='HS JaredAreluid'>Right, follow me! (escort to special railway)</p>
        <h3>Royal MRT Railway Station. Basement.</h3>
            <p class='HS Info'>The MRT will go to right. Therefore the starboard (right) doors that opens, presenting them the way. Rail pathway drives on left, so, MRT comes that left railway in perspective. Put camera on other empty railway opposite platform, to look this railway. Safety door & MRT starboard door opens</p>
            <p class='HS JaredAreluid'>(finished await door), (hand gesture offer you first) Alright. .....</p>
            <p class='HS DuronSediron'>(not brave because this could be a trap).....</p>
            <p class='HS JaredAreluid'>(remembered Duron's situation) Oh, sorry. (enter first), c'mon.</p>
            <p class='HS DuronSediron'>(enter)...</p>
            <p class='HS AudioInfo'>Starboard doors & safety door close!, MRT run forward, to the right</p>
        <h3>Tunnelway to Science Center.</h3>   
            <p class='HS Info'>Still no music. The next stop is to the Science Center just a couple kilometers away. This MRT has very fast speed up to about 500 Km/h. Although of course, all routes only runs for up to 100 Km/h for safety reason.</p> 
            <p class='HS JaredAreluid'>So..., Duron. What gets you up here?</p>
            <p class='HS DuronSediron'>I saw a poster. I mean.. looking for a new job, my company that my dad built tumbled so bad.</p>
            <p class='HS JaredAreluid'>(pitiful of this bankrupt) Whoa, I'm so sorry about that. May I know in short?</p>
            <p class='HS DuronSediron'>Yes I know, long story. (not bankrupt, it's toxicity) But short, not what you think. Money is okay... Societies.</p>
            <p class='HS JaredAreluid'>Oh. ... ... I recently heard that there was somekind of... Harrasser thingy going on.</p>
            <p class='HS DuronSediron'>Yeah that one. They conquered essential stuffs, and used that power to destroy my family good names. For good.</p>
            <p class='HS JaredAreluid'>Damn, sir, you do not deserve this. I'm pretty sure you'll find yourself home here. But...</p>
            <p class='HS DuronSediron'>I'm sorry about the war too. I do not need to ask deep. Just what's going on? I know, long story. But what do this colonizer looking for?</p>
            <p class='HS JaredAreluid'>They want to increase... resource. Idk. They want to conquer us just like the Harrassers. We've been here the first time, and whatever the colonizer do, ... eet's bad.</p>
            <p class='HS DuronSediron'>Well, let's just look forward. What do you have in there?</p>
            <p class='HS JaredAreluid'>We are looking to improve <i>Battery</i>, our energy storage. Recently I heard that somebody out there discovered making the core of the battery solid instead of typically liquid. A little less efficient, but way safer. In case of say.. trouble, the catastrophy is very minimum. We tried different methods, buut you see to no avail that works as good as the one we had right now.</p>
            <p class='HS DuronSediron'>I see. I think I can help you with that.</p>
            <p class='HS JaredAreluid'>Okay, thank you..., I hope we do find it.</p>
            <p class='HS DuronSediron'>Sure.</p>
        <h3>Science Railway Station. Science Center. Basement</h3>
            <p class='HS Info'>Arrived. Duron had instinct to jump off as the port side doors open to avoid potential explosion I think.</p> 
            <p class='HS JaredAreluid'>Okay, here we</p>
            <p class='HS DuronSediron'>(Jump off the MRT to port side, afraid the MRT could explode as professor stepped off)!!!</p>
            <p class='HS JaredAreluid'>Whoaaaa, don't go too fast, you could trip!.</p>
            <p class='HS DuronSediron'>Uhh yeah, we arrive yes?</p>
            <p class='HS JaredAreluid'>(Did not think to put explosive nor any harm at all but anyways).., (stand up & walk off) Anyways, Welcome, to the Science Center. (camera stop, but keep walking leaving camera)</p>
        <h3>Lithium research room.</h3>
            <p class='HS Info'>Jared brought Duron & guards into the small cramped room assigned for battery research. For years, Areluid have been racing to discover viable battery alternative that is safer, but still has comparable efficiency than current ones common. They have yet to find such with matching condition, despite many successful prototypes. The table spans across only upon that wall, from end left to right end. there are 2 level of countertop, open design. The middle part is where Jennifer do her things. the left part is to put ready samples. right parts are resource drawers. back left are computers & data storage, and back right are also resource drawers. Guards sits on the right side observing.</p>
            <p class='HS JaredAreluid'>(open door, doorknob left door swing right in & get in) Alright, (give way to right behind door) come in (offer hand).</p>
            <p class='HS Everyone'>(come in: Duron, guards)....</p>
            <p class='HS JaredAreluid'>(close door & walk to left into the research) Okayyyy so, this-... is our batteries..</p>
            <p class='HS DuronSediron'>(look at current thin pouch) Hmm, interesting.., I heard you guys are looking for solid battery isn't that right?</p>
            <p class='HS JaredAreluid'>Yes!. .., We are looking for safer battery. Unlike last time.</p>
    <h2>(Flashback) Safety Test. </h2>
        <h3>All purpose crash test room.</h3>
            <p class='HS Info'>Areluids were doing a random experiment after hearing out there in some realm, a lithium battery that matches with common model used, exploded. They are now going to intentionally puncture the battery tube. The battery was connected to load tester to see the voltage. There is a fire extinguisher with nozzle mounted to aim at the battery / object. As the battery got punctured & exploded, the volt drops to zero in 3 seconds. <a href='https://youtu.be/CGQwqWqzkNA?si=G-qGw4kQg17Vds7G' target="_blank" rel="noopener noreferrer">See BYD's test</a></p>
            <p class='HS AudioInfo'>Hydraulic press slowly stabbing battery from above. punctured, then <i>fart 💨💨💨💨💨💨💨</i> and then <b style='font-size:xx-large;'>💥💥💥💥💥🔥🔥🔥🔥🔥🔥🔥🔥🔥DUAR ABLAZE!!!</b></p>
            <p class='HS MakishAreluid'>(Press extinguish fire button)</p>
            <p class='HS AudioInfo'>Fire extinguisher extinguishes the battery successfully!..</p>
            <p class='HS JaredAreluid'>Oh nooo!.. it exploded!</p>
            <p class='HS PeshAreluid'>What do we do sir?</p>
            <p class='HS JaredAreluid'>Okay, take a look. there must be the elements of danger here. If we could change that a bit or something.</p>
    <h2>(Flashback end) Consulting. </h2>
        <h3>Lithium research room again.</h3>
            <p class='HS JaredAreluid'>We discovered from somewhere in Terrian (Earth). They got solid battery. We would like to work that out, buut... Terrians are stingy! They don't want to share their patent to us, without anything in exchange.</p>
            <p class='HS DuronSediron'>Okay. That's bad.</p>
            <p class='HS JaredAreluid'>Terrian means Earth, btw.</p>
            <p class='HS DuronSediron'>Oh.., oke thanks. Yeah they're very bad., mch (tsk)!...., hmmm, okay (lift pouch and examine its detail)</p>
            <p class='HS JaredAreluid'>We used basic lemon battery techniques, coz that's what we have. aand, for its core, the lithium...., we skip liquifying it. ... Wait, wrong that didn't work, that one you hold is not liquified but add a little catalyst liquid. We stabbed one prototype, and nothing happens just like we expected, but of course..., not as good.</p>
            <p class='HS DuronSediron'>You did something for a while? gel it e.g.?</p>
            <p class='HS JaredAreluid'>We did. It works well enough, but no, we want solid. We stabbed gel the fire still come out although not as bad as the liquid ones.</p>
            <p class='HS DuronSediron'>(head lift up and swing look around) Hoh well....... (as looked left, noticed a familiar classic AA Battery sitting there on a wall counter there above table)??.. (put pouch & take that battery), What?... <b><code>ABC Dry Cell</code></b>??</p>
            <p class='HS JaredAreluid'>Oh that thingy is a souvenir, when we visited Terrian. Idk, the green part that labeled <code>Jakarta</code> if I'm not mistaken. Man, that was very long ago. Also it's already dud.</p>
            <p class='HS DuronSediron'>(show to Jared) Dude!, you already had the technology in your hand! How many you had?</p>
            <p class='HS JaredAreluid'>Oh, I got few archives like that around.</p>
            <p class='HS DuronSediron'>Yes that doesn't matter. YOU already had the solids!! (bring before Jared's eyes) look!</p>
            <p class='HS JaredAreluid'>(no idea of Latin alphabet) Wait, it says <i><code>Dry cell</code></i>?</p>
            <p class='HS DuronSediron'>Wait, you don't read Latin?</p>
            <p class='HS JaredAreluid'>No, we have our own language. ... (brain about to activate) <i>Dry</i>....., <i>Solid</i>?...... .... (unlocked)!.., (give the sample battery to Jennifer at the mid right side of room) Jennifer can you please take a look at this and see if we can replicate it?</p>
            <p class='HS JenniferAreluid'>(take the battery) Yes sir. (begin examine & try replicate with lithium core)...</p>
            <p class='HS JaredAreluid'>Okay do you think this is a good idea to even plagiarize someone's technology from foreign realm?</p>
            <p class='HS DuronSediron'>Uhhh I think you should be fine, in fact, in some part of Terrian out there, there is one factory that likes to plagiarize their own stuffs. Nobody would or could do anything about it.</p>
            <p class='HS JaredAreluid'>What a relieve. Then what's with the uphold (copyright law) then?</p>
            <p class='HS DuronSediron'>Basically <b>money</b>.</p>
            <p class='HS JaredAreluid'>Whoa...</p>
            <p class='HS JenniferAreluid'>(finished making & analyzed) Potential 50 KWh.</p>
            <p class='HS JaredAreluid'>Wait, did you kept the voltage consistent tho?, 1.5V for Terrian AA model</p>
            <p class='HS JenniferAreluid'>Yes, 1.5 Volt.</p>
            <p class='HS JaredAreluid'>Good. .... 50 What hour??</p>
            <p class='HS JenniferAreluid'>Kilo..., Per cell I think lasts up to... idk, 5 years average. or more..</p>
            <p class='HS JaredAreluid'>(push Jennifer off to the right in impressed mind blown Eureka) 'scuse me. ..., (right hand turns to cosmic cloud to grab another resources to recreate the battery), (bring those to table), (assemble another battery again)!....... (connect both serially and close circuit to that desk multi-meter)...., (it's 3V) high volts.., (change config to parrarel and pay attention to potential watt hour)..., one hundred (Kilo watt hour)...  (drop the objects to desk)!!... (mind blown silence)......., (slowly stand up)......, (go back to left to Duron).., (lift up by Duron's belly sides)</p>
            <p class='HS DuronSediron'>(surprised) whoa a...</p>
            <p class='HS JaredAreluid'>(charge the shake pull back)....., (shake for a bit) <br/><b style='font-size:20em;'>YOU'RE GENIUS!!!</b><br/><b style='font-size:5em;'>I'm so proud of you, son!.</b></p>
            <p class='HS DuronSediron'>(still confused) No problem!...</p>
            <p class='HS JaredAreluid'>(realized) Oh, sorry, (lift down Duron & hands off) uh... I... ... How..</p>
            <p class='HS DuronSediron'>Yeah?</p>
            <p class='HS JaredAreluid'>Wow. How did you...</p>
            <p class='HS DuronSediron'>Idk.. I'm just saying..</p>
            <p class='HS JaredAreluid'><i>Just saying</i>?!? That.. ... I.. Something genius would say.. perhaps..</p>
            <p class='HS DuronSediron'>I don't know anything much apparently.. it's just.. pops..</p>
            <p class='HS Info'>Everyone excited & bewildered at the same time, wondering a genius idea just come out suddenly out of nowhere.</p>
            <p class='HS JaredAreluid'>(spawn hologram tablet) Alright, (open up note taking app) your name is Duron..</p>
            <p class='HS DuronSediron'>Duron Sediron.</p>
            <p class='HS JaredAreluid'>(open up keyboard & give out to Duron) Okay, please type it.</p>
            <p class='HS DuronSediron'>(Type his name)</p>
            <p class='HS JaredAreluid'>...</p>
            <p class='HS DuronSediron'>(finish) Okay,</p>
            <p class='HS JaredAreluid'>Now please, stand in there, (select block text Duron's full name) hang in there (press attach temporal aura), (beam tablet to Duron to download temporal aura)</p>
            <p class='HS DuronSediron'>(fascinated)!...</p>
            <p class='HS JaredAreluid'>Okay, (save & close) thank you so much (despawn hologram tablet). haaah... what do we do next? Would you like to see nuclear reactor</p>
            <p class='HS DuronSediron'>(extremely surprised with extreme idea offers)?!?!? .. scuse me?</p>
            <p class='HS JaredAreluid'>No no no, it's completely safe. I'm only showing you the controller. it's fun.</p>
            <p class='HS DuronSediron'>(still very afraid of radioactive) uh...</p>
            <p class='HS JaredAreluid'>The core is very very far, 100Km diameter per circle, and the.. the controller radius is 200 Km (hence diameter is 400 Km). no circle overlaps, c'mon, it's very safe! We only see each core with camera that's it.</p>
            <p class='HS DuronSediron'>ummm..</p>
            <p class='HS JaredAreluid'>Nobody's controlling ever touched the core since we got started. RC is the only one that touches it, no bring near.</p>
            <p class='HS DuronSediron'>(tired of skepticism & realize his reputation is minus infinity)..... Alright, guess scientist never refuse. I lost everything btw.</p>
            <p class='HS JaredAreluid'>(call guard & walk) {nsfw?``:`(told do not suicide)`} Naaa, c'mon man, don't do that. I wouldn't bring any scientist there if it isn't safe. I trust you can have your lives back, I promise.</p>
            <p class='HS Everyone'>(guards follow them)</p>
            <p class='HS DuronSediron'>(blow nose)...., I wish so.</p>
            <p class='HS JaredAreluid'>(right / starboard hand wrap semi hug Duron up to his starboard to console him) Ayy, c'mon..</p>
            <p class='HS Info'>They went to train again and stop to the nuclear power plant</p>
    <h2>Generating source</h2>
        <h3>Command Center room. Areluid Power Center (nuclear power).</h3>
            <p class='HS Info'>Jared, Duron, & friends entered this room. The room has a bunch of typical nuclear control boards. The interface of it has been very intuitive, although still retains advanced control incase needs be.</p>
            <p class='HS Everyone'>(guards spread across the room and sit on available chairs)</p>
            <p class='HS JaredAreluid'>Aaand welcome to, the nuclear reactor we have here. This is how we farm energies. Then each bits stored into our batteries, ... to be used. (realize bad without context ambiguous, <i>store the radiation?</i>) No.. just the energy converted</p>
            <p class='HS DuronSediron'>(examined around) hmmm honestly this is typical.</p>
            <p class='HS JaredAreluid'>I know!!.., Why fix it if it's not broke? (look at Davina & go see close a bit, at left side from where we are.) Although to be fair..</p>
            <p class='HS DuronSediron'>(follow)</p>
            <p class='HS JaredAreluid'>We gotta make things a little simpler. (use the computer next to Davina's to select through different dashboard pages) (in Home) Much like.. running car. You just... make sure it's running, (in Safety) all safeties on. and so on.</p>
            <p class='HS DuronSediron'>Okay, that's cool. Although, we don't have to do this right?</p>
            <p class='HS JaredAreluid'>No.. there's no interest in that. Just have it here is that all we need (just enough for essential purpose). Btw, you can live view each core statuses on the website, I sent that to your hotel.</p>
            <p class='HS DuronSediron'>Cool. Then.. I believe those who wish to maintain this still had to know everything, for sure.</p>
            <p class='HS JaredAreluid'>Of course still. they gotta be repairman or women or any. But of course, I hope that's not needed, but we still have that advanced control in case we got to use it.</p>
            <p class='HS DuronSediron'>Right. coz if not it'll havoc. (sit on a chair just behind him)</p>
            <p class='HS JaredAreluid'>Yeah we don't want that</p>
            <p class='HS DuronSediron'>(see a computer, it shows camera of core number 51).... Now I wonder. How did you fetch the energy? In our place, we use the energy to heat up water</p>
            <p class='HS JaredAreluid'>(surprise concern because they still use water) Huh?!..</p>
            <p class='HS DuronSediron'>which it'll vaporize. Then the steam spins the turbine.</p>
            <p class='HS JaredAreluid'>Wait. You still use water?</p>
            <p class='HS DuronSediron'>.. (realized same Terrian conventionals is on Dasandim too) uh.. I admit, I got no other idea.</p>
            <p class='HS JaredAreluid'>Son, what if the chamber breaks? it breaks, gamer over. it (the explosion) goes more than just kilometers at this point. a lightyear, I suppose?</p>
            <p class='HS DuronSediron'>Then what's yours?</p>
            <p class='HS JaredAreluid'>Alright, (select Core 51, the inside, and look at one of the solar panel in the 9 clock), (send selection to computer behind where Duron is)! Here. You see this thing? familiar with the purple and those lines</p>
            <p class='HS DuronSediron'>(recognized as solar panel cells) Wait. Isn't that? .. a <b>solar panel</b>?!?!</p>
            <p class='HS JaredAreluid'>Hehe! You know, radiations like this.. is like sun. So you know what could be fetched like from sun?.... (tap table)!..</p>
            <p class='HS DuronSediron'>Oh.. my God.. I didn't know this..</p>
            <p class='HS JaredAreluid'>Oh, btw, we modified the design a bit to be more efficient, aaan.. it potentially runs hundred thousand years before replacing. Well I'm pretty sure your people had experiment like this too before.</p>
            <p class='HS DuronSediron'>(remembered something ever known but distant)...</p>
            <p class='HS JaredAreluid'>Well I'm pretty sure your people had experiment like this too before. Say like.. tribe who somewhere</p>
            <p class='HS DuronSediron'>Wait, <i>tribe</i>...... uh.. (found Vatastora people) Ooooou.......</p>
            <p class='HS JaredAreluid'>Welp. Guess now it's time you tell 'em. (remembered he cannot go back to Dasandim anymore) Oh wait.</p>
            <p class='HS DuronSediron'>You don't want to hear this.</p>
            <p class='HS JaredAreluid'>What do you mean?</p>
            <p class='HS DuronSediron'>Uhh... (telepathy the Vatastora fun fact to Jared{nsfw?``:`, that Vatastorans have sex to become very bright, and the walls in their bedroom absorbs the energy to be then stored`})....</p>
            <p class='HS JaredAreluid'>Oh.. why do you have to keep it secret? We do share lewdness everyday, of course, only from adults to adults. Your people are taboo with that?</p>
            <p class='HS DuronSediron'>Ehhh.</p>
            <p class='HS JaredAreluid'>Nah, forget about it. What else do we do?</p>
            <p class='HS DuronSediron'>Another question. Is this the only way you got energies?</p>
            <p class='HS JaredAreluid'>So far yes. This is the first one, though full utilization comes 700 years after discovery. And it's where we are today. You got another?</p>
            <p class='HS DuronSediron'>I mean you don't do any other? What if suddenly this goes dud, where do you supposed to get energy then?</p>
            <p class='HS JaredAreluid'>There is a natural sun. a solar panel farm is there right after these cores.</p>
            <p class='HS DuronSediron'>That's it? Is that all? You didn't have enough redundant ways?</p>
            <p class='HS JaredAreluid'>Wait, there's even another??</p>
    <h2>Wind energy</h2>
        <h3>Unviable Wind Park. next day.</h3>
            <p class='HS Info'>This is one of the always extreme weather area. This wide park is notoriously always windy & it's hard wind. The scientist are struggling installing the wiggle tubes, but eventually made it. all people in this scene are standing with nothing covering. volume bit louder because of the nonstop wind</p>
            <p class='HS MaasAreluid'>(screwing one last bolt) UUUUUGGHh....</p>
            <p class='HS MoosuAreluid'>Hang in there, brother!</p>
            <p class='HS JaredAreluid'>Wow. I didn't know we had this it been. I believe my predescessor ever attempted it distant ago, but.. I believe the fan goes down often.</p>
            <p class='HS Info'>The wiggle tube is done tight, and the tube compresses the piezo membrane generating energies.</p>
            <p class='HS DuronSediron'>Well I'll maybe look up the inventor later, but overall, .. it's good!</p>
            <p class='HS MaasAreluid'>(show multimeter to everyone) FIVE HUNDRED KILOWATT!!</p>
            <p class='HS DuronSediron'>OKAY!!</p>
            <p class='HS JaredAreluid'>You got another idea?</p>
            <p class='HS DuronSediron'>Yes!</p>
    <h2>River energy</h2>
        <h3>Zero User River. next day.</h3>
            <p class='HS Info'>This river somehow were never used ever since Areluid came and claimed the entire realm. Even tho the population had grown, still there is no user. Some said, Areluids have no interest swimming in the river. In here, a hydro vane boat was attached to one of the stair level of the river. There is only 1 right now, and the people in this scene were standing above it right now. The impeller hunder the hull were spun by the stream of waters. The impeller design is very safe and non-cutting, so in case somebody swam into it, they came out completely unharmed.</p>
            <p class='HS DuronSediron'>Okay. Here it is. The Hydro Boat vane. It also has solar panel, because.., why not.., and also, has safety, you fell into it, should be fine.</p>
            <p class='HS JaredAreluid'>Right, speaking of fell into this, Let me tell you this. Mysteriously, there's nobody ever swam in this river. No.. nobody is gone or what. Somehow, I feel so demotivated to swim in this river..., like.. I could be drown and lost in it. So that's why we make swimming pools or something.</p>
            <p class='HS DuronSediron'>Huh. weird. You already find why?</p>
            <p class='HS JaredAreluid'>Still not found why. At this point it's just too much to go, I'm just gonna go do something else. Now. what do we do next?</p>
            <p class='HS DuronSediron'>I remember about the hotest desert idea. You got one?</p>
    <h2>Desert energy</h2>
        <h3>Sangrai Desert. next day.</h3>
            <p class='HS Info'>This desert is extremely hot, and today here is 80 degree Celsius. The scientist could not install the geo thermal farm due to this heat. Instead, the local people, Lizard Areluids are installing it. It is very easy to install with instruction given. guards, scientists, Jared, & Duron sits under a tent umbrella. it has portable AC installed set to maximum. Lizards that are have done can return to their usual sunbathing. Tent. inside from starboard to port: Table with assets, Jared's beach chair, Duron's beach chair, and rest of beach chairs.</p>
            <p class='HS JaredAreluid'>Wow, son. I thought energy is only from so much.</p>
            <p class='HS DuronSediron'>Well, we sure find energies in many form. You know, some people say energy is not made, nor destroyed. it just.. transfers. Idk.</p>
            <p class='HS JaredAreluid'>(noticed they are done installing) Okay, connect one cable!, read me the number</p>
            <p class='HS ScalyAreluid'>(connect a thermal node to topleft most input)! (wait)....., (saw number) One thousand.</p>
            <p class='HS JaredAreluid'>Woo yeah 1 Megawatt! Okay, connect another and tell me again.</p>
            <p class='HS ScalyAreluid'>(connect another node to next to last connected), (wait)...., two thousand..</p>
            <p class='HS JaredAreluid'>Okay, that works! connect all of them, (send Pts money to Scaly and other friends)....</p>
            <p class='HS ScalyAreluid'>(connect all)........., (receive Pts), (spawn hologram phone), Yo, thanks bud!</p>
            <p class='HS JaredAreluid'>Okay, please hand me the multimeter?</p>
            <p class='HS ScalyAreluid'>(disconnect debug cable from the unit), (give both multimeter with cable back to Jared)....</p>
            <p class='HS JaredAreluid'>(take & store back to case), (close case).</p>
            <p class='HS DuronSediron'>Got personal question may I?</p>
            <p class='HS JaredAreluid'>(tidy other stuffs) Well go ahead?</p>
            <p class='HS DuronSediron'>If that's Areluid, uh.. you look so human. Is this.. something?</p>
            <p class='HS JaredAreluid'>(put everything to pelican case) Well that's good question. You see, those are a scale tribes. Areluids that have lizard body. Tourists called them.. Gecko, sometimes. (lock the case) Basically, Areluid was a human, with powers, she can turn into stardust, to travel realms. One day, there was a visitor, idk how, she likes to become look like an animal, so she combined anthromorphism with her human form, and that's what come up. (push the case to back there) Uuuugh, For years, we were at peace, enjoying lives, and do something together, including discussing looks. Alas, a colonizer attacked us. Threaten us. everything in between. (leave these assets laying down for a while)......... Nowadays, if we are spotted wearing furry form...., there is just 1 bad people (karens) outta nowhere after all of us. ... idk man. what so come it up with it?... The impostors hard to detect!.... (re-sit the beach relax chair)!!!, (both hand pad head again) Heuhhhhhhhh.......</p>
            <p class='HS DuronSediron'>(pitiful for that horrible threats, look Jared's eyes in pity while sitting the beach chair next to it again)...... Idk how to say sorry.</p>
            <p class='HS JaredAreluid'>Nah, I've been used to this.</p>
            <p class='HS DuronSediron'>No, you cannot be used to this. How do you supposed to say about the lives for the next kids?</p>
            <p class='HS JaredAreluid'>(starboard / right eye tear drop)......, idk.... I have no clue anymore. ....</p>
            <p class='HS DuronSediron'>..... I promise. After we done here. I will get rid whoever the colonizers are.</p>
            <p class='HS JaredAreluid'>Thank you...., But I don't think you should be ever be involved at all in this. They're too dangerous.</p>
            <p class='HS DuronSediron'>Hey, I cannot let you live like this. The realm will degrade if you stop. You guys done something?</p>
            <p class='HS JaredAreluid'><b>(sigh)!!............</b> We tried everything. Baltheser just 5 steps ahead. That cancer (Baltheser & that conquered area) had to be removed! Ugh.....</p>
            <p class='HS DuronSediron'>Wait.. his name is Baltheser?</p>
            <p class='HS JaredAreluid'>Baltheser yes. He/him. He... ... ugh.. he just want our things, for his own sake.</p>
            <p class='HS DuronSediron'>Since when?</p>
            <p class='HS JaredAreluid'>Idk, I already forgot, it's been eons already.</p>
            <p class='HS DuronSediron'>Yikes... ....</p>
    <h2>Return for a while</h2>
        <h3>Hotel room 2001 again.</h3>
            <p class='HS Info'>The day is night. Family will dinner in this room.</p>
            <p class='HS DuronSediron'>(open door)...., Dad, sorry I'm late.</p>
            <p class='HS BaserSediron'>It's okay son. We're just going to start.</p>
            <p class='HS TeddySediron'>Brother, family is safe. No attacks.</p>
            <p class='HS DuronSediron'>Thank you.</p>
            <p class='HS BaserSediron'>Alright, everybody. Before we start, we shall pray. I'll do this.</p>
            <p class='HS Everyone'>(wrap hand and sync pray no follow speak)</p>
            <p class='HS BaserSediron'>Thank you Lord for the food. Thank you for those who cook, provide, make, and acquire. We are going to dinner, then continue. Thank you for all Your blessing. ... ... Amen.</p>
            <p class='HS Everyone'>(Finish & start eating)!...</p>
            <p class='HS Info'>Skip. Transition clock curtain clockwise. while others are brushing teeth and do next activities before sleep, Baser & Duron have little discussion again as usual.</p>
            <p class='HS BaserSediron'>How's your day today?</p>
            <p class='HS DuronSediron'>Good. The last energy I know of has been installed.</p>
            <p class='HS BaserSediron'>Wow son. I'm so proud of you. I really wish.. I mean hope it could go back to normal.</p>
            <p class='HS DuronSediron'>I promise dad. We will get it. God has all the way right ahead.</p>
            <p class='HS BaserSediron'>Great luck on the final day.</p>
            <p class='HS DuronSediron'>Yes dad.</p>
    <h2>Cardiophile</h2>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    {nsfw?<Fragment>
        <!-- Sediron.
            explore kingdom

            unblock baltheser and get him fun.

            the truth reveals, baltheser is kamatussa

            peace treaty, expose truth, throw baltheser to Judgement. win.
            
            Dr Hymatt transform service. met customer (who wish to install human form for human-con party in ballroom underneath the main castle) with coincidentally very identical name (the earth name, not their birth name) to ones who hated / blocked Baser, from dad mom daugher and younger brother. even they came up with design matches with the look of each and everyone of them. They are entirely different people but somehow had same look, and not the assholes.

            pls don't forget heart experiment we stole from Laila & Nerplex. compilation of heart torture collage. https://www.tumblr.com/purity-in-heart/740411342805254144?source=share this one. If you're blocked by original poster, no matter, you can't reblog nor like. Say "feel free" but she hated me in defense. Break the patent rules, but always attribute no matter what. God will reply, I hope.

            Oh, the final technology of heart was coming also from Discord but forgot which reply was it. an invincible heart installed on Judy Hopps something. With any explosion, the heart stands. So I want this build like carbon nanotubes, made muscle, and the nanotech acts as extra bearing and to rebuild the broken cells. Of couse by default it also cleanse LDL and plaks. Then, the Areluids in stardusts form learn how to control the carbon in the air and form nanotubes as they reassembles to form.

            receive let it go, Duron bring impostor to be analyzed along the way. the Beggar is Baltheser himself.
            -->
    </Fragment>:``}
</CoreHomestuck>