---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
// import CorePage from '@compnents/Page/__CorePage.astro';
import BeginningOfNSFW from '@components/Elements/SparePart/ListCells/BeginningOfNSFW.astro';
import StatCard from '@components/Elements/SparePart/StatCard.astro';
import CoreHomestuck from './__base/CoreHomestuck.astro';

const filename:string = 'Sediron1'
const isNSFW:boolean = false;
const addHeaderTitle:string = 'Sediron Season 1';
const addMetaTitle:string = 'Testp';
const addKeywords:string = 'Sediron, social media, drama, toxicity, expose,';
const addDescriptions:string = '';
const skipHeader:boolean = false;
const skipNav:boolean = false;
const skipFooter:boolean = false;
const disableOverwhelmStatement:boolean = true;
const endSay:string = 'End';
const author:string = 'JOELwindows7';
const company:string = 'Perkedel Technologies';
const licenseSay:string = 'CC4.0-BY-SA';
const companyImgSrc:string = '/Perkedel_Icon.png';
const licenseImgSrc:string = '';
const licenseUrl:string = '';
const isWIP:boolean = true;

const{
    nsfw = false,} = Astro.props;
---
<CoreHomestuck
    nsfw={nsfw} isNSFW={isNSFW}
    addKeywords={addKeywords}
    addDescriptions={addDescriptions}
    addHeaderTitle={addHeaderTitle}
    addMetaTitle={addMetaTitle}
    author={author}
    disableOverwhelmStatement={disableOverwhelmStatement}
    skipHeader={skipHeader}
    skipNav={skipNav}
    skipFooter={skipFooter}
    filename={filename}
    endSay={endSay}
    company={company}
    companyImgSrc={companyImgSrc}
    licenseSay={licenseSay}
    licenseImgSrc={licenseImgSrc}
    isWIP={isWIP}
>
    <!-- <p class='HS JOELwindows7'>Testing, testing!</p>
    <p class='HS JOELwindows7'>Is this working?</p> -->
    <h2>Introduction</h2>
        <p>Sediron is a fictional social media exist here in Perkedel Cinematic Universe. Founded in Dasandim in 2009 by Baser Sediron & families. It is here to provide not just a communication, but also amazing creativity, where imagination is the only limit. It's to gather all Dasandimian as well as intergalactic beings to tell stories & share great events.</p>
        <p>In this season, Sediron had just launched anew. Everyone are very excited, not just the employee, that now the new era of sharing information had just begun. You will learn the life here at Sediron, from how was it built, to its daily life usages. As well as some funny stuffs, to its convtrovercies later down the road.</p>
    

    <h2>E1: Dawn</h2>
        <p class='HS Info'>Camera off</p>
        <p class='HS BaserSediron'>Alright. 1 2 3 Sediron company and service launching? (Press ceremonial button)!!</p>
        <h3>Sediron's Workspace. Richful Building Floor 25, Finance City, Dasandim. 2009</h3>
            <p class='HS Info'>Camera ON! Sediron packed with some of his employee and his wife, Nylar. The Floor 24 & other numbers containing <code>4</code> are ommitted because the owner believe that it's a <i>Death number</i>.</p>
            <p class='HS AudioInfo'>confettis launched</p>
            <p class='HS Everyone'>Yaaaaaaaaaaay 🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉!!</p>
            <p class='HS BaserSediron'>Congratulations, guys! we did it! The new era of posting, .... begins now. Now, you guys (to moderator). Your work will begin soon. The.. public use,</p>
            <p class='HS Info'>New public posts pops up & surging</p>
            <p class='HS BaserSediron'>(acknowledged) Ah there it is. You got the training? Watch over them.</p>
            <p class='HS Everyone'>(Moderators) Yes, sir!</p>
            <!-- Naylar T??? Rumanod!! -->
            <p class='HS NylarRumanod'>(wrap lean Baser) ☺️☺️☺️☺️☺️☺️☺️☺️☺️...</p>
            <p class='HS BaserSediron'>(acknowledge Nylar wrap lean).. . (look back to TV signage again) And here comes all of them!</p>
        <h3>Party. Richful mega canteen, Lower ground.</h3>
            <p class='HS Info'>Overview birdeye the ballroom-like canteen room. Sediron, families, & employee are having great buffet in celebration of the launch. Everyone that finished their lunch began to take pictures around this room, & then upload them to Sediron. Camera now go to Sediron's table. This table contains all Sediron families. Them all also had just finished their lunch.</p>
            <p class='HS HamletSediron'>(while wiping mouth) Congratulations, son. I'm so proud of you.</p>
            <p class='HS BaserSediron'>(already wiped, now sit peturbed) Thanks dad. But... I'm not sure if I can do this, coz later, it'll be very heavy.</p>
            <p class='HS HamletSediron'>No son! don't burden it! You must believe God, He will give you much lighter plow along our ways!</p>
            <p class='HS BaserSediron'>Yes...... . ........</p>
            <p class='HS HamletSediron'>Son, your product connects to all galaxies! I'm pretty sure, one day we can meet more friends than whatever been here before! This is great! We and all of us Dasandimian will have more friends!!</p>
            <p class='HS BaserSediron'>Wow, yeah (still peturbed lack of faith whether it would work out, or <span class='error'>add more enemies</span>).</p>
            <p class='HS HamletSediron'><b>Be faithful!</b> We can do this. If there is problem, you can insert it to your pray, and God will take care of it all. (point to sky beyond the windows away from viewer) Look.</p>
            <p class='HS BaserSediron'>(follow look at the sky)</p>
            <p class='HS HamletSediron'>We are not only making <b>Space!</b>.., for all the stuff we like. But also, ..., <b>Con---nection!!</b>., So that we can.., have more friends! You want more friends?</p>
            <p class='HS BaserSediron'>Oh yes, definitely. I like.., friends!.</p>
            <p class='HS HamletSediron'>Haa, yess. Then we gotta do it. Relax! Relaaaax..</p>
        <h3>Sediron's Workspace room again. 20.00 PM!</h3>
            <p class='HS Info'>At night, Moderators have finished moderating Sediron from unwanted posts. They all already have left to home, but this guy, Appinn Deyo, loves his doing. He hates spam, and decided to work longer to get rid of them all. Don't worry, he already ate.</p>
            <p class='HS AppinnDeyo'>(Hunting for more spam)..... (found last again, review)!, ........... (it's a spam bot, ban)!! Hoof!</p>
            <p class='HS BaserSediron'>(enter).., seems you like your doing here.</p>
            <p class='HS AppinnDeyo'>Ugh, I <b>HAte</b> spam!. (while still hunting) They're only sending offers and {nsfw?`bullshit`:`88888888`} like that. I mean, we're allowing {nsfw?`porns`:`p8888`} in here, but.., (sigh)!... (found again, review)......., (spam bot again, ban) Ugh! <code>Chat me</code> {nsfw?`fuck shit`:`f888 s888`}! Tarnishing!..</p>
            <p class='HS BaserSediron'>We're done by the way..</p>
            <p class='HS AppinnDeyo'>(wait, look clock bottom right, hover mouse to reveal taskbar)?.., (shift already finish 1 hour ago) Oh..., (stand up & stretch & crack).., <b>EEEEEEYYAAAAA!!</b>, aahh..</p>
            <p class='HS BaserSediron'>You should occassionally stand up, and walk around just a little. You know, to make sure, you don't get dry.</p>
            <p class='HS Info'>OS is Windows XP. Windows Vista is horrible, and Retail box Windows 7 was not released <a href='https://en.wikipedia.org/wiki/Windows_7' target="_blank" rel="noopener noreferrer">until October 22, 2009</a></p>
            <p class='HS AppinnDeyo'>Oh that's right, (began tidying up) that right, (pull phone charger)!, (roll & put in bag), (drop flip phone to bag), Okay, (shutdown computer) (close browser), (Start menu), (Power icon), (<code>Shutdown</code>).</p>
            <p class='HS BaserSediron'>Good night, brother. Great luck & God bless you.</p>
            <p class='HS AppinnDeyo'>(lift bag), you too 😉. (go leave)..........</p>
        <!-- ... -->
    <h2>E2: Baser</h2>
        <!-- Baser Sediron's thesis is about social media that connects integalatically, beyond galaxies. -->
    <h2>E3: Stress</h2>
        <!-- Stress test sediron and how mighty the server is right now -->
        <h3>Sediron Workspace</h3>
            <p class='HS Info'>The room was real silent. Camera look at Sediron's computer. Sediron website has the write new post open with little text written, not yet posted. All employees had their own account opened up, post written, also not posted yet.</p>
            <p class='HS BaserSediron'>(staring at unposted yet post writing).........</p>
            <p class='HS Info'>Camera look to employees in this area, from Sediron's view up higher. Employees are eager, and waiting for instruction.</p>
            <p class='HS Everyone'>(also awaiting).....</p>
            <p class='HS Info'>Camera flip back to opposite end on this room so the monitors are seen. All employees are ready for instruction.</p>
        <h3>Canteen</h3>
            <p class='HS Info'>Special guests, mostly fans are also have opened up the post and writen something random & also attachments to it. Not yet post.</p>
            <p class='HS Everyone'>(also awaiting too).....</p>
        <h3>Internet Cafe (now is mini VR arcade arena). Dasandim Amusement Park.</h3>
            <p class='HS Info'>All visitors are as well been in the same position & awaiting instruction from Baser. Right in this internet cafe, also outside, where RJ45 cables, Landline Telephone cables, 3G capable Internet SIM Card, & PCI-Card modem have been borrowed for devices outside. Camera outside to look at those visitor pluged in into one of the bunch of wires. There are laptops, PDAs, candybar phones, flipphones, and few iPhone 3Gs (<a href='https://en.wikipedia.org/wiki/IPhone_3GS' target="_blank" rel="noopener noreferrer">Released July 19, 2009</a>). all opened up that Sediron website. And then Camera inside the cafe</p>
            <p class='HS Everyone'>(also awaiting too verily).....</p>
            <p class='HS Info'>one of the rentable computer user inside the Internet Cafe accidentally clicked post before the instruction due to clumsiness.</p>
            <p class='HS NotticSaman'>(accidentally mouse click post) Oh no!</p>
            <p class='HS SokremOrnet'><span title='Not yet!!, awh...... just make it again make it again!....'>Belum!!, yah... (shoo gestures) dah dah bikin lagi bikin lagi!...</span></p>
            <p class='HS NotticSaman'>Argh.. (make new post, write, and be careful this time.)</p>
        <h3>Sediron Workspace again</h3>
            <p class='HS Info'>back to Sediron's computer again and delay 8 seconds.......................</p>
            <p class='HS BaserSediron'>Go (post now).</p>
            <p class='HS Info'>Everyone press post, and through telepathy instruction all have listened and executed. Swift look canteen where they do, Internet cafe, and here again</p>
            <p class='HS BaserSediron'>(bit nervous if this could crash) Okay...</p>
        <h3>Server room underneath</h3>
            <p class='HS Info'>Camera dolly forward towards one of the tower. One of the rack module beeps overheating. Kishnyon checks</p>
            <p class='HS Kishnyon'>(Open that beeping tower)?... (it's overheating)!!? Sir!!, It's overheating!</p>
            <p class='HS BaserSediron'>(still on his desk) Keep, going!!..</p>
            <p class='HS Kishnyon'>Yes sir. I'm not sure if this is safe though.</p>
            <p class='HS Info'>Another beep back left where Kishnyon looking</p>
            <p class='HS Kishnyon'>Oooooh, {nsfw?`shit`:`s888`}..!. (turn around to back left & open that tower door) ooo noe.... (look that rack module), (look down 45 deg)</p>
            <p class='HS Info'>There is fire extinguisher hose clamp aimed at the modules above. Camera look overall room. set of makeshift fire extinguishing system had been setup, hoses multitapped to each tower, all come from a hub, which connected to giant tube near the back end of door</p>
            <p class='HS Kishnyon'>(tap tap the nozzle)! !, ..., Okay most importantly (camera look overall) I got the fire extinguisher setup in here. Umm not sprayed yet, but anytime. Not sure if work, but I hope so.</p>
            <p class='HS BaserSediron'>Make sure all of them are still on and nobody crash!.</p>
            <p class='HS Kishnyon'>Yessir!!.., (nervously sweat coz it could explode) hehe....</p>
        <!-- the test works successfully yey 1000s users. -->



    <h2>E4: Background</h2>
    <!-- 
        read below. also
        the bench chair finally breaks, bum hurt
        tomorrow is expo day 1. day 2 is interview
     -->
        <h3>Group Project. 12th Grader Classroom 152B. School of Crossban, Clever City, Dasandim. 1988</h3>
            <p class='HS Info'>The tables have been replaced from regular individual student table set with larger group circle ones today. This is temporary, because today is group project time. This is time where young Baser reach for knowledges.</p>
            <p class='HS GallonderArnold'>(finished placing documents on table) Alright, class. It's Project time.</p>
            <p class='HS Info'>B roll of table circle, students are assigning themselves by picking new seat on which circular table</p>
            <p class='HS GallonderArnold'>I'd like you to move your seat coz the group's consists of boys are boys, and girls girls. Easy. Each had 5, again boys boys, girls girls.</p>
            <p class='HS Info'>B roll's over, look at teacher's face, up to legs view far</p>
            <p class='HS GallonderArnold'>Now what you should do for this assignment, is to... discuss a topic. Whatever you'd like. (go from rightmost to leftmost to open this door)....., (open door and offer way), Pick your topic, from library. Just a simple one. Remember the template.</p>
            <p class='HS Info'>B roll overview the mini thesis book pages sliding, watching and sync to what the teacher said</p>
            <p class='HS GallonderArnold'>Title, Table of Content, Overview, Main, Conclusion, and Credits. Super easy!</p>
            <p class='HS Info'>Back off B roll, but look student</p>
            <p class='HS GallonderArnold'>Alright class...., Are you ready?</p>
            <p class='HS Everyone'>Yeees, Sir!!</p>
            <p class='HS GallonderArnold'>Alright! ....., Let's do it!..</p>
        <h3>Looking for Topic. Mega Library. School of Crossban</h3>

            <ul>
                <li>Baser Sediron</li>
                <li>Kand le Diff</li>
                <li>Jonas Letagahn</li>
                <li>Tony Halim</li>
                <li>Utorof Vorchkscher</li>
            </ul>
            <p class='HS Info'>Bird eye view of library awide. Students are rummaging through shelf and books in it, finding what topic to discuss for today's work.</p>
            <p class='HS BaserSediron'>(Also rummaging)...</p>
            <p class='HS KandLeDiff'>What should we pick buddy?</p>
            <p class='HS BaserSediron'>(Almost found)..., (found) Ah! perfect (pick up & show to teammates)..</p>
            <p class='HS Info'>bird eye book from right side. It's <i>The Beginning of Video Games</i></p>
        <h3>Going back to class</h3>
            <p class='HS Info'>Sediron took 5 books related to dawn of video game topic. He put it to checkout for borrow</p>
            <p class='HS JaloviUbinn'>Wow, Baser.., you took so many!</p>
            <!-- Ooo binn. Jalovi is female bit elder -->
            <p class='HS BaserSediron'>Got all I need hopefully. We're talking about the beginning of video game. (push further a bit)</p>
            <p class='HS JaloviUbinn'>(accept pulling) Ooooo, (scan 1 by one) Interesting. But be sure when you're done, you give them back, coz if not, your dad has to pay everything</p>
        <h3>Went back to class</h3>
            <p class='HS Info'>They began to work. Since at that time no computer, they wrote everything in a lined bare paper, pens, and corrections.</p>
            <p class='HS BaserSediron'>(talk from last scene) Don't worry, I'll take care of this.</p>
            <p class='HS BaserSediron'>Okay, so uh.. It was (rummage to Tennis Gaming book), Tennis for Two..</p>
            <p class='HS Info'>B Roll the working. Baser leads the pack and assemble everything, Kand wrote Overview and Main, Jonas the Conclusion and Table content and titling, Tony Credits and Citations, and Utorof illustration</p>
        <h3>Presentation</h3>
            <p class='HS Info'>Baser's team is closing down the presentation of Beginning of Video Game</p>
            <p class='HS BaserSediron'>... To this day, where cutting edge are about 3D immersive graphics. So, any questions?</p>
            <p class='HS GallonderArnold'>... Wow.. I am impressed! That's the great history lesson, you know. However,...</p>
            <p class='HS BaserSediron'>(camera face Baser, bit tilt nodding something wrong) (disappointed head tilt)??..</p>
            <p class='HS GallonderArnold'>You forgot to citate any part of your documents. (reopen section Credits at the end) The credits are here, good. But this... <b>You only write author names?</b> Yeah, what book did you took it from? Where's the full credit?</p>
            <p class='HS BaserSediron'>(upset internally)?!?!..., (look upsetly to Tony) 💢💢💢💢💢💢💢....</p>
        <h3>Failure</h3>
            <p class='HS BaserSediron'>(semi-upset mood) What the hell is going on here? How did you neglect the full source we took it all from?</p>
            <p class='HS TonyHalim'>Buddy, Isn't just the name supposedly enough? At least there's the credit!</p>
            <!-- Please do not forget when you're shooting this! Make sure Baser looks like scolding everyone, not just Tony. He is at the core infuriated with lack of Sauce URL! SAUCE PLS!!! -->
            <p class='HS BaserSediron'><b style='font-size:large;'>NO!</b> (look center of group to point to everyone)..........., you do not just copy paste the text, or inspire whatever, without atleast pointing to ex<b style='font-size:large;'>ACT</b>ly, where do we get it from!.</p>
            <p class='HS JonasLetagahn'>(confused, Baser should've protested credit rules) So, you..., obey teacher, .. or what?</p>
            <p class='HS BaserSediron'>(Protective of names attribution feeling grows) Well.., This time I will say that it's me. You know what happened if somebody copied over your idea, and then that somebody not telling who first thought of this idea, nor even which idea it was taken say name said? Isn't this plagiarism then? What if that's yours?</p>
            <p class='HS Info'>Everyone in this team agree, except Tony, of course.</p>
            <p class='HS BaserSediron'>(throw low force the papers to desk in upset)!!., You (all of you) fix it up. Today's due, until Sixteen Hundred (16.00). (change mind).., You know what, (pick up papers again), (stand up), (turn around to stand with bums facing on them)...., You can take break now.</p>
            <p class='HS JonasLetagahn'>(a bit confused and concern that he choses to do it all his own while proceeding leaving to lunch)..... </p>
            <p class='HS Info'>Everyone leave scene and have a lunch</p>
        <h4>Revision. Teachers Mega Hallway</h4>
            <!-- 
                submit thesis. done thank you. next student then submit after Baser get out of Gallonder's office

                Tony told his Older sister Mindy, he had just been discomforted because lack of full credit critics

                Mindy make up her mind, permanent hate

                Baser beg forgive, visit house. Mindy reject and if he kept bothering her, she will report to principal so that he expelled. Mindy's dad come and scold go away. Baser lost all choice, run away and cry. Hamlet caught him before he do what he suspect would Baser do.

                Mindy's dad throw stone, hit Hamlet's back head bleedingly, Mindy's mom yay great shot, stand up again and managed to run back home without die.

                Sediron dad & son called, harrasment accusation this is exageration. footage CCTV says otherwise. teachers impressed. principal go back chair, recontinue harrassment in front door, that come to house is true but not the harrassment, I wish CCTV on the road. I saw it with my eyes. Look, gfdad hit me with brick until I bleed, but I'm okay.

                Gallonder saw truth, even he's not Psycologist like his wife, the Principal. Principal agree and answered there's nothing we can do. Hamlet sediron begged his son to be cured
            -->
            <p class='HS Info'>Camera look at right Baser's hand, which carrying the fixed thesis. Baser rewrote credit sections from scratch & restapled everything. & also in current document, appended citation numbers from start to end</p>
            <p class='HS BaserSediron'>(Walk fast still in upset emotion)..........</p>
        <h4>Resubmit. Teachers working office space</h4>
            <p class='HS Info'>In this room, here where teachers & the Principal sit. It's like a typical office space, with standard muffling corkboard partition separating tables. e.g., they're here when they are not in duty, and had to diligently look at their schedules. Teacher Gallonder sits amongst teachers around him left to the Principal slot. He was playing handheld water ring toss, and he got the last ring to the spear. Camera look at that gameplay</p>
            <p class='HS GallonderArnold'>(Did it blew the last ring onto the right spear) YESS!!! Woo!</p>
            <p class='HS BaserSediron'>(Knock knock knock the glass door)!</p>
            <p class='HS GallonderArnold'>(Look up high to the door) Yes? (it's Baser) Base..r! Hey, come in!.</p>
            <p class='HS BaserSediron'>(Push & go in).. (async)..</p>
            <p class='HS GallonderArnold'>(async) (put away the toy ring toss to the table), What's the matter? You done it, or probably need some help?, I presume..</p>
            <p class='HS BaserSediron'>(stop before table & the chair).</p>
            <p class='HS GallonderArnold'>Hey, sit down! it's okay. (async) I got what you need in here.</p>
            <p class='HS Info'>Full clarification, in Crossban at this time, there is no clear guidance on how to acknowledge people's works like there is no standards learned in this school, including APA bibliography style. Therefore the student just write the name of the authors, the book titles, edition, & what year they were published. Again, without APA guidance, every credit sections designed differently.</p>
            <p class='HS BaserSediron'>(async) (Sit down to the chair)....</p>
            <p class='HS GallonderArnold'>It's little messy, (put examples of serveral verified mini thesis on the table) but here's the example of how our previous students credited somebody works in this project.</p>
            <p class='HS BaserSediron'>(handover by putting this fixed teammate work politely to the table)...., Sorry sir. My teammate screwed up.</p>
            <p class='HS GallonderArnold'>(Flabbergasted good way in impression of such revision done quick but also suspicious that it's still too rushed)???, Wait (Hastily flip over to the credit section).., you're so quick but (noticed the credit is unlike ever seen before & began to impressed much further)?!?!?!?!?!?!?...</p>
            <p class='HS Info'>The fixed credit section is very sophisticated. The second heading are the authors, and in this second heading, are the books of the author. Each line (or say subsection) has the title, edition, year, and <b style="font-style:large;">it even includes the ISBN number along with the Crossban Library Assigned Book ID!!!</b>, in case student could not read ISBN. So they can instead refer what book number in library & ask the head librarian to retrieve according to the number here.</p>
            <p class='HS GallonderArnold'>(Even more flabbergasted good way)...... Woooow... Wh... Who did this?</p>
            <p class='HS BaserSediron'>Me.</p>
            <p class='HS GallonderArnold'>Wait. You coulda.. coulda asked.. your teammate!... Uh...</p>
            <p class='HS BaserSediron'>Well it's my fault I... didn't see this coming. Also we've worked so hard. I can't stress much further after we've all been doing to get this done.</p>
            <p class='HS GallonderArnold'>(Don't want to dig too much) Okay..., (while still sitting, from his POV, slide to right to bring it to the scanner next to his fat PC).... This gotta be told here, may I?</p>
            <p class='HS BaserSediron'>Absolutely!, Go head, let everyone know. ... (Concerns for too complicated amount of variables) I mean.., just take the essential parts, like.., especially where you got it from exactly. </p>
            <p class='HS Info'>This is an IBM compatible PC, DAPS2 Model 1000. DAPS2 stands for DasAndimian Personal System slash 2, it's a clone of IBM PS/2 computer because importing stuffs intergalactically is currently way too expensive. So Dasandim as usual spied on Earth with giant telescope & other syndicates to trace lots of blueprints. The OS or more like Desktop environment is Windows 2.1 <a href="https://en.wikipedia.org/wiki/Windows_2.1x" target="_blank" rel="noopener noreferrer">(released in May 27th, 1988)</a>. By that say, these computer issued in Crosban are brand NEW! just released 2 weeks ago after this Windows evolution got released. Yes, they are DOS, but all computers have such graphical environment so teachers can easily use the computer, along with apps targeting Windows. Meanwhile, the <a href="https://en.wikipedia.org/wiki/Linux" target="_blank" rel="noopener noreferrer">Linux was not released until September 27th, 1991</a>, and <a href='https://en.wikipedia.org/wiki/Comparison_of_Linux_distributions' target="_blank" rel="noopener noreferrer">the first Desktop Environments recorded in the list, in 1993</a>. So, Wakturians uses UNIX, with comissioned mission apps in C. Only in that control center, the rests, are also Windows & some DOS only.</p>
            <p class='HS GallonderArnold'>(Put makeshift book in scanner & close lid) Thank you, (create new Scan book project), yeah. (press scan & wait for completition)............... (look back & notice Baser still here) Oh, sorry (reset look to computer back again). (next page & scan) You can dismiss now. (speak to self) Hmmfh, Bet this HD (High Distinction)</p>
            <p class='HS BaserSediron'>(Stand up to prepare leaving scene)!.., </p>
            <p class='HS GallonderArnold'>I'm pretty sure you're very hungry now. (next page & scan), Go ahead play some grounds, The school's finished today.</p>
            <p class='HS BaserSediron'>Ah 🖐️, don't worry about me. Mine's Thirteen (13.00). </p>
            <p class='HS GallonderArnold'>(surprised & look Baser) 13??..., ideal is 12. (async) (look computer), (next page & scan)</p>
            <p class='HS BaserSediron'>(async) I'm afraid if suddenly caught up with something, So Therefore I just... wait.., if it's really over. </p>
            <p class='HS GallonderArnold'>(still waiting) Okay......., (next page & scan)................</p>
            <p class='HS BaserSediron'>Alright, sir. See you later. .... God Bless you. (Walk leave)</p>
            <p class='HS GallonderArnold'>God Bless you too, <b><i>son</i></b>!.. (next page & scan).....</p>
            <p class='HS BaserSediron'>(stop temporarily, he said <i>son</i>, massive inspiration popped)!?..... (continue leave while interested with little massive inspiration)...</p>
            <p class='HS Info'>This was where Sediron's Daddy Figure moniker came from. Things like nicknaming employee <i>kids</i> (anak-anak), etc. As well as during upset mood, he even added negative monikers like annoyers <i>rascals</i> (anak nakal).</p>
        <h4>Betrayal. Mindy's house</h4>
            <p class='HS Info'>Baser desperately came into Mindy Halim's (Tony's older brother, and Baser's girlfriend since primary 1st Grader) house. Mindy all the way sudden as the school was finished today, hates him forever and decided to cease everything. Baser, Mindy, & all students of Crossban lives in dedicated house complex provided by Crossban. It looks like Jakarta's standard fenced house, featuring raised bed base, concrete fence, 3 floors up, 5 floors down, and 750 m<sup>2</sup> overall area.</p>
            <p class='HS BaserSediron'>(Press doorbell button attached at the man door desperately but slowly once)....!!!...., (desperate, depressed, and nervous, right foot rapid tapping & hand wrap around crotch)...</p>
            <p class='HS MindyHalim'>(Open main door & inspect)... (it's Baser, mood drops)?!...</p>
            <p class='HS BaserSediron'>Mindy. Please, can.. can we</p>
            <p class='HS MindyHalim'>(Shut door angrily)!!, (async) (walk fast back to her room)!...</p>
            <p class='HS BaserSediron'>(async) Wait!.., (rapid press doorbell)! ! Mindy!! ! ! ! ! </p>
            <p class='HS MindyHalim'>(Shut door angrily)!!, (async) (walk fast back to her room)!...</p>
            <p class='HS BaserSediron'>Please, no! I don't want to lose you! (continue rapid doorbell)</p>
            <p class='HS MindyHalim'>(Fed up with rapid doorbell) 😣😣😣😔😔😔😔....... (semi-internally) FIne (go back to door)!!....., (Open)!??!?</p>
            <p class='HS BaserSediron'>Please. Tell what did I do to you. I just wanna know why.</p>
            <p class='HS MindyHalim'>You hurt my brother!.</p>
            <p class='HS BaserSediron'>I'm sorry please tell him I'm sorry. I think we can resolve this..</p>
            <p class='HS MindyHalim'>(Sarcastic politeness) Please. You scolded my brother, and that hurts me too. Also don't you dare lean onto my locker, I saw it! Please and thank you.</p>
            <p class='HS BaserSediron'>Please, I'm sorry! I promise I won't do this agai</p>
            <p class='HS MindyHalim'><b class="error">There's nothing up for discussion</b>. And you lean & crying in my locker squashed my chance to talk to you ever again. Look if you kept bothering me <b style="font-size:large;">ONE MORE TIME</b>!.., I will report you to principal so you get expelled too!. Have a nice day. (close door)!!! (async), (lock 1)!, (lock 2)!! (quickly go back to her room and shut her ears like karen)!.................</p>
            <p class='HS BaserSediron'>(async) <b style="font-size:large;">😨😨😨😨😨 NO!!!</b>, <b style="font-size:x-large;">😢😢😢😢 WAAIT!!!...</b>...</p>
        <h4>Shattered</h4>
            <p class='HS Info'>New camera position, at off very right 12 meters after her house, look road, off angle towards her house. Baser runs to this right offside going to {nsfw?`cope hastily`:`find some place`}.</p>
            <p class='HS BaserSediron'>(Cry broken heart while running to somewhere) <i style="font-size:xx-large;">EUHEO EUHEO EUHEO EUHEO EUHEO EUHEO EUHEAAAAAAAAAAAAAAAAAAAAAAAAAAA!!!!!!!!!!!!...............</i></p>
            <p class='HS HamletSediron'>(Caught Sediron in front of him) Whoa buddy! Calm down! I got you.</p>
            <p class='HS Info'>A flying brick going to hit Baser's head</p>
            <p class='HS HamletSediron'>(strong grip on Baser & turn around to shield Baser from brick) LOOK OUT! (hit) OA!!... (async).... (fell syncope to front)... (impact)!!</p>
            <p class='HS BaserSediron'>(async) <b>OH NO</b>, DAD?!</p>
            <p class='HS HamletSediron'>(but still strong) OOOoogh I'm okay son.. (stand up again & continue strong grip run away) uuuuugh....., (continue running)</p>
            <p class='HS Info'>Camera to overall Halim family</p>
            <p class='HS JohnHalim'>Damn it!, I miss!</p>
            <p class='HS LeniHalim'>(drunk dancing on balcony top right, holding whisky bottle, dressed with thin clothing) Great shot, daddy!!....</p>
        <h4>Depression. Classroom again.</h4>
            <p class='HS Info'>The tables returned to normal configuration. Baser sits in dead center seat. Becomes blank in depression while Gallonder is teaching lecturingly.</p>
            <p class='HS BaserSediron'>(Depression mode thinking)..............</p>
            <p class='HS Info'>Baser remembers whole memory with Mindy since 1st grader primary, always together wholesomely. From just a friend, into minimum romantic of this day. Running in beach. sitting together on a bench. New camera position from front left, still look at Baser, where behind at back right, Mindy's there. Wait again.</p>
            <p class='HS BaserSediron'>(Still Depression)..............</p>
            <p class='HS Info'>Then finally camera from dead center front look at Baser.</p>
        <h4>Transfer. Teachers Workspace Room again</h4>
            <p class='HS Info'>John Halim, Mindy, & Tony declare to move away from Crossban.</p>
            <!-- 
                Accuse exageration for harrasment.

                denied by Hamlet.

                CCTV footage found. play with the VCR. says otherwise. Just upset with lack of credit.
             -->
    <h2>E5: Award</h2>
        <!-- YouTube style award. when people has reached huge number of something great, that user will be awarded physical trophy frame like YouTube and Bilibili. -->
    <h2>E6: Cite</h2>
        <!-- Lack of sauce. Create feature to add sauce & mandate all users to it if reposting someone's article, art, or anything. Even statements too. Tony was fired because too many times stealing assets only telling name without sauce URL. Nobody likes you, unless you change your behaviour. Then, Linday "Great" Sacred see Sediron again. A repost, no sauce. Add this feature. instead of ban, your post will be added sauce automatically (and it's big) anytime found and you cannot remove it. -->
    <h2>E7: From Home</h2>
        <!-- March 2020, was the worst day for humanity as they were having again a pandemic this year 20 of the century. This time, a Coronavirus (SARS-NCov19 / COVID-19) plays the role. It began in late 2019, and had quickly spread across the Earth. People have been transported to Dasandim, and thanks to Jason Harbour's last program, Kids Adventurous 2015, Dasandim had connection & Earth people had spaceships, and so many had been rescued as the result.
        
        -->
    <h2>E8: Clarification</h2>
        <!-- Hoax busting. Because Mods would be too much to work, hire dedicated teams to do the Cite & Hoaxbusting. Now Mods are 3 types. A femboy is one of the accepted candidate. Before the accept, HR skeptical, but then Baser interfere and straight to Question. that person correctly answered. Force add sauce, Force Clarify, Force ???. Did not choose ban -->
    <h2>E9: Areluid & Rumanod </h2>
        <!-- Areluid & Rumanod are 2 females, & they're best friend. They are nomads, together exploring different realms in every travels. They are lesbian, very love each other, and they wanted to marry each other. Alas, and they agree, lesbian cannot biologically marry. They can only wait until the perfect gender pair, by each marrying appropriately, and hoping one day, 2 these offsprings whatever generation, either gender of Areluid & Rumanod have opposite genders so these 2 can technically marry biologically. That's what one priest told them
        One day, during their travel, a storm hits. the lightning cuts the mothership in half. Areluid & Rumanod are in each opposite side of compartment. Areluid on the starboard (right wing viewed from behind), and Rumanod on port (left wing viewed from behind). the port flew to the next unknown realm (which btw is our overworld and fell into Dasandim planet and becomes the first of the first ever newcomer in Dasandim right before Prescott-NASA team which becomes the second newcoming thousand years later), while the starboard crashlanded on this current realm as big as this universe size, & flat world. Both of them and families survived, but also trauma, no longer want to nomad. Only hope one day 2 meet again.
        Indeed, both parties have appropriate straight marriages. But everytime, all offsprings are female, and so they hunt males again.
        about 800 years later, both got their first ever boy. And so now they do is to find each other. Alas again, dimension GPS is still very difficult to build! Areluids are now forever stuck within their own world, and Dasandimians where Rumanods live, can't even find the realm.
        The technology was not finished until this 2031, thanks to Sky's (yes, Last Funkin Moment FNF, the IONIQ Sky) research that have been perfected. Btw, Sky previously wanted to meet her parents again and make it this prototype. White dimension duar Sky FNF taken down, Perkedel moderators resuced her, Wakturia archive appartment, Sky say goodbye to mods go back to appartment, bla bla bla bla, Sky FNF is up again, now Sky is safe yea yea yeah. After Sky, Latsufir, etc. resigned for Wakturia for safety reason, you know, FNF becomes too toxic with unmoderated kids, basically it...., uh.., these 2 worked from home. Aaand, invented interdimensional logistics system. One of the technology that had been invented that time was that Dimensional GPS to index realms available for delivery, which turns out useful in this Series.
        Later in season 4 finale (actually title no longer called Sediron), Duron Sediron (of Rumanod) saved Areluid kingdom. Duron is husband of Chalar Gupadi (of Areluid). Finally, Areluid successfully married Rumanod without LGBT.
        later again, because the kamatussa that wants to force breed defeated, they melt and die turn to acid. Mindy turns out are product of that guy, so first mom melt, followed by Mindy. Pastor heart broken. evac place. when escorted, Pastor force get off and jump. try resurrect, failed. go to hell. Paradise closed down.
        later, speech, spread yourself to different realms. if it's empty, take it. Rubber Glinda was one of them, which then founded Latex world.
        later later, the first Rumanod finally met the first Areluid once again after eons separated. then get to introduced with Duron & Chalar. They are married, so, dream comes true. now Areluid & Rumanod can rest well, forever. No, not died. idk. First Areluid & Rumanod for final time to do ceremonial 😏😏😏😏😏 as a celebration. Duron & Chalar surprised, but then followed in to 😏😏😏😏😏😏😏😏 because it's over, happy ending.
        Areluid & Rumanod then disintegrate into stars. Oh no they die? the first offspring Areluid came in reassembled from star into the scene. No, they don't die. Just turn into star, here I can do this too. demonstrate, reassemble, see? That's Areluid first power!
        Oh..
        Areluid & Rumanod becomes star particle, now wraps entire realm, accompanying whole people in it, and also beyond the realms.
        Combined. into Arenod.
        -->
    <h2>E10: Ban</h2>
        <!-- Harrasser began to rise near the end of 2024. Ban them. Boss battle, almost battle, canceled because one helper throw the boss instantly to Judgement. Minions afraid & left scene -->
</CoreHomestuck>

<!-- 
    Company *`secret`* Notes! Non-confidential, toxicity trigger possible

    Personal hints. Inspired on tumblr & twitter users blocked Kaorfa & lost
    - Obsesser, retro. begged Robert cardiophile to be drawn. unknown why did Kaorfa got blocked all the sudden
    - Depmon the fox, laila. link to S1E4!
    - Reporster, nerplex. laila's friend
    - Tirta the slime girl, laila
    - Darktoner tachycardia, tenebris
    - Designer, cvalbrown FNF modding
    - ???, Callaghan super visible heartbeat forgot name
    - ???, snowheartsz

    brightenight inspire may not here, unblocked, I think he was hacked, all resolved. Although since he had bad behaviour long-long-long time ago and hated by many, maybe add?
    including annoying ones??
    
    Annoying people Kaorfa remembers:
    - Alasdair Gardineer. wishes to hear my heartbeat everyday back before, when I felt not good to do that.
    - Billy Husada. a Binusian, talked too much info
    - Ray Natan. a stranger in my high school. offered me too weird stuffs & kept doing it.

    maybe also add few still good friends as inspiration? not just cardiophile, every rabbit hole Kaorfa had ever in!

    Episode 4 is death number, pls do topics accordingly per season
    s1 = Background. Sediron during his very young school had gf. He screwed up. gf report gfdad. Sediron beg to be forgiven but gfdad forever permanent hate him for "hurting gf". Sediron ran away, Sdad caught him. gfdad throw stone his sdad's back head, but stand up again ran back home. heart broken in school. gfdad move away from crossban (that's the school name). Principal is also Counselor, Dr. Nabilla. call Sediron fam dad (Hamlet) & son (Baser). say you hurted bla bla bla. that's exageration. Dr. cannot do anything to prevent further trouble. Teacher Farogtel idea to bring kids to amusement park for relaxation, and good news tomorrow is saturday and good time for that. when Baser sat, a shapeshifting girl convinved by her friend to sit next to him, and then flirt (in ID it's `nembak`).
    s2 = Block reason. people has been blocked and cannot access anything. make it so atleast it's accessible & reblogable like nothing happened, except social communication of course.
    s3 = Harm. after days Baser Sediron abandoned, a Harrasser barged into the Sediron office and sliced everything. Fortunately, the server underneath is protected with strongest glass. Police arrived so the Harrasser had to flee. The PR woman (Pink Fox girl Depmon) remerge herself then remerge everything, call help. Restore one guy checking data integrity, and also the PC. session restored too 

    First episode is the season title
    1. Dawn. beginning and usual life of social media
    2. Contribution. durin Homestuck era
    3. Downfall. accusation and close down.

    Random ideas:
    - S2. Exclusive post to. Post that can only be seen by 1 channel. So far, only law enforcements are approved to be eligible for exclusive post. User can upload with privacy set to exclusive and set category to law enforcements. Useful to upload information that leads to arrest of the Harrassers.

    pls use jazz epic drum track for the theme song
    https://youtu.be/MM87r7GjzW8?si=mqxHmxNZSDxUIRnf
    Creo - Flow

    Do not forget Standard Rasputin Disclaimer! `This work is fictious & such event names bla bla bla are purely coincidental`. Remember how MGM leeway'd their egregious idk derogation forgot? Both resolved this way. here sauce. https://youtu.be/P3fXDHm0m8A?si=AMpdjgpop3Nel4Mo
    no! wrong!!! where's the file?
    https://youtu.be/bVcibhlOKyE?si=xfC7tZzD1-ywqQGg There you are! This Cheddar's video `Why All Films Have This Disclaimer` in 2020.
    Yeah that's for another story, but you got the idea.

    now what to do with Sediron after these all taken down after 2030? As Sediron now is in ASTR, the workers salvaged technologies in Sediron and able to repack individual utilities into 32 packages. Sediron want to give it to Crossban. ASTR wants to upload all for everyone to use, and then what maintainer? Crossban? Sediron leave to his bedroom meaning agree. Okay Crossban got the win then. Upload for all, Crossban Social & Communication IT Faculty maintains it.
    In total, Sediron has been recycled as a Fediverse compatible blogspot. Crossban uses this for announcement purpose. Students will be followed to each faculty & generation channel that follows their class & semester evolution, as well as general Crossban school news channel. The Group chat feature in a channel is added with subsections per something like subjects or fun sections. The block feature & others can be removed in the instance configuration. Crossban removed block channel. Troubled student can also be suspended temporarily or expelled registration wide permanently. Crossban disallowed student to create post or bring reblog to here. But anyone can reblog from Crossban to other Fediverse. This is the feature used in Marketing department to e.g. sharing registration availability announcement across many social media, especially those with Fediverse enabled ones.

    E8 on S1 is Banning harrassers

    Bonus Note:
    after Pastor John Halim found had thrown brick at someone, Dasandim banned him permanently. He moved anyways, to the worst planet Dr. Hymatt, Zumi, & Roig originally born at. There he established megachurch. He felt successful like, God did the promise. Aaand.. the Megachurch is about only Good news, never the truth. All the Sunday Church are all only overprepared shows praising Gods, few minutes sermon which also only Good news. Never all the negatives especially the Revelation era (Raptures and alike). Yes, all atheist "repent", but that's only because of these sugarcoated candies!!
    But hey, atleast eventually the entire city turned from slum to paradise, right? (it's sex paradise) RIGHT???
    God will win you the casino, like wtf, let's not hear this anymore.

    Bonus again:
    every Dasandimian saucer has spy chips for company logging purpose. the driver in Dummy Test Guy & Damefo episode forgot about that.

    Bonus bonus:
    Areluid & Rumanod after all these happy ending learnt how to fuse together like Steven Universe. With Areluid's power copied to Rumanod, they accidentally fused themselves into 1, like gems in Steven Universe, when they're one day to solidify from star dust form. Tumblroid! Eventually, Arenods have perfected the technique and now it's the latest common practice.
 -->