---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import CorePage from '@compnents/Page/__CorePage.astro';
import BeginningOfNSFW from '@components/Elements/SparePart/ListCells/BeginningOfNSFW.astro';
import StatCard from '@components/Elements/SparePart/StatCard.astro';
import CoreHomestuck from './__base/CoreHomestuck.astro';

const filename:String = 'Sediron1'
const isNSFW:boolean = false;
const addHeaderTitle:String = 'Sediron Season 1';
const addMetaTitle:String = 'Testp';
const addKeywords:String = 'Sediron, social media, drama, toxicity, expose,';
const addDescriptions:String = '';
const skipHeader:boolean = false;
const skipNav:boolean = false;
const skipFooter:boolean = false;
const disableOverwhelmStatement:boolean = true;
const endSay:String = 'End';
const author:String = 'JOELwindows7';
const company:String = 'Perkedel Technologies';
const licenseSay:String = 'CC4.0-BY-SA';
const companyImgSrc:String = '/Perkedel_Icon.png';
const licenseImgSrc:String = '';
const licenseUrl:String = '';

const{
    nsfw = false,} = Astro.props;
---
<CoreHomestuck
    nsfw={nsfw} isNSFW={isNSFW}
    addKeywords={addKeywords}
    addDescriptions={addDescriptions}
    addHeaderTitle={addHeaderTitle}
    addMetaTitle={addMetaTitle}
    author={author}
    disableOverwhelmStatement={disableOverwhelmStatement}
    skipHeader={skipHeader}
    skipNav={skipNav}
    skipFooter={skipFooter}
    filename={filename}
    endSay={endSay}
    company={company}
    companyImgSrc={companyImgSrc}
    licenseSay={licenseSay}
    licenseImgSrc={licenseImgSrc}
>
    <!-- <p class='HS JOELwindows7'>Testing, testing!</p>
    <p class='HS JOELwindows7'>Is this working?</p> -->
    <h2>Introduction</h2>
        <p>Sediron is a fictional social media exist here in Perkedel Cinematic Universe. Founded in Dasandim in 2009 by Baser Sediron & families. It is here to provide not just a communication, but also amazing creativity, where imagination is the only limit. It's to gather all Dasandimian as well as intergalactic beings to tell stories & share great events.</p>
        <p>In this season, Sediron had just launched anew. Everyone are very excited, not just the employee, that now the new era of sharing information had just begun. You will learn the life here at Sediron, from how was it built, to its daily life usages. As well as some funny stuffs, to its convtrovercies later down the road.</p>
    

    <h2>E1: Dawn</h2>
        <p class='HS Info'>Camera off</p>
        <p class='HS BaserSediron'>Alright. 1 2 3 Sediron company and service launching?</p>
        <p class='HS Info'>Camera ON</p>
        <p class='HS AudioInfo'>confettis launched</p>


    <h2>E2: Baser</h2>

    <h2>E3: ???</h2>

    <h2>E4: Background</h2>
    <!-- 
        read below. also
        the bench chair finally breaks, bum hurt
        tomorrow is expo day 1. day 2 is interview
     -->


</CoreHomestuck>

<!-- 
    Company *`secret`* Notes! Non-confidential, toxicity trigger possible

    Personal hints. Inspired on tumblr & twitter users blocked Kaorfa & lost
    - Obsesser, retro. begged Robert cardiophile to be drawn. unknown why did Kaorfa got blocked all the sudden
    - Depmon the fox, laila. link to S1E4!
    - Reporster, nerplex. laila's friend
    - Tirta the slime girl, laila
    - Darktoner tachycardia, tenebris
    - Designer, cvalbrown FNF modding
    - ???, Callaghan super visible heartbeat forgot name
    - ???, snowheartsz

    brightenight inspire may not here, unblocked, I think he was hacked, all resolved. Although since he had bad behaviour long-long-long time ago and hated by many, maybe add?
    including annoying ones??
    
    Annoying people Kaorfa remembers:
    - Alasdair Gardineer. wishes to hear my heartbeat everyday back before, when I felt not good to do that.
    - Billy Husada. a Binusian, talked too much info
    - Ray Natan. a stranger in my high school. offered me too weird stuffs & kept doing it.

    maybe also add few still good friends as inspiration? not just cardiophile, every rabbit hole Kaorfa had ever in!

    Episode 4 is death number, pls do topics accordingly per season
    s1 = Background. Sediron during his very young school had gf. He screwed up. gf report gfdad. Sediron beg to be forgiven but gfdad forever permanent hate him for "hurting gf". Sediron ran away, Sdad caught him. gfdad throw stone his sdad's back head, but stand up again ran back home. heart broken in school. gfdad move away from crossban (that's the school name). Principal is also Counselor, Dr. Nabilla. call Sediron fam dad (Hamlet) & son (Baser). say you hurted bla bla bla. that's exageration. Dr. cannot do anything to prevent further trouble. Teacher Farogtel idea to bring kids to amusement park for relaxation, and good news tomorrow is saturday and good time for that. when Baser sat, a shapeshifting girl convinved by her friend to sit next to him, and then flirt (in ID it's `nembak`).
    s2 = Block reason. people has been blocked and cannot access anything. make it so atleast it's accessible & reblogable like nothing happened, except social communication of course.
    s3 = Harm. after days Baser Sediron abandoned, a Harrasser barged into the Sediron office and sliced everything. Fortunately, the server underneath is protected with strongest glass. Police arrived so the Harrasser had to flee. The PR woman (Pink Fox girl Depmon) remerge herself then remerge everything, call help. 
 -->