---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
// import CorePage from '@compnents/Page/__CorePage.astro';
import BeginningOfNSFW from '@components/Elements/SparePart/ListCells/BeginningOfNSFW.astro';
import StatCard from '@components/Elements/SparePart/StatCard.astro';
import CoreHomestuck from './__base/CoreHomestuck.astro';

const filename:string = 'Sediron2'
const isNSFW:boolean = false;
const addHeaderTitle:string = 'Sediron Season 2';
const addMetaTitle:string = 'Sediron S2';
const addKeywords:string = 'Sediron, social media, drama, toxicity, expose,';
const addDescriptions:string = 'The Contribution';
const skipHeader:boolean = false;
const skipNav:boolean = false;
const skipFooter:boolean = false;
const disableOverwhelmStatement:boolean = true;
const endSay:string = 'End';
const author:string = 'JOELwindows7';
const company:string = 'Perkedel Technologies';
const licenseSay:string = 'CC4.0-BY-SA';
const companyImgSrc:string = '/Perkedel_Icon.png';
const licenseImgSrc:string = '';
const licenseUrl:string = '';
const isWIP:boolean = true;

const{
    nsfw = false,} = Astro.props;
---
<CoreHomestuck
    nsfw={nsfw} isNSFW={isNSFW}
    addKeywords={addKeywords}
    addDescriptions={addDescriptions}
    addHeaderTitle={addHeaderTitle}
    addMetaTitle={addMetaTitle}
    author={author}
    disableOverwhelmStatement={disableOverwhelmStatement}
    skipHeader={skipHeader}
    skipNav={skipNav}
    skipFooter={skipFooter}
    filename={filename}
    endSay={endSay}
    company={company}
    companyImgSrc={companyImgSrc}
    licenseSay={licenseSay}
    licenseImgSrc={licenseImgSrc}
    isWIP={isWIP}
>
    <h2>Introduction</h2>
        <p>Sediron is a fictional social media exist here in Perkedel Cinematic Universe. Founded in Dasandim in 2009 by Baser Sediron & families. It is here to provide not just a communication, but also amazing creativity, where imagination is the only limit. It's to gather all Dasandimian as well as intergalactic beings to tell stories & share great events.</p>
        <p>In this season, The Harrassers are at their rise. Countless becomes their victim, and many did not survive and have to lost everything they love and used to adore. In Sediron's side, they are helping newly launched initiative, Dasandim Interpol, among others, to catch the criminals. People there uses Sediron to pinpoint & track each and every one of the Harrasser that leads to their arrests. Alongside, alot of improvements have been made with Sediron social media to help curb unwanted dramas and caters towards lifelihood wellbeings.</p>
    
    <!-- 2025 -->
    <h2>E1: Contribution</h2>
    <h2>E2: ...</h2>
    <h2>E3: ...</h2>
    <h2>E4: Reasons</h2>
        <!-- Blocked. rescue this kid from *going off the rail* near his appartment -->
        <h3>Boring day. Sediron central workspace</h3>
            <p class='HS Info'><b class="warning">WARNING: SUICIDE CONTENT!</b>. Camera fade in. It is a new day again. Moderators are all here, and it's working hour already. Along with Baser & Nylar, they are scrolling through posts, react, & moderated all those. However, this time, is actually not a boring day. Ravesh, one of the moderators worked scrolling-reacting-moderating encountered beautiful posts today & would like to share those to Baser. Except one of them is really fishy.</p>
            <p class='HS RaveshDumam'>(look PC) Hey boss, you should react to this one right here. (share to Baser)</p>
            <p class='HS BaserSediron'>(receive)?, (click notification), (examine)...</p>
            <p class='HS Info'>A funny cat fail</p>
            <p class='HS BaserSediron'>(medium size laugh) Ahahahaha..., (like), (reblog), (post)!</p>
            <p class='HS RaveshDumam'>(continue scrolling while just press like to those)......................., (found another beautiful post about view of a lake in Dasandim) Wooow.. (share to Baser) Hey this out.</p>
            <p class='HS BaserSediron'>(received & click open)!, (look)....</p>
            <p class='HS RaveshDumam'>Ever you see the greatest photograph here in Sediron before? I mean, mostly it's usually comes from Photographer, but... <code>JonoDearuf</code>... never hear such name in photography world</p>
            <p class='HS BaserSediron'>Well just so you know (press like but not yet reblog, felt suspicious, strong bad feeling, Sediron spiderman-like sense tingle).., Hidden talents lies outwhere across galaxies. You'll find ones like this out of nowhere.</p>
            <p class='HS RaveshDumam'>Oh.. yess that's right!.</p>
            <p class='HS BaserSediron'>(curious) Okay, (look for location in the post)...</p>
            <p class='HS RaveshDumam'>(noticed writing in this post) And a good haiku writer.., <code>A good view, life's never been so catering, to humanity.</code>, so cryptic..</p>
            <p class='HS BaserSediron'>When it was posted, and what location?.</p>
            <p class='HS RaveshDumam'>(look) uh.., (found) Just a few minutes ago, ..., and it was taken in Isolatip's downward appartment.</p>
            <p class='HS Info'>The Isolatip's downward appartment has this concrete slabs of balcon just across the roadway. Many visitors come to make some cool photo moments with this lake background, and other romantic stuffs. Although, people must be careful, because the balcon while lining up as the road in height, is very high down there, with rocks to hold the land in place.</p>
            <p class='HS BaserSediron'>(that's a edge view to that lake, I think he's going to do bad thing!)?!?!? (stand up)!!, kids, get me the car. (immediately go to that balcon, and attempt save the kid)</p>
            <p class='HS Altresh'>Yes, sir (go to garage & prep his IONIQ 5)!!...</p>
            <p class='HS RaveshDumam'>Whoah, what's happening?</p>
            <p class='HS BaserSediron'>Get in the car, now. (continue going)</p>
            <p class='HS RaveshDumam'>(confused).. Okay, sir.. (just follow)</p>
        <h3>Suspicious in-location. Isolatip Apartment Complex. The Balcon</h3>
            <p class='HS Info'><b class="warning">WARNING: SUICIDE CONTENT!</b>. The car has been arrived just right at the entry, from the left of your screen. View the balcon to the Appartment instead of the lake. In Dasandim, the steer is on starboard (right handed driving). The road in Isolatip appartment is typically lonely as people used the highway around. And it is only Sediron's IONIQ 5, not to register to live, but for Jono.</p>
            <p class='HS RaveshDumam'>(saw Jono) Whoa, is that Jono?</p>
            <p class='HS BaserSediron'>(brake) Alright, (detach seatbelt) stay here and watch. (press P on the shifter column on the starboard behind the steer underneath starboard / outer which is light control), (pull handbrake switch on the starboard extra panel by the door), (open door), (close)!!, (rush towards Jono)!.....</p>
            <p class='HS Info'>the car rings as the key is absent in the car. There is a bench facing towards the lake you can deploy anytime at no cost, designed to let you sit and enjoy the view. Jono is sitting on the starboard / right.</p>
            <p class='HS BaserSediron'>(slow down and be silent as possible 5 meters approaching)..........., Uh.. hey.</p>
            <p class='HS JonoDearuf'>(off from the head, focus back to reality) huh?.. uh..</p>
            <p class='HS BaserSediron'>(point ask the port side) Is this empty?</p>
            <p class='HS JonoDearuf'>Uhh yeah..</p>
            <p class='HS BaserSediron'>(change finger config to <code>offer</code>) May I sit here?</p>
            <p class='HS JonoDearuf'>Uh-sure.</p>
            <p class='HS BaserSediron'>Thank you (immediately sit on the port side) eeegh, (sat) AAhhhh...... hoof.. Man, work is tiring. But you know it's very important to do for the people.</p>
            <p class='HS JonoDearuf'>Yeah.</p>
            <p class='HS BaserSediron'>........ I agree. .., This view.. is very beautiful. Wow, especially.. the sunset. Mmmh!</p>
            <p class='HS JonoDearuf'>Of course.., the sunset.</p>
            <p class='HS BaserSediron'>Well... you come here often?</p>
            <p class='HS JonoDearuf'>Well, I live here.</p>
            <p class='HS BaserSediron'>(impressed) Oooh! wow.., okay....</p>
            <p class='HS JonoDearuf'>Only.. yeah... the rule of Dasandim, that's why I often go here.</p>
            <p class='HS Info'>Rules for house & appartments in Dasandim. Houses can only have maximum 3 floors going up. But infinity going down. This is to prevent resident from jumping from the heights to <i>easily solve troubles</i>. This is why the appartments here are ground scrapping instead of skyscrapping. The height you see here are only marketing office & other small offices, and few sports centers</p>
            <p class='HS BaserSediron'>I see.. I see. ... What suite?</p>
            <p class='HS JonoDearuf'>Most bottom ones (a.k.a. Penthouse)</p>
            <p class='HS BaserSediron'>Uwidih..!..... ... ... You're very lucky I would say.</p>
            <p class='HS JonoDearuf'>Yeah.. thanks..</p>
            <p class='HS BaserSediron'>Honestly.. I feel impolite for asking deep to your personal.., but what's your parent's job?</p>
            <p class='HS JonoDearuf'>They serve our government. Council in Crossban school.</p>
            <p class='HS BaserSediron'>Oh wow. So..</p>
            <p class='HS JonoDearuf'>Yeah, school in Crossban. 5th grader.</p>
            <p class='HS BaserSediron'>Oh.. same!.., I used to be there. And.. Oh boy, took me effort to graduate, but.. worth it.-..</p>
            <p class='HS JonoDearuf'>(episode, all your friends hates you forever & ever).... ugh...</p>
            <p class='HS BaserSediron'>(back to topic, notice this sad back again) Oh.. what's wrong?</p>
            <p class='HS JonoDearuf'>(ashamed embarrassed to tell)..., nothing.</p>
            <p class='HS BaserSediron'>Okay.. (disagree to not budge it off from jump).. .. .. Well, you know, hidden talents are everywhere, but they're pretty hard as the numbers are shrinking these days. I understand and also heart-broken that.... uh.. simply because either not their appeal, or something would trigger ones in bad way in their opinion...., you know. But I'm lucky to have you. .. What is that? <code>A good view, life's never been so catering, to humanity.</code>.</p>
            <p class='HS JonoDearuf'>(found that this man read his post despite few notes all from Sediron employees (and later 1 day both parents), impressed as there's still someone care in the midst of none)?!!?...</p>
            <p class='HS BaserSediron'>Fascinating. That reminds me, life's... these days, on this reality, ... you know..</p>
            <p class='HS JonoDearuf'>How did you found my post? ... Who are you?</p>
            <p class='HS BaserSediron'>Oh! sorry, I forgot to tell you. Hi (offer greet), my name is Baser Sediron, and I am the CEO of.. you guessed it.</p>
            <p class='HS JonoDearuf'>(realized, that adult is Mr. Sediron behind the Sediron social media) wait!.... (accept flabbergasted impressedly) n.. nice to meet you... wow.... ... Jono. ... Jono Dearuf.</p>
            <p class='HS BaserSediron'>Jono! ... Is that right?</p>
            <p class='HS Info'>To this hour, Jono never look back to see if the IONIQ 5 was sitting there, turned on, parking gear, for whole 30 minutes. Also the car pedestrian warning speaker is too quiet after 20 meters away. Baser & Jono in this balcon is 30 meters away. Basically it's just like a stealth metallic cloud.</p>
            <p class='HS JonoDearuf'>(back to look lake) Yes.. .., what are you doing here?</p>
            <p class='HS BaserSediron'>Uhh.. Just a bad feeling. I thought I could accompany you a while..</p>
            <p class='HS JonoDearuf'>(he is care!).... uh... Can you do something against them?</p>
            <p class='HS BaserSediron'>Yes? What is it?</p>
            <p class='HS JonoDearuf'>Ban them... You know.. (the haters in his class) You knooow.</p>
            <p class='HS BaserSediron'>Well... I apologize, but.. I cannot do something against them without reasons related to severely bad doing against people.</p>
            <p class='HS BaserSediron'>(quickly snatch that note)!!!, (fibonacci tear it, tear) On second thought, (collect & tear again), I think I can. (collect and tear), But to do this I need to know. (collect & tear, pretty hard)!!, (collect) If I may, .... What happening out there?, (tear one last time hardest) Ugh!... (put the pieces in middle in between).. Yeah.</p>
            <p class='HS JonoDearuf'>I.... uh...</p>
        <h3>(Flashback Start) Scientific lab experiment. Chemical Lab 5005, Crossban School. 2 weeks ago.</h3>
            <p class='HS Info'>The class are going to do an experiment of <b>acetic volcano</b>. It is a replica of volcano, in which the baking soda in it are going to be poured with an acid that triggers foamy expansion reaction. Students will assemble the right amount of the ingredient, to be executed inside the mouth of this provided volcano mountain replica. Latezer was the chemical teacher on duty that day. The class is noisy, everyone except Jono are not paying attention and instead chatting unecessary stuffs</p>
            <p class='HS LatezerRoham'>Okay class, 2 hours to do this job. Despite this all grouped, grades are individual, (show phone with the evaluation document open) through this paper. Edit and fill those up, and it had to be sent back to me, before the break time begins, understand?</p>
            <p class='HS Everyone'>Yes sir!</p>
            <p class='HS RahatNolim'>Uh, sir, I think I want to go to toilet.</p>
            <p class='HS LatezerRoham'>(infuriated again) Ugh... toilet again, <b>TOILET again!..</b>.., you class had no boredom getting away from all the class all you want?!</p>
            <p class='HS Everyone'>Me too sir mee too sir</p>
            <p class='HS Info'>All students except Jono intentionally go to toilet to get away with education. Unfortunately, these sets of students happens to be notorious for having huge excuses, and this one, they actually wanted to play games online.</p>
            <p class='HS LatezerRoham'>UGH, whatever, remember you got 2 hours in here. Best you could do it in 1 and a half. (starboard hand pinch nose bridge in frustration gesture) Ughh.................</p>
            <p class='HS Info'>And now again & again, the class is desolate as desert.</p>
            <p class='HS LatezerRoham'>......... (look forward again), (notice only Jono's here now) Jono? don't want to follow them?</p>
            <p class='HS JonoDearuf'>Uh-no sir. I just had it before we start. Uh.. yeah, I just don't like interuption.</p>
            <p class='HS LatezerRoham'>(loud) AAh, there you go! Guys, follow this example (but the class is desert, awkward, volume back to default 100%)... (frustrated) Heough....</p>
            <p class='HS JonoDearuf'>(Internal panik, nobody's here, how do I supposed to build it?!)...</p>
            <p class='HS LatezerRoham'>Hey, instruction in the paper. Afterall all you do is make it work, and write conclusion here as scientific as possible. You can also reference some books we have in the library with you (i.e. Yes Phone allowed to search information), don't you forget that. Also... internet reference is okay.</p>
            <p class='HS JonoDearuf'>Oh really (relook at PDF file again)??</p>
        <h3>One hour and 40 minutes later</h3>
            <p class='HS Info'>Jono already done both the practice (volcano) & the theory (paper). As well as submitted the 1st commit of the paper. Everyone has returned from their hours of flee away gaming.</p>
            <p class='HS Everyone'>aaah, yeah....</p>
            <p class='HS JonoDearuf'>(look everyone returned)...</p>
            <p class='HS LatezerRoham'>You're late! .., you should've never, and just do it before we even start like Jono. Anyway, I hope you figured out fast in this 20 minutes left here. Jono?</p>
            <p class='HS JonoDearuf'>Yes sir!, (pour the vinegar to the volcano already with baking soda)....</p>
            <p class='HS AudioInfo'>Much foaming out!!!!</p>
            <p class='HS LatezerRoham'>(So much foam came out)... Impressive. And.. commit already, left you guys.</p>
            <p class='HS DryckWetticon'>(upset one that nuisance did all things alone, look Jono angry-internally)!?!??!?</p>
            <p class='HS LatezerRoham'>(So much foam came out)... Impressive. And.. (submission from Jono's group found) commit already, left you guys.</p>
            <p class='HS Info'>Jono already done both the practice (volcano) & the theory (paper). As well as submitted the 1st commit of the paper. Everyone has returned from their hours of flee away gaming.</p>
            <!-- I lead this and you do not command me. all block. surprisingly all his friend betray Jono too out of nowhere. -->
        <h3>(Flashback end)</h3>














    <h2>E5: Contract</h2>
        <!-- Sediron received contract from Interpol & accepted it. Introduce to the place and each other the technologies where it can be used to trackdown criminals. Oh, and there are Homestuck characters here too. -->
    <h2>E6: Outsource</h2>
        <!-- Start finding this criminal. -->
    <h2>E7: Strike</h2>
        <!-- Criminal found. go strike. it was in a Prostitution place on that Hymatt & Zumi OG planet. He is the worker of this prostitution place. girls sourced locally, but did once import long time ago/ -->
    <h2>E8: Success</h2>
        <!-- Harrasser final boss to help homestuck strike -->
</CoreHomestuck>