---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
// import CorePage from '@compnents/Page/__CorePage.astro';
import BeginningOfNSFW from '@components/Elements/SparePart/ListCells/BeginningOfNSFW.astro';
import StatCard from '@components/Elements/SparePart/StatCard.astro';
import CoreHomestuck from './__base/CoreHomestuck.astro';

const filename:string = 'Sediron4'
const isNSFW:boolean = false;
const addHeaderTitle:string = 'ARENOD, THE MOVIE (Sediron Season 4 FINALE)';
const addMetaTitle:string = 'Sediron S3';
const addKeywords:string = 'Sediron, social media, drama, toxicity, expose,';
const addDescriptions:string = 'The Kingdom';
const skipHeader:boolean = false;
const skipNav:boolean = false;
const skipFooter:boolean = false;
const disableOverwhelmStatement:boolean = true;
const endSay:string = 'End';
const author:string = 'JOELwindows7';
const company:string = 'Perkedel Technologies';
const licenseSay:string = 'CC4.0-BY-SA';
const companyImgSrc:string = '/Perkedel_Icon.png';
const licenseImgSrc:string = '';
const licenseUrl:string = '';
const isWIP:boolean = true;

const{
    nsfw = false,} = Astro.props;
---
<CoreHomestuck
    nsfw={nsfw} isNSFW={isNSFW}
    addKeywords={addKeywords}
    addDescriptions={addDescriptions}
    addHeaderTitle={addHeaderTitle}
    addMetaTitle={addMetaTitle}
    author={author}
    disableOverwhelmStatement={disableOverwhelmStatement}
    skipHeader={skipHeader}
    skipNav={skipNav}
    skipFooter={skipFooter}
    filename={filename}
    endSay={endSay}
    company={company}
    companyImgSrc={companyImgSrc}
    licenseSay={licenseSay}
    licenseImgSrc={licenseImgSrc}
    isWIP={isWIP}
>
    <h2>Introduction</h2>
        <p>After couple months being living in Perkedel internal realm doing mundane works in ASTR, Sediron seeks redemption. Or more like, something that makes him glorious, since he had too less crime, only accusations.</p>
        <p>And then suddenly, he finally got what he wished for. Does it run well though?</p>
    
    <h2>Boredom. ASTR Work complex. Perkedel Internal Realm. 2031</h2>
    <!-- 2031 -->
        <p class='HS Info'>Baser arrived again in this office prepared & suited up, to work again. Again, he's still working on support, where he do simple helps & delegating workers to help when got asked to. Still there is nothing interesting in ASTR, and all is feels like desert silence. In this workspace, the only partition is per worker desk. The room is very wide and contains over thousands of desks spans across acres, yet, only Baser & Aad sits here. Camera OFF, then fade in slowly as Baser walks. btw, don't worry, Perkedel Internal Realm ammenities are gratis for employees in this universe. Also for the real life atm, we don't have enough power yet 😜 sorry.</p>
        <p class='HS BaserSediron'>(walk to his desk far of in about corner far opposite to the door he in from)... ... ... ... ..., (greet boringly & depressedly) Morning..., (continue walk)</p>
        <p class='HS Aad'>(look Baser) Morning, sir! (continue staring)</p>
        <p class='HS BaserSediron'>(yes still walking 50 cm left)... ... ... ... ..., (slide out chair), (sit), (snuck in), (turn on Monitor), (stare).... </p>
    <h2>Outside of the office</h2>
        <p class='HS Info'>It is null silent! No wind, only air sitting on each other. B roll camera static around the area and the building.</p>
    <h2>Center Park</h2>
        <p class='HS Info'>Perkedel provides internal park for leisures & relaxation of the employees in this universe. somewhere, there are alot of statues to tribute great events, and also tragic events. The ground are designed so wide area of green grass are exposed, and trees must not cover majority of the area. If they had to, then it means it's a dedicated tree spots for limited area (Small Forest spot), like statues occupying slots. Duron & Chalar are currently relaxing near a Hyundai IONIQ 5 lifesize replica marble statue. Chalar leans closer to the car, making her in between Duron and the car. Duron & Chalar are close each other. They lean by the starboard (right, steering wheel) side, about 50 cm away. Their head points as the back of the car, so the feet goes to car front. The car inside has detail, although not complete, with steering wheel on the starboard (right) just like in Dasandim (& right steered countries) config.</p>
        <p class='HS DuronSediron'>(almost asleep).....</p>
        <p class='HS ChalarGupadi'>(noticed the Hyundai IONIQ 5 but it's stone) Duron. (tap right shoulder), hey!..</p>
        <p class='HS DuronSediron'>(sleep streak meter broken, look Chalar) huh, yeah?</p>
        <p class='HS ChalarGupadi'>Is that looks just like our car? Why did somebody turn it into a stone?</p>
        <p class='HS DuronSediron'>(look car stoned) Huh, idk. Maybe Kaorfa likes it, so.. I think he make the replica? lol??</p>
        <p class='HS ChalarGupadi'><b>Ah ha ha ha ha ha!!</b></p>
        <p class='HS Arn'>Well, (async) you see, </p>
        <p class='HS DuronSediron'>(async) (surprised a moderator is here on starboard away again from duron, look Arn)</p>
        <p class='HS ChalarGupadi'>(async) (surprised a moderator is here on starboard away again from duron, look Arn) huh?</p>
        <p class='HS Arn'>Every statues we have here are for tributes.</p>
        <p class='HS DuronSediron'>Oh, okay..</p>
        <p class='HS Arn'>(look the car stone) This (offer point to the car) one right here.., is a good memory, despite all the struggles. We..., saved a young lady.</p>
        <p class='HS ChalarGupadi'>Oh cool! Who is she?</p>
        <p class='HS Arn'><b>Sky</b>.</p>
        <p class='HS Info'>both Duron & Chalar impressed & interested. For your information, it was during Last Funkin Moments. Sky was one of the survivor from a destroyed dimension when she was looking for her parent. She joined Wakturia, for only then had to resign (voluntarily say yes to that offer announcement day, together with Latsufir & others) due to unsupporting social condition at that time (which to this day still not safe anymore).</p>
        <p class='HS ChalarGupadi'>(async) OOOoo.. . Tell me more about it!</p>
        <p class='HS DuronSediron'>(async) OOOoo.. .</p>
        <p class='HS Arn'>Yeah. She was looking for her parent. Since baby, she must be separated, because an evil religion extremist forced them all citizens who are demons to eat their baby. And then, her parents made replica out of her, record video eating it, send to that extremist. It works, and fooled him, forever. Never know that it was a fool, as he was eliminated by Sky herself during the gambit siege. Yadi yada, now... they live in a dimension Latsufir's dad bought out of winning bid years back, along with whole families, inventing new stuffs.</p>
        <p class='HS DuronSediron'>Woow... Oh I like stuffs. But what is this statue to do?</p>
        <p class='HS Arn'>Well, the.. I'm sorry if this sounds like a... shameless promo, Sky likes to drive the car. Aaand.. This is the car. She drives it everyday. Where she goes, with her husband, it's this. I mean.., your planet, endorses it, it's everywhere there now. Idk why.. It's just..... iconic.</p>
        <p class='HS ChalarGupadi'>Interesting........</p>
        <p class='HS DuronSediron'>Hey. Do you aware if there's more realms I could help out with?</p>
        <p class='HS Arn'>Hmmmm, this is pretty difficult apparently. With Harrassers have conquered, more than they lost, I think I should say.... leave it to be. Unless..</p>
        <p class='HS ChalarGupadi'>🤨....</p>
        <p class='HS Arn'>There is one. ... One that I... Have interest to.</p>
        <p class='HS ChalarGupadi'>What is that?</p>
        <p class='HS Arn'>No idea how, why, when..., But... this realm, everytime we randomly query this, it had an emanating signal..., like.. umami if... tasted with heart....</p>
        <p class='HS DuronSediron'>Okay, what's so special with that one?</p>
        <p class='HS Arn'>Well, ever since you were here, our querying feels.. different. In every touch, of this dimension.., that is the one <b>ALWAYS</b> ....., emits this never felt before aura. It's that one.</p>
        <p class='HS ChalarGupadi'>Name?</p>
        <p class='HS Arn'>People out there call this <i class='info'><b>Areluid</b></i>. Well because, the first settler was named Areluid, hence and forth it's just <i>Areluid</i>. It's <code>she</code>... and, They (people of there) have been there 2000 years ago, and they've got greatly sophisticated civilization.</p>
        <p class='HS DuronSediron'>Okay. Then what's something wrong?</p>
        <p class='HS Arn'>Right. There was a war. long year war, since year about 1500 AD something. A Colonizer tried to take over that place. From sieges, battles, and finally, stuck settled with divisions.</p>
        <p class='HS DuronSediron'>(same old war is boring) Ugh..... Boring!..., (expecting something that could restore reputations somehow) If only something that we could make it right!!, or just have me the <b>{nsfw?`shit`:`8888`}</b>!!!... So that... my dad.. can live normally, all that <b>{nsfw?`bullshit`:`88888888`}</b> gooone!. Heugh......... (tightened semi whisper voice) Gooood....... (stil semi whisper, right hand press forehead in depression) Whaaaaiy....., Ssssssss.....</p>
        <p class='HS Arn'>...</p>
        <p class='HS DuronSediron'>(still normal volume) JUST PLEASE!!... <b style='font-size:large;'>Unblock my family</b>, God!... I don't do anything!! My dad's not to mention! We had to live!!.... AARgh!!..........</p>
        <p class='HS Arn'>... I wish could do help you son. But... neither me, nor Kaorfa himself could do anything. Reality in us world... is broken.</p>
        <p class='HS DuronSediron'>So what? I have to wait until Jesus comeback who knows when?! (scoff) Heh!..., guess I got to freeze myself anyways</p>
        <p class='HS Arn'>Son.. please don't freeze</p>
        <p class='HS DuronSediron'>What, <span style='font-size:large;'>WHAT</span>, <b style='font-size:xx-large;'>WHAAT?!?!</b>. (tear drop of stressed out).... (sniff)!!, ... (blow nose)... (right nosestril full mucus) Huuh?? You can't help me, not even Joel (Kaorfa) could?? What's the point?!</p>
        <p class='HS Arn'>(also tear drop stressed out) He had.. he had been.. also in this bad situation. I know you.. you had done something right should've been done. But apparently, they insisted karenly. .... Look, I know you gonna say you shouldn't have done it, but did anyway, did you?</p>
        <p class='HS ChalarGupadi'>(soothe by wrapping from Duron's left / port side of body)</p>
        <p class='HS DuronSediron'>Hhhh... (take out handkerchief from right pocket), (blow mucus out)!!!!!!, ugh.. I just wanted to clear dad's name. He didn't deserved this. He didn't do that (that grave crime of children things). Idk.. He just.. (increasing crying point) like being <i>father figures</i>, (clear nose with handkerchief)!!!.., Haih..... I..... It just made them madder. I forgot to tell, what did he do to the press, Haaargh... no.... He's just.... <b>Block Reason</b>..... among things.... aand... sauce... <b>Sauce</b> (Forced Attribution in Clarification bar on a post). ..... I forgot.</p>
        <p class='HS Arn'>Well.. It looks like you had same set as Kaorfa. You know, he's just trying to attribute a reuploads. I know.. maybe your people might be rude or just no matter what. And perhaps yes, I know you should just let it go (ignore clean dad's name or in Joel's case ignore ask <b>why he blocked</b>). But you see, these days, nobody can prevent hate speech from spreading around, and does so <i class='error'>she</i> hated him forever and ever. And you certainly, can no longer beg, for the associated to get out of there and apologize. No. Never been in neverary.</p>
        <p class='HS DuronSediron'>Okay, let go, fine. And I have no place to live, I'm rotting.</p>
        <p class='HS Arn'>Remember. You got 1 realm. Like it calls you.</p>
        <p class='HS DuronSediron'>...</p>
        <p class='HS Arn'>If you atleast win that realm, who knows, you got more family, than ever before, even more than that that Pink wolf lady <i>No no no, not you Chalar</i>..., who likes to <i>carress some heart organs</i> but hated Joel in defense of that asshole guy claiming to be an old friend of her. <b style='font-size:large;'>HECK</b>.., <b style='font-size:xx-large;'>EVEN MORE!!!</b>.., than.. all the Harrassers combined. coz infact, there is... (remembering rough counts) uhh.... mmmm... (found it) AH, <b style='font-size:10em;'>10 BILLIONS!!!</b>, last time.. AAh, more than.. anybody, ... in galaxies combined. (chuckle joy) What?... She??.. Nn no, not Chalar, the other she, other other she. Ahem.. She.... guy.... and Harrassers... <b style='font-size:large;'>smooooool</b>. THat.... <b style='font-size:10em;'>BEEEEEEG</b>!. Who knows you can find coincidence, or tell em to make em shape like</p>
        <p class='HS DuronSediron'>STOP convincing me, Mister Telemarketer, Hang up, <i class='error'>BLOCKED</i>. ......</p>
        <p class='HS Arn'>🙂🙂🙂🙂🙂🙂🙂🙂🙂🙂🙂</p>
        <p class='HS DuronSediron'>Just kidding (tight stop).  .... (mouth closed, larynx very almost shut gradual open, and so blow to nose) mmmmmmhhh.. What you do want?</p>
        <p class='HS Arn'>Offering you place!.., You say here, feel free, or try win it? .. 😀😀😀😀😀 Heeh???</p>
        <p class='HS DuronSediron'>Well how hard is it?</p>
        <p class='HS Arn'>Well..., so far it's just territorial issues. aaand.. you just maybe settle a peace, or uh.. if that colonizer is beyond salvation, you could just get rid of them, and let... Areluid wins. Simple.</p>
        <p class='HS DuronSediron'>When?</p>
        <p class='HS Arn'>Anytime!... soon.., you can.. call everyone here first, And I'll send you there. We got agents here to help you there. As consultant. And you can sneak in around do your thing. yeah!.</p>









    {nsfw?<Fragment>
        
        <!-- Sediron.
            explore kingdom

            unblock baltheser and get him fun.

            the truth reveals, baltheser is kamatussa

            peace treaty, expose truth, throw baltheser to Judgement. win.
            
            Dr Hymatt transform service. met customer (who wish to install human form for human-con party in ballroom underneath the main castle) with coincidentally very identical name (the earth name, not their birth name) to ones who hated / blocked Baser, from dad mom daugher and younger brother. even they came up with design matches with the look of each and everyone of them. They are entirely different people but somehow had same look, and not the assholes.
            -->
    </Fragment>:``}
</CoreHomestuck>