---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
// import CorePage from '@compnents/Page/__CorePage.astro';
import BeginningOfNSFW from '@components/Elements/SparePart/ListCells/BeginningOfNSFW.astro';
import StatCard from '@components/Elements/SparePart/StatCard.astro';
import CoreHomestuck from './__base/CoreHomestuck.astro';

const filename:string = 'Sediron4'
const isNSFW:boolean = false;
const addHeaderTitle:string = 'ARENOD, THE MOVIE (Sediron Season 4 FINALE)';
const addMetaTitle:string = 'Sediron S3';
const addKeywords:string = 'Sediron, social media, drama, toxicity, expose,';
const addDescriptions:string = 'The Kingdom';
const skipHeader:boolean = false;
const skipNav:boolean = false;
const skipFooter:boolean = false;
const disableOverwhelmStatement:boolean = true;
const endSay:string = 'End';
const author:string = 'JOELwindows7';
const company:string = 'Perkedel Technologies';
const licenseSay:string = 'CC4.0-BY-SA';
const companyImgSrc:string = '/Perkedel_Icon.png';
const licenseImgSrc:string = '';
const licenseUrl:string = '';
const isWIP:boolean = true;

const{
    nsfw = false,} = Astro.props;
---
<CoreHomestuck
    nsfw={nsfw} isNSFW={isNSFW}
    addKeywords={addKeywords}
    addDescriptions={addDescriptions}
    addHeaderTitle={addHeaderTitle}
    addMetaTitle={addMetaTitle}
    author={author}
    disableOverwhelmStatement={disableOverwhelmStatement}
    skipHeader={skipHeader}
    skipNav={skipNav}
    skipFooter={skipFooter}
    filename={filename}
    endSay={endSay}
    company={company}
    companyImgSrc={companyImgSrc}
    licenseSay={licenseSay}
    licenseImgSrc={licenseImgSrc}
    isWIP={isWIP}
>
    <h2>Introduction</h2>
        <p>After couple months being living in Perkedel internal realm doing mundane works in ASTR, Sediron seeks redemption. Or more like, something that makes him glorious, since he had too less crime, only accusations.</p>
        <p>And then suddenly, he finally got what he wished for. Does it run well though?</p>
        <h3>Special Instruction</h3>
            <p>Please follow these instructions when ones would like to realize this draft:</p>
            <ul>
                <li>Exciting Intros are not allowed! This is a film with depressing mood, as similar as Christopher Nolan's Oppenheimer
                    <ul>
                        <li>Use white on black logo, & only use fade in & out at moderate speed. No color is allowed, ever.</li>
                        <li>It is recommended to put those logos together by each affiliation. For Perkedel's feature logos, goes here 1 image fade ins, another goes for Dolby's or IMAX's, etc. etc.</li>
                        <li>Theatre intro features shall use only above non-prominent type. If no such, you must remove it altogether. This means there is no "Dolby Sphere", "Dolby Glass", or whatever intro. There's no need to excite customer this film, because it's Oppenheimer's depression.</li>
                        <li>E.g., if the format is IMAX, use short ones that used in this Christopher Nolan's IMAX pure films. When you start Oppenheimer, there is no countdown, instead straight ahead with IMAX logo & short jingle of it.</li>
                        <li>at all time from start to end of the film, <b></b>Keep color! Use default or whatever usual grading</b>. Do not B&W any of the frames! The context (Scenes where color of the objects around the characters e.g.) should already conveys its mood, from blandly, and then colorful vivid at the end.</li>
                    </ul>
                </li>
                <li>Provide options for minimum 24 FPS. Recommended FPS is 24 as film usual. It's up to the device whether or not the e.g. FreeSync supports this FPS. Do not restrict FPS options however.</li>
            </ul>
    
    <h2>Exiling</h2>
        <h3>Boredom. ASTR Work complex. Perkedel Internal Realm. 2031</h3>
        <!-- 2031 -->
            <p class='HS Info'>Baser arrived again in this office prepared & suited up, to work again. Again, he's still working on support, where he do simple helps & delegating workers to help when got asked to. Still there is nothing interesting in ASTR, and all is feels like desert silence. In this workspace, the only partition is per worker desk. The room is very wide and contains over thousands of desks spans across acres, yet, only Baser & Aad sits here. Camera OFF, then fade in slowly as Baser walks. btw, don't worry, Perkedel Internal Realm ammenities are gratis for employees in this universe. Also for the real life atm, we don't have enough power yet 😜 sorry.</p>
            <p class='HS BaserSediron'>(walk to his desk far of in about corner far opposite to the door he in from)... ... ... ... ..., (greet boringly & depressedly) Morning..., (continue walk)</p>
            <p class='HS Aad'>(look Baser) Morning, sir! (continue staring)</p>
            <p class='HS BaserSediron'>(yes still walking 50 cm left)... ... ... ... ..., (slide out chair), (sit), (snuck in), (turn on Monitor), (stare).... </p>
        <h3>Outside of the office</h3>
            <p class='HS Info'>It is null silent! No wind, only air sitting on each other. B roll camera static around the area and the building.</p>
        <h3>Center Park</h3>
            <p class='HS Info'>Perkedel provides internal park for leisures & relaxation of the employees in this universe. somewhere, there are alot of statues to tribute great events, and also tragic events. The ground are designed so wide area of green grass are exposed, and trees must not cover majority of the area. If they had to, then it means it's a dedicated tree spots for limited area (Small Forest spot), like statues occupying slots. Duron & Chalar are currently relaxing near a Hyundai IONIQ 5 lifesize replica marble statue. Chalar leans closer to the car, making her in between Duron and the car. Duron & Chalar are close each other. They lean by the starboard (right, steering wheel) side, about 50 cm away. Their head points as the back of the car, so the feet goes to car front. The car inside has detail, although not complete, with steering wheel on the starboard (right) just like in Dasandim (& right steered countries) config.</p>
            <p class='HS DuronSediron'>(almost asleep).....</p>
            <p class='HS ChalarGupadi'>(noticed the Hyundai IONIQ 5 but it's stone) Duron. (tap right shoulder), hey!..</p>
            <p class='HS DuronSediron'>(sleep streak meter broken, look Chalar) huh, yeah?</p>
            <p class='HS ChalarGupadi'>Is that looks just like our car? Why did somebody turn it into a stone?</p>
            <p class='HS DuronSediron'>(look car stoned) Huh, idk. Maybe Kaorfa likes it, so.. I think he make the replica? lol??</p>
            <p class='HS ChalarGupadi'><b>Ah ha ha ha ha ha!!</b></p>
            <p class='HS Arn'>Well, (async) you see, </p>
            <p class='HS DuronSediron'>(async) (surprised a moderator is here on starboard away again from duron, look Arn)</p>
            <p class='HS ChalarGupadi'>(async) (surprised a moderator is here on starboard away again from duron, look Arn) huh?</p>
            <p class='HS Arn'>Every statues we have here are for tributes.</p>
            <p class='HS DuronSediron'>Oh, okay..</p>
            <p class='HS Arn'>(look the car stone) This (offer point to the car) one right here.., is a good memory, despite all the struggles. We..., saved a young lady.</p>
            <p class='HS ChalarGupadi'>Oh cool! Who is she?</p>
            <p class='HS Arn'><b>Sky</b>.</p>
            <p class='HS Info'>both Duron & Chalar impressed & interested. For your information, it was during Last Funkin Moments. Sky was one of the survivor from a destroyed dimension when she was looking for her parent. She joined Wakturia, for only then had to resign (voluntarily say yes to that offer announcement day, together with Latsufir & others) due to unsupporting social condition at that time (which to this day still not safe anymore).</p>
            <p class='HS ChalarGupadi'>(async) OOOoo.. . Tell me more about it!</p>
            <p class='HS DuronSediron'>(async) OOOoo.. .</p>
            <p class='HS Arn'>Yeah. She was looking for her parent. Since baby, she must be separated, because an evil religion extremist forced them all citizens who are demons to eat their baby. And then, her parents made replica out of her, record video eating it, send to that extremist. It works, and fooled him, forever. Never know that it was a fool, as he was eliminated by Sky herself during the gambit siege. Yadi yada, now... they live in a dimension Latsufir's dad bought out of winning bid years back, along with whole families, inventing new stuffs.</p>
            <p class='HS DuronSediron'>Woow... Oh I like stuffs. But what is this statue to do?</p>
            <p class='HS Arn'>Well, the.. I'm sorry if this sounds like a... shameless promo, Sky likes to drive the car. Aaand.. This is the car. She drives it everyday. Where she goes, with her husband, it's this. I mean.., your planet, endorses it, it's everywhere there now. Idk why.. It's just..... iconic.</p>
            <p class='HS ChalarGupadi'>Interesting........</p>
            <p class='HS DuronSediron'>Hey. Do you aware if there's more realms I could help out with?</p>
            <p class='HS Arn'>Hmmmm, this is pretty difficult apparently. With Harrassers have conquered, more than they lost, I think I should say.... leave it to be. Unless..</p>
            <p class='HS ChalarGupadi'>🤨....</p>
            <p class='HS Arn'>There is one. ... One that I... Have interest to.</p>
            <p class='HS ChalarGupadi'>What is that?</p>
            <p class='HS Arn'>No idea how, why, when..., But... this realm, everytime we randomly query this, it had an emanating signal..., like.. umami if... tasted with heart....</p>
            <p class='HS DuronSediron'>Okay, what's so special with that one?</p>
            <p class='HS Arn'>Well, ever since you were here, our querying feels.. different. In every touch, of this dimension.., that is the one <b>ALWAYS</b> ....., emits this never felt before aura. It's that one.</p>
            <p class='HS ChalarGupadi'>Name?</p>
            <p class='HS Arn'>People out there call this <i class='info'><b>Areluid</b></i>. Well because, the first settler was named Areluid, hence and forth it's just <i>Areluid</i>. It's <code>she</code>... and, They (people of there) have been there 2000 years ago, and they've got greatly sophisticated civilization.</p>
            <p class='HS DuronSediron'>Okay. Then what's something wrong?</p>
            <p class='HS Arn'>Right. There was a war. long year war, since year about 1500 AD something. A Colonizer tried to take over that place. From sieges, battles, and finally, stuck settled with divisions.</p>
            <p class='HS DuronSediron'>(same old war is boring) Ugh..... Boring!..., (expecting something that could restore reputations somehow) If only something that we could make it right!!, or just have me the <b>{nsfw?`shit`:`8888`}</b>!!!... So that... my dad.. can live normally, all that <b>{nsfw?`bullshit`:`88888888`}</b> gooone!. Heugh......... (tightened semi whisper voice) Gooood....... (stil semi whisper, right hand press forehead in depression) Whaaaaiy....., Ssssssss.....</p>
            <p class='HS Arn'>...</p>
            <p class='HS DuronSediron'>(still normal volume) JUST PLEASE!!... <b style='font-size:large;'>Unblock my family</b>, God!... I don't do anything!! My dad's not to mention! We had to live!!.... AARgh!!..........</p>
            <p class='HS Arn'>... I wish could do help you son. But... neither me, nor Kaorfa himself could do anything. Reality in us world... is broken.</p>
            <p class='HS DuronSediron'>So what? I have to wait until Jesus comeback who knows when?! (scoff) Heh!..., guess I got to freeze myself anyways</p>
            <p class='HS Arn'>Son.. please don't freeze</p>
            <p class='HS DuronSediron'>What, <span style='font-size:large;'>WHAT</span>, <b style='font-size:xx-large;'>WHAAT?!?!</b>. (tear drop of stressed out).... (sniff)!!, ... (blow nose)... (right nosestril full mucus) Huuh?? You can't help me, not even Joel (Kaorfa) could?? What's the point?!</p>
            <p class='HS Arn'>(also tear drop stressed out) He had.. he had been.. also in this bad situation. I know you.. you had done something right should've been done. But apparently, they insisted karenly. .... Look, I know you gonna say you shouldn't have done it, but did anyway, did you?</p>
            <p class='HS ChalarGupadi'>(soothe by wrapping from Duron's left / port side of body)</p>
            <p class='HS DuronSediron'>Hhhh... (take out handkerchief from right pocket), (blow mucus out)!!!!!!, ugh.. I just wanted to clear dad's name. He didn't deserved this. He didn't do that (that grave crime of children things). Idk.. He just.. (increasing crying point) like being <i>father figures</i>, (clear nose with handkerchief)!!!.., Haih..... I..... It just made them madder. I forgot to tell, what did he do to the press, Haaargh... no.... He's just.... <b>Block Reason</b>..... among things.... aand... sauce... <b>Sauce</b> (Forced Attribution in Clarification bar on a post). ..... I forgot.</p>
            <p class='HS Arn'>Well.. It looks like you had same set as Kaorfa. You know, he's just trying to attribute a reuploads. I know.. maybe your people might be rude or just no matter what. And perhaps yes, I know you should just let it go (ignore clean dad's name or in Joel's case ignore ask <b>why he blocked</b>). But you see, these days, nobody can prevent hate speech from spreading around, and does so <i class='error'>she</i> hated him forever and ever. And you certainly, can no longer beg, for the associated to get out of there and apologize. No. Never been in neverary.</p>
            <p class='HS DuronSediron'>Okay, let go, fine. And I have no place to live, I'm rotting.</p>
            <p class='HS Arn'>Remember. You got 1 realm. Like it calls you.</p>
            <p class='HS DuronSediron'>...</p>
            <p class='HS Arn'>If you atleast win that realm, who knows, you got more family, than ever before, even more than that that Pink wolf lady <i>No no no, not you Chalar</i>..., who likes to <i>carress some heart organs</i> but hated Joel in defense of that asshole guy claiming to be an old friend of her. <b style='font-size:large;'>HECK</b>.., <b style='font-size:xx-large;'>EVEN MORE!!!</b>.., than.. all the Harrassers combined. coz infact, there is... (remembering rough counts) uhh.... mmmm... (found it) AH, <b style='font-size:10em;'>10 BILLIONS!!!</b>, last time.. AAh, more than.. anybody, ... in galaxies combined. (chuckle joy) What?... She??.. Nn no, not Chalar, the other she, other other she. Ahem.. She.... guy.... and Harrassers... <b style='font-size:large;'>smooooool</b>. THat.... <b style='font-size:10em;'>BEEEEEEG</b>!. Who knows you can find coincidence, or tell em to make em shape like</p>
            <p class='HS DuronSediron'>STOP convincing me, Mister Telemarketer, Hang up, <i class='error'>BLOCKED</i>. ......</p>
            <p class='HS Arn'>🙂🙂🙂🙂🙂🙂🙂🙂🙂🙂🙂</p>
            <p class='HS DuronSediron'>Just kidding (tight stop).  .... (mouth closed, larynx very almost shut gradual open, and so blow to nose) mmmmmmhhh.. What you do want?</p>
            <p class='HS Arn'>Offering you place!.., You say here, feel free, or try win it? .. 😀😀😀😀😀 Heeh???</p>
            <p class='HS DuronSediron'>Well how hard is it?</p>
            <p class='HS Arn'>Well..., so far it's just territorial issues. aaand.. you just maybe settle a peace, or uh.. if that colonizer is beyond salvation, you could just get rid of them, and let... Areluid wins. Simple.</p>
            <p class='HS DuronSediron'>When?</p>
            <p class='HS Arn'>Anytime!... soon.., you can.. call everyone here first, And I'll send you there. We got agents here to help you there. As consultant. And you can sneak in around do your thing. yeah!.</p>
            <p class='HS DuronSediron'>... Okay, the specific?</p>
            <p class='HS Arn'>Alright, ... ... here we go.., ...</p>
    <h2>Infiltrate</h2>
        <h3>Areluid central sky area</h3>
            <p class='HS Info'>This is the drone B roll of Areluid center city. change to various fly around the castle. You can see the main castle over over there. Watch, that the dialogs written in <i>italic / teks miring</i> marks background voice over</p>
            <p class='HS Arn'><i>So..., you are a <b style='font-size:large;'>Lithium Consultant</b>, ... You know.., Areluids are engineers and they need battery. Invent new and better batteries, all volunteers are accepted to help. But also, as a scientist, you can also explore different space just a little bit.</i></p>
            <p class='HS DuronSediron'><i>Right. How do we get started? I mean, how do I say I got here?</i></p>
            <p class='HS Arn'><i>Uhh... let's see.. .. ..</i></p>
        <h3>Royal Resort. Areluid Main Castle</h3>
            <p class='HS Info'>B Roll of this mega and royal hotel inside hallways. Followed by facilities around it (swimming pool, tennis badminton basketball court, billiard house, luxury restaurant, ballroom, mini golf courses excluding top golf and real golf).</p>
            <p class='HS Arn'><i>Ah, you'll stay here, and yes you ask, say that... you found the poster. You know, uh.. the poster were spread also to select few realms. <b>Luckily</b>, that somehow circulated to Dasandim where you from. Praise the Lord, you can say that.</i></p>
            <p class='HS DuronSediron'><i>Huh. Do I got to wonder tho?</i></p>
            <p class='HS Arn'><i>Nah, don't worry, usually they don't care for this one. uhhh, just be cool, like usual. But <b>don't forget</b>, your mission (to save Areluid from eons of colonizations). eeuuh... I believe you can get there somewhere.  ... No no, don't worry about anything. As long you... are not one of those, which is you are, ... I have confidence, 99 percent.., no matter what, you be fine. They only look after the colonizer to Block. That's it.</i></p>
            <p class='HS DuronSediron'><i>Okay, you claim I definitely be safe. You must be kidding.</i></p>
            <p class='HS Arn'><i>I'm serious. I've been looking every realms for eons, and for this one, they've been in greatest torture from just really 1 single company. <b style='font-size:x-large;'>One</b>. No kidding.</i></p>
            <p class='HS DuronSediron'><i>(feels like that God apologized for getting them through grave days for no apparent reason at all) Oh my God. God, You finally regreted for letting us all through this, You... (mchtsk)! {nsfw?`(unable to say "dickhead" towards God)`:``}.... You know..</i></p>
            <p class='HS Arn'><i>(telepathically heard Duron insulted God) Ayy!!.. that's not polite, I know you're angry. But remember, we're on a mission here. We better spend all energy to focus here, and then if all works out, then we can return to ranting God if you want (with great confidence Duron would forgot or no longer interested to do it afterward as it worked).</i></p>
        <h3>2nd Floor VIP Room hallway</h3>
            <p class='HS Info'>Fade in <a href='https://youtu.be/0ZUoFPLlVQU?si=vMcLmxNuD5u7QS7y' target="_blank" rel="noopener noreferrer">Creo - Sphere</a>. Duron & families has occupied this exclusive room number 2001 (Floor 2, number 1). the hotel guy, Standford was the one carrying the families luggages. Followed by B-roll Duron tidying up stuffs, where the volume of BGM is already at peak.</p>
            <p class='HS DuronSediron'><i>Ugh.. fine by me I guess. Got other realms in case I faile?</i></p>
            <p class='HS Arn'><i>No, unfortunately no.., But I'll try my best to find another one as many as I can. Well if emergency, maybe Sky & Latsufir would accept you, idk, as the 1st second resident (in Salt Flat World realm). But I'm pretty sure, it'll work, like these (the Areluid realm) are already yours since the beginning.</i></p>
            <p class='HS DuronSediron'>(mark the end spot) Yeah yeah, just put it here.</p>
            <p class='HS StandfordAreluid'>Are you sure sir? I can do tidy these all up for you.</p>
            <p class='HS Info'>Sediron families have entered the room in a heartbeat.</p>
            <p class='HS DuronSediron'>No, thank you. I'll take it from here. You know... for safety.</p>
            <p class='HS StandfordAreluid'>I see, I can understand that. Well good luck!, because your day starts tomorrow. Oh! don't forget to look around this hotel! there's alot!</p>
            <p class='HS AudioInfo'>increase BGM volume</p>
            <p class='HS DuronSediron'>Yeah, thanks.</p>
            <p class='HS AudioInfo'>Just audio silence if available</p>
            <p class='HS Info'>Volume BGM full Beat drop & B roll Duron & families tidying up stuffs ...</p>
    <h2>Checkpoint</h2>
        <h3>Still in this room 2001.</h3>
            <p class='HS Info'>Stop music & return to usual dialoging. Italic voiceover marking dismissed. 3 Sedirons are discussing what to do. the girls from mom including kids (Grandma Ananda Topilar, Madam Nylar Rumanod, Nita Sediron, Turial Sediron, Desi Sediron) are auditing items and further tidying stuffs. Teddy Sediron the second is the vice instructor to the guards, and guardian angel to protect daddy Baser. He is also working right now by analyzing situations. The room is considerably small, like only 3 star rating. Only it's scaled up a bit, to area of just around 430 m<sup>2</sup> or something. The bathroom unlike most hotels, are installed far corner away opposite of the door at left, instead of sitting next to it. and the beds are also in that opposite away from door, right side by the bathroom. The bathroom door is side, where perpendicular where fall to bed. The main door is wide twin doors. Before the bathroom, hence between main door and bathroom and at left, an all in one multi-purpose make up table with mirror in the center of the table. the window to the city, on the very right, spans across that right wall, from bed board height to the ceiling. Although, only the bed side had clear window. The rest are permanently stained colored glass with fracture pattern. That's just coincidence, all VIP rooms for stained glass have this fracture with random color pattern.</p>
            <p class='HS DuronSediron'>Okay, here we are..</p>
            <p class='HS TeddySediron'>(right away scan everything around)!!...</p>
            <p class='HS BaserSediron'>Son, are we allowed to look around?</p>
            <p class='HS DuronSediron'>No dad, please don't, everyone. We're on a mission. Idk how {nsfw?`fucked`:`888888`} up this realm has been, considering the situation given. So please. ...., stay safe. I have pre-downloaded offline games for you.</p>
            <p class='HS HamletSediron'>Isn't that Kaorfa's Steam library again?</p>
            <p class='HS DuronSediron'>No, Grandpa. We can't do that anymore. He could get trouble once Gabe saw him locally <i>borrowing something too many times around families</i>. No.. not again. Kaorfa had itch files instead.</p>
            <p class='HS BaserSediron'>Aargh, forget about it. Dang, I wish I could spend myself and grandkids to Billiard.</p>
            <p class='HS TeddySediron'>(take out handheld radar), (turn on), (scan around)...</p>
            <p class='HS HamletSediron'>(throw self to bet, tired) (async)!!! (instantly fall asleep)...</p>
            <p class='HS DuronSediron'>(async) (look grandpa threw himself to bed and asleep instantly).... (look each other)</p>
            <p class='HS BaserSediron'>(async) (look grandpa threw himself to bed and asleep instantly).... (look each other)... (look window to city view)</p>
            <p class='HS DuronSediron'>.... Okay. Just view the world. don't get too close. Only wait for the mission. I also have ordered the hotel to just bring all food to here. Teddy, watch all of us.</p>
            <p class='HS TeddySediron'>👍 Aye, (continue looking handheld radar).</p>
            <p class='HS BaserSediron'>(look back) Okay why?</p>
            <p class='HS DuronSediron'>No getting out at all. Idk if Harrassers could be here, you spotted, you die. We're all die.</p>
            <p class='HS BaserSediron'>(retriggered the fatal ala-Oppenheimer heartbreak of the accusations)...........</p>
            <p class='HS DuronSediron'>Alright, I'm sorry dad. ugh...... Just wait. It'll be over I guess...</p>
    <h2>Consulting</h2>
        <h3>Outside the room. Next day</h3>
            <p class='HS Info'>Jared the Professor has been waiting for the consultant to accept the escort and tour the science research. Duron has already prepared. Other hotel guards have been on stance guarding the Sediron families strictly, as well as more guards watching carefully from outside this castle. standing in ledge, sitting on top, snipers everywhere, etc. like guarding president. Them all are feeling the never felt before signal, that tells them Sedirons are a treasure you might be looking for eons, you've lost once before, or something. Hence why they felt this needs president level of guard. While Duron is out, the rest stays and made safe further by these guards. Despite the available offer to get outside and further guarding, Sedirons decided to be discipline for safety, to stay inside all time, until next order.</p>
            <p class='HS TeddySediron'>Careful brother.</p>
            <p class='HS DuronSediron'>... Yeah, great luck GBU, see you later. (open port bathroom side door left & move out)..., Alright, what are we doing here? (close door)</p>
            <p class='HS JaredAreluid'>Doooo-ronn.</p>
            <p class='HS DuronSediron'>Yes?</p>
            <p class='HS JaredAreluid'>Hai, (walk closer) I'm The Professor. But people called me Jared..</p>
            <p class='HS DuronSediron'>Aah.. Professor Jared. (greet)</p>
            <p class='HS JaredAreluid'>Yes (accept greet)! ! ! So, can we start?</p>
            <p class='HS DuronSediron'>What do you know?</p>
            <p class='HS JaredAreluid'>Right, follow me! (escort to special railway)</p>
        <h3>Royal MRT Railway Station. Basement.</h3>
            <p class='HS Info'>The MRT will go to right. Therefore the starboard (right) doors that opens, presenting them the way. Rail pathway drives on left, so, MRT comes that left railway in perspective. Put camera on other empty railway opposite platform, to look this railway. Safety door & MRT starboard door opens</p>
            <p class='HS JaredAreluid'>(finished await door), (hand gesture offer you first) Alright. .....</p>
            <p class='HS DuronSediron'>(not brave because this could be a trap).....</p>
            <p class='HS JaredAreluid'>(remembered Duron's situation) Oh, sorry. (enter first), c'mon.</p>
            <p class='HS DuronSediron'>(enter)...</p>
            <p class='HS AudioInfo'>Starboard doors & safety door close!, MRT run forward, to the right</p>
        <h3>Tunnelway to Science Center.</h3>   
            <p class='HS Info'>Still no music. The next stop is to the Science Center just a couple kilometers away. This MRT has very fast speed up to about 500 Km/h. Although of course, all routes only runs for up to 100 Km/h for safety reason.</p> 
            <p class='HS JaredAreluid'>So..., Duron. What gets you up here?</p>
            <p class='HS DuronSediron'>I saw a poster. I mean.. looking for a new job, my company that my dad built tumbled so bad.</p>
            <p class='HS JaredAreluid'>(pitiful of this bankrupt) Whoa, I'm so sorry about that. May I know in short?</p>
            <p class='HS DuronSediron'>Yes I know, long story. (not bankrupt, it's toxicity) But short, not what you think. Money is okay... Societies.</p>
            <p class='HS JaredAreluid'>Oh. ... ... I recently heard that there was somekind of... Harrasser thingy going on.</p>
            <p class='HS DuronSediron'>Yeah that one. They conquered essential stuffs, and used that power to destroy my family good names. For good.</p>
            <p class='HS JaredAreluid'>Damn, sir, you do not deserve this. I'm pretty sure you'll find yourself home here. But...</p>
            <p class='HS DuronSediron'>I'm sorry about the war too. I do not need to ask deep. Just what's going on? I know, long story. But what do this colonizer looking for?</p>
            <p class='HS JaredAreluid'>They want to increase... resource. Idk. They want to conquer us just like the Harrassers. We've been here the first time, and whatever the colonizer do, ... eet's bad.</p>
            <p class='HS DuronSediron'>Well, let's just look forward. What do you have in there?</p>
            <p class='HS JaredAreluid'>We are looking to improve <i>Battery</i>, our energy storage. Recently I heard that somebody out there discovered making the core of the battery solid instead of typically liquid. A little less efficient, but way safer. In case of say.. trouble, the catastrophy is very minimum. We tried different methods, buut you see to no avail that works as good as the one we had right now.</p>
            <p class='HS DuronSediron'>I see. I think I can help you with that.</p>
            <p class='HS JaredAreluid'>Okay, thank you..., I hope we do find it.</p>
            <p class='HS DuronSediron'>Sure.</p>
        <h3>Science Railway Station. Science Center. Basement</h3>
            <p class='HS Info'>Arrived. Duron had instinct to jump off as the port side doors open to avoid potential explosion I think.</p> 
            <p class='HS JaredAreluid'>Okay, here we</p>
            <p class='HS DuronSediron'>(Jump off the MRT to port side, afraid the MRT could explode as professor stepped off)!!!</p>
            <p class='HS JaredAreluid'>Whoaaaa, don't go too fast, you could trip!.</p>
            <p class='HS DuronSediron'>Uhh yeah, we arrive yes?</p>
            <p class='HS JaredAreluid'>(Did not think to put explosive nor any harm at all but anyways).., (stand up & walk off) Anyways, Welcome, to the Science Center. (camera stop, but keep walking leaving camera)</p>
        <h3>Lithium research room.</h3>
            <p class='HS Info'>Jared brought Duron & guards into the small cramped room assigned for battery research. For years, Areluid have been racing to discover viable battery alternative that is safer, but still has comparable efficiency than current ones common. They have yet to find such with matching condition, despite many successful prototypes. The table spans across only upon that wall, from end left to right end. there are 2 level of countertop, open design. The middle part is where Jennifer do her things. the left part is to put ready samples. right parts are resource drawers. back left are computers & data storage, and back right are also resource drawers. Guards sits on the right side observing.</p>
            <p class='HS JaredAreluid'>(open door, doorknob left door swing right in & get in) Alright, (give way to right behind door) come in (offer hand).</p>
            <p class='HS Everyone'>(come in: Duron, guards)....</p>
            <p class='HS JaredAreluid'>(close door & walk to left into the research) Okayyyy so, this-... is our batteries..</p>
            <p class='HS DuronSediron'>(look at current thin pouch) Hmm, interesting.., I heard you guys are looking for solid battery isn't that right?</p>
            <p class='HS JaredAreluid'>Yes!. .., We are looking for safer battery. Unlike last time.</p>
    <h2>(Flashback) Safety Test. </h2>
        <h3>All purpose crash test room.</h3>
            <p class='HS Info'>Areluids were doing a random experiment after hearing out there in some realm, a lithium battery that matches with common model used, exploded. They are now going to intentionally puncture the battery tube. The battery was connected to load tester to see the voltage. There is a fire extinguisher with nozzle mounted to aim at the battery / object. As the battery got punctured & exploded, the volt drops to zero in 3 seconds. <a href='https://youtu.be/CGQwqWqzkNA?si=G-qGw4kQg17Vds7G' target="_blank" rel="noopener noreferrer">See BYD's test</a></p>
            <p class='HS AudioInfo'>Hydraulic press slowly stabbing battery from above. punctured, then <i>fart 💨💨💨💨💨💨💨</i> and then <b style='font-size:xx-large;'>💥💥💥💥💥🔥🔥🔥🔥🔥🔥🔥🔥🔥DUAR ABLAZE!!!</b></p>
            <p class='HS MakishAreluid'>(Press extinguish fire button)</p>
            <p class='HS AudioInfo'>Fire extinguisher extinguishes the battery successfully!..</p>
            <p class='HS JaredAreluid'>Oh nooo!.. it exploded!</p>
            <p class='HS PeshAreluid'>What do we do sir?</p>
            <p class='HS JaredAreluid'>Okay, take a look. there must be the elements of danger here. If we could change that a bit or something.</p>
    <h2>(Flashback end) Consulting. </h2>
        <h3>Lithium research room again.</h3>
            <p class='HS JaredAreluid'>We discovered from somewhere in Terrian (Earth). They got solid battery. We would like to work that out, buut... Terrians are stingy! They don't want to share their patent to us, without anything in exchange. <b>wear eye protection!</b></p>
            <p class='HS DuronSediron'>Okay. That's bad.</p>
            <p class='HS JaredAreluid'>Terrian means Earth, btw.</p>
            <p class='HS DuronSediron'>Oh.., oke thanks. Yeah they're very bad., mch (tsk)!...., hmmm, okay (lift pouch and examine its detail)</p>
            <p class='HS JaredAreluid'>We used basic lemon battery techniques, coz that's what we have. aand, for its core, the lithium...., we skip liquifying it. ... Wait, wrong that didn't work, that one you hold is not liquified but add a little catalyst liquid. We stabbed one prototype, and nothing happens just like we expected, but of course..., not as good.</p>
            <p class='HS DuronSediron'>You did something for a while? gel it e.g.?</p>
            <p class='HS JaredAreluid'>We did. It works well enough, but no, we want solid. We stabbed gel the fire still come out although not as bad as the liquid ones.</p>
            <p class='HS DuronSediron'>(head lift up and swing look around) Hoh well....... (as looked left, noticed a familiar classic AA Battery sitting there on a wall counter there above table)??.. (put pouch & take that battery), What?... <b><code>ABC Dry Cell</code></b>??</p>
            <p class='HS JaredAreluid'>Oh that thingy is a souvenir, when we visited Terrian. Idk, the green part that labeled <code>Jakarta</code> if I'm not mistaken. Man, that was very long ago. Also it's already dud.</p>
            <p class='HS DuronSediron'>(show to Jared) Dude!, you already had the technology in your hand! How many you had?</p>
            <p class='HS JaredAreluid'>Oh, I got few archives like that around.</p>
            <p class='HS DuronSediron'>Yes that doesn't matter. YOU already had the solids!! (bring before Jared's eyes) look!</p>
            <p class='HS JaredAreluid'>(no idea of Latin alphabet) Wait, it says <i><code>Dry cell</code></i>?</p>
            <p class='HS DuronSediron'>Wait, you don't read Latin?</p>
            <p class='HS JaredAreluid'>No, we have our own language. ... (brain about to activate) <i>Dry</i>....., <i>Solid</i>?...... .... (unlocked)!.., (give the sample battery to Jennifer at the mid right side of room) Jennifer can you please take a look at this and see if we can replicate it?</p>
            <p class='HS JenniferAreluid'>(take the battery) Yes sir. (begin examine & try replicate with lithium core)...</p>
            <p class='HS JaredAreluid'>Okay do you think this is a good idea to even plagiarize someone's technology from foreign realm?</p>
            <p class='HS DuronSediron'>Uhhh I think you should be fine, in fact, in some part of Terrian out there, there is one factory that likes to plagiarize their own stuffs. Nobody would or could do anything about it.</p>
            <p class='HS JaredAreluid'>What a relieve. Then what's with the uphold (copyright law) then?</p>
            <p class='HS DuronSediron'>Basically <b>money</b>.</p>
            <p class='HS JaredAreluid'>Whoa...</p>
            <p class='HS JenniferAreluid'>(finished making & analyzed) Potential 50 KWh.</p>
            <p class='HS JaredAreluid'>Wait, did you kept the voltage consistent tho?, 1.5V for Terrian AA model</p>
            <p class='HS JenniferAreluid'>Yes, 1.5 Volt.</p>
            <p class='HS JaredAreluid'>Good. .... 50 What hour??</p>
            <p class='HS JenniferAreluid'>Kilo..., Per cell I think lasts up to... idk, 5 years average. or more..</p>
            <p class='HS JaredAreluid'>(push Jennifer off to the right in impressed mind blown Eureka) 'scuse me. ..., (right hand turns to cosmic cloud to grab another resources to recreate the battery), (bring those to table), (assemble another battery again tele-cosmically)!....... (connect both serially and close circuit to that desk multi-meter)...., (it's 3V, in small volume) high volts.., (change config to parrarel and pay attention to potential watt hour)..., (still small volume) one hundred (Kilo watt hour)...  (drop the objects to desk)!!... (mind blown silence)......., (slowly stand up, reset volume)......, (go back to left to Duron).., (lift up by Duron's belly sides)</p>
            <p class='HS DuronSediron'>(surprised) whoa a...</p>
            <p class='HS JaredAreluid'>(charge the shake pull back)....., (shake for a bit) <br/><b style='font-size:20em;'>YOU'RE GENIUS!!!</b><br/><b style='font-size:5em;'>I'm so proud of you, son!.</b></p>
            <p class='HS DuronSediron'>(still confused) No problem!...</p>
            <p class='HS JaredAreluid'>(realized) Oh, sorry, (lift down Duron & hands off) uh... I... ... How..</p>
            <p class='HS DuronSediron'>Yeah?</p>
            <p class='HS JaredAreluid'>Wow. How did you...</p>
            <p class='HS DuronSediron'>Idk.. I'm just saying..</p>
            <p class='HS JaredAreluid'><i>Just saying</i>?!? That.. ... I.. Something genius would say.. perhaps..</p>
            <p class='HS DuronSediron'>I don't know anything much apparently.. it's just.. pops..</p>
            <p class='HS Info'>Everyone excited & bewildered at the same time, wondering a genius idea just come out suddenly out of nowhere.</p>
            <p class='HS JaredAreluid'>(spawn hologram tablet) Alright, (open up note taking app) your name is Duron..</p>
            <p class='HS DuronSediron'>Duron Sediron.</p>
            <p class='HS JaredAreluid'>(open up keyboard & give out to Duron) Okay, please type it.</p>
            <p class='HS DuronSediron'>(Type his name)</p>
            <p class='HS JaredAreluid'>...</p>
            <p class='HS DuronSediron'>(finish) Okay,</p>
            <p class='HS JaredAreluid'>Now please, stand in there, (select block text Duron's full name) hang in there (press attach temporal aura), (beam tablet to Duron to download temporal aura)</p>
            <p class='HS DuronSediron'>(fascinated)!...</p>
            <p class='HS JaredAreluid'>Okay, (save & close) thank you so much (despawn hologram tablet). haaah... what do we do next? Would you like to see nuclear reactor</p>
            <p class='HS DuronSediron'>(extremely surprised with extreme idea offers)?!?!? .. scuse me?</p>
            <p class='HS JaredAreluid'>No no no, it's completely safe. I'm only showing you the controller. it's fun.</p>
            <p class='HS DuronSediron'>(still very afraid of radioactive) uh...</p>
            <p class='HS JaredAreluid'>The core is very very far, 100Km diameter per circle, and the.. the controller radius is 200 Km (hence diameter is 400 Km). no circle overlaps, c'mon, it's very safe! We only see each core with camera that's it.</p>
            <p class='HS DuronSediron'>ummm..</p>
            <p class='HS JaredAreluid'>Nobody's controlling ever touched the core since we got started. RC is the only one that touches it, no bring near.</p>
            <p class='HS DuronSediron'>(tired of skepticism & realize his reputation is minus infinity)..... Alright, guess scientist never refuse. I lost everything btw.</p>
            <p class='HS JaredAreluid'>(call guard & walk) {nsfw?``:`(told do not suicide)`} Naaa, c'mon man, don't do that. I wouldn't bring any scientist there if it isn't safe. I trust you can have your lives back, I promise.</p>
            <p class='HS Everyone'>(guards follow them)</p>
            <p class='HS DuronSediron'>(blow nose)...., I wish so.</p>
            <p class='HS JaredAreluid'>(right / starboard hand wrap semi hug Duron up to his starboard to console him) Ayy, c'mon..</p>
            <p class='HS Info'>They went to train again and stop to the nuclear power plant</p>
    <h2>Generating source</h2>
        <h3>Command Center room. Areluid Power Center (nuclear power).</h3>
            <p class='HS Info'>Jared, Duron, & friends entered this room. The room has a bunch of typical nuclear control boards. The interface of it has been very intuitive, although still retains advanced control incase needs be.</p>
            <p class='HS Everyone'>(guards spread across the room and sit on available chairs)</p>
            <p class='HS JaredAreluid'>Aaand welcome to, the nuclear reactor we have here. This is how we farm energies. Then each bits stored into our batteries, ... to be used. (realize bad without context ambiguous, <i>store the radiation?</i>) No.. just the energy converted</p>
            <p class='HS DuronSediron'>(examined around) hmmm honestly this is typical.</p>
            <p class='HS JaredAreluid'>I know!!.., Why fix it if it's not broke? (look at Davina & go see close a bit, at left side from where we are.) Although to be fair..</p>
            <p class='HS DuronSediron'>(follow)</p>
            <p class='HS JaredAreluid'>We gotta make things a little simpler. (use the computer next to Davina's to select through different dashboard pages) (in Home) Much like.. running car. You just... make sure it's running, (in Safety) all safeties on. and so on.</p>
            <p class='HS DuronSediron'>Okay, that's cool. Although, we don't have to do this right?</p>
            <p class='HS JaredAreluid'>No.. there's no interest in that. Just have it here is that all we need (just enough for essential purpose). Btw, you can live view each core statuses on the website, I sent that to your hotel.</p>
            <p class='HS DuronSediron'>Cool. Then.. I believe those who wish to maintain this still had to know everything, for sure.</p>
            <p class='HS JaredAreluid'>Of course still. they gotta be repairman or women or any. But of course, I hope that's not needed, but we still have that advanced control in case we got to use it.</p>
            <p class='HS DuronSediron'>Right. coz if not it'll havoc. (sit on a chair just behind him)</p>
            <p class='HS JaredAreluid'>Yeah we don't want that</p>
            <p class='HS DuronSediron'>(see a computer, it shows camera of core number 51).... Now I wonder. How did you fetch the energy? In our place, we use the energy to heat up water</p>
            <p class='HS JaredAreluid'>(surprise concern because they still use water) Huh?!..</p>
            <p class='HS DuronSediron'>which it'll vaporize. Then the steam spins the turbine.</p>
            <p class='HS JaredAreluid'>Wait. You still use water?</p>
            <p class='HS DuronSediron'>.. (realized same Terrian conventionals is on Dasandim too) uh.. I admit, I got no other idea.</p>
            <p class='HS JaredAreluid'>Son, what if the chamber breaks? it breaks, gamer over. it (the explosion) goes more than just kilometers at this point. a lightyear, I suppose?</p>
            <p class='HS DuronSediron'>Then what's yours?</p>
            <p class='HS JaredAreluid'>Alright, (select Core 51, the inside, and look at one of the solar panel in the 9 clock), (send selection to computer behind where Duron is)! Here. You see this thing? familiar with the purple and those lines</p>
            <p class='HS DuronSediron'>(recognized as solar panel cells) Wait. Isn't that? .. a <b>solar panel</b>?!?!</p>
            <p class='HS JaredAreluid'>Hehe! You know, radiations like this.. is like sun. So you know what could be fetched like from sun?.... (tap table)!..</p>
            <p class='HS DuronSediron'>Oh.. my God.. I didn't know this..</p>
            <p class='HS JaredAreluid'>Oh, btw, we modified the design a bit to be more efficient, aaan.. it potentially runs hundred thousand years before replacing. Well I'm pretty sure your people had experiment like this too before.</p>
            <p class='HS DuronSediron'>(remembered something ever known but distant)...</p>
            <p class='HS JaredAreluid'>Well I'm pretty sure your people had experiment like this too before. Say like.. tribe who somewhere</p>
            <p class='HS DuronSediron'>Wait, <i>tribe</i>...... uh.. (found Vatastora people) Ooooou.......</p>
            <p class='HS JaredAreluid'>Welp. Guess now it's time you tell 'em. (remembered he cannot go back to Dasandim anymore) Oh wait.</p>
            <p class='HS DuronSediron'>You don't want to hear this.</p>
            <p class='HS JaredAreluid'>What do you mean?</p>
            <p class='HS DuronSediron'>Uhh... (telepathy the Vatastora fun fact to Jared{nsfw?``:`, that Vatastorans have sex to become very bright, and the walls in their bedroom absorbs the energy to be then stored`})....</p>
            <p class='HS JaredAreluid'>Oh.. why do you have to keep it secret? We do share lewdness everyday, of course, only from adults to adults. Your people are taboo with that?</p>
            <p class='HS DuronSediron'>Ehhh.</p>
            <p class='HS JaredAreluid'>Nah, forget about it. What else do we do?</p>
            <p class='HS DuronSediron'>Another question. Is this the only way you got energies?</p>
            <p class='HS JaredAreluid'>So far yes. This is the first one, though full utilization comes 700 years after discovery. And it's where we are today. You got another?</p>
            <p class='HS DuronSediron'>I mean you don't do any other? What if suddenly this goes dud, where do you supposed to get energy then?</p>
            <p class='HS JaredAreluid'>There is a natural sun. a solar panel farm is there right after these cores.</p>
            <p class='HS DuronSediron'>That's it? Is that all? You didn't have enough redundant ways?</p>
            <p class='HS JaredAreluid'>Wait, there's even another??</p>
    <h2>Wind energy</h2>
        <h3>Unviable Wind Park. next day.</h3>
            <p class='HS Info'>This is one of the always extreme weather area. This wide park is notoriously always windy & it's hard wind. The scientist are struggling installing the wiggle tubes, but eventually made it. all people in this scene are standing with nothing covering. volume bit louder because of the nonstop wind</p>
            <p class='HS MaasAreluid'>(screwing one last bolt) UUUUUGGHh....</p>
            <p class='HS MoosuAreluid'>Hang in there, brother!</p>
            <p class='HS JaredAreluid'>Wow. I didn't know we had this it been. I believe my predescessor ever attempted it distant ago, but.. I believe the fan goes down often.</p>
            <p class='HS Info'>The wiggle tube is done tight, and the tube compresses the piezo membrane generating energies.</p>
            <p class='HS DuronSediron'>Well I'll maybe look up the inventor later, but overall, .. it's good!</p>
            <p class='HS MaasAreluid'>(show multimeter to everyone) FIVE HUNDRED KILOWATT!!</p>
            <p class='HS DuronSediron'>OKAY!!</p>
            <p class='HS JaredAreluid'>You got another idea?</p>
            <p class='HS DuronSediron'>Yes!</p>
    <h2>River energy</h2>
        <h3>Zero User River. next day.</h3>
            <p class='HS Info'>This river somehow were never used ever since Areluid came and claimed the entire realm. Even tho the population had grown, still there is no user. Some said, Areluids have no interest swimming in the river. In here, a hydro vane boat was attached to one of the stair level of the river. There is only 1 right now, and the people in this scene were standing above it right now. The impeller hunder the hull were spun by the stream of waters. The impeller design is very safe and non-cutting, so in case somebody swam into it, they came out completely unharmed.</p>
            <p class='HS DuronSediron'>Okay. Here it is. The Hydro Boat vane. It also has solar panel, because.., why not.., and also, has safety, you fell into it, should be fine.</p>
            <p class='HS JaredAreluid'>Right, speaking of fell into this, Let me tell you this. Mysteriously, there's nobody ever swam in this river. No.. nobody is gone or what. Somehow, I feel so demotivated to swim in this river..., like.. I could be drown and lost in it. So that's why we make swimming pools or something.</p>
            <p class='HS DuronSediron'>Huh. weird. You already find why?</p>
            <p class='HS JaredAreluid'>Still not found why. At this point it's just too much to go, I'm just gonna go do something else. Now. what do we do next?</p>
            <p class='HS DuronSediron'>I remember about the hotest desert idea. You got one?</p>
    <h2>Desert energy</h2>
        <h3>Sangrai Desert. next day.</h3>
            <p class='HS Info'>This desert is extremely hot, and today here is 80 degree Celsius. The scientist could not install the geo thermal farm due to this heat. Instead, the local people, Lizard Areluids are installing it. It is very easy to install with instruction given. guards, scientists, Jared, & Duron sits under a tent umbrella. it has portable AC installed set to maximum. Lizards that are have done can return to their usual sunbathing. Tent. inside from starboard to port: Table with assets, Jared's beach chair, Duron's beach chair, and rest of beach chairs.</p>
            <p class='HS JaredAreluid'>Wow, son. I thought energy is only from so much.</p>
            <p class='HS DuronSediron'>Well, we sure find energies in many form. You know, some people say energy is not made, nor destroyed. it just.. transfers. Idk.</p>
            <p class='HS JaredAreluid'>(noticed they are done installing) Okay, connect one cable!, read me the number</p>
            <p class='HS ScalyAreluid'>(connect a thermal node to topleft most input)! (wait)....., (saw number) One thousand.</p>
            <p class='HS JaredAreluid'>Woo yeah 1 Megawatt! Okay, connect another and tell me again.</p>
            <p class='HS ScalyAreluid'>(connect another node to next to last connected), (wait)...., two thousand..</p>
            <p class='HS JaredAreluid'>Okay, that works! connect all of them, (send Pts money to Scaly and other friends)....</p>
            <p class='HS ScalyAreluid'>(connect all)........., (receive Pts), (spawn hologram phone), Yo, thanks bud!</p>
            <p class='HS JaredAreluid'>Okay, please hand me the multimeter?</p>
            <p class='HS ScalyAreluid'>(disconnect debug cable from the unit), (give both multimeter with cable back to Jared)....</p>
            <p class='HS JaredAreluid'>(take & store back to case), (close case).</p>
            <p class='HS DuronSediron'>Got personal question may I?</p>
            <p class='HS JaredAreluid'>(tidy other stuffs) Well go ahead?</p>
            <p class='HS DuronSediron'>If that's Areluid, uh.. you look so human. Is this.. something?</p>
            <p class='HS JaredAreluid'>(put everything to pelican case) Well that's good question. You see, those are a scale tribes. Areluids that have lizard body. Tourists called them.. Gecko, sometimes. (lock the case) Basically, Areluid was a human, with powers, she can turn into stardust, to travel realms. One day, there was a visitor, idk how, she likes to become look like an animal, so she combined anthromorphism with her human form, and that's what come up. (push the case to back there) Uuuugh, For years, we were at peace, enjoying lives, and do something together, including discussing looks. Alas, a colonizer attacked us. Threaten us. everything in between. (leave these assets laying down for a while)......... Nowadays, if we are spotted wearing furry form...., there is just 1 bad people (karens) outta nowhere after all of us. ... idk man. what so come it up with it?... The impostors hard to detect!.... (re-sit the beach relax chair)!!!, (both hand pad head again) Heuhhhhhhhh.......</p>
            <p class='HS DuronSediron'>(pitiful for that horrible threats, look Jared's eyes in pity while sitting the beach chair next to it again)...... Idk how to say sorry.</p>
            <p class='HS JaredAreluid'>Nah, I've been used to this.</p>
            <p class='HS DuronSediron'>No, you cannot be used to this. How do you supposed to say about the lives for the next kids?</p>
            <p class='HS JaredAreluid'>(starboard / right eye tear drop)......, idk.... I have no clue anymore. ....</p>
            <p class='HS DuronSediron'>..... I promise. After we done here. I will get rid whoever the colonizers are.</p>
            <p class='HS JaredAreluid'>Thank you...., But I don't think you should be ever be involved at all in this. They're too dangerous.</p>
            <p class='HS DuronSediron'>Hey, I cannot let you live like this. The realm will degrade if you stop. You guys done something?</p>
            <p class='HS JaredAreluid'><b>(sigh)!!............</b> We tried everything. Baltheser just 5 steps ahead. That cancer (Baltheser & that conquered area) had to be removed! Ugh.....</p>
            <p class='HS DuronSediron'>Wait.. his name is Baltheser?</p>
            <p class='HS JaredAreluid'>Baltheser yes. He/him. He... ... ugh.. he just want our things, for his own sake.</p>
            <p class='HS DuronSediron'>Since when?</p>
            <p class='HS JaredAreluid'>Idk, I already forgot, it's been eons already.</p>
            <p class='HS DuronSediron'>Yikes... ....</p>
    <h2>Return for a while</h2>
        <h3>Hotel room 2001 again.</h3>
            <p class='HS Info'>The day is night. Family will dinner in this room.</p>
            <p class='HS DuronSediron'>(open door)...., Dad, sorry I'm late.</p>
            <p class='HS BaserSediron'>It's okay son. We're just going to start.</p>
            <p class='HS TeddySediron'>Brother, family is safe. No attacks.</p>
            <p class='HS DuronSediron'>Thank you.</p>
            <p class='HS BaserSediron'>Alright, everybody. Before we start, we shall pray. I'll do this.</p>
            <p class='HS Everyone'>(wrap hand and sync pray no follow speak)</p>
            <p class='HS BaserSediron'>Thank you Lord for the food. Thank you for those who cook, provide, make, and acquire. We are going to dinner, then continue. Thank you for all Your blessing. ... ... Amen.</p>
            <p class='HS Everyone'>(Finish & start eating)!...</p>
            <p class='HS Info'>Skip. Transition clock curtain clockwise. while others are brushing teeth and do next activities before sleep, Baser & Duron have little discussion again as usual.</p>
            <p class='HS BaserSediron'>How's your day today?</p>
            <p class='HS DuronSediron'>Good. The last energy I know of has been installed.</p>
            <p class='HS BaserSediron'>Wow son. I'm so proud of you. I really wish.. I mean hope it could go back to normal.</p>
            <p class='HS DuronSediron'>I promise dad. We will get it. God has all the way right ahead.</p>
            <p class='HS BaserSediron'>Great luck on the final day.</p>
            <p class='HS DuronSediron'>Yes dad.</p>
    <h2>Cardiophile</h2>
        <h3>back to control post at All Purpose Crash Test room chamber.</h3>
            <p class='HS Info'>Jared is bringing Duron to the crash test to let Duron observe their overclocking heart organ research. All personel including Jared & Duron wears protective glasses again.</p>
            <p class='HS JaredAreluid'>Oookay, Duron.. here we go again. (offer hand towards the heart organ down there upon the glass) Observe.</p>
            <p class='HS DuronSediron'>(head lift up high to see it)?, !??...</p>
            <p class='HS JaredAreluid'>Hey sit down.</p>
            <p class='HS DuronSediron'>Oh, (sit in front most middle chair). (async) .. .</p>
            <p class='HS JaredAreluid'>(async) the splinter could fly. see camera.</p>
            <p class='HS DuronSediron'>(look monitor)...., it's a 🫀 heart.</p>
            <p class='HS JaredAreluid'>That's right. We are doing something called <b>Overclocking Heart</b>. pushing heart organs to the limit.</p>
            <p class='HS DuronSediron'>(interested with bit of concern for overclocking bare heart organ) Oke..?</p>
            <p class='HS JaredAreluid'>Behind me (port side stair 2 (of 3) back chair), <b>Tabayes</b>. Areluid too, he likes heart.</p>
            <p class='HS DuronSediron'>Oke, ... Duron.</p>
            <p class='HS TabayesAreluid'>Tabayes.</p>
            <p class='HS JaredAreluid'>We should begin now.</p>
            <p class='HS TabayesAreluid'>Right go ahead.</p>
            <p class='HS JaredAreluid'>(press start)!</p>
            <p class='HS Info'>Heart organ start beating.</p>
            <p class='HS JenniferAreluid'>100 Beats per minute.</p>
            <!-- explode at 500 -->
            <!-- quirk behaviour auto copy -->
            <p class='HS TabayesAreluid'>Hey, hey, hey. You know what? - just do it.</p>
            <p class='HS JenniferAreluid'>Okay, accelerating (press execute adrenaline macro) now..</p>
            <p class='HS AudioInfo'>Baboom baboom</p>
            <p class='HS JaredAreluid'>(observe carefully)...</p>
            <p class='HS AudioInfo'><b>BABOOM BABOOM</b></p>
            <p class='HS JenniferAreluid'>One fifty..</p>
            <p class='HS AudioInfo'><b style='font-size:large;'>B'BOOM B'BOOM</b></p>
            <p class='HS DuronSediron'>(concern heart will attack) (medium volume) Guys!..</p>
            <p class='HS JaredAreluid'>(left hand hold Duron) No no wait relax relax, just watch.</p>
            <p class='HS JenniferAreluid'>Two hundred, awaiting stability...</p>
            <p class='HS AudioInfo'><b style='font-size:large;'>DOOG DOOG</b></p>
            <p class='HS JenniferAreluid'>(still waiting)................... (heart is still very stable) Okay it's good. Would you</p>
            <p class='HS TabayesAreluid'>Yea yea runit runit . I wanna see</p>
            <p class='HS JenniferAreluid'>.. Okay.. here we go.... (press overclock adrenaline macro)!...</p>
            <p class='HS Info'>the fuse has been broken, and now the heart will overclock to its brim.</p>
            <p class='HS JenniferAreluid'>No turning</p>
            <p class='HS AudioInfo'><b style='font-size:x-large;'>DUUG DUUG</b></p>
            <p class='HS JenniferAreluid'>Baa-ck..</p>
            <p class='HS Everyone'>(Prepared for expected to come).........</p>
            <p class='HS AudioInfo'><b style='font-size:xx-large;'>DRG DRG</b></p>
            <p class='HS Everyone'>(still preparing).........</p>
            <p class='HS AudioInfo'><b style='font-size:3em;'>DRR DRR</b></p>
            <p class='HS Everyone'>(Okay it close).........</p>
            <p class='HS AudioInfo'><b style='font-size:4em;'>DRrRrRrRrR</b></p>
            <p class='HS AudioInfo'><b style='font-size:5em;'>BRRRRRRRRRR</b></p>
            <p class='HS AudioInfo'><b style='font-size:6em;'>ASKJLDHGAERUINGLAKFDNGLJKFSDNKLJ</b></p>
            <p class='HS AudioInfo'>(async)<b style='font-size:7em;'>💥💥💥💥💥JEGER!!!</b></p>
            <p class='HS DuronSediron'>(async) (Flinch) Whoa!!</p>
            <p class='HS JaredAreluid'>(Without flinch) Okay note everything how much is it?</p>
            <p class='HS JenniferAreluid'>Constant joule 10 starter only 2500 miligram adrenaline, ..... 500 Beats a minute.</p>
            <p class='HS TabayesAreluid'><b style='3em;'>💪 YESS!!</b> (async)</p>
            <p class='HS Everyone'>(async) WOO!, 👏👏👏👏👏👏👏👏👏👏👏👏</p>
            <p class='HS TabayesAreluid'><b style='font-size:xx-large;'>World record!!</b>! Woo yeah, baby!!</p>
            <p class='HS DuronSediron'>(pitiful for that precious little heart got destroyed)...</p>
            <p class='HS JaredAreluid'>Ayy bro don't worry, it's made up heart. We got more in the archive (spawn image file of photograph of made up hearts), see?</p>
            <p class='HS DuronSediron'>(processing)... (realize again) OOh, {nsfw?`shit`:`8888`}!, (relieved).. 🤦 {nsfw?`8888`:`fuhhuhck`}... (wobbly emoji) Oh my God... ... How did you that?</p>
            <p class='HS JaredAreluid'>Easy! with STEM cells, we can tell them to build as heart organ. Aand, to whatever how, we inject instruction with radio radiation (some sort of Wi-Fi) & chemical codes, that makes them do the thing I said!. Yeah.</p>
            <p class='HS DuronSediron'>Okay...</p>
    <h2>Aisle</h2>
        <h3>Science Achievement Hallway.</h3>
            <p class='HS Info'>Camera angle look top left then back to looking Jared & Duron. They are walking along this tunnel of cardio achievements. On the right side of your view, there is dioramas each containing heart with various treatment from normal, to the extreme most. Camera walks backward as them both walks to us. Duron on right, Jared on left. Watch for upcoming information of those diorama as they walked pass by. Don't worry, the blood are pre-colored yellow Stabilo highlighter to avoid triggering visitors.</p>
            <p class='HS DuronSediron'>So.., you seems like a heart organ, don't you?</p>
            <p class='HS JaredAreluid'>Of course, it's a piece of mechanical bio-components that amazingly runs itself, without ever tiring, without need to be thought for, etc. etc. It's juusst... fascinating..</p>
            <p class='HS DuronSediron'>You know, I think it's good idea to say, you are <b>Cardiophile</b>, officially.</p>
            <p class='HS JaredAreluid'>Thanks!... ... what's <i>cardiophile</i>?</p>
            <p class='HS Info'>The Control. It's just a regular made up humanoid heart without any given special treatment or what. It has been running for 1000 years. Some heart dioramas including this one are never unplugged if they decided to keep it working to season up the achievements.</p>
            <p class='HS DuronSediron'>Wait, you don't know Latin Scientific language?</p>
            <p class='HS JaredAreluid'>No we never heard of it. I think our predecessor skipped it due to complexity.</p>
            <p class='HS DuronSediron'>Okay.. so.., simply, <code>cardio</code> means heart, aand, <code>philos</code> means love or.. interest to or like, whatever.</p>
            <p class='HS JaredAreluid'>So.., that mean we <i>have interest or like with heart</i>?</p>
            <p class='HS DuronSediron'>Yeah basically it. ... You know..., why do you like overclocking heart? NO.. not to detract you, as long you don't use live person.. It's okay.. Just.. curious why?</p>
            <p class='HS Info'>The Viscosity. There are multiple hearts in this diorama, all of which are exposed to a viscous element called standard honey. One is after being submerged, connected and beating in submersion. One is just poured with honey, not connected and sitting OFF on the board. One is enlarged 5 times because using honey as the blood, broken because the heart is not designed to pump viscous liquid and so it worn quickly, sitting OFF also. Finally, this one was dropped with candle wax. Unfortunately that one wounded and got inconsistent muscle enlargement all over the place due to the inflamation it caused.</p>
            <p class='HS JaredAreluid'>Haa-.. well, you see. Aas I said, heart is our core, that makes us alive, aside from the brain. It is one of 2 essential organ, that.. this one... help blood carry oxygen and perhaps other nutrients from one to end. That's.. the basic way it works. Idk.. somehow we intrested with way it goes.. You know it's complicated. Nobody can scientifically explain why..</p>
            <p class='HS Info'>The Frost. These hearts were exposed to anything that's cold. One has broken to pieces because it was submerged to liquid nitrogen. When it was connected, the heart crumbles to pieces. One had turned into piece of messy cloth and imflamed because it was pressed against dry ice, of course doesn't work anymore also.</p>
            <p class='HS JaredAreluid'>Maybe it's a psychological quirks we had.</p>
            <p class='HS DuronSediron'>So neither you can find why? That's okay, as long it's fun & kept in moderation, just go ahead I guess.</p>
            <p class='HS JaredAreluid'>Yeah. ...........</p>
            <p class='HS DuronSediron'>You know, you did something about it before? Or just it this?</p>
            <p class='HS JaredAreluid'>Well-..., today happens to be overclocking days. In the past, ..., we previously do some weird stuffs. It was.. telling our volunteer doing intense stuff to make heart beats fast. Buuut.. we want more. Of course, we cannot do it on them so instead we make it ourselves, not to install it for anything just yet.</p>
            <p class='HS Info'>The Injections. This heart was injected with a specially crafted drug. The heart was made stronger it seems, but unfortunately it then blow up 10 seconds later after it reaches 1000 BPM, and with just a little poke of it. This is because the heart is still unmodified. As the drug wore off, it becomes shocked and unstable in a heartbeat, causing its abrupt explosion.</p>
            <p class='HS JaredAreluid'>To improve, e.g., before it can be then installed to.. those who need. As good as possible it could be used for.</p>
            <p class='HS DuronSediron'>So you do this not only for amusement, but also to improve our hearts?</p>
            <p class='HS JaredAreluid'>Correct! You see, heart is our core. But alas, ... they are vulnerable. Just to anything. After we done some fun like you see some of them on your left,</p>
            <p class='HS DuronSediron'>(look dioramas)</p>
            <p class='HS JaredAreluid'>we then decided to.. modify its material. How can we make it beats very stable for extended period of eons, while also.. can withstand extreme condition it could be. Either intentional, or unintentional.</p>
            <p class='HS Info'>The Pacing. This heart was manually paced electrically, with only nutrients given. It was forced to beat with only electricity to the max. It burns and died at only 700 BPM, becoming succulently <b>burnt</b> due to excessive electricity.</p>
            <p class='HS JaredAreluid'>Did you know, aah.., there are our people likes to play with their heart. No matter how much we told them, they refuse to stop. Heck, we forced to repair those who refuse to listen, luckily all alive.</p>
            <p class='HS DuronSediron'>(faintly remember case of death caused by extreme cardio play) I think I've seen this one before.</p>
            <p class='HS JaredAreluid'>That's one. There's so many cases here. Thankfully, after those, some many listened. But then some again.. those who are.. still wished they can be on extreme side, and begged us to do something with it. And that's where we are. Doing something, with added reasont to help them. Both for fun, and also critical stuffs.</p>
            <p class='HS DuronSediron'>That's great! How far you made it so far?</p>
            <p class='HS Info'>The Blockage. This heart's input & output pipes are intentionally closed. As it was connected the heart wreak havoc and blew up and in. the top (atrium) implodes, followed by bottom (ventricles) which explode. the port / left ventricle was the most explosive. This diorama contains only few pieces found when its pieces flew across the test chamber.</p>
            <p class='HS JaredAreluid'>Unfortunately no longer much these days. We tried to change composition over the time. To no avail, that's all we got. We still have to make it as best as possible, so the replacement in case are ready.</p>
            <p class='HS DuronSediron'>Huh. That's pitiful. Perhaps I have some idea you can take from me?</p>
            <p class='HS JaredAreluid'>Ha, again? Wow, you so eagerful. Never been in my life, consultants I ever invited, had tendency to help initiatively. Who are you?</p>
            <p class='HS DuronSediron'>Just a regular person, what? I mean.. Dasandimian.</p>
            <p class='HS JaredAreluid'>I see... No, you are not regular. Regular person Psychologically care less, in my opinion.</p>
            <p class='HS Info'>The Puncture. These hearts were intentionally punctured to replicate various needle heart incidents somewhere due to such accident. This one, as the hearts got punctured just by the suface, the heart's nerve becomes damaged, hence unstable signal and immediately arrythmia. Another one here that it was stabbed with the same exact model of pinset used in the fetish. This time stabbed to inside chamber that replicates another similar incident. Indeed, the blood splats and arrythmia also ensues much later.</p>
            <p class='HS DuronSediron'>Uh.. thank you?</p>
            <p class='HS JaredAreluid'>No problem. ... So, what's your call?</p>
            <p class='HS DuronSediron'>You know carbon nanotubes?</p>
            <p class='HS JaredAreluid'>Yes.. (idea popped)?? So..</p>
            <p class='HS DuronSediron'>Yes! I want the STEM cells build the heart like usual, but with the carbon nanotubes scaffolding it. Nanotech is later, we just wanna see if there is some reinforce ment in it</p>
            <p class='HS Info'>The Lick. This heart while it was beating was licked by a cat. It was intentional, just for fun. Surprisingly nothing happened, nor scratch because the heart is too soft to be scratchable. Luckily also, the cat doesn't bite the heart. This one is connected and still beating too.</p>
            <p class='HS JaredAreluid'>Okay (spawn table) okay, (save note)..... (re-attach Duron's name & aura, along with Tabayes' name & aura)... Here (show it).</p>
            <p class='HS DuronSediron'>(look at tablet)</p>
            <p class='HS JaredAreluid'>You need Tabayes. He has been learning alot.</p>
            <p class='HS DuronSediron'>Of course, I need the expert.</p>
            <p class='HS JaredAreluid'>Okay, so.. that is all?</p>
            <p class='HS DuronSediron'>Yeah... for now.</p>
            <p class='HS Info'>The Bubbles. This heart while it was beating was submerged in glycerin soap. It was intentional, just for fun. also nothing happened. The heart beats faster than usual, and the pipes absorbs and outputs the bubble as if is blowing bubble.</p>
            <p class='HS JaredAreluid'>..... Btw if I may ask, you come from Dasandim?</p>
            <p class='HS DuronSediron'>Yes. It's... pretty long story. I was also looking for new home, after a worst incident struck against my family.</p>
            <p class='HS JaredAreluid'>Damn them (the Harrassers). I thought, we're the only realm that got cancer for eons here.</p>
            <p class='HS DuronSediron'>For mine.. it's.. those who likes to do anything in their way.</p>
            <p class='HS JaredAreluid'>Not limited to yours?</p>
            <p class='HS DuronSediron'>Everyone. Who's unlucky, especially with the righteous activisms.</p>
            <p class='HS JaredAreluid'>ee-Yikes!.. I mean of course there's enemies. ... That bad??</p>
            <p class='HS DuronSediron'>Worse.</p>
            <p class='HS JaredAreluid'>Ogh... Guess colonization wasn't bad then. But still agonizing.</p>
            <p class='HS DuronSediron'>Yeah. ...........</p>
            <p class='HS Info'>Empty. There's nothing in this diorama yet. Probably for the next outstanding achievements. Upon before the diorama, in the way where he right side of our view, Klenzer Areluid has just finished his demonstration to school students. This system Klenzer has here is Oxygen transfer demo. In humanoid, blood after acquired oxygen will then be brought to body parts to be oxygenate the cells through capilary. In this demonstration, Areluids wanted to achieve unlagging efficiency of oxygen transfer even at high speed / rate. It is expected that the cell to get whole oxygen out of the blood and then reloaded as fast as possible like it was at usual rate.</p>
            <p class='HS JaredAreluid'>(saw him) Klenzer! (async) ... (accept catch hand)!!</p>
            <p class='HS KlenzerAreluid'>(async) Hey... (bro catch hand) sup! ?</p>
            <p class='HS JaredAreluid'>Good. I just guiding my consultant.</p>
            <p class='HS KlenzerAreluid'>Alright!, I just finished my demonstration.</p>
            <p class='HS JaredAreluid'>(it's the yesterday efficient blood stream experiment) So, do the same again?</p>
            <p class='HS KlenzerAreluid'>Yeah, it's pretty fun. Look, today we've improved the blood to be very efficient even more.</p>
            <p class='HS JaredAreluid'>Hey, can you please show Duron my consultant?</p>
            <p class='HS KlenzerAreluid'>Absolutely! here.</p>
            <p class='HS DuronSediron'>(pay attention to the system)...</p>
            <p class='HS KlenzerAreluid'>This is just a pump. nothing. (point to oxygen release gel at the other end) Now look at this?</p>
            <p class='HS DuronSediron'>Yes, the gel?</p>
            <p class='HS KlenzerAreluid'>This trigger oxygen drop. Then goes to this smaller pipe, and it blows the air. (look back to first left end) Also, this is how we fill it up.</p>
            <p class='HS DuronSediron'>Ah yeah, I get it. Cell breathing.</p>
            <p class='HS KlenzerAreluid'>Good. Now watch, this is exciting, (turn on)!</p>
            <p class='HS Info'>System turns on. The pumps running pushing the blood. the blood picked up oxygen to much from the left end (lung give oxygen). the output end blows oxygen air so thick (cell take oxygen). The blood indeed is very efficient.</p>
            <p class='HS KlenzerAreluid'>(take thin air nozzle hose) See, this is oxygen. We made everything so efficient, so one day if we use this, we are always feel fresh all the time we needed. Feel smarter, etc. etc. NOW!. (attach metal flame nozzle to that hose), It is so efficient, (right hand dial the speed right to maximum speed)...., that..., (right hand hold the nozzle, left hand ignite flame with liquid match, its flame come out) ah!-here we (put match again) go.., (char write that wood there) at higher heartbeat let's say (finishing writing)..... (finish), (look Jared & Duron) We can do anything crazy, huge potential. (right hand turn off system)!.</p>
            <p class='HS DuronSediron'>(amazed) Whooaa... what did I...</p>
            <p class='HS KlenzerAreluid'>Don't worry, it's recorded. But the basic idea is, ... having fastest heartbeat is not enough, if the blood themselves are laggy. So that's why.., we had to think this too.</p>
            <p class='HS DuronSediron'>Okay, wow... you guys take account of everything.</p>
            <p class='HS KlenzerAreluid'>Well that's clear. ... We got to.</p>
            <p class='HS DuronSediron'>Right at a time. May I use this?</p>
            <p class='HS KlenzerAreluid'>Sure go ahead. we got more revisions later. What for btw?</p>
            <p class='HS DuronSediron'>Carbon nanotube heart. I want you guys to have the fastestest heartbeat you can ever imagine. Strongest and the most durable. And this blood.. is the perfect match for it.</p>
            <p class='HS KlenzerAreluid'>Wow, okay.. Go ahead. It's in the archive.</p>
            <p class='HS JaredAreluid'>So, we start now?</p>
            <p class='HS DuronSediron'>The faster better. Let's get going, shall we? ....</p>
    <h2>Working the best out</h2>
        <h3>Workshop room.</h3>
            <!-- acquired resorce, design scaffold and get building. carboon black classic texture. -->
            <p class='HS Info'>Duron & Jared entered the workshop room. Tabayes has been standing there ready to start designing and prototyping.</p>
    <h2>Rejection</h2> 
        <!-- the High peer suddenly no longer accept scientist, and cancel everything after hearing news of murder of top 3 royal mind readers. they are assembled but had to be exiled due to trauma. again. -->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <h2>Pre-roll Credit</h2>
        <!-- Drone compilation B rolls of Areluid-Rumanod realm -->
    <h2>Credit</h2>

    <h2>End Card</h2>

    <h2>Bonus: Nimona downloads entire 3D model. 2500??? wait, what's 1500 plus 1000?</h2>
        <h3>Hymatt Avatarer again. Waiting area</h3>
            <p class='HS Info'>A new young clerk named Klauez was operating circular table hologram computer (sitting to the side of front glass) playing with the stock market very focusedly. Suddenly, a customer named Nimona (yes, that Netflix Nimona), came out of the service room instead of first from front door. Service room is where the customer start the avatar injection operation after confirming the order. Inside, 2 booths that looks like photobooth, but instead each has brain helm to facilitate data injection to customer head. We will use "she" pronoun for Nimona today to get audience the idea as for standard of intergalactic classifying feminine look. Later, we will change back if necessary.</p>
            <p class='HS KlauezArenod'>(noticed a customer, close hologram) Hello, welcome (realization, the customer did not come from front door and all the way from silence).......... (scan heart telepathically)... (name found) Uh.. Nimona.., the front door (port-left thumb point to that glass door she supposed to go in from) is there.. (start up the panik, things must've been compromised)...</p>
            <p class='HS Nimona'>Nah, I'm done.</p>
            <p class='HS KlauezArenod'>(Yep, definitely compromised) <b>DONE?!?</b>.., (panikly go inside the service room) Oh {nsfw?"shit":"s888"}-{nsfw?"shit":"s888"}-{nsfw?"shit":"s888"}-{nsfw?"shit":"s888"}-{nsfw?"shit":"s888"}-{nsfw?"shit":"s888"}-{nsfw?"shit":"s888"}-{nsfw?"shit":"s888"}-{nsfw?"shit":"s888"}-!!!, (entered) {nsfw?"shit":"s888"}!!, {nsfw?"shit":"s888"}!!</p>
        <h3>Avatar Service Room</h3>
            <p class='HS Info'>as the camera transitioned where it faced towards the controlling PC, Nimona already standing there beside it, because she teleported like Areluid stardusting. Klauez panikly reached the PC and opened up file manager and check if any of them has been compromised</p>
            <p class='HS KlauezArenod'>(Open file manager and navigate to the avatar source folder) Oh, {nsfw?"fuck":"f888"}!!, I'm gonna be so fired here... (confused) uh.. (this one, check <a href={nsfw?'https://smutba.se/user/16852/':'#'} target="_blank" rel="noopener noreferrer">Warfaremachine's</a> file).... (looks normal, but probably has been corrupted inside, accept fate), Argh {nsfw?"fuck":"f888"}!, well..</p>
            <p class='HS Nimona'>Don't worry, friend. I was already like this when I'm here.</p>
            <p class='HS KlauezArenod'>(upset hand supinator beg gesture) <b>DON'T WORRY WHAT?!</b> (port-left hand index point the <code>Date Accessed</code> column) LOOK!, It's accessed, <b><code>NOW</code></b>!!. (restore the controller app)!, (menu), (<code>Scan files</code>) UGH!!.. (swalled hard to swallow pill that he's gonna be fired, both hands wrap head in depression) Argh....</p>
            <p class='HS Nimona'>What are you talking about? that glass (Glass ROM disk) is read only.</p>
            <p class='HS KlauezArenod'>(internal what)??, (look PC again)... (100% Success Verification, flabbergasted) huh??????????.... (does not believe) No this.. gotta be fluke. (verify again)......</p>
            <p class='HS Nimona'>C'mon, chill.., I'm just downloading everything.. (remembered this newly downloaded file) OO what's this, Jenny XJ-9? never felt one of this in a while..</p>
            <p class='HS Info'>The files MD5's are still all the way match both local glass & cloud server.</p>
            <p class='HS Nimona'>I gotta try this soon, Victor files (Warfaremachine) is one hell of a tastiest, I'm confused, all files are too tasty.. in good way!</p>
            <p class='HS KlauezArenod'>(Kalm for now).. Uh.. okay, so.. umm.. we only pay for (hand point offer the booth) these machines there for maintenance, so if you used it, that gonna be.. (check PC again & look at total number)... 5000s... 5 Trillions. Points.</p>
            <p class='HS Nimona'>(look that photobooth machine) What machine? I didn't see that.</p>
            <p class='HS KlauezArenod'>Wait.. what do you mean? Then how did you learnt Victor's XJ-9?</p>
            <p class='HS Nimona'>Well.. I just feel the.. PC.</p>
            <p class='HS KlauezArenod'>Okay, Clicking is slow.. you need to transfer things directly.</p>
            <p class='HS Nimona'>That's what I did! (index finger shapeshift into USB Type C male plug)!!, See?</p>
            <p class='HS KlauezArenod'>(flabbergasted, no beings other than robot learn how to USB Mass Storage protocol)???... USB Mass Storage is a very complicated subject. ...</p>
            <p class='HS Nimona'>Well what's so hard?.., I just know.</p>
            <p class='HS KlauezArenod'>Okay... speaking of... (talk about the USB-C index finger) that... We don't have that file. Who are you?</p>
            <p class='HS Nimona'>I'm Nimona.</p>
            <p class='HS KlauezArenod'>I know. ..... What being are you?</p>
            <p class='HS Nimona'>Well people call me <code>Shapeshifter</code>, coz I change shape</p>
            <p class='HS KlauezArenod'>Shapeshifter? Oh, same!. (change avatar to Warfaremachine Alilkira)!! Areluids are shapeshifters too!</p>
            <p class='HS Nimona'>(impressed, there's another people who shapeshift too) Oh.. I thought I was alone</p>
            <p class='HS KlauezArenod'>Who said you're alone? All people here we taught them to shapeshift, and learn new forms here! It's painless.</p>
            <p class='HS Nimona'>Wow..</p>
            <p class='HS KlauezArenod'>Yeah.. basically it. If a new model came, you can download from us for free, or supply your own download, use the machine we have for just 25 Points or yours.</p>
            <p class='HS Nimona'>Hmmm...</p>
        <h3>Go back to waiting area again</h3>
            <p class='HS Info'>Klauez & Nimona come out through the curtain. The log of the machine already told, that no use at all today, proofing Nimona indeed did not use the machine, as well as other checks. This company only charge if you used the machine.</p>
            <p class='HS Nimona'>(push hard the curtain and barge out)!!, (walk)</p>
            <p class='HS KlauezArenod'>(follow out) Okay, so, everything's fine, and no use. So it's free. (look Nimona's back head) However, if we found JUST one break, ... (low tone) it's on you.</p>
            <p class='HS Nimona'>You can cross-..-my-..-heart, nothing's happening, beside of the access.</p>
            <p class='HS KlauezArenod'>Alright. I hope you're innocent. coz a 32 Exabyte glass ROM costs us 300 Points (not only to acquire but printing data to it as well because it's not copper, CNC'd). It's more like quarter grands in America Earth.</p>
            <p class='HS AudioInfo'>Nimona's smartwatch beeps notification.</p>
            <p class='HS Nimona'>(Look watch) Oh, times up! Btw, check your register, and your personal accounts too. Tell your friends to open theirs. I gotta go, see ya! (shapeshift teleport blast off the realm)!!!</p>
            <p class='HS KlauezArenod'>(did not got time to wave bye, she already left the scene)...., Okay.. (open up digital cash register wallet)... (5 Trillion Pts. got it with another transaction donation 2.5 Trillion Pts.) Huh?? (open personal banking app)..... (there is transaction in for 5000 Pts.) HAAH?? Oohhh.. wow..... Well... guess we can start the unattended test I believe.... Supposed 2 months from now... Hmmm should I tell uncle?</p>
            <p class='HS Info'>Technically, Hymatt already done the military service once again, so that's his reward along for his friends too. The boss stardust appeared into the scene. Uncle Brathuiz.</p>
            <p class='HS BrathuizArenod'>Wooh!</p>
            <p class='HS KlauezArenod'>Heeey.. Uncle... how you doing?</p>
            <p class='HS BrathuizArenod'>Never been better! How do we going here?</p>
            <p class='HS KlauezArenod'>Very great! You might wanna check your account now.</p>
            <p class='HS BrathuizArenod'>(unhide the personal banking app) Oh yess, (twist & show that window showing transaction log to Klauez) I received 5000 Points from Dasandim government. Something up here, boy?</p>
            <p class='HS KlauezArenod'>Yes.... a customer. Another shapeshifter, she (it?) downloaded our entire ROM. No machine use, but pay it all anyways.</p>
            <p class='HS BrathuizArenod'>(silent, flabbergasted, in a good way)...?????????</p>
    <h2>Bonus Finished</h2>





    {nsfw?<Fragment>
        <!-- Sediron.
            explore kingdom

            unblock baltheser and get him fun.

            the truth reveals, baltheser is kamatussa

            peace treaty, expose truth, throw baltheser to Judgement. win.
            
            Dr Hymatt transform service. met customer (who wish to install human form for human-con party in ballroom underneath the main castle) with coincidentally very identical name (the earth name, not their birth name) to ones who hated / blocked Baser, from dad mom daugher and younger brother. even they came up with design matches with the look of each and everyone of them. They are entirely different people but somehow had same look, and not the assholes.

            pls don't forget heart experiment we stole from Laila & Nerplex. compilation of heart torture collage. https://www.tumblr.com/purity-in-heart/740411342805254144?source=share this one. If you're blocked by original poster, no matter, you can't reblog nor like. Say "feel free" but she hated me in defense. Break the patent rules, but always attribute no matter what. God will reply, I hope.

            Oh, the final technology of heart was coming also from Discord but forgot which reply was it. an invincible heart installed on Judy Hopps something. With any explosion, the heart stands. So I want this build like carbon nanotubes, made muscle, and the nanotech acts as extra bearing and to rebuild the broken cells. Of couse by default it also cleanse LDL and plaks. Then, the Areluids in stardusts form learn how to control the carbon in the air and form nanotubes as they reassembles to form.

            receive let it go, Duron bring impostor to be analyzed along the way. the Beggar is Baltheser himself.
            -->
    </Fragment>:``}
</CoreHomestuck>