---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import CorePage from '@compnents/Page/__CorePage.astro';
import BeginningOfNSFW from '@components/Elements/SparePart/ListCells/BeginningOfNSFW.astro';
import StatCard from '@components/Elements/SparePart/StatCard.astro';
import CoreHomestuck from './__base/CoreHomestuck.astro';

const filename:String = 'Test2Again'
const isNSFW:boolean = false;
const addHeaderTitle:String = 'Testp2';
const addMetaTitle:String = 'Testp2';
const addKeywords:String = 'test2';
const addDescriptions:String = '2';
const skipHeader:boolean = false;
const skipNav:boolean = false;
const skipFooter:boolean = false;
const disableOverwhelmStatement:boolean = true;
const author:String = 'JOELwindows7';

const{
    nsfw = false,} = Astro.props;
---
<CoreHomestuck
    nsfw={nsfw} isnsfw={isnsfw}
    addKeywords={addKeywords}
    addDescriptions={addDescriptions}
    addHeaderTitle={addHeaderTitle}
    addMetaTitle={addMetaTitle}
    author={author}
    disableOverwhelmStatement={disableOverwhelmStatement}
    skipHeader={skipHeader}
    skipNav={skipNav}
    skipFooter={skipFooter}
    filename={filename}
>
    <p>Halo again</p>
    <p>
        {nsfw?'FUCK':'BLEEP'}
    </p>
</CoreHomestuck>