---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import CorePage from '@components/Page/__CorePage.astro';
import BeginningOfNSFW from '@components/Elements/SparePart/ListCells/BeginningOfNSFW.astro';
import StatCard from '@components/Elements/SparePart/StatCard.astro';
import Watermarking from '@components/Messages/Watermarking';

export interface Props{
    endSay?: string;
    company?: string;
    companyImgSrc?: string;
    licenseSay?: string;
    licenseImgSrc?: string;
    licenseUrl?: string;
    nsfw?:boolean;
    isNSFW?:boolean;
    detachedGenital?:boolean;
    addHeaderTitle?:string;
    addMetaTitle?:string;
    addKeywords?:string;
    addDescriptions?:string;
    skipHeader?:boolean;
    skipNav?:boolean;
    skipFooter?:boolean;
    disableOverwhelmStatement?:boolean;
    author?:string;
    noNeedNSFW?:boolean;
    // customGoBack?:String;
    filename?:String;
}

const{
    nsfw = false,
    isNSFW = false,
    filename = '???',
    addHeaderTitle = '',
    addMetaTitle = '',
    addKeywords = '',
    addDescriptions = '',
    skipHeader = false,
    skipNav = false,
    skipFooter = false,
    disableOverwhelmStatement = true,
    author = 'JOELwindows7',
    endSay = 'End',
    author = 'Anonymous',
    company = 'Perkedel Technologies',
    licenseSay = 'CC4.0-BY-SA',
    companyImgSrc = '/Perkedel_Icon.png',
    licenseImgSrc = '',
    licenseUrl = '',
    // customGoBack = '../../..',
} = Astro.props.frontmatter || Astro.props as Props;

const useCustomGoBack = true;
const noNeedNSFW = true;
// const procGoBack = customGoBack;
---
<CorePage
    nsfw={nsfw} useCustomGoBack={useCustomGoBack}
    addKeywords={'Homestuck, fanfic, fan fiction, story, cyoa, choose your own adventure, ' + addKeywords + ''}
    addDescriptions={addDescriptions}
    addHeaderTitle={addHeaderTitle}
    addMetaTitle={addMetaTitle}
    author={author}
    disableOverwhelmStatement={disableOverwhelmStatement}
    skipHeader={skipHeader}
    skipNav={skipNav}
    skipFooter={skipFooter}
    noNeedNSFW={noNeedNSFW}
    customGoBack={'../../../'+filename}
    >
    {isNSFW?
        <Fragment>
            {nsfw?
                <Fragment>
                    <slot>
                    <p>Empty</p>
                    </slot>
                </Fragment>
                :
                <Fragment>
                    <p class='error'>Sorry, this DialogLog is fully NSFW, but you have not enabled 69420 mode. Please go back to <a href='/apps/Homestuck'>Story List</a> and enable it. <b>You must be biologically mature! (18+)</b></p>
                </Fragment>
            }
        </Fragment>
        :
        <Fragment>
            <slot>
            <p>Empty</p>
            </slot>
        </Fragment>
    }
    
    <Watermarking 
        endSay={endSay}
        author={author}
        company={company}
        companyImgSrc={companyImgSrc}
        licenseSay={licenseSay}
        licenseImgSrc={licenseImgSrc}
    />
</CorePage>