---
import type { MarkdownLayoutProps } from 'astro';
import { SEO } from "astro-seo";
import ButtonizedLink from '../ButtonizedLink.astro';
import EmbedRAWHTML from '../EmbedRAWHTML.astro';
import BackToTopButton from '../BackToTopButton.astro';
import Layout from '../Layout.astro';

export interface Props {
  src?: string;
  height?:string;
  width?:string;
  style?:string;
  name?:string;
  title?: string;
  description?: string;
  author?:string;
  keywords?: string;
  hideInfo?: boolean;
  date?: string;
  dateMod?: string;
  dateExp?: string;
  thumbnail?:string;
  thumbnailType?:string;
  thumbnailWidth?:number;
  thumbnailHeight?:number;
  thumbnailAlt?:string;
  thumbnailAudio?:string;
  thumbnailVideo?:string;
  noIndex?:boolean;
  noFollow?:boolean;
  rating?:string;
  favIcon?:string;
  favIconHD?:string;
  favIconHDType?:string;
  favIconHDAlt?:string;
  favIconHDWidth?:number;
  favIconHDHeight?:number;
  charSet?:string;
  language?:string;
  twitterAuthor?:string;
  twitterSite?:string;
  twitterCard?:string;
  themeColor?:string;
  descriptionPrefix?: string;
  viewSourceURL?: string;
  ejectClarity?:boolean;
  // SauceURLs?: Map<string, string>;
  // MiscEmbedsURLs?: Map<string, string>;
  SauceURLs?: Array<Array<string>>;
  MiscEmbedsURLs?: Array<Array<string>>;
  MiscEmbedsThings?: Array<string>;
  ChangelogURL?: string;
  ChangelogIsExternalTab?:boolean;
}
//https://howtodoinjava.com/typescript/maps/
//https://stackoverflow.com/a/73526781/9079640

const { 
  src = '/rawHtml/insertRAWHTMLInside/index.html',
  height = '500px',
  width = '100%',
  style = 'border:none;',
  title = 'A Perkedel NTLF+ASTR Games', 
  name = title,
  author = 'JOELwindows7',
  description = 'Perkedel NTLF+ASTR. Play now Online, FREE $0',
  keywords = 'tech, fun, novelty, open source, gratis, free, game, html5, embed, embedded, web, online, game, game online, online game, free play, f2p',
  date,
  dateMod,
  dateExp,
  thumbnail = '/assets/img/perkedelbannerrender4KDCI.png',
  thumbnailType = 'image/png',
  thumbnailWidth = 4096,
  thumbnailHeight = 2160,
  thumbnailAlt = 'Perkedel banner',
  thumbnailAudio,
  thumbnailVideo,
  type = 'website',
  descriptionPrefix = 'PLAY ONLINE NOW, FREE $0',
  noIndex = false,
  noFollow = false,
  rating,
  favIcon ='/favicon.ico',
  favIconHD = '/Perkedel_Icon.png',
  favIconHDType = 'image/png',
  favIconHDAlt = 'Perkedel icon',
  favIconHDWidth = 600,
  favIconHDHeight = 400,
  charSet = 'UTF-8',
  language = 'en',
  twitterAuthor = '@'+author,
  twitterSite = twitterAuthor,
  twitterCard = 'summary_large_image' ,
  themeColor = '#0000aa',
  ejectClarity = false,
  hideInfo = false,
  SauceURLs = [
    ['Example','https://example.com','.75em', '200px'],
    ['Example2','https://example.org','.75em', '200px'],
  ],
  MiscEmbedsURLs = [
    ['Example','https://example.com'],
    ['Example2','https://example.org'],
  ],
  MiscEmbedsThings = [
    '<p>HELLO HELLO</p>',
    '<p>HELLO HELLO2</p>',
  ],
  ChangelogURL = './changelogs',
  ChangelogIsExternalTab = false,
// } = Astro.props as Props;
} = Astro.props.frontmatter || Astro.props as Props;
---
<Layout 
  title={title} 
  author={author} 
  description={description} 
  keywords={keywords}
  date={date}
  dateMod={dateMod}
  dateExp={dateExp}
  thumbnail={thumbnail}
  thumbnailAlt={thumbnailAlt}
  thumbnailType={thumbnailType}
  thumbnailWidth={thumbnailWidth}
  thumbnailHeight={thumbnailHeight}
  thumbnailAudio={thumbnailAudio}
  thumbnailVideo={thumbnailVideo}
  noIndex={noIndex}
  noFollow={noFollow}
  rating={rating}
  favIcon={favIcon}
  favIconHD={favIconHD}
  favIconHDType={favIconHDType}
  favIconHDWidth={favIconHDWidth}
  favIconHDHeight={favIconHDHeight}
  charSet={charSet}
  language={language}
  twitterAuthor={twitterAuthor || '@' + author}
  twitterSite={twitterSite || '@' + author}
  twitterCard={twitterCard || 'summary_large_image'}
  themeColor={themeColor || 'navy'}
  hideInfo={hideInfo}
  >
  <h1>{title}</h1>
    <slot name="aboveEmbed"/>
    <EmbedRAWHTML src={src} title={title} height={height} width={width} style={style} name={name} title={title}/>
    <slot name="bellowEmbed"/>
    <h2>Description</h2>
      <p>{description}</p>p
      <slot name="inDescription">

      </slot>
    <h2>Download & Play</h2>
      {SauceURLs.map((sauce)=>(
        <li>{sauce[2]}<a href={sauce[1]} target="_blank" rel="noopener noreferrer">{sauce[0]}</a>{sauce[3]}</li>
      ))}
    <h2>What's changed?</h2>
        {ChangelogIsExternalTab ? 
          <a class="Buttonnize" href={ChangelogURL} target="_blank" rel="noopener noreferrer">&#xeb43; Click here to view changelogs over there!</a> :
          <a class="Buttonnize" href={ChangelogURL} >&#xeb43; Click here to view changelogs now!</a>
          }
      <!-- <a class="Buttonnize" href={ChangelogURL}>&#xeb43; Click here to view changelogs</a> -->
    <h2>Misc Embeds</h2>
      {MiscEmbedsURLs.map((thueing)=>(
        <EmbedRAWHTML src={thueing[1]} title={thueing[0]} width={thueing[2]} height={thueing[3]}/><br/>
      ))}
      {MiscEmbedsThings.map((thiing)=>(
        <span>{thiing}</span><br/>
        // ({thiing}<br/>)
      ))}
      <slot name="inMiscEmbeds"/>
    <slot>
      
    </slot>
</Layout>