---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import CoreAccounts from './__CoreAccounts.astro';

export interface Props{
    nsfw?:boolean;
}

// Stat card
let fullName:string = 'Joel Robert Justiawan';
let photoURL:string = '/assets/img/fckdrm/Joel_profile.png';
let username:string = 'JOELwindows7';
let gender:int = 0;
let birthDay:int = 7;
let birthMonth:int = 2;
let birthYear:int = -1; // DO NOT SET MORE THAN 0 IF CHARACTER IS NOT FICTIONAL, Unless they wanted it.
let birthAlternateCalculate:boolean = true;
let asOfYear:int = 2023
let myAgeWasThisThatYear:int = 24
let location:string = `Jakarta, Indonesia`;
let bloodType:int = 0;
let bloodRh:boolean = true;
let isFictional:boolean = false;
let galleryLists: Array<Array<string>> = [
    //src, caption
    [`/assets/img/mavrickle.png`,`Mavrickle`]
]
let relationshipLists: Array<Array<string>> = [
    //title, description
    [`a`,`a`],
]
let triviaLists: Array<string> = [
    `<b>aaaaaaaaaaaa</b>`,
    `<b>bbbbbbbbbbbb</b>`,
]

// URL, Title, Thumb Image URL, Icon, Stay in this tab
const bioLinks:Array<Array<string | boolean | number>> = [
    ['https://perkedel.netlify.app', 'Perkedel NTLF+ASTR Website', '', '&#xfa9e;', true],
    ['https://odysee.com/$/invite/@JOELwindows7', 'Join Odysee now!', '', '&#xfa9e;', false],
    ['https://cointr.ee/joelwindows7', '(Legacy) Cointree', '', '&#xfa9e;', false],
    ['https://sociabuzz.com/joelwindows7', '(Legacy) (Indonesia) Sociabuzz', '', '&#xfa9e;', false],
    ['https://YouTube.com/@JOELwindows7', 'YouTube', '', '&#xf16a;', false],
    ['https://www.tiktok.com/@joelwindows7', 'TikTok', '', '&#xfa9e;', false],
    ['https://vimeo.com/joelwindows7', 'Vimeo', '', '&#xfa9e;', false],
    [`https://playhcr.com/invite?id=4lrDam`, `Hill Climb Racing 2 Invite`, '', '&#xfa9e;', false],
    ['https://odysee.com/@JOELwindows7', `LBRY on Odysee`, '', '&#xfa9e;'],
    ['https://odysee.com/@JOELwindows7:7', `YouTube backup to LBRY on Odysee`, '', '&#xfa9e;'],
    ['https://odysee.com/@X0P1R4T3-33NSVREENMNT-0FFICIAL:f', `Admiral Zumi's LBRY on Odysee`, '', '&#xfa9e;'],
    ['https://www.pixiv.net/users/28352331', `Pixiv`, '', '&#xfa9e;'],
    ['https://9gag.com/u/joelwindows7', `9GAG`, '', '&#xfa9e;'],
    ['https://pronouny.xyz/u/joelwindows7', `Pronouny. It's <code>he/his/him/himself</code>. Just like normal, as God intended. <span style='font-size:xx-small;'>Oops! I think I brought religion that made them mad?</span>`, '', '&#xfa9e;'],
    ['https://en.pronouns.page/@JOELwindows7', `Pronouns.page . It's <code>he/his/him/himself</code>. Just like normal, as God intended.    `, '', '&#xfa9e;'],
    
]
const bioLinksNSFW:Array<Array<string | boolean | number>> = [
    ['https://lbry.bcow.xyz/@JOELwindows7', 'LBRY on Librarian instance at lbry.bcow.xyz', '', '&#xfa9e;'],
    ['https://lbry.projectsegfau.lt/@JOELwindows7', 'LBRY on Librarian instance at lbry.projectsegfau.lt', '', '&#xfa9e;'],
    ['https://lbry.projectsegfau.lt/@X0P1R4T3-33NSVREENMNT-0FFICIAL:f', `Admiral Zumi's LBRY on Librarian instance at lbry.projectsegfau.lt`, '', '&#xfa9e;'],
    ['https://linktr.ee/joelwindows7', '(Legacy) linktree', '', '&#xfa9e;'],
    ['https://thisvid.com/members/2229865/', 'ThisVid', '', '&#xfa9e;'],
    ['https://Twitter.com/@JOELwindows7', 'Twitter', '', '&#xfa9e;'],
    ['https://joelwindows7.tumblr.com', 'Tumblr', '', '&#xfa9e;'],
    ['https://fans.ly/JOELwindows7', 'Fansly (NO PAYWALL 9999%)', '', '&#xfa9e;'],
    ['https://lahelu.com/user/joelwindows7', 'Lahelu. Meme website made by a YouTuber', '', '&#xfa9e;'],
    ['https://chomikuj.pl/JOELwindows7', 'Chomikuj / HamsterFile. Whole lot of treasures of rare files!!!', '', '&#xfa9e;'],
]

const{
    nsfw = false,
    
} = Astro.props.frontmatter || Astro.props as Props;
---
<CoreAccounts
    nsfw={nsfw}
    fullName = {fullName}
    username={username}
    links = {bioLinks}
    linksNSFW = {bioLinksNSFW}
    gender = {gender}
    birthDay = {birthDay}
    birthMonth = {birthMonth}
    birthYear = {birthYear}
    location = {location}
    isFictional = {isFictional}
    photoURL = {photoURL}
    bloodType = {bloodType}
    bloodRh = {bloodRh}
    triviaLists = {triviaLists}
    relationshipLists = {relationshipLists}
    galleryLists = {galleryLists}
    birthAlternateCalculate = {birthAlternateCalculate}
    myAgeWasThisThatYear = {myAgeWasThisThatYear}
    asOfYear = {asOfYear}
    >
    <Fragment slot='StatQuote'>Ahei, Dasandimian, Cool and good.</Fragment>
    <p>wow</p>
    <h3>YEY</h3>
        <p>Cool and good. yeyeyeyeye</p>
    
    <Fragment slot='WikiStart'>

    </Fragment>

    <Fragment slot='WikiEtymology'>
        
    </Fragment>

    <Fragment slot='WikiBiography'>
        
    </Fragment>

    <Fragment slot='WikiPersonality'>
        
    </Fragment>

    <!-- <Fragment slot='WikiRelationship'>
        
    </Fragment>

    <Fragment slot='WikiGallery'>
        
    </Fragment> -->

    <!-- <Fragment slot='WikiTrivia'>
        <ul>
            <li></li>
        </ul>
    </Fragment> -->

    <Fragment slot="afterNSFWBar">
        <p>Wowowowowwo</p>
    </Fragment>
</CoreAccounts>