---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import CorePage from '../__CorePage.astro';

export interface Props{
    nsfw?:Boolean;
    username:string;
    photoURL?:string;
    links?:Array<Array<String | boolean>>;
    linksNSFW?:Array<Array<String | boolean>>;
    thirdPartyEdit?:Boolean;
    disableOverwhelmStatement?:boolean;
    addKeywords?:string;
}

// Add these yourself!
const bioLinks:Array<Array<string | boolean>> = [
    ['https://example.org', 'Example URL', 'THUMB_IMAGE_URL', '&#xeb01;', false]
]
const bioLinksNSFW:Array<Array<string | boolean>> = [
    ['https://example.org', 'Example URL', 'THUMB_IMAGE_URL', '&#xeb01;', false]
]
// end Add these yourself

const{
    nsfw=false,
    username = '',
    photoURL = '',
    links = bioLinks, // & assign your variable there like `links = your_biolinks_array` in your `<USERNAMELINK>` stuff like that
    linksNSFW = bioLinksNSFW, // Don't forget the NSFW links too if you had it. don't dare you cheat! you must be at biological mature age of your being!
    thirdPartyEdit = false, // Admin will raise this flag if it was the other admin that created the Biolinks, not the author themselves.
    disableOverwhelmStatement = true, // This time shall be true to prevent non-rabbit hole explorer to see that plea at an unexpected time.
    addKeywords = '',
} = Astro.props.frontmatter || Astro.props as Props;
---
<!-- 

set:html={datas[3]+" "+datas[1]+""} 
set:html={datas[3]+" "+datas[1]+" <b class='warning'>(🥵 NSFW &#xfa8b;&#xf421;)</b>"}
-->
<CorePage
    nsfw={nsfw}
    addKeywords={'linktree, biolink, link in bio, ' + username + ', linktree, cointree, better, ' + addKeywords + ', '}
    addDescriptions={'@'+username + ' BioLinks. Link Bio Tree of @'+username}
    addHeaderTitle={'@'+username + ' BioLinks'}
    addMetaTitle={'@'+username + ' BioLinks'}
    author={username}
    disableOverwhelmStatement={disableOverwhelmStatement}
    >
    <h2 style="text-align:center;">Biolinks</h2>
    <ul class="BioLinksList">
        {links.map(datas =>(
            <li>
                <ButtonizedLink 
                    classe="BioLinks"
                    href={datas[0]} 
                    
                    target="_blank" 
                    rel="noopener noreferrer"
                    openInNewTab={!(datas[4] || false)}
                    >
                <b set:html={datas[3]}></b> {datas[1]}
                </ButtonizedLink>
            </li>
        ))}
        {nsfw?linksNSFW.map(datas =>(
            <li>
                <ButtonizedLink 
                    classe="BioLinks BioLinksNSFW"
                    href={datas[0]} 
                    target="_blank" 
                    rel="noopener noreferrer"
                    openInNewTab={!(datas[4] || false)}
                    >
                <b set:html={datas[3]}></b> {datas[1]} <b class='warning'>(🥵 NSFW &#xfa8b;&#xf421;)</b>
                </ButtonizedLink>
            </li>
        )):""}
    </ul>
    <h2>About & More</h2>
    <slot>
        <p>Hello, my name is {username}!</p>
    </slot>
    <!-- <h2 slot="afterNSFWBar">Misc</h2> -->
    <hr slot="afterNSFWBar"/>
    <slot name="afterNSFWBar" slot="afterNSFWBar">{""}</slot>
</CorePage>