---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import CorePage from '../__CorePage.astro';
import BeginningOfNSFW from '@components/Elements/SparePart/ListCells/BeginningOfNSFW.astro';
import StatCard from '@components/Elements/SparePart/StatCard.astro';

export interface Props{
    nsfw?:Boolean;
    fullName?:string;
    username:string;
    photoURL?:string;
    links?:Array<Array<String | boolean | number>>;
    linksNSFW?:Array<Array<String | boolean | number>>;
    thirdPartyEdit?:Boolean;
    disableOverwhelmStatement?:boolean;
    addKeywords?:string;
    skipHeader?:boolean;
    skipNav?:boolean;
    skipFooter?:boolean;
    gender?:int; // gender ID
    birthDay?:int;
    birthMonth?:int;
    birthYear?:int;
    location?:string;
    isFictional?:boolean;
    triviaLists?:Array<string>;
    relationshipLists?:Array<Array<string>>;
    galleryLists?:Array<Array<string>>;
    birthAlternateCalculate?:boolean;
    asOfYear?:int;
    myAgeWasThisThatYear?:int;
}

// Add these yourself!
const bioLinks:Array<Array<string | boolean>> = [
    ['https://example.org', 'Example URL', 'THUMB_IMAGE_URL', '&#xfa9e;', false]
]
const bioLinksNSFW:Array<Array<string | boolean>> = [
    ['https://example.org', 'Example URL', 'THUMB_IMAGE_URL', '&#xfa9e;', false]
]
// end Add these yourself

const{
    nsfw=false,
    fullName = '',
    username = '',
    photoURL = '/assets/img/mavrickle.png',
    links = bioLinks, // & assign your variable there like `links = your_biolinks_array` in your `<USERNAMELINK>` stuff like that
    linksNSFW = bioLinksNSFW, // Don't forget the NSFW links too if you had it. don't dare you cheat! you must be at biological mature age of your being!
    thirdPartyEdit = false, // Admin will raise this flag if it was the other admin that created the Biolinks, not the author themselves.
    disableOverwhelmStatement = true, // This time shall be true to prevent non-rabbit hole explorer to see that plea at an unexpected time.
    addKeywords = '',
    skipHeader = false,
    skipNav = false,
    skipFooter = false,
    gender = -1,
    birthDay = -1,
    birthMonth = -1,
    birthYear = -1, // DO NOT SET MORE THAN 0 IF CHARACTER IS NOT FICTIONAL, Unless they wanted it.
    location = `Somewhere`,
    bloodType = -1,
    bloodRh = false,
    isFictional = true,
    triviaLists = [`Empty Trivia`],
    galleryLists = [[``,``]],
    relationshipLists = [[``,``]],
    birthAlternateCalculate = false,
    asOfYear = -1,
    myAgeWasThisThatYear = -1,
} = Astro.props.frontmatter || Astro.props as Props;
---
<!-- 

set:html={datas[3]+" "+datas[1]+""} 
set:html={datas[3]+" "+datas[1]+" <b class='warning'>(🥵 NSFW &#xfa8b;&#xf421;)</b>"}
-->
<!-- 
target="_blank" 
rel="noopener noreferrer"
 -->
<CorePage
    nsfw={nsfw}
    detachedGenital={true}
    addKeywords={'linktree, biolink, link in bio, ' + username + ', linktree, cointree, better, links, ' + addKeywords + ', bio, link, socmed, social, media, akun, account, accounts,'}
    addDescriptions={'@'+username + ' BioLinks. Link Bio Tree of @'+username}
    addHeaderTitle={'@'+username + ' BioLinks'}
    addMetaTitle={'@'+username + ' BioLinks'}
    author={username}
    disableOverwhelmStatement={disableOverwhelmStatement}
    skipHeader={skipHeader}
    skipNav={skipNav}
    skipFooter={skipFooter}
    >
    <h2 style="text-align:center;">Stats</h2>
    <details open>
        <summary>Stat card</summary>
        <StatCard
            yourName={fullName}
            yourUsername={username}
            yourBirthDay={birthDay}
            yourBirthMonth={birthMonth}
            yourBirthYear={birthYear}
            yourLocation={location}
            isFictional={isFictional}
            yourGender={gender}
            authorImgSrc={photoURL}
            yourBloodType={bloodType}
            yourBloodRh={bloodRh}
            birthAlternateCalculate = {birthAlternateCalculate}
            asOfYear = {asOfYear}
            myAgeWasThisThatYear = {myAgeWasThisThatYear}
        >
            <slot name='StatQuote'>
                
            </slot>
        </StatCard>
    </details>
    <h2 style="text-align:center;">BioLinks</h2>
    <ul class="BioLinksList">
        {links.map(datas =>(
            <li>
                <ButtonizedLink 
                    classe="BioLinks BioLinksSFW"
                    href={datas[0]} 
                    openInNewTab={!(datas[4] || false)}
                    >
                {datas[2] && datas[2] != ``?<Fragment><img src={datas[2]} class='SpecialityImageWide'/><br/></Fragment>:``}
                <Fragment set:html={datas[3] || "&#xfa9e"}></Fragment> <Fragment set:html={datas[1]}/>
                </ButtonizedLink>
            </li>
        ))}
        {nsfw?<BeginningOfNSFW/>:``}
        {nsfw?linksNSFW.map(datas =>(
            <li>
                <ButtonizedLink 
                    classe="BioLinks BioLinksNSFW"
                    href={datas[0]} 
                    openInNewTab={!(datas[4] || false)}
                    >
                {datas[2] && datas[2] != ``?<Fragment><img src={datas[2]} class='SpecialityImageWide'/><br/></Fragment>:``}
                <Fragment set:html={datas[3] || "&#xfa9e"}></Fragment> <Fragment set:html={datas[1]}/>  <b class='warning'>(🥵 NSFW &#xfa8b;&#xf421;)</b>
                </ButtonizedLink>
            </li>
        )):""}
    </ul>
    <h2>About & More</h2>
        <slot>
            <p>Hello, my name is {username}!</p>
        </slot>
    <h2>Wiki (Perkedel Cinematic Universe)</h2>
        <slot name='WikiStart'></slot>
        <h3>Etymology</h3>
            <slot name='WikiEtymology'><i>No Etymology provided for this entity</i></slot>
        <h3>Biography</h3>
            <slot name='WikiBiography'><i>No Biography provided for this entity</i></slot>
        <h3>Personality & Traits</h3>
            <slot name='WikiPersonality'><i>No Personality & Traits provided for this entity</i></slot>
        <h3>Relationship</h3>
            <slot name='WikiRelationship'></slot>
            {relationshipLists.map(
                datas => (
                    <Fragment>
                        <h3>{datas[0]}</h3>
                        <Fragment set:html={datas[1]}/>
                    </Fragment>
                )
            )}
        <h3>Gallery</h3>
            <slot name='WikiGallery'></slot>
            <div class='galleryCollage'>
                {galleryLists.map(
                    datas => (
                        <Fragment>
                            <figure class='galleryCollageItem'>
                                <img src={datas[0]} alt={datas[1] + ` | ` + datas[0]}></img>
                                <figcaption set:html={datas[0]}></figcaption>
                            </figure>
                        </Fragment>
                    )
                )}
            </div>
        <h3>Trivia</h3>
            <slot name='WikiTrivia'></slot>
            {triviaLists.map(
                datas => (
                    <li>
                        <Fragment set:html={datas}/>
                    </li>
                )
            )}
    <!-- <h2 slot="afterNSFWBar">Misc</h2> -->
    <hr slot="afterNSFWBar"/>
    <slot name="afterNSFWBar" slot="afterNSFWBar">{""}</slot>
</CorePage>

{/* {(`| ${datas[2]}` && datas[2] != ``)||``} */}