---
import Layout from '@components/Layout.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import Midi from '@components/Elements/MidiPlayer.astro';
import EmbedAudio from '@components/Elements/EmbedAudio.astro';
import RandomPlayMIDIs from '@components/Elements/SparePart/RandomPlayMIDIs.astro';
import RandomLoudLinks from '@components/Elements/SparePart/RandomLoudLinks.astro';
import OwenWowTest from '@components/Elements/SparePart/OwenWowTest.astro';
import IncredibleQuips from '@components/Elements/SparePart/IncredibleQuips.astro';
import HoverExpandTest from '@components/Elements/SparePart/Experiments/HoverExpandTest.astro';
import ScrollRevealTest from '@components/Elements/SparePart/Experiments/ScrollRevealTest.astro';
import JPEGXLTest from '@components/Elements/SparePart/Experiments/JPEGXLTest.astro';
import YearOnNetlify from '@components/Elements/SparePart/Experiments/YearOnNetlify.astro';

const posts = await Astro.glob('./*.astro');
---
<Layout title={"Cat Select"} description={"Meows"} keywords={`experiment, test, sample, examples, meow`}>
    <h1>Cats</h1>
        <p>Select Cat!</p>
        <ul>
            <!--
            <li><ButtonizedLink href="shadow" openInNewTab={false}>shadow</ButtonizedLink></li>
            <li><ButtonizedLink href="lemon" openInNewTab={false}>lemon</ButtonizedLink></li>
            <li><ButtonizedLink href="stripe" openInNewTab={false}>stripe</ButtonizedLink></li>
            <li><ButtonizedLink href="calico" openInNewTab={false}>calico</ButtonizedLink></li>
            -->
            {posts.map(post => <li><ButtonizedLink href={post.url} openInNewTab={false}>{post.url}</ButtonizedLink></li>)}
        <ul>
        <ButtonizedLink href="https://docs.astro.build/en/core-concepts/routing/#static-ssg-mode" openInNewTab={true}>More about Static SSG Routes</ButtonizedLink>
</Layout>
