---
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import PlaySoundButton from '../PlaySoundButton.astro';
import SpotifyContainsDRM from '@components/Messages/SpotifyContainsDRM.astro';
// import { Time } from '@astro-github-elements/time';

export interface Props{
    nsfw?:boolean;
    dumpQuik:Array<Array<String>>;
}

const{
    nsfw=false,
    dumpQuik = [
        // Sauce URL, Button Label, Author, Info, list style, list class, button style, button class
        [`https://example.com`,`Example`,`Author`,`Info`, ``, ``, ``, ``]
    ],
}= Astro.props.frontmatter || Astro.props as Props;
---
{
    dumpQuik.map(stuff => (
    <li style={stuff[4]} class={stuff[5]}><ButtonizedLink href={stuff[0]} target="_blank" rel="noopener noreferrer" style={stuff[6]} classe={stuff[7]} set:html={stuff[1] + ` ` + (nsfw?`<mark class='warning'>🥵 NSFW</mark>`:``)}></ButtonizedLink> <Fragment set:html={stuff[2]}> </Fragment>. <Fragment set:html={stuff[3] || ``}></Fragment></li>
    ))
}