---
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import PlaySoundButton from '../PlaySoundButton.astro';
import SpotifyContainsDRM from '@components/Messages/SpotifyContainsDRM.astro';
// import { Time } from '@astro-github-elements/time';
import DumpQuikRealizer from './DumpQuikRealizer.astro';

const dumpQuik:Array<Array<string>> = [
    // [`https://youtube.com/playlist?list=PLoenwhUTF1kFzQ8rggbQDLCmLLiOJTpSR`,`Joel's Memes YouTube Playlist`,`JOELwindows7`,`Yes, my meme!`],
    [`https://drive.google.com/drive/folders/11ZzLQsDjgMHRoEMhW7xg0xIHW0rY7Biq`,`IchorMongrel's Heart Community Folder`,`Ichor Mongrel`,``, `display:none;`],
    [`https://www.dropbox.com/scl/fo/0iz5pnypr8j8sdmnwhqyk/h?dl=0&rlkey=z1yl30o8v1qxh1c9qeno6h5yn`,`luna ssaki's Heart Community Folder`,`luna ssaki`,``, `display:none;`],
    [`https://www.dropbox.com/sh/hi7uqdubgmgpvf9/AACsYjAsFAHua3udGwhsjguha?dl=0`,`A.Y's Heart Collection Folder`,`A.Y`,`<mark>PLS PRESERVE ALL!!!</mark>`, `display:none;`],
    [`https://www.pornhub.com/playlist/198101901`,`Fieron's SFM Animation in PornHub`,`Fieron, collected by Voxxette`,`<mark>PLS PRESERVE ALL!!!</mark>`, ``],
    [`https://twitter.com/SpicyF4u/status/1636373640039243778?t=gcwQTemTDhC85s6fWTknuw&s=19`,`Evil Marcy torso nude with xray thorax & abdoment reveal heart organ & stomach organs`,`Spicy4U`,`Jackpot!`, ``],
    [`https://glenskunk.gumroad.com/`,`GlennSkunk Gumroad`,``,`Has Toony heart avatar module. average costs as of 2023-03-21 = <code>(15 + 15 + 15 + 20) / 4 = Total US$ 65.00 / 4 = US$ 16,25</code>`, ``, `Paywalled`],
    [`https://youtu.be/bbmw-UFw_eo`,`growing heart is beating`,`tusukumo heart`,``],
    [`https://youtu.be/A2hQYjYU-54`,`growing heart is pounding`,`tusukumo heart`,``],
]
---
<!-- {
    dumpQuik.map(stuff => (
    <li><ButtonizedLink href={stuff[0]} target="_blank" rel="noopener noreferrer" set:html={stuff[1]}></ButtonizedLink> <Fragment set:html={stuff[2]}> </Fragment>. <Fragment set:html={stuff[3] || ``}></Fragment></li>
    ))
} -->
<DumpQuikRealizer dumpQuik={dumpQuik} nsfw={true}/>