---
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import PlaySoundButton from '../PlaySoundButton.astro';
import SpotifyContainsDRM from '@components/Messages/SpotifyContainsDRM.astro';
// import { Time } from '@astro-github-elements/time';
import DumpQuikRealizer from './DumpQuikRealizer.astro';

const dumpQuik:Array<Array<string>> = [
    // [`https://youtube.com/playlist?list=PLoenwhUTF1kFzQ8rggbQDLCmLLiOJTpSR`,`Joel's Memes YouTube Playlist`,`JOELwindows7`,`Yes, my meme!`],
    [`https://drive.google.com/drive/folders/11ZzLQsDjgMHRoEMhW7xg0xIHW0rY7Biq`,`IchorMongrel's Heart Community Folder`,`Ichor Mongrel`,``, `display:none;`],
    [`https://www.dropbox.com/scl/fo/0iz5pnypr8j8sdmnwhqyk/h?dl=0&rlkey=z1yl30o8v1qxh1c9qeno6h5yn`,`luna ssaki's Heart Community Folder`,`luna ssaki`,``, `display:none;`],
    [`https://www.dropbox.com/sh/hi7uqdubgmgpvf9/AACsYjAsFAHua3udGwhsjguha?dl=0`,`A.Y's Heart Collection Folder`,`A.Y`,`<mark>PLS PRESERVE ALL!!!</mark>`, `display:none;`],
    [`https://www.pornhub.com/playlist/198101901`,`Fieron's SFM Animation in PornHub`,`Fieron, collected by Voxxette`,`<mark>PLS PRESERVE ALL!!!</mark>`, ``],
    [`https://twitter.com/SpicyF4u/status/1636373640039243778?t=gcwQTemTDhC85s6fWTknuw&s=19`,`Evil Marcy torso nude with xray thorax & abdoment reveal heart organ & stomach organs`,`Spicy4U`,`Jackpot!`, ``],
    [`https://glenskunk.gumroad.com/`,`GlennSkunk Gumroad`,``,`Has Toony heart avatar module. average costs as of 2023-03-21 = <code>(15 + 15 + 15 + 20) / 4 = Total US$ 65.00 / 4 = US$ 16,25</code>`, ``, `Paywalled`],
    [`https://www.furaffinity.net/gallery/oinuttah/`,`GlennSkunk FurAffinity (Heartbeat OiNuttah) Gallery`,``,``],
    [`https://www.furaffinity.net/gallery/cardiobombastic/`,`GlennSkunk FurAffinity (Heartbeat Extreme CardioBombastic) Gallery`,``,``],
    [`https://www.furaffinity.net/user/brightenight07/`,`Brightenight FurAffinity `,``,``],
    [`https://www.furaffinity.net/user/hayaishinzouneko/`,`HayaiShinzoNeko FurAffinity `,``,``],
    [`https://www.furaffinity.net/gallery/heartbox/`,`Heartbox FurAffinity `,``,`If only I could sculpt in Blender, I would help Kay model her Robert here.`],
    [`https://www.furaffinity.net/user/hypnoposs/`,`hypnoposs FurAffinity `,``,``],
    [`https://www.furaffinity.net/user/baymaxfilm/`,`BAYMAXFilm FurAffinity `,``,``],
    [`https://www.furaffinity.net/user/kraelsky/`,`kraelsky FurAffinity `,``,``],
    [`https://www.furaffinity.net/user/emperorflufflefan/`,`Emperor_Fluffle_Fan FurAffinity `,``,``],

    [`https://www.furaffinity.net/view/29605390/`,`Thumpy Sabrina GlennSkunk Style `,`ares165`,``],
    [`https://www.furaffinity.net/view/39860471/`,`Thumpy Christmas Deer GlennSkunk Style `,`ares165`,``],
    [`https://www.furaffinity.net/view/36841402/`,`Cardiophiliac Hunk Skunk GlennSkunk Style `,`PYC-Art`,``],
    [`https://www.furaffinity.net/view/27798287/`,`Pitter Patter Judy Hopps GlennSkunk Style `,`joykill`,``],
    [`https://www.furaffinity.net/view/39860471/`,`Pitter Patter Judy Hopps GlennSkunk Style No Heart`,`joykill`,``],
    [`https://youtu.be/bbmw-UFw_eo`,`growing heart is beating`,`tusukumo heart`,``],
    [`https://youtu.be/A2hQYjYU-54`,`growing heart is pounding`,`tusukumo heart`,``],
    [`hhttps://www.furaffinity.net/view/45974415/`,`Hard Hot & Wet`,`SomeDeviantOcelot`,``],
    [`https://inkbunny.net/s/2650734`,`Hard Hot & Wet (More variations)`,`SomeDeviantOcelot`,``],
    [`https://www.furaffinity.net/user/jackthecrimsonwolf/`,`Jack_the_crimson_wolf FurAffinity`,``,``],
    [`https://www.furaffinity.net/view/45444937/`,`Lab Rat 2: Hyper Adrenaline`,`RukaKitsune`,``],
    [`https://mega.nz/file/H4wBGYxB#MKCqYtBfYBLmCI58rXnhAYt6T_P6bIuz-q4up6WVKcY`,`Lab Rat 2: Hyper Adrenaline`,`RukaKitsune`,``,`display:none;`],
    [`https://www.furaffinity.net/view/27847845/`,`The New Toy Cat masturbate`,`Ominous_The_Unknown`,`Only mentions hearbeat pounding thumping, no visually visible heartbeat`],
    [`https://www.furaffinity.net/view/28061328/`,`Listening in`,`raelsky`,``],
    [`https://www.furaffinity.net/view/28656716/`,`Tachycardia equestria pony`,`Fensu-san`,``],
    [`https://www.furaffinity.net/view/21203237/`,`Dashie's Heat`,`Fieron, Echoen`,``],
    [`https://www.furaffinity.net/view/18281915/`,`Applegrowth`,`Fieron, Echoen`,``],
    
    [`https://www.furaffinity.net/view/18503634/`,`Bimbo Plague Pt. 1`,`Fieron, Echoen`,``],
    [`https://www.furaffinity.net/view/20902708/`,`Bimbo Plague Pt. 2`,`Fieron, Echoen`,``],
    [`https://www.furaffinity.net/view/29028582/`,`Bimbo Plague Pt. 3`,`Fieron, Echoen`,``],
    [`https://www.furaffinity.net/view/31148517/`,`Bimbo Plague Pt. 4`,`Fieron, Echoen`,``],

    [`https://mega.nz/file/TxBilLjZ#S8L4ktuHg_i5nKzjS03to8ZZ450jtty-vCGaHLQZlDA`,`Dashie's Heat`,`Fieron, Echoen`,``, `display:none;`],
    [`https://mega.nz/file/DwAQUT6B#DG2ZFsCtAw7z12yOCPPWZB8DfmSUpd5BR1XvAEnL89A`,`Applegrowth`,`Fieron, Echoen`,``, `display:none;`],

    [`https://mega.nz/file/n8JE2DxI#t1c46p_qMH58zjFuqWycAYwbSZg2p2TbfF5QqJi_MEM`,`Bimbo Plague Pt. 1`,`Fieron, Echoen`,``, `display:none;`],
    [`https://mega.nz/file/v5hTkASa#c4fttPMlCNH7dFBK2YlhHHXOaPz0IrHXFPLgedZgRrY`,`Bimbo Plague Pt. 2`,`Fieron, Echoen`,``, `display:none;`],
    [`https://mega.nz/file/jsASWB6a#IQhVV2uoyK7OMUuGmHr5m3SEW3HJFG320-SODYs3n4M`,`Bimbo Plague Pt. 3`,`Fieron, Echoen`,``, `display:none;`],
    [`https://mega.nz/file/j1BkHZQQ#sWnLYpsFPFT21sImt8Wf5ir9ePseakbn33i5hWOZGE4`,`Bimbo Plague Pt. 4`,`Fieron, Echoen`,``, `display:none;`],
    [`https://www.furaffinity.net/gallery/echoen/`,`Echoen FurAffinity gallery`,``,``, ``],
    [`https://www.furaffinity.net/gallery/echoen/folder/311925/Animations`,`Echoen FurAffinity gallery Animations`,``,``, ``],
    [`https://nhentai.net/g/290147/`,`Demon girls vore stab heart from inside`,`kangija`,``, ],
    
]
---
<!-- {
    dumpQuik.map(stuff => (
    <li><ButtonizedLink href={stuff[0]} target="_blank" rel="noopener noreferrer" set:html={stuff[1]}></ButtonizedLink> <Fragment set:html={stuff[2]}> </Fragment>. <Fragment set:html={stuff[3] || ``}></Fragment></li>
    ))
} -->
<DumpQuikRealizer dumpQuik={dumpQuik} nsfw={true}/>