---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import PlaySoundButton from '../PlaySoundButton.astro';
import SpotifyContainsDRM from '@components/Messages/SpotifyContainsDRM.astro';
// import { Time } from '@astro-github-elements/time';
import DumpQuikRealizer from './DumpQuikRealizer.astro';

const dumpQuik:Array<Array<string>> = [
    // Sauce URL, Button Label, Author, Info
    // [`https://youtube.com/playlist?list=PLoenwhUTF1kFzQ8rggbQDLCmLLiOJTpSR`,`Joel's Memes YouTube Playlist`,`JOELwindows7`,`Yes, my meme!`],
    [`https://youtu.be/u7diIVMGiYo`,`The Infamouse Booba clip that made Aria go VIRAL`,`Offline Network`,`While Aria opens the upper cabinet, the bulgogi bottle fell onto her boobs & bounces. poing!!!`],
    [`https://youtube.com/playlist?list=PLCH9Nc-e33qH9KuteMYCyiAgRibMe-sVn`,`Playlist Horrible Mobile game ads`,`collected by Potato Pseudo Gamer`,`These are cringe mobile game ads, some may even not suitable for children in every ways.`],
    [`https://youtu.be/f46rh64ag4o`,`Compilation Horrible Mobile game ads 2020 No. 3`,`collected by intervention`,`These are cringe mobile game ads, some may even not suitable for children in every ways.`],
    [`https://youtu.be/Yke9BhP1uks`,`All Mafia City Ads`,`collected by Averroes`,`That's how Mafia works`],
    [`https://www.nexusmods.com/residentevil32020/mods/633`,`Jill's Latex suit PAWG Edition DX11 mod for RE3 Remake`,`Muinainen`,``],
    [`https://www.umodder.com/archive/38761`,`Jill's Latex suit Full Rubber Jet Black mod for RE3 Remake`,`???`,``],
    [`https://youtu.be/dbkG9PpHuQk`,`Knick Knack original animation Pixar`,`reuploaded by Bootleg Ultraman`,``],
    [`https://www.pixiv.net/en/artworks/99575048`,`#GrisSwimsuit`, `VERTIGRIS`, ``],
    [`https://twitter.com/VERTIGRIS_ART/status/1545100141270532096?t=dCDsmIkAKgnw23W5OYPYpg&s=19`,`#GrisSwimsuit`, `VERTIGRIS`, ``],
    [`https://twitter.com/VERTIGRIS_ART/status/1479502744968957954?t=tz2b9DtxLq2xfKG9hqJUbw&s=19`,`#GrisSwimsuit Draw your OC in This Challenge`, `VERTIGRIS`, ``],
    [`https://thisvid.com/videos/revenge24/`,`Revenge - Video 11`, `reuploaded by Oskharlopmar`, `Stolen from <a href='https://twitter.com/omyuriceart' target="_blank" rel="noopener noreferrer">omyuriceart</a>, pls real sauce!`],
    [`https://twitter.com/TyroneStash?s=20`,`TyroneStash Twitter`, ``, `Black & White or Retro Color 2D comics & comic styled animations`],
    [`https://www.pixiv.net/en/users/35601322`,`TyroneStash Pixiv`, ``, `Black & White or Retro Color 2D comics & comic styled animations`],
    [`https://www.pixiv.net/en/artworks/105540064#manga`,`Akemi 1-2 Censored`, `TyroneStash`, `Sex the Akemi`],
    [`https://twitter.com/TyroneStash/status/1627337357627367424?s=20`,`Akemi 1-2`, `TyroneStash`, `Sex the Akemi`],
    [`https://youtu.be/BmxbqBJHV4U`,`Yamete Kudasai, Ah`, `clip Alice`, `sfx`],
    [`https://twitter.com/TyroneStash/status/1292343014287904768?s=20`,` Why do women only like jerks who treats them like shit? Comiced`, `TyroneStash`, ``],
    [`https://twitter.com/TyroneStash/status/1292341488756686848?s=20`,` Why do women only like jerks who treats them like shit? Comiced Dick`, `TyroneStash`, ``],
    [`https://knowyourmeme.com/memes/subcultures/monster-girl-quest`,` Monster Girl Quest Series Know your meme`, ``, ``],
    [`https://youtube.com/shorts/KKK33BoEwJI?feature=share`,`Airani Lofiteen switches all Project Diva characters to swimsuit & screamed as she saw the results.`, ``, ``],
    
    [`https://youtu.be/C3a1sz2Bp_E`,`Nicki Minaj - MEGATRON`, ``, `BRATATAT!`],
    [`https://youtu.be/nOPIu7isD3s`,`Cock & Ball Torture Wikipedia readout`, `Mothman's Memetic Warehouse reupload`, `it appears the original naration <a href='https://en.wikipedia.org/wiki/Cock_and_ball_torture?wprov=sfla1' target="_blank" rel="noopener noreferrer">here</a> has been removed..`],
    [`https://knowyourmeme.com/memes/cock-and-ball-torture`,`Cock & Ball Torture Know your Meme`, ``, ``],
    [`https://twitter.com/theVeronicaJae/status/1632645391383691264?t=zY6jjCzHF2R_rUJWOm79Yg&s=19`,`Boobs trending, so Veronica Jae boings her boobs.`,`Veronica Jae`, ``],
    [`https://www.pixiv.net/en/artworks/40920602`,`Basketball girls jog tired big breast`,`葛西`, ``],
    [`https://youtu.be/iZmqhQ8myGY`,`Rusty Cage - The Cuss Word Song`,``, `Lyric: Oh, Fuck shit Bitch damn cock sucker, pussy asshole cunt.. Mother fuckin' dirty whore, 💩 shat onto my lunch.. Piss cunt damn bitch suck my dick, <mark class='Dangerous'>Jesus ⚠️ Harold Christ</mark>.. Shit Bitch Cock sucker God damn mother fuckin' pussy asshole cunt!!`],
    [`https://www.deviantart.com/loulouvz/art/Sexualidad-Universo-Spaicy-Snoworld-560194812`,`Spaicy, Snoworld Sexuality Anatomy`,`LoulouVZ`, `There are male & female, both when idle completely hides these reproductive parts (vagina, penis, nipples), and then erects like human when aroused. This explains the reason that it is completely normal to see outfitless Snoworldeans such as Spaicy.`],
    [`http://i.imgur.com/783BAal.jpg`,`Spaicy, Snoworld Sexuality Anatomy Sin censura (Uncensored)`,`LoulouVZ`, `There are male & female, both when idle completely hides these reproductive parts (vagina, penis, nipples), and then erects like human when aroused. This explains the reason that it is completely normal to see outfitless Snoworldeans such as Spaicy.`],
    [`https://www.deviantart.com/loulouvz/art/Derek-18-658244674`,`Derek 18+`,`LoulouVZ`, `Derek had a dick moment with 2 girls. The sleeve of dick is gray & ridged like easy bend hose, with similar smooth head & dark gray latex.`],
    [`https://i.imgur.com/JPaMcbE.jpeg`,`Derek 18+ Sin Censura (Uncensored)`,`LoulouVZ`, `Derek had a dick moment with 2 girls. The sleeve of dick is gray & ridged like easy bend hose, with similar smooth head & dark gray latex.`],
    [`https://www.deviantart.com/loulouvz/art/Screenshot-2-938784497`,`Spaicy feels Lobster Hockett's plumpy pec`,`LoulouVZ`, ``],
    [`https://twitter.com/ywuukii`,`Yuki's (ywuukii) Twitter`,``, `Cosplayer`],
    [`https://fansly.com/ywuuki`,`Yuki's (ywuukii) Fansly (FREE)`,``, `Cosplayer`],
    [`https://twitter.com/rowsveee`,`rowsvee backup Twitter`,``, `Cosplayer`],
    [`https://twitter.com/rowsvee`,`rowsvee Twitter`,``, `Cosplayer`],
    [`https://fansly.com/rowsvee`,`rowsvee Fansly (FREE)`,``, `Cosplayer`],
    [`https://twitter.com/ryukdoll`,`ryukdoll Twitter`,``, `K-Pop tweets`],
    [`https://twitter.com/ywuukii/status/1620196346123935745?s=20`,`Cosplay Tatsumaki, with rowsvee; the psychic ststers say hiiii`,`ywuukii`, ``],
    [`https://twitter.com/ywuukii/status/1631442989661945856?s=20`,`Cosplay Tatsumaki, with rowsvee; the psychic ststers say hiiii POSTED ON FANSLY ANNOUNCE`,`ywuukii`, ``],
    [`https://twitter.com/ywuukii/status/1630344132395941889?s=20`,`Cosplay Tatsumaki just herself`,`ywuukii`, ``],
    [`https://twitter.com/rowsvee/status/1631752253517299721?s=20`,`Cosplay Tatsumaki, with rowsvee; the psychic ststers say hiiii THE SEQUEL`,`rowsvee`, ``],
    [`https://twitter.com/jamm3rd/status/1625688520563253249?s=20`,`2 military sexy girls`,`Kim Hyung Tae`, ``],
    [`https://twitter.com/ywuukii/status/1626399387814625280?s=20`,`2 military sexy girls QUOTE RETWEET YUKI: <i>me & rowsvee</i>`,`ywuukii`, ``],
    [`https://twitter.com/ywuukii/status/1624507930111512576?s=20`,`hiii`,`ywuukii`, ``],
    [`https://twitter.com/kusujinn`,`Kusujinn Twitter`,``, `2D Animations. Tied to Twins.`],
    [`https://www.katawa-shoujo.com`,`Katawa Shoujo`,``, `Visual Novel. Girls with disabilities`],
    [`https://youtu.be/kesYS400Dmk`,`This is Proof that your are a Furry`,`Chunkymoon`, `semi-furry breast expanDONG kancing missile`],
    [`https://youtube.com/shorts/Ycn031l8T9U?feature=share`,`Alex: Hey, wanna see something neat?`,`LazBlockStudio`, `reveal boob diamond bra`],
    [`https://youtube.com/shorts/DMtt6mDunO8?feature=share`,`Alex: Steve, you've gotta help me, I'm stuck!`,`LazBlockStudio`, `Alex stuck on a fence abdominal level`],
    [`https://i.imgur.com/WnxGIRf.png`,`Hey checkout how hard I can pee`,`???`, ``],
    [`https://youtu.be/Jk8S2KFq7lM`,`Hey checkout how hard I can pee`,`noodle dub`, ``],
    [`https://imgur.com/OxuBeu6`,`Hey checkout how hard I can pee to cut entire planets`,`noodle dub`, ``],
    [`https://youtu.be/MMRuJ3YsQ9A`,`Hey checkout how hard I can pee to cut entire planets`,`noodle dub`, ``],
    [`https://youtube.com/playlist?list=PLui1ZHDU9p5BVw58mNJ_YQEoGmqWc_mzq`,`Oishi High School Battle Season 1 Reupload`,`Oishi High School Battle Reuploaded`, ``],
    [`https://youtube.com/playlist?list=PLHZqdpZGqPxP__bvkvSRiHHTs5fuA9H85`,`Oishi High School Battle Restored Reupload`,`Oishi High School Battle Archive`, ``],
    [`https://youtube.com/playlist?list=PLK_pC5S1o3CQ2H93KFyXm1GI4nWAYgQ-9`,`Oishi High School Battle Reuploads`,`Neograzer`, ``],
    [`https://youtube.com/playlist?list=PLlLDz7phmyoYRezvjtC2rr8DWGu11-XRD`,`Oishi High School Battle Reuploads`,`Kelsey Hopson`, ``],
    [`https://youtube.com/playlist?list=PLQZuTNseLzdSvU-_IjjA21aCEYo96MXfb`,`Oishi High School Battle Reuploads`,`SandyDanrygUrl UWU`, ``],
    [`https://youtube.com/playlist?list=PLNDuzKCZ-Wdg3aP2v7d_pxTb2MqqkM20k`,`Oishi High School Battle`,`Magical Universe`, `If only Smosh didn't take down anything.`],
    [`https://youtube.com/shorts/NfHs5CMysx8?feature=share`,`Dicks are so cute omg uwu`,`ZayxSt`, ``],
    [`https://youtu.be/ssgDj3FzIJ0`,`Dicks are so cute omg uwu`,`Non Faced Loser`, ``],
    [`https://youtu.be/ifnvAJGGnLo`,`Jackbox Earwax all sounds`,`r3dsauc3`, ``],
    [`https://youtube.com/shorts/AGC9m3GXUSM?feature=share`,`Amogus Sussie Bakkie Butt `, `TanukiGuy`, ``],
    [`https://youtu.be/H0066L_7X7w`,`Splatoon Wii U - Secret Weapon `, `Sr Pelo`, ``],
    [`https://youtu.be/RV7puH0XmPg`,`Splatoon Wii U - Secret Weapon Censored`, `Sr Pelo`, ``],
    [`https://youtu.be/1IxtmhcoNh8`,`Splatoon Wii U - Secret Weapon Reupload`, `Inverted SOnic`, ``],
    [`https://youtu.be/myjEoDypUD8`,`Will Smith slaps Chris Rock due to Chris' rather offensive remark to Jada Pinkett Smith (Will Smith's Wife)`, `Inverted SOnic`, `<mark>INCIDENT CONTROVERCY</mark>`],
    [`https://peepoodo.bobbypills.com/episodes/`,`Peepoodo Episodes`, `balak`, `Cartoon education about sex & its anatomy. <mark>lockedly embedded Vimeo, pls figure archive!</mark>`],
    [`https://youtu.be/JpP25E3u9Yg`,`Spamton meets Female Kris`, `Trickster`, ``],
    [`https://youtu.be/r30jHXoITyw`,`Spamton meets Female Kris pt. 2`, `Trickster`, ``],
    [`https://youtu.be/-yLr60gPqBY`,`Mortal Kombat Legends: Battle Of The Realms (Animated series) all X-rays`, `clip ZetaErre350`, ``],
    [`https://youtu.be/rZt5ec-kNC8`,`Mortal Kombat 11 Aftermath DLC all Cutscenes`,`MKIceAndFire`, `To the point it becomes movie and can be just a movie.`], 
    [`https://youtu.be/8_QFzk20uyE`,`Lil Salmonela x Lil Kujang - Ratna Anjik`,``,`Kontooooool kontol anjing bangsat, ngentot! HUAH!!!`], 
    [`https://rule34.xxx/index.php?page=post&s=view&id=4137228`,`Zora (Tobot Galaxy) splated with sperm`,`annii`,`Also where is the doujin?!`], 
    [`https://www.pixiv.net/en/artworks/84773958`,`Zora (Tobot Galaxy) Tawawa challenge, hold the milk box on her breast`,`Akazzuan_19`,`DAMN IT SO HARD TO FIND!!! GAVE US FIGURABLE SAUCE!!! wait, in Yandex search <code>Indomilk Tobot doujin</code> you should see a zippyshare! okay, pls let Admiral Zumi reupload this, lots of harmful ads. no, that's different. is it safe to LBRY?`], 
    [`https://karyakarsa.com/ArsenaHanafi/gadis-indomilk-tobot-galaxy`,`Zora (Tobot Galaxy) fanart`,`Arsena Hanafi`,``], 
    [`https://ninjagirls.moe/`,`Moe! Ninja Girls`,``,`Game RPG`], 
    [`https://youtube.com/shorts/6XpabvWbF7w?feature=share`,`(Cringe) Unknown Instagram simulator game ad`,`SayGames Acquisition`,`weird videos I review on my side job`], 
    [`https://youtu.be/74jIDw5aL5g`,`Ricardo Milos Upscaled 4K FULL VERSION`,`drus4an`,``], 
    [`https://mega.nz/file/FtYBiIYb#Hyq-n9i-ce2gOvRM1sJUvV8AlDqui-D0hs56M3lCJH8`,`Ricardo Milos Upscaled 4K FULL VERSION`,`drus4an`,`Marked NSFW YouTube videos are not accountless crawlable!!!`], 
    [`https://youtu.be/b_AHNaW3szs`,`Ricardo Milos returns 2023`,`Ricardo Milos Clips`,``], 
    [`https://youtu.be/BpmWTyKt3hk`,`Ricardo Milos basshunter dota`,`Hoàng Long HD`,``], 
    [`https://youtu.be/-paQqGFhr_o`,`Vtuber hotdog sucking model, Vtuber banned from anime convention, Detroit Rin update`,`Rev Say Desu`,``], 
    [`https://twitter.com/kvxart/status/1635463112072785920?s=20`,`Vtuber hotdog sucking Live2D model Marin Kitagawa`,`kvxart`,`<mark class='Paywalled'>PAYWALLED ASSET</mark>, Patreon <a href='https://www.patreon.com/Kvxart' target="_blank" rel="noopener noreferrer">kvxart</a>`], 
    [`https://youtu.be/GjI0Iv2CX98`,`Gus Fring buff`,`Daniel Ahisar`,`actor Giancarlo is indeed buff`], 
    [`https://id.scribd.com/document/486162037/Doujinesia-Fall-Out-Angel`,`(Doujinesia) Fall Out Angel`,`reupload thok inc`,`pls archive all images`], 
    [`https://youtu.be/s9Fo-4JJuQI`,`FROM 90 to 180 AN ANGLE IS OBTUSE (sudut tumpul)`,`reupload Amrmans2`,`Butt`], 
    
]
---
<!-- {
    dumpQuik.map(stuff => (
    <li><ButtonizedLink href={stuff[0]} target="_blank" rel="noopener noreferrer" set:html={stuff[1]}></ButtonizedLink> <span set:html={stuff[2]}>. </span><span set:html={stuff[3]}></span></li>
    ))
} -->
<DumpQuikRealizer dumpQuik={dumpQuik} nsfw={true}/>