---
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import PlaySoundButton from '../PlaySoundButton.astro';
import SpotifyContainsDRM from '@components/Messages/SpotifyContainsDRM.astro';
// import { Time } from '@astro-github-elements/time';
import DumpQuikRealizer from './DumpQuikRealizer.astro';

export interface Props{
    nsfw?:boolean;

}

const{
    nsfw=false,

}= Astro.props.frontmatter || Astro.props as Props;

const dumpQuik:Array<Array<string>> = [
    // [`https://youtube.com/playlist?list=PLoenwhUTF1kFzQ8rggbQDLCmLLiOJTpSR`,`Joel's Memes YouTube Playlist`,`JOELwindows7`,`Yes, my meme!`],
    [`https://vt.tiktok.com/ZS84ubgnK/`,`tried Stemoscope Pro`,`Hearbeat Texas`,``],
    [`https://youtu.be/Wc9msdwasnc`,`Karra's heart`,`TenebrisDaWriter`,``],
    [`https://youtu.be/2LPboySOSvo`,`Multi-scale Multi-physics Heart Simulator UT-Heart`,`SCLS`,``],
    [`https://youtu.be/-qLKaEKTj8I`,`MHA My Hero Academia Jirou Kyoka moments`,`Cosplay-FTW 2 Clips`,`Jirou Kyoka. Quirks: Headphone Jack <span style='font-size:small;'>(not to be confused with <b>HEADPHONE JACK</b> technology in OpenCX devices)</span>. This quirks does: Boosted listen peeping, Audio boosting (rumbles & destroys attack area). Name of the skill involves <i>Heartbeat</i>`],
    [`https://www.nursehutshop.com/collections/easter?utm_source=Facebook&utm_medium=Sunny&utm_campaign=230302-Easter-tshirt-Sunny-s1-pp-tee%2Fnurse%2Flesiure-peep-2-0302&fbclid=IwAR0vpqaybf18J_x44u1Qgbze_KIYQurhrvrvEHI-MCsPvRd_slmfSGzLMqk_aem_Aed-iwzoJZWfVyurUUo4Clpk4w8LZsQ3hkXMjQVnPuX915prajG0-gDuYjVwj2fONcm7UHFnn_fTCepXezzdL6iksvnRls_1D2cNU-vM51WvB9c6x3e-VEs37gxPTcpb7yXsWqVOcAjb_aVcHODh0Xfp&page_num=1&page_size=40`,`Easter ECG T-shirts`,`Nursehut`,`thancc Todd Kraines from Heart Haven`],
    [`https://youtu.be/QdLu9hlhxfQ`,`Fall asleep to my heartbeat`,`Dead_Pixy`,`ASMR`],
    [`https://vt.tiktok.com/ZS8Vuv3aj/`,`Stemoscope PRO arrive, test heartbeat recording now`,`Heartbeat of Texas`,``],
    [`https://youtu.be/42JXTe-LWS8`,`Bugs Bunny Heartbeat 1`,`HearBeat Out of Chest`,``],
    [`https://youtu.be/R9mkBhXCNC0`,`Bugs Bunny Heartbeat LOOP 1 MINUTE`,`HearBeat Out of Chest`,``],
    [`https://youtu.be/_IaZwNVtu0M`,`Bugs Bunny Heartbeat 4F`,`HearBeat Out of Chest`,``],
    [`https://youtu.be/-CTUBc-56_o`,`Bugs Bunny Heartbeat 4F Extended`,`HearBeat Out of Chest`,``],
    [`https://youtube.com/playlist?list=PLPFfy5FZLDdv3UYDAeourtOEuQ5xSioB4`,`Heartbeat Female collections Playlist`,`Ogude Michael`,``],
    [`https://youtu.be/XHxbj9EzIZI`,`Heartbeat 2`,`DDRFilmProductions`,``],
    [`https://youtu.be/GeJbdiX7E-k`,`Heartbeat pounding inside chest (NO SOUND, just bg music Kevin Macleod)`,`Autism Animations`,``],
    [`https://youtu.be/1QLUKf8wkjI`,`Jerry's heartbeat`,`Sascha Morningrise`,`Jerry was cornered in a cup by Tom`],
    [`https://www.furaffinity.net/view/47610552/`,``,``,`Jerry was cornered in a cup by Tom`],
    [`https://www.furaffinity.net/view/45605108/`,`I am your doctor for today`,`Rofu_Kagazaki`,`Jerry was cornered in a cup by Tom`],
    [`https://www.furaffinity.net/view/46033462/`,`Adrenaline is my Gasoline `,`AlfaBetaLust`,`only mentions Heartbeat is always fast, no visible heartbeat whatsoever`],
    [`https://www.furaffinity.net/view/43536945/`,`Maleficent Dragon Chest `,`JohnHall`,`only shows chest closeup, no visible heartbeat whatsoever, <b class='success'>Model is by JCTHornton</b>`],
    [`https://www.furaffinity.net/view/44662571/`,`Help I'm Alive `,`DerangedNoodles`,``],
    [`https://www.furaffinity.net/view/44862212/`,`Skipping Beats `,`Sioteru`,``],
    [`https://www.furaffinity.net/view/45135983/`,`Feel Heartbeat `,`KitteyPwince`,``],
    [`https://www.furaffinity.net/view/46958201/`,`Heartbeat slime medic`,`Xaevk`,`Only style ECG on her chest, no visible heartbeat found`],
    [`https://youtu.be/2REkk9SCRn0`,`In A Heartbeat`,`In a Heartbeat`,`🏳️‍🌈 Gay animation with heartbeat pounding`],
    
    
]
---
<!-- {
    dumpQuik.map(stuff => (
    <li><ButtonizedLink href={stuff[0]} target="_blank" rel="noopener noreferrer" set:html={stuff[1]}></ButtonizedLink> <Fragment set:html={stuff[2]}> </Fragment>. <Fragment set:html={stuff[3] || ``}></Fragment></li>
    ))
} -->
<DumpQuikRealizer dumpQuik={dumpQuik} nsfw={false}/>