---
export interface Props {
    content?: string;
    href?: string;
    hreflang?:string;
    title?: string;
    description?: string;
    target?:string;
    rel?:string;
    download?:string;
    referrerpolicy?:string;
    type?:string;
}

const { 
    content = '', // button label
    href = 'javascript:void(0)', // URL to go to
    title = '', // hover tooltip
    description = '', // uh....
    target = '', // where target? `_blank` is newtab
    rel = '', // relationship e.g `noopener noreferrer` to break insecure connection in new tab
    referrerpolicy,
    download,
    type,
    hreflang,
} = Astro.props as Props;
---
<!-- https://docs.astro.build/en/guides/integrations-guide/prefetch/ -->
<a class="Buttonnize" target={target} rel={'prefetch ' + rel} href={href} title={title}>
    <slot name="prefix"/>
    <!-- {content != ''? content: href} -->
    {content}
    <slot>
        
    </slot>
    <!-- <br/>{description} -->
    <!-- TODO: add `openInNewTab` bool that preadds `target="_blank" rel="noopener noreferrer"` -->
</a>