---
// import '../style/style.css'; // No, let themselve have their own CSS, idk..

export interface Props {
    title?: string;
    src?:string;
    srcDoc?:string;
    height?:string;
    width?:string;
    style?:string;
    name?:string;
    allow?:string;
    allowFullScreen?:boolean;
    allowPaymentRequest?:boolean;
    loading?:string;
    referrerPolicy?:string;
    sandbox?:string;
    errorSay?:string;
}

const{
    title = 'EmbedRAWHTML',
    src,
    srcDoc,
    height = '500px',
    width = '100%',
    style = 'border:none;',
    name,
    allow,
    allowFullScreen,
    allowPaymentRequest,
    loading,
    referrerPolicy,
    sandbox,
    errorSay = '&#xea87; WERROR! &#xebde; Your browser does not support <code>iframe</code>, warm and bad! 😭😭😭😭😭😭😭 '
} = Astro.props.frontmatter || Astro.props as Props;
---
<!-- https://www.w3schools.com/tags/tag_iframe.asp -->
<!-- https://www.w3schools.com/tags/att_iframe_srcdoc.asp -->

<iframe 
    src={src} 
    srcdoc={srcDoc}
    width={width} 
    height={height} 
    style={style} 
    name={name} 
    title={title} 
    allowfullscreen={allowFullScreen} 
    allow={allow}
    referrerpolicy={referrerPolicy}
    sandbox={sandbox} 
    >
    <slot>
        <p class="error">{errorSay}</p>
    </slot>
    <slot name="errorSayExtra"/>
</iframe>