---
import PerkedelWoosie from './Icons/PerkedelWoosie.astro';
import NavBar from './Elements/NavBar.astro';
import { Icon, Sprite } from 'astro-icon';
export interface Props {
  viewSourceURL?: string;
  rating?:string;
  nsfw?:Boolean;
  addDescriptions?:string;
  addKeywords?:string;
  handoverTitle?:string;
  nsfwConfirmation?:Boolean;
  skipHeader?:boolean;
  skipNav?:boolean;
}
// let currJustAddr = 'https://perkedel.netlify.app'+Astro.url.pathname; // crack! the hostname returns `localhost` wtf?!
let currJustAddr = Astro.url.origin+'/'+Astro.url.pathname; // crack! the hostname returns `localhost` wtf?!
let doViewSource = 'view-source:' + currJustAddr;
const {
  viewSourceURL = doViewSource,
  rating="",
  nsfw=false,
  addDescriptions='',
  addKeywords='',
  handoverTitle = '???',
  nsfwConfirmation = false,
  skipHeader = false,
  skipNav = false,
  } = Astro.props.frontmatter || Astro.props as Props;
---
<!-- HEADER & NAV
      Reusable Component pls!
    - https://medium.com/front-end-weekly/how-to-build-reusable-html-components-without-component-based-frameworks-2f7747f4c5db
    - https://dev.to/anuradha9712/create-reusable-web-components-in-html-1llc
    - https://www.educba.com/javascript-append/
    - https://stackoverflow.com/questions/60722734/how-can-i-append-html-code-using-javascript
    - https://stackoverflow.com/questions/17636528/how-do-i-load-an-html-page-in-a-div-using-javascript
    - https://ezgif.com for gif tools
    - https://stackoverflow.com/questions/1347675/html-img-scaling
    - https://www.w3schools.com/tags/att_img_width.asp
  -->
  <!-- Initially we would choose icon-park-outline:breast-pump
  But we can't connect it with Matrix Pill choice & 
  otherwise would causes some damages we do not want.
  maybe back again to gg:pill ?
  -->
  {skipHeader?"":
    <Fragment>
      <header class="headering" id="headering">
        <!-- <h1><PerkedelWoosie/><a href="/">Perkedel NTLF+ASTR</a></h1> -->
        <!-- https://www.w3schools.com/tags/tag_hn.asp css of it pls -->
        <p style="font-size: 2em; font-weight: bold;"><a href="/"><PerkedelWoosie/>Perkedel NTLF+ASTR</a> 
          {(rating.includes('adult') || nsfw)?
          <Icon style="color:red;" title="You are in an NSFW page" height="48px" name="gg:pill" />:""}
        </p>
      </header>
      <Fragment> 
        <hr class="headeringHr"/>
        <div class="addressBarYeah" id="addressBarYeah" style="">
          <p style="margin:0;">{Astro.url.href}</p>
          <hr class="headeringHr"/>
        </div>
      </Fragment>
    </Fragment>
  }
  
  {skipNav?"":
    <Fragment>
      <NavBar handoverTitle={handoverTitle} viewSourceURL={viewSourceURL} rating={rating} nsfwConfirmation={nsfwConfirmation}>
        <slot name="SettingContains" slot="SettingContains"/>
      </NavBar>
      <hr class="headeringHr"/>
    </Fragment>
  }
  