---
import type { MarkdownLayoutProps } from 'astro';
import { SEO } from "astro-seo";
import Headering from './Headering.astro';
import Footering from './Footering.astro';
import ButtonizedLink from './ButtonizedLink.astro';
import EmbedRAWHTML from './EmbedRAWHTML.astro';
import BackToTopButton from './BackToTopButton.astro';
import RegenerateWordButton from './Elements/SparePart/RegenerateWordButton.astro';
import NoScriptMsg from './Messages/NoScript.astro';
import UndefinedCSSCheckers from './Elements/SparePart/UndefinedCSSCheckers.astro';
import UndefinedCheckers from './Elements/SparePart/UndefinedCheckers.astro';
import UndefinedCheckersAfter from './Elements/SparePart/UndefinedCheckersAfter.astro';
import MSClarity from './Elements/SparePart/Spywares/MSClarity.astro';
import ImplementArchiveAnnoyingAdSpace from './Elements/SparePart/AnnoyingAdSpace/ImplementArchiveAnnoyingAdSpace.astro';
import { ViewTransitions } from 'astro:transitions';
// import 'https://github.com/ryanoasis/nerd-fonts/raw/master/css/nerd-fonts-generated.css'
// import 'https://mshaugh.github.io/nerdfont-webfonts/build/nerdfont-webfonts.css'
// import '../style/style.css';

// https://github.com/cifkao/html-midi-player/issues/48
// import { PianoRollSVGVisualizer } from '@magenta/music/esm/core.js'; //
// import '@magenta/music/esm/core.js'; //
// import 'html-midi-player';
// import Midi from '@components/Elements/MidiPlayer.astro';

// jQuery without Google
//     https://releases.jquery.com/
//     https://jquery.com/
//
// import "jquery.dist/jquery.min.js";

// HTMX https://htmx.org
// import "htmx.org/dist/htmx.min.js";

// Tingle https://tingle.robinparisi.com/
// import "tingle.js/dist/tingle.min.js";

// NoUISlider https://refreshless.com/nouislider/
// import "nouislider/dist/nouislider";

// https://www.vidstack.io/docs/player/getting-started/quickstart/audio.html#select-media-provider
import '@vidstack/player/define/vds-media.js';
import '@vidstack/player/define/vds-video.js';
import '@vidstack/player/define/vds-audio.js';

export interface Props {
  siteName?: string;
  title?: string;
  date?: string;
  dateMod?: string;
  dateExp?: string;
  thumbnail?:string;
  thumbnailType?:string;
  thumbnailWidth?:number;
  thumbnailHeight?:number;
  thumbnailAlt?:string;
  thumbnailAudio?:string;
  thumbnailVideo?:string;
  thumbnailVideoWidth?:string;
  thumbnailVideoHeight?:string;
  type?:string;
  description?: string;
  descriptionPrefix?: string;
  author?:string;
  keywords?: string;
  viewSourceURL?: string;
  noIndex?:boolean;
  noFollow?:boolean;
  rating?:string;
  favIcon?:string;
  favIconType?:string;
  favIconAlt?:string;
  favIconAltType?:string;
  favIconHD?:string;
  favIconHDType?:string;
  favIconHDAlt?:string;
  favIconHDWidth?:number;
  favIconHDHeight?:number;
  charSet?:string;
  language?:string;
  twitterAuthor?:string;
  twitterSite?:string;
  twitterCard?:string;
  themeColor?:string;
  themeColorLight?:string;
  colorScheme?:string;
  ejectClarity?:boolean;
  hideInfo?:boolean;
  nsfwConfirmation?:boolean;
  skipHeader?:boolean;
  skipNav?:boolean;
  skipFooter?:boolean;
  legacyMarkdown?:boolean;
  noScripts?:boolean;
  bgColor?:string;
  textColor?:string;
  textColorLight?:string;
  bg?:string;
  bgLight?:string;
  selectHeader?:string;
  customHeader?:boolean;
  addHeaderingClass?:string;
}

// https://www.w3schools.com/js/js_window_location.asp
// let currAddr = window.location.href;
// let currPath = window.location.pathname;
// let currHost = window.location.hostname;
// let currProtocol = window.location.protocol;
// let currPort = window.location.port;
// let currJustAddr = currHost+currPath;
// let doViewSource = 'view-source://' + currJustAddr;
// let currJustAddr = Astro.url.hostname+Astro.url.pathname;
// let currJustAddr = Astro.url.host+Astro.url.pathname; // crack! the hostname returns `localhost` wtf?!
let currJustAddr = 'https://perkedel.netlify.app'+Astro.url.pathname; // crack! the hostname returns `localhost` wtf?!
let doViewSource = 'view-source:' + currJustAddr;

// type Props = MarkdownLayoutProps<{
//   // Define frontmatter props here
//   title?: string;
//   author?: string;
//   date?: string;
//   description?: string;
//   keywords?: string;
// }>;

const {
  siteName = 'Perkedel Technologies Division NTLF+ASTR',
  title = 'Perkedel NTLF+ASTR',
  date,
  dateMod,
  dateExp,
  thumbnail = '/assets/img/perkedelbannerrender4KDCI.png',
  thumbnailType = 'image/png',
  thumbnailWidth = 4096,
  thumbnailHeight = 2160,
  thumbnailAlt = 'Perkedel banner',
  thumbnailAudio,
  thumbnailVideo,
  thumbnailVideoWidth,
  thumbnailVideoHeight,
  type = 'website',
  author = 'JOELwindows7',
  description = 'Perkedel NTLF+ASTR. Perkedel Technologies on Netflify with Astro framework',
  descriptionPrefix = 'DO NOT RATIO',
  keywords = 'tech, fun, novelty, open source, gratis, free',
  viewSourceURL = doViewSource,
  noIndex = false,
  noFollow = false,
  rating = '',
  favIcon ='/favicon.ico',
  favIconType ='image/x-icon',
  favIconAlt ='/favicon.gif',
  favIconAltType ='image/gif',
  // favIcon ='/favicon.gif',
  // favIconType ='image/gif',
  favIconHD = '/Perkedel_Icon.png',
  favIconHDType = 'image/png',
  favIconHDAlt = 'Perkedel icon',
  favIconHDWidth = 600,
  favIconHDHeight = 400,
  charSet = 'UTF-8',
  language = 'en',
  twitterAuthor = '@'+author,
  twitterSite = twitterAuthor,
  twitterCard = 'summary_large_image' ,
  themeColor = '#0000aa',
  themeColorLight = '#0000ff',
  colorScheme = 'light dark',
  ejectClarity = false,
  hideInfo = false,
  nsfwConfirmation = false,
  skipHeader = false,
  skipNav = false,
  skipFooter = false,
  legacyMarkdown = false,
  noScripts = false,
  bgColor = 'black',
  textColor = 'white',
  textColorLight = 'black',
  bg = 'black',
  bgLight = 'white',
  selectHeader = 'perkedel',
  customHeader = false,
  addHeaderingClass = '',
// } = Astro.props as Props;
} = Astro.props.frontmatter || Astro.props as Props;

/*
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie
https://developer.mozilla.org/en-US/docs/Web/API/Headers
https://docs.astro.build/en/reference/api-reference/#astroresponse
*/
Astro.response.headers.set('X-Robots-Tag', 'all, max-snippet:-1, max-video-preview:-1, max-image-preview:large');
---

<!DOCTYPE html>
<html lang={language}>
<head>
  <!--https://www.w3schools.com/tags/tag_meta.asp-->
  <!-- make sure the X UA Compatible -->
  <!-- https://stackoverflow.com/a/6771584/9079640 -->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
	<meta charset={charSet}/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- <meta name="description" content="Perkedel NTLF+ASTR. Perkedel Technologies on Netflify with Astro framework"> -->
  <!-- <meta name="keywords" content="tech, fun, novelty, open source, gratis, free"> -->
  <!-- <meta name="author" content="JOELwindows7"> -->
  <meta name="generator" content={Astro.generator} />
  <!-- <meta name="theme-color" content={themeColor} /> -->
  <!-- <meta name="theme-color" media="(prefers-color-scheme:dark)" content={themeColor} />
  <meta name="theme-color" media="(prefers-color-scheme:light)" content={themeColorLight} /> -->

  <link rel="shortcut icon" type="image/x-icon" href={favIcon} />
  <!-- Tingle's CSS pls -->
  <!-- <link rel="stylesheet" href="/node_modules/tingle.js/dist/tingle.min.css"> -->

  <!-- Check if Library CSS loaded, if fails then get local copy -->
  <UndefinedCSSCheckers/>

  <!-- Our CSS -->

  
  <!-- <link rel="stylesheet" href="https://github.com/ryanoasis/nerd-fonts/raw/master/css/nerd-fonts-generated.css"> -->
  <!-- <link rel="stylesheet" href="https://mshaugh.github.io/nerdfont-webfonts/build/nerdfont-webfonts.css"> -->
  <link rel="stylesheet" href="/style.css"/>
  <!-- <link rel="stylesheet" href="/assets/css/homestuck.css"/> -->
  <!-- client:visible no longer available to scripts -->
  
  {noScripts?'':<Fragment>
    <!--jQuery without Google
      https://releases.jquery.com/
      https://jquery.com/
      -->
    <script is:inline src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <!-- Mermaid for diagram
      mermaid-js.github.io
      https://mermaid-js.github.io/mermaid/#/n00b-gettingStarted?id=requirements-for-the-mermaid-api
      -->
    <!--zero-md
      https://zerodevx.github.io/
      -->
    {legacyMarkdown?<Fragment>
      <script defer src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
      <script
        type="module"
        src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"
      >
      </script>
      </Fragment>
    :``}
    
    
    <script is:inline src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0"></script>

    <!-- HTMX https://htmx.org -->
    <!-- <script is:inline src="/node_modules/htmx.org/dist/htmx.min.js"></script> -->
    <!-- <script is:inline src="https://unpkg.com/htmx.org@1.8.4"></script> --> 
    <script is:inline src="https://unpkg.com/htmx.org"></script>

    <!-- Tingle https://tingle.robinparisi.com/ -->
    <!-- <script is:inline src="/node_modules/tingle.js/dist/tingle.min.js"></script> -->
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/tingle/0.16.0/tingle.min.js"></script>

    <!-- NoUISlider https://refreshless.com/nouislider/ -->
    <!-- <script is:inline src="/node_modules/nouislider/dist/nouislider.min.js"></script> -->
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.min.js"></script>

    <!-- plyr (Deprecated, use Vidstack!) https://github.com/sampotts/plyr -->
    <script is:inline src="https://cdn.plyr.io/3.7.3/plyr.polyfilled.js" crossorigin='anonymous'></script>

    <!-- ScrollTimeline Polyfill flackr  -->
    <script is:inline src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"></script>

    <!-- JPEG XL JS niutech  -->
    <!-- <link rel="prefetch" href="https://niutech.github.io/jxl.js/jxl_dec.js" fetchpriority="high"/>
    <link rel="prefetch" href="https://niutech.github.io/jxl.js/jxl_dec.wasm" fetchpriority="high"/> -->
    <!-- <script is:inline src="https://niutech.github.io/jxl.js/jxl.min.js"></script> -->
    <!-- <link rel="prefetch" href="/assets/scripts/js/jxljs/jxl_dec.js" fetchpriority="high"/>
    <link rel="prefetch" href="/assets/scripts/js/jxljs/jxl_dec.wasm" fetchpriority="high"/>
    <script is:inline src="/assets/scripts/js/jxljs/jxl.min.js"></script> -->

    <!-- blazy  -->
    <script is:inline src="https://cdn.jsdelivr.net/blazy/latest/blazy.min.js"></script>
    
    <!-- Undefined Script Checkers -->
    <UndefinedCheckers/>
    
  </Fragment>}

	<!-- <title>{title}</title> -->
  <!-- BRAND NEW SEO PLUGIN HERE https://github.com/jonasmerlin/astro-seo -->
        <!-- twitter={{
        title: title;
      }} -->
  <SEO
      title={title + ` | ` + siteName}
      description={description}
      noindex={noIndex}
      nofollow={noIndex}
      extend={{
        // extending the default link tags
        link: [
          // { rel: "icon", type:"image/x-icon", href: favIcon },
          { rel: "icon", type:favIconType, href: favIcon },
          { rel: "alternate icon", type:favIconAltType, href: favIconAlt },
          { rel: "canoncial", href: Astro.url.href }
        ],
        // extending the default meta tags
        meta: [
          // MOAR https://css-tricks.com/essential-meta-tags-social-media/#aa-proprietary-meta-tags
          // https://devhints.io/html-meta
          // TWITTER https://dev.twitter.com/cards
          {
            name: "twitter:image",
            content:
              // "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
              // favIconHD,
              thumbnail,
          },
          { name: "twitter:image:alt", content: thumbnailAlt },
          { name: "twitter:title", content: title + ` | ` + siteName },
          { name: "twitter:description", content: descriptionPrefix + ' | ' + description },
          { name: "twitter:creator", content: twitterAuthor },
          { name: "twitter:site", content: twitterSite },
          { name: "twitter:card", content: twitterCard },
          { name: "twitter:url", content: Astro.url.href },

          // OpenGraph https://ogp.me/
          { name: "og:title", content: title + ` | ` + siteName },
          { name: "og:description", content: descriptionPrefix + ' | ' + description },
          { name: "og:site_name", content: siteName },
          { name: "og:type", content: type },
          { name: "og:url", content: Astro.url.href },
          { name: "og:audio", content: thumbnailAudio },
          { name: "og:video:url", content: thumbnailVideo },
          { name: "og:video:width", content: thumbnailVideoWidth },
          { name: "og:video:height", content: thumbnailVideoHeight },
          { name: "og:image:url", content: thumbnail },
          { name: "og:image:type", content: thumbnailType },
          { name: "og:image:width", content: thumbnailWidth },
          { name: "og:image:height", content: thumbnailHeight },
          { name: "og:image:alt", content: thumbnailAlt },
          { name: "og:image:url", content: favIconHD }, // second ones in case above not work?
          { name: "og:image:type", content: favIconHDType },
          { name: "og:image:width", content: favIconHDWidth },
          { name: "og:image:height", content: favIconHDHeight },
          { name: "og:image:alt", content: favIconHDAlt },
          { name: "og:article:published_time", content: date },
          { name: "og:article:modified_time", content: dateMod },
          { name: "og:article:expiration_time", content: dateExp },
          { name: "og:article:tag ", content: keywords },


          // Basics
          // { name: "description", content: description },
          { name: "keywords", content: keywords },
          { name: "author", content: author },
          { name: "rating", content: rating },
          { name: "theme-color", content: themeColor },
          { name: "theme-color", media:"(prefers-color-scheme:dark)", content: themeColor },
          { name: "theme-color", media:"(prefers-color-scheme:light)", content: themeColorLight },
          { name: "color-scheme", content: colorScheme },

          // Google

          // Crawlers
          {name: "robots", content: "all, max-snippet:-1, max-video-preview:-1, max-image-preview:large"},
        ],
      }}
      />
  <!-- YAY COMPREHENSIVE SEO -->

  <!-- <meta name="description" content={description}> -->
  <!-- <meta name="keywords" content={keywords}> -->
  <!-- <meta name="author" content={author}> -->

  <MSClarity ejectClarity={ejectClarity}/>

  <slot name='afterHead'/>
  <ViewTransitions />
</head>
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- BODY AT BELOW -->
<!-- <body BackgroundColor={bgColor} TextColor={textColor} Background={bg}> -->
<body data-background={bg} data-textcolor={textColor} data-background-light={bgLight} data-textcolor-light={textColorLight}>
  <!-- HEADER -->
  <Headering handoverTitle={title} viewSourceURL={viewSourceURL} rating={rating} nsfwConfirmation={nsfwConfirmation} skipHeader={skipHeader} skipNav={skipNav} customHeader={customHeader} selectHeader={selectHeader} addHeaderingClass={addHeaderingClass}>
    <slot name="myHeadering" slot="myHeadering"/>
    <slot name="SettingContains" slot="SettingContains"/>
  </Headering>

  <!-- META INFO -->
  <NoScriptMsg/>

  <!-- ANNOYING AD -->
  <!-- <ImplementArchiveAnnoyingAdSpace enabled={false}/> -->

  <!-- (MAIN IS HERE) -->
  <!-- (MAIN IS HERE) -->
  <!-- (MAIN IS HERE) -->
  <!-- (MAIN IS HERE) -->
  <!-- (MAIN IS HERE) -->
  <!-- (MAIN IS HERE) -->
  <!-- (MAIN IS HERE) -->
  <!-- (MAIN IS HERE) -->
  <!-- MAIN -->
  <main transition:animate="fade">
    <!-- <slot /> -->
    <slot>
      <h1><i>Content Empty</i></h1>
        <p>Content Empty. You forgor to pass anything inside</p>
    </slot>
  </main>
  <!-- (MAIN IS HERE) -->
  <!-- (MAIN IS HERE) -->
  <!-- (MAIN IS HERE) -->
  <!-- (MAIN IS HERE) -->
  <!-- (MAIN IS HERE) -->
  <!-- (MAIN IS HERE) -->
  <!-- (MAIN IS HERE) -->
  <!-- (MAIN IS HERE) -->
  <!-- (MAIN IS HERE) -->
  <!-- (MAIN IS HERE) -->
  <!-- (MAIN IS HERE) -->

  <!-- BACK TO TOP BUTTON -->
  <BackToTopButton/>

  <!-- FOOTER -->
  <!-- <Footering rating={rating} nsfw={rating.includes('adult')}/> -->
  {skipFooter?"":
    <Fragment>
      <Footering rating={rating} nsfwConfirmation={nsfwConfirmation}/>
    </Fragment>
  }
  
  <!-- SCRIPT FINALLY -->
  <!-- client:idle client:visble client directive no longer available to scripts -->
  {noScripts?'':<Fragment>
    <!-- Toastify https://apvarun.github.io/toastify-js/ -->
    <script is:inline type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <!-- MailtoUI https://mailtoui.com/ -->
    <script is:inline src="https://cdn.jsdelivr.net/npm/mailtoui@1.0.3/dist/mailtoui-min.js"></script>

    <!-- Loud Links https://mahdif.github.io/loud-links/ -->
    <script is:inline src="https://mahdif.github.io/loud-links/js/loudlinks.min.js"></script>

    <!-- Check undefined before our script is run -->
    <UndefinedCheckersAfter/>

    <!-- Lastly, the main -->
    <script is:inline src="/main.js"></script>
    <!-- <script is:inline src="/extra.js">
    </script> -->
    <slot name="afterMainScript"/>
  </Fragment>}
  

</body>
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
<!-- BODY AT ABOVE -->
</html>

<!-- <style>

</style> -->

<!--
Dump link
- https://docs.astro.build/en/core-concepts/endpoints/
- https://docs.astro.build/en/reference/configuration-reference/
- https://github.com/withastro/astro/issues/397
- https://docs.astro.build/en/guides/imports/
- https://github.com/netlify-templates/astro-quickstart
- https://docs.netlify.com/integrations/frameworks/astro/
- https://github.com/netlify-templates/astro-quickstart
- https://www.netlify.com/pricing/
- https://docs.astro.build/en/core-concepts/astro-components/
 -->
