---
import type { MarkdownLayoutProps } from 'astro';
import { SEO } from "astro-seo";
import Headering from './Headering.astro';
import Footering from './Footering.astro';
import ButtonizedLink from './ButtonizedLink.astro';
import EmbedRAWHTML from './EmbedRAWHTML.astro';
import BackToTopButton from './BackToTopButton.astro';
// import 'https://github.com/ryanoasis/nerd-fonts/raw/master/css/nerd-fonts-generated.css'
// import 'https://mshaugh.github.io/nerdfont-webfonts/build/nerdfont-webfonts.css'
import '../style/style.css';

export interface Props {
	title?: string;
  description?: string;
  keywords?: string;
  viewSourceURL?: string;
}

// https://www.w3schools.com/js/js_window_location.asp
// let currAddr = window.location.href;
// let currPath = window.location.pathname;
// let currHost = window.location.hostname;
// let currProtocol = window.location.protocol;
// let currPort = window.location.port;
// let currJustAddr = currHost+currPath;
// let doViewSource = 'view-source://' + currJustAddr;
// let currJustAddr = Astro.url.hostname+Astro.url.pathname;
// let currJustAddr = Astro.url.host+Astro.url.pathname; // crack! the hostname returns `localhost` wtf?!
let currJustAddr = 'https://perkedel.netlify.app'+Astro.url.pathname; // crack! the hostname returns `localhost` wtf?!
let doViewSource = 'view-source:' + currJustAddr;

// type Props = MarkdownLayoutProps<{
//   // Define frontmatter props here
//   title?: string;
//   author?: string;
//   date?: string;
//   description?: string;
//   keywords?: string;
// }>;

const { 
  title = 'Perkedel NTLF+ASTR', 
  description = 'Perkedel NTLF+ASTR. Perkedel Technologies on Netflify with Astro framework',
  keywords = 'tech, fun, novelty, open source, gratis, free',
  viewSourceURL = doViewSource
// } = Astro.props as Props;
} = Astro.props.frontmatter || Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <!--https://www.w3schools.com/tags/tag_meta.asp-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <!-- <meta name="description" content="Perkedel NTLF+ASTR. Perkedel Technologies on Netflify with Astro framework"> -->
  <!-- <meta name="keywords" content="tech, fun, novelty, open source, gratis, free"> -->
  <!-- <meta name="author" content="JOELwindows7"> -->
  <meta name="generator" content={Astro.generator} />

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <!-- <link rel="stylesheet" href="https://github.com/ryanoasis/nerd-fonts/raw/master/css/nerd-fonts-generated.css"> -->
  <!-- <link rel="stylesheet" href="https://mshaugh.github.io/nerdfont-webfonts/build/nerdfont-webfonts.css"> -->

  <!--jQuery without Google
    https://releases.jquery.com/
    https://jquery.com/
    -->
  <!-- <script defer src="https://code.jquery.com/jquery-3.6.1.min.js"></script> -->
  <!--Mermaid for diagram
    mermaid-js.github.io
    https://mermaid-js.github.io/mermaid/#/n00b-gettingStarted?id=requirements-for-the-mermaid-api
    -->
  <!-- <script defer src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script> -->
    <!--zero-md
    https://zerodevx.github.io/
    -->
  <!-- <script
    type="module"
    src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"
  >
  </script> -->

	<title>{title}</title>
  <!-- <meta name="description" content={description}> -->
  <meta name="keywords" content={keywords}>
  <!-- <!-- <meta name="author" content="JOELwindows7"> -->
  <!-- BRAND NEW SEO PLUGIN HERE https://github.com/jonasmerlin/astro-seo -->
  <SEO
      title={title}
      description={description} 
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content:
              // "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
              "/Perkedel_Icon.png",
          },
          { name: "twitter:title", content: title },
          { name: "twitter:description", content: description },
          { name: "twitter:creator", content: "@JOELwindows7" },
          { name: "twitter:site", content: "@JOELwindows7" },
        ],
      }}
      />
  <!-- YAY COMPREHENSIVE SEO -->
</head>
<body>
  <!-- HEADER -->
  <Headering viewSourceURL={viewSourceURL}/>

  <!-- META INFO -->
  <noscript>
    <p class="noscript-msg"><b>Warning! JavaScript Disabled!</b></p>
    <hr>
  </noscript>

  <!-- MAIN -->
  <main>
    <!-- <slot /> -->
    <slot>
      <h1><i>Content Empty</i></h1>
        <p>Content Empty. You forgor to pass anything inside</p>
    </slot>
  </main>

  <!-- BACK TO TOP BUTTON -->
  <BackToTopButton/>
  
  <!-- FOOTER -->
  <Footering/>

  <script is:inline src="/main.js"></script>
</body>
</html>

<style>

</style>

<!-- 
Dump link
- https://docs.astro.build/en/core-concepts/endpoints/
- https://docs.astro.build/en/reference/configuration-reference/
- https://github.com/withastro/astro/issues/397
- https://docs.astro.build/en/guides/imports/
- https://github.com/netlify-templates/astro-quickstart
- https://docs.netlify.com/integrations/frameworks/astro/
- https://github.com/netlify-templates/astro-quickstart
- https://www.netlify.com/pricing/
 -->