---
// https://docs.astro.build/en/guides/markdown-content/
// https://mdxjs.com/guides/frontmatter/
import Layout from './Layout.astro';
import { LocalTime, RelativeTime, TimeAgo } from '@astro-github-elements/time';
// import { * } from '@github/time-elements';
import type { MarkdownLayoutProps } from 'astro';

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title?: string;
  type?:string;
  author?: string;
  date?: string;
  description?: string;
  keywords?: string;
  hideInfo?: Boolean;
  thumbnail?:string;
  thumbnailType?:string;
  thumbnailWidth?:number;
  thumbnailHeight?:number;
  thumbnailAlt?:string;
  thumbnailAudio?:string;
  thumbnailVideo?:string;
  noIndex?:boolean;
  noFollow?:boolean;
  rating?:string;
  favIcon?:string;
  favIconHD?:string;
  favIconHDType?:string;
  favIconHDAlt?:string;
  favIconHDWidth?:number;
  favIconHDHeight?:number;
  charSet?:string;
  language?:string;
  twitterAuthor?:string;
  twitterSite?:string;
  twitterCard?:string;
  themeColor?:string;
}>;
const { frontmatter, 
        url,
        // hideInfo = 'false',
 } = Astro.props;

// let handoverHideInfo = frontmatter.hideInfo;
//  if(frontmatter.hideInfo){
//     // document.getElementsByClassName('MDXInfo').styles.display = 'none';
//     document.getElementById('MDXInfo').style.display = 'none';
// } else {
//     document.getElementById('MDXInfo').style.display = 'block';
// }
---
<Layout 
    title={frontmatter.title} 
    description={frontmatter.description} 
    keywords={frontmatter.keywords}
    thumbnail={frontmatter.thumbnail}
    thumbnailAlt={frontmatter.thumbnailAlt}
    thumbnailType={frontmatter.thumbnailType}
    thumbnailWidth={frontmatter.thumbnailWidth}
    thumbnailHeight={frontmatter.thumbnailHeight}
    thumbnailAudio={frontmatter.thumbnailAudio}
    thumbnailVideo={frontmatter.thumbnailVideo}
    noIndex={frontmatter.noIndex}
    noFollow={frontmatter.noFollow}
    rating={frontmatter.rating}
    favIcon={frontmatter.favIcon}
    favIconHD={frontmatter.favIconHD}
    favIconHDType={frontmatter.favIconHDType}
    favIconHDWidth={frontmatter.favIconHDWidth}
    favIconHDHeight={frontmatter.favIconHDHeight}
    charSet={frontmatter.charSet}
    language={frontmatter.language}
    twitterAuthor={frontmatter.twitterAuthor}
    twitterSite={frontmatter.twitterSite}
    twitterCard={frontmatter.twitterCard}
    themeColor={frontmatter.themeColor}
    >
    <slot name="beginOfIt">

    </slot>

    <slot>
        <h1><i>Empty</i></h1>
            <p>Markdown empty!</p>
    </slot>

    <!-- You know what, never hide info. -->
    {frontmatter.hideInfo?<p></p>:<p></p>}

    <h1 style="font-size:18px"><i>Markdown Info</i></h1>
    <div class="MDXInfo" id="MDXInfo">
            <!-- <p style="font-size:12px;">
                Title: {frontmatter.title}<br>
                Author: {frontmatter.author}<br>
                Description: {frontmatter.description}<br>
                Date: {frontmatter.date}<br>
                keywords: {frontmatter.keywords}<br>
            </p> -->
            <!-- https://www.w3schools.com/html/html_tables.asp -->
            <table style="font-size:12px">
                <tr>
                    <th>Info</th>
                    <th>Value</th>       
                </tr>
                <tr>
                    <td>Title</td>
                    <td>{frontmatter.title}</td>        
                </tr>
                <tr>
                    <td>Author</td>
                    <td>{frontmatter.author} (&#xf099; {frontmatter.author}; )</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{frontmatter.description}</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <!-- The peck bro, why documentation & example isn't complete & covering every obvious cases? I hate guesswork! -->
                    <td><LocalTime datetime={frontmatter.date} date/>, <TimeAgo datetime={frontmatter.date}/></td>
                </tr>
                <tr>
                    <td>Keywords</td>
                    <td>{frontmatter.keywords}</td>
                </tr>
                <tr>
                    <td>File</td>
                    <td>{frontmatter.file}</td>
                </tr>
                <tr>
                    <td>URL</td>
                    <td>{frontmatter.url}</td>
                </tr>
            </table>
    </div>

    <slot name="endOfIt">

    </slot>
</Layout>

<script>
    // if (frontmatter.hideInfo){
    //     // document.getElementsByClassName('MDXInfo').styles.display = 'none';
    //     document.getElementById('MDXInfo').style.display = 'none';
    // } else {
    //     document.getElementById('MDXInfo').style.display = 'block';
    // }
</script>