---
import type { MarkdownLayoutProps } from 'astro';
import { SEO } from "astro-seo";
import Headering from './Headering.astro';
import Footering from './Footering.astro';
import ButtonizedLink from './ButtonizedLink.astro';
import EmbedRAWHTML from './EmbedRAWHTML.astro';
import BackToTopButton from './BackToTopButton.astro';
import NoScriptMsg from './Messages/NoScript.astro';
// import 'https://github.com/ryanoasis/nerd-fonts/raw/master/css/nerd-fonts-generated.css'
// import 'https://mshaugh.github.io/nerdfont-webfonts/build/nerdfont-webfonts.css'
import '../style/style.css';

// https://github.com/cifkao/html-midi-player/issues/48
import { PianoRollSVGVisualizer } from '@magenta/music/esm/core.js'; // 
// import 'html-midi-player';
// import Midi from '@components/Elements/MidiPlayer.astro';

export interface Props {
  siteName?: string;
  title?: string;
  date?: string;
  dateMod?: string;
  dateExp?: string;
  thumbnail?:string;
  thumbnailType?:string;
  thumbnailWidth?:number;
  thumbnailHeight?:number;
  thumbnailAlt?:string;
  thumbnailAudio?:string;
  thumbnailVideo?:string;
  type?:string;
  description?: string;
  descriptionPrefix?: string;
  author?:string;
  keywords?: string;
  viewSourceURL?: string;
  noIndex?:boolean;
  noFollow?:boolean;
  rating?:string;
  favIcon?:string;
  favIconType?:string;
  favIconAlt?:string;
  favIconAltType?:string;
  favIconHD?:string;
  favIconHDType?:string;
  favIconHDAlt?:string;
  favIconHDWidth?:number;
  favIconHDHeight?:number;
  charSet?:string;
  language?:string;
  twitterAuthor?:string;
  twitterSite?:string;
  twitterCard?:string;
  themeColor?:string;
  ejectClarity?:boolean;
  hideInfo?:boolean;
}

// https://www.w3schools.com/js/js_window_location.asp
// let currAddr = window.location.href;
// let currPath = window.location.pathname;
// let currHost = window.location.hostname;
// let currProtocol = window.location.protocol;
// let currPort = window.location.port;
// let currJustAddr = currHost+currPath;
// let doViewSource = 'view-source://' + currJustAddr;
// let currJustAddr = Astro.url.hostname+Astro.url.pathname;
// let currJustAddr = Astro.url.host+Astro.url.pathname; // crack! the hostname returns `localhost` wtf?!
let currJustAddr = 'https://perkedel.netlify.app'+Astro.url.pathname; // crack! the hostname returns `localhost` wtf?!
let doViewSource = 'view-source:' + currJustAddr;

// type Props = MarkdownLayoutProps<{
//   // Define frontmatter props here
//   title?: string;
//   author?: string;
//   date?: string;
//   description?: string;
//   keywords?: string;
// }>;

const { 
  siteName = 'Perkedel Technologies Division NTLF+ASTR',
  title = 'Perkedel NTLF+ASTR', 
  date,
  dateMod,
  dateExp,
  thumbnail = '/assets/img/perkedelbannerrender4KDCI.png',
  thumbnailType = 'image/png',
  thumbnailWidth = 4096,
  thumbnailHeight = 2160,
  thumbnailAlt = 'Perkedel banner',
  thumbnailAudio,
  thumbnailVideo,
  type = 'website',
  author = 'JOELwindows7',
  description = 'Perkedel NTLF+ASTR. Perkedel Technologies on Netflify with Astro framework',
  descriptionPrefix = 'DO NOT RATIO',
  keywords = 'tech, fun, novelty, open source, gratis, free',
  viewSourceURL = doViewSource,
  noIndex = false,
  noFollow = false,
  rating,
  favIcon ='/favicon.ico',
  favIconType ='image/x-icon',
  favIconAlt ='/favicon.gif',
  favIconAltType ='image/gif',
  // favIcon ='/favicon.gif',
  // favIconType ='image/gif',
  favIconHD = '/Perkedel_Icon.png',
  favIconHDType = 'image/png',
  favIconHDAlt = 'Perkedel icon',
  favIconHDWidth = 600,
  favIconHDHeight = 400,
  charSet = 'UTF-8',
  language = 'en',
  twitterAuthor = '@'+author,
  twitterSite = twitterAuthor,
  twitterCard = 'summary_large_image' ,
  themeColor = '#0000aa',
  ejectClarity = false,
  hideInfo = false,
// } = Astro.props as Props;
} = Astro.props.frontmatter || Astro.props as Props;
---

<!DOCTYPE html>
<html lang={language}>
<head>
  <!--https://www.w3schools.com/tags/tag_meta.asp-->
	<meta charset={charSet}>
	<meta name="viewport" content="width=device-width">
  <!-- <meta name="description" content="Perkedel NTLF+ASTR. Perkedel Technologies on Netflify with Astro framework"> -->
  <!-- <meta name="keywords" content="tech, fun, novelty, open source, gratis, free"> -->
  <!-- <meta name="author" content="JOELwindows7"> -->
  <meta name="generator" content={Astro.generator} />
  <meta name="theme-color" media="(prefers-color-scheme:dark)" content={themeColor} />

  <link rel="icon" type="image/x-icon" href={favIcon} />
  <!-- <link rel="stylesheet" href="https://github.com/ryanoasis/nerd-fonts/raw/master/css/nerd-fonts-generated.css"> -->
  <!-- <link rel="stylesheet" href="https://mshaugh.github.io/nerdfont-webfonts/build/nerdfont-webfonts.css"> -->

  <!--jQuery without Google
    https://releases.jquery.com/
    https://jquery.com/
    -->
  <!-- <script defer src="https://code.jquery.com/jquery-3.6.1.min.js"></script> -->
  <!--Mermaid for diagram
    mermaid-js.github.io
    https://mermaid-js.github.io/mermaid/#/n00b-gettingStarted?id=requirements-for-the-mermaid-api
    -->
  <!-- <script defer src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script> -->
    <!--zero-md
    https://zerodevx.github.io/
    -->
  <!-- <script
    type="module"
    src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"
  >
  </script> -->

	<!-- <title>{title}</title> -->
  <!-- BRAND NEW SEO PLUGIN HERE https://github.com/jonasmerlin/astro-seo -->
        <!-- twitter={{
        title: title;
      }} -->
  <SEO
      title={title + ` | ` + siteName}
      description={description} 
      noindex={noIndex}
      nofollow={noIndex}
      extend={{
        // extending the default link tags
        link: [
          // { rel: "icon", type:"image/x-icon", href: favIcon },
          { rel: "icon", type:favIconType, href: favIcon },
          { rel: "alternate icon", type:favIconAltType, href: favIconAlt },
          { rel: "canoncial", href: Astro.url.href }
        ],
        // extending the default meta tags
        meta: [
          // MOAR https://css-tricks.com/essential-meta-tags-social-media/#aa-proprietary-meta-tags
          // https://devhints.io/html-meta
          // TWITTER https://dev.twitter.com/cards
          {
            name: "twitter:image",
            content:
              // "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
              // favIconHD,
              thumbnail,
          },
          { name: "twitter:image:alt", content: thumbnailAlt },
          { name: "twitter:title", content: title + ` | ` + siteName },
          { name: "twitter:description", content: descriptionPrefix + ' | ' + description },
          { name: "twitter:creator", content: twitterAuthor },
          { name: "twitter:site", content: twitterSite },
          { name: "twitter:card", content: twitterCard },
          { name: "twitter:url", content: Astro.url.href },
          
          // OpenGraph https://ogp.me/
          { name: "og:title", content: title + ` | ` + siteName },
          { name: "og:description", content: descriptionPrefix + ' | ' + description },
          { name: "og:site_name", content: siteName },
          { name: "og:type", content: type },
          { name: "og:url", content: Astro.url.href },
          { name: "og:audio", content: thumbnailAudio },
          { name: "og:video", content: thumbnailVideo },
          { name: "og:image:url", content: thumbnail },
          { name: "og:image:type", content: thumbnailType },
          { name: "og:image:width", content: thumbnailWidth },
          { name: "og:image:height", content: thumbnailHeight },
          { name: "og:image:alt", content: thumbnailAlt },
          { name: "og:image:url", content: favIconHD }, // second ones in case above not work?
          { name: "og:image:type", content: favIconHDType },
          { name: "og:image:width", content: favIconHDWidth },
          { name: "og:image:height", content: favIconHDHeight },
          { name: "og:image:alt", content: favIconHDAlt },
          { name: "og:article:published_time", content: date },
          { name: "og:article:modified_time", content: dateMod },
          { name: "og:article:expiration_time", content: dateExp },
          { name: "og:article:tag ", content: keywords },
          

          // Basics
          // { name: "description", content: description },
          { name: "keywords", content: keywords },
          { name: "author", content: author },
          { name: "rating", content: rating },
          { name: "theme-color", media:"(prefers-color-scheme:dark)", content: themeColor },
          
          // Google
        ],
      }}
      />
  <!-- YAY COMPREHENSIVE SEO -->
  
  <!-- <meta name="description" content={description}> -->
  <!-- <meta name="keywords" content={keywords}> -->
  <!-- <meta name="author" content={author}> -->

  <!-- Clarity tracking code for https://perkedel.netlify.app/ -->
  {
  // https://bobbyhadz.com/blog/typescript-ignore-error
  // eslint-disable-nextline @typescript-eslint/ban-ts-comment
  // @ts-ignore
  ejectClarity?{}:
    <script>
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "e7yq61cr5h");
    </script>
  }
  
</head>
<body>
  <!-- HEADER -->
  <Headering viewSourceURL={viewSourceURL}/>

  <!-- META INFO -->
  <NoScriptMsg/>

  <!-- MAIN -->
  <main>
    <!-- <slot /> -->
    <slot>
      <h1><i>Content Empty</i></h1>
        <p>Content Empty. You forgor to pass anything inside</p>
    </slot>
  </main>

  <!-- BACK TO TOP BUTTON -->
  <BackToTopButton/>
  
  <!-- FOOTER -->
  <Footering/>

  <!-- SCRIPT FINALLY -->
  <script is:inline src="/main.js"></script>
  <!-- <script is:inline src="/extra.js">
  </script> -->

</body>
</html>

<!-- <style>

</style> -->

<!-- 
Dump link
- https://docs.astro.build/en/core-concepts/endpoints/
- https://docs.astro.build/en/reference/configuration-reference/
- https://github.com/withastro/astro/issues/397
- https://docs.astro.build/en/guides/imports/
- https://github.com/netlify-templates/astro-quickstart
- https://docs.netlify.com/integrations/frameworks/astro/
- https://github.com/netlify-templates/astro-quickstart
- https://www.netlify.com/pricing/
- https://docs.astro.build/en/core-concepts/astro-components/
 -->