---
// https://docs.astro.build/en/guides/markdown-content/
// https://mdxjs.com/guides/frontmatter/
import Layout from './Layout.astro';
import MarkdownInfo from './Elements/MarkdownInfo.astro';
//import { LocalTime, RelativeTime, TimeAgo } from '@astro-github-elements/time';
import { Time } from '@astro-github-elements/time';
// import { * } from '@github/time-elements';
import type { MarkdownLayoutProps } from 'astro';

// export interface Propse {
//     nsfw?:boolean;
// }
type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
    title?: string;
    type?:string;
    author?: string;
    date?: string;
    dateMod?: string;
    dateExp?: string;
    description?: string;
    keywords?: string;
    hideInfo?: boolean;
    thumbnail?:string;
    thumbnailType?:string;
    thumbnailWidth?:number;
    thumbnailHeight?:number;
    thumbnailAlt?:string;
    thumbnailAudio?:string;
    thumbnailVideo?:string;
    noIndex?:boolean;
    noFollow?:boolean;
    rating?:string;
    favIcon?:string;
    favIconType?:string;
    favIconAlt?:string;
    favIconAltType?:string;
    favIconHD?:string;
    favIconHDType?:string;
    favIconHDAlt?:string;
    favIconHDWidth?:number;
    favIconHDHeight?:number;
    charSet?:string;
    language?:string;
    twitterAuthor?:string;
    twitterSite?:string;
    twitterCard?:string;
    themeColor?:string;
    timeToRead?:string;
    nsfw?:boolean;
    isNSFW?:boolean;
}>;
const { frontmatter,
        url,
        nsfw,
        timeToRead,
        keywords,
        // hideInfo = 'false',
} = Astro.props ;

// let handoverHideInfo = frontmatter.hideInfo;
//  if(frontmatter.hideInfo){
//     // document.getElementsByClassName('MDXInfo').styles.display = 'none';
//     document.getElementById('MDXInfo').style.display = 'none';
// } else {
//     document.getElementById('MDXInfo').style.display = 'block';
// }
---
<Layout
    title={frontmatter.title}
    description={frontmatter.description}
    keywords={frontmatter.keywords}
    date={frontmatter.date}
    dateMod={frontmatter.dateMod}
    dateExp={frontmatter.dateExp}
    thumbnail={frontmatter.thumbnail}
    thumbnailAlt={frontmatter.thumbnailAlt}
    thumbnailType={frontmatter.thumbnailType}
    thumbnailWidth={frontmatter.thumbnailWidth}
    thumbnailHeight={frontmatter.thumbnailHeight}
    thumbnailAudio={frontmatter.thumbnailAudio}
    thumbnailVideo={frontmatter.thumbnailVideo}
    noIndex={frontmatter.noIndex}
    noFollow={frontmatter.noFollow}
    rating={nsfw? 'adult':''|| frontmatter.rating}
    favIcon={frontmatter.favIcon}
    favIconType={frontmatter.favIconType}
    favIconAlt={frontmatter.favIconAlt}
    favIconAltType={frontmatter.favIconAltType}
    favIconHD={frontmatter.favIconHD}
    favIconHDType={frontmatter.favIconHDType}
    favIconHDWidth={frontmatter.favIconHDWidth}
    favIconHDHeight={frontmatter.favIconHDHeight}
    charSet={frontmatter.charSet}
    language={frontmatter.language}
    twitterAuthor={frontmatter.twitterAuthor || '@' + frontmatter.author}
    twitterSite={frontmatter.twitterSite || '@' + frontmatter.author}
    twitterCard={frontmatter.twitterCard || 'summary_large_image'}
    themeColor={frontmatter.themeColor || 'navy'}
    hideInfo={frontmatter.hideInfo}
    >
    <slot name="beginOfIt">

    </slot>

    <article>
        <slot>
            <h1><i>Empty</i></h1>
                <p>Markdown empty!</p>
        </slot>
    </article>

    <slot name="AfterOfIt">

    </slot>

    <!-- You know what, never hide info. -->
    {frontmatter.hideInfo?<p></p>:<p></p>}

    <h2 style="font-size:18px"><i>Markdown Info</i></h2>
    <div class="MDXInfo" id="MDXInfo">
            <!-- <p style="font-size:12px;">
                Title: {frontmatter.title}<br>
                Author: {frontmatter.author}<br>
                Description: {frontmatter.description}<br>
                Date: {frontmatter.date}<br>
                keywords: {frontmatter.keywords}<br>
            </p> -->
            <!-- https://www.w3schools.com/html/html_tables.asp -->
            <table style="font-size:12px">
                <tr>
                    <th>Info</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Title</td>
                    <td>{frontmatter.title}</td>
                </tr>
                <tr>
                    <td>Author</td>
                    <td>{frontmatter.author} (
                        <a target="_blank" rel="noopener noreferrer" href={'https://twitter.com/'+(frontmatter.twitterAuthor || '@' + frontmatter.author)}>&#xf099; {frontmatter.twitterAuthor || '@' + frontmatter.author}</a>;

                        )</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{frontmatter.description}</td>
                </tr>
                <tr>
                    <td>Time to read</td>
                    <td>{timeToRead}</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <!-- The peck bro, why documentation & example isn't complete & covering every obvious cases? I hate guesswork! -->
                    <!--<td><LocalTime datetime={frontmatter.date} date/>, <TimeAgo datetime={frontmatter.date}/> (Edited <LocalTime datetime={frontmatter.dateMod} date/>, <TimeAgo datetime={frontmatter.dateMod}/>; Expires in <LocalTime datetime={frontmatter.dateExp} date/>, <RelativeTime datetime={frontmatter.dateExp}/>)</td>-->
                    <td>{frontmatter.date?(<Time format="datetime" datetime={frontmatter.date}/><span>,</span> <Time format="relative" datetime={frontmatter.date}/>):(<Time format="datetime" now/><span>,</span> <Time format="relative" now/>)}  (Edited <Time format="datetime" datetime={frontmatter.dateMod}/>, <Time format="relative" datetime={frontmatter.dateMod}/>; Expires in <Time format="datetime" datetime={frontmatter.dateExp}/>, <Time format="relative" datetime={frontmatter.dateExp}/>, <Time format="duration" datetime={frontmatter.dateExp}/>)</td>
                </tr>
                <tr>
                    <td>Keywords</td>
                    <td>{keywords}</td>
                </tr>
                <tr>
                    <td>File</td>
                    <td>{frontmatter.file}</td>
                </tr>
                <tr>
                    <td>URL</td>
                    <td>{frontmatter.url}</td>
                </tr>
                <tr>
                    <td>Mature Content?</td>
                    <td>{frontmatter.nsfw || frontmatter.isNSFW?"YES":"NO"}</td>
                </tr>
            </table>
    </div>

    <slot name="endOfIt">

    </slot>
</Layout>

<script>
    // if (frontmatter.hideInfo){
    //     // document.getElementsByClassName('MDXInfo').styles.display = 'none';
    //     document.getElementById('MDXInfo').style.display = 'none';
    // } else {
    //     document.getElementById('MDXInfo').style.display = 'block';
    // }
</script>
