---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import EnterNSFWButton from '@components/Elements/SparePart/EnterNSFWButton.astro';
import ListCellsCardiophileSFW from '@components/Elements/SparePart/ListCellsCardiophileSFW.astro';
import ListCellsCardiophileNSFW from '@components/Elements/SparePart/ListCellsCardiophileNSFW.astro';
import ListCellsCSSSFW from '@components/Elements/SparePart/ListCells/ListCellsCSSSFW.astro';
import ListCellsCSSNSFW from '@components/Elements/SparePart/ListCells/ListCellsCSSNSFW.astro';
import KolmoIsOverwhelmed from '@components/Messages/KolmoIsOverwhelmed.astro';

export interface Props{
    nsfw?:Boolean;
    nsfwConfirmation?:boolean;
    useCustomGoBack?:Boolean;
    customGoBack?:String;
    detachedGenital?:Boolean;
    noNeedNSFW?:Boolean; // USE THIS SPARINGLY, E.G. ALL USERS LIST PAGE, NOT TOPIC ENDPOINT PAGE
    addDescriptions?:string;
    addKeywords?:string;
    addHeaderTitle?:string;
    addMetaTitle?:string;
    author?:string;
    disableOverwhelmStatement?:boolean;
    skipHeader?:boolean;
    skipNav?:boolean;
    skipFooter?:boolean;
    selectHeader?:string;
    customHeader?:boolean;
    addHeaderingClass?:string;
    noScripts?:boolean;
    thumbnail?:string;
    thumbnailType?:string;
    thumbnailWidth?:number;
    thumbnailHeight?:number;
    thumbnailAlt?:string;
    thumbnailAudio?:string;
    thumbnailVideo?:string;
    thumbnailVideoWidth?:string;
    thumbnailVideoHeight?:string;
}

const{
    nsfw=false, nsfwConfirmation = false, useCustomGoBack = false, customGoBack = '../../..',
    detachedGenital=false,
    noNeedNSFW=false,
    addDescriptions='???',
    addKeywords='template, empty, null, wow',
    addHeaderTitle='HEADER_TITLE',
    addMetaTitle='META_TITLE',
    author = 'JOELwindows7',
    disableOverwhelmStatement = false,
    skipHeader = false,
    skipNav = false,
    skipFooter = false,
    selectHeader = 'perkedel',
    customHeader = false,
    addHeaderingClass = '',
    noScripts = false,
    thumbnail = '/assets/img/perkedelbannerrender4KDCI.png',
    thumbnailType = 'image/png',
    thumbnailWidth = 4096,
    thumbnailHeight = 2160,
    thumbnailAlt = 'Perkedel banner',
    thumbnailAudio,
    thumbnailVideo,
    thumbnailVideoWidth,
    thumbnailVideoHeight,
} = Astro.props as Props;
---
<Layout
    title={addMetaTitle + (nsfw?" NSFW🥵":"")}
    description={"Perkedel NTLF+ASTR. " + addDescriptions}
    keywords={"tech, fun, novelty, open source, gratis, free, " + addKeywords}
    author={author}
    rating={(nsfw?"adult":"")}
    useCustomGoBack={useCustomGoBack} customGoBack={customGoBack}
    skipHeader={skipHeader}
    skipNav={skipNav}
    skipFooter={skipFooter}
    customHeader={customHeader}
    selectHeader={selectHeader}
    addHeaderingClass={addHeaderingClass}
    noScripts={noScripts}
    thumbnail = {thumbnail}
    thumbnailType = {thumbnailType}
    thumbnailWidth = {thumbnailWidth}
    thumbnailHeight = {thumbnailHeight}
    thumbnailAlt = {thumbnailAlt}
    thumbnailAudio = {thumbnailAudio}
    thumbnailVideo = {thumbnailVideo}
    thumbnailVideoWidth = {thumbnailVideoWidth}
    thumbnailVideoHeight = {thumbnailVideoHeight}
    nsfwConfirmation={nsfwConfirmation}
    >
    <slot name='afterHead' slot='afterHead'/>
    <slot name="myHeadering" slot="myHeadering"/>
    <slot name="SettingContains" slot="SettingContains"/>
    <!-- <h1>{addHeaderTitle} {noNeedNSFW?"":"("+(nsfw?"FULL":"LITE")+" VERSION)"}</h1> -->
    <h1>
        <slot name='TitlePre'/>
        <Fragment set:html={addHeaderTitle}/>
        <slot name='TitleExtra'/>
        <Fragment set:html={(noNeedNSFW?"":" ("+(nsfw?"FULL":"LITE")+" VERSION)")}/>
        <slot name='TitleAfter'/>
    </h1>
        {disableOverwhelmStatement?"":<KolmoIsOverwhelmed/>}

        <Fragment slot="outsideMainAbove">
            <slot name="outsideMainAbove"/>
        </Fragment>

        <slot>
            <p class="error"><i>Empty content!!!</i></p>
        </slot>

        <Fragment slot="outsideMainBelow">
            <slot name="outsideMainBelow"/>
            {noNeedNSFW?
                ""
            :
                (
                nsfw?
                    ""
                :
                    <EnterNSFWButton detachedGenital={detachedGenital}/>
                )
            }
            <slot name="afterNSFWBar"/>
            <slot name="afterMainScript" slot="afterMainScript"/>
        </Fragment>
</Layout>