---
import Layout from '@components/Layout.astro';
import { marked } from 'marked';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import EnterNSFWButton from '@components/Elements/SparePart/EnterNSFWButton.astro';
import CorePage from './__CorePage.astro';
import BeginningOfNSFW from '@components/Elements/SparePart/ListCells/BeginningOfNSFW.astro';
import FCKDRMIcon from '@components/Icons/FCKDRMIcon.astro';
import EFFIcon from '@components/Icons/EFFIcon.astro';
import DeffectiveByDesignIcon from '@components/Icons/DeffectiveByDesignIcon.astro';
import DRMCompare from '@components/Elements/SparePart/Tables/DRMCompare.astro';
import DRMFreeQuote from '@components/Elements/SparePart/DRMFreeQuote.astro';

export interface Props{
    nsfw?:Boolean;
}

const{
    nsfw=false,
} = Astro.props.frontmatter || Astro.props as Props;

const response = await fetch('https://raw.githubusercontent.com/Perkedel/CVR_Stuffings/main/README.md');
const markdown = await response.text();
const content = marked.parse(markdown);

const contribRes = await fetch('https://raw.githubusercontent.com/Perkedel/CVR_Stuffings/main/CONTRIBUTING.md');
const contribMd = await contribRes.text();
const contribContent = marked.parse(contribMd);
---
<CorePage
    nsfw={nsfw}
    addKeywords={`CVR, ChilloutVR, VRChat, Unity, Mods, development, Made with Unity`}
    addDescriptions='ChilloutVR Stuffs. a Project from X0p1r4t3 Eenvreensment'
    addHeaderTitle='ChilloutVR Stuffs'
    addMetaTitle='ChilloutVR Stuffs, Stuffs made for CVR'
    author='JOELwindows7'
    disableOverwhelmStatement={false}
    >
    <p>Here are stuffs we made for ChilloutVR</p>
    <h2>Get Started</h2>
    <h3>Setup</h3>
    <p>
        First, <ButtonizedLink href='https://store.steampowered.com/app/661130/ChilloutVR/' openInNewTab={true}>Download ChilloutVR (AlphaBlend Interactive)</ButtonizedLink>.<br/>
        Then search below world!
    </p>
    <h3>Visit</h3>
    <p>Visit these worlds</p>
    <ul>
        <li><ButtonizedLink href='https://hub.abinteractive.net/worlds/detail?id=9d1b1385-6e80-4a2a-a2a4-7d081daef12b' openInNewTab={true}>ClubDNB</ButtonizedLink></li>
        <li><ButtonizedLink href='https://hub.abinteractive.net/worlds/detail?id=76c4d45f-8490-4c03-98bc-1949b5660b7c' openInNewTab={true}>CafeDNB</ButtonizedLink> Lightweight version of ClubDNB, with building designed optimized for office cluster</li>
        <li><ButtonizedLink href='https://hub.abinteractive.net/worlds/detail?id=56925a80-f3d7-40c3-ab06-3d2b299ab77b' openInNewTab={true}>Zuuljedus' home world</ButtonizedLink></li>
        <li><ButtonizedLink href='https://hub.abinteractive.net/worlds/detail?id=6b1b8855-9196-4e21-a418-f52a862651af' openInNewTab={true}>Dice Glow</ButtonizedLink></li>
        <li><ButtonizedLink href='https://hub.abinteractive.net/worlds/detail?id=576dd214-4d23-4441-86f1-d0f56f3095da' openInNewTab={true}>Dice Glow Pt. 2</ButtonizedLink></li>
        <li><ButtonizedLink href='https://hub.abinteractive.net/worlds/detail?id=6055a6c3-e589-45dc-a2c2-5de2d83ae449' openInNewTab={true}>Moving Spawns</ButtonizedLink></li>
        <li><ButtonizedLink href='https://hub.abinteractive.net/worlds/detail?id=dd4303c8-3f5c-4fed-9d37-21e8836310e3' openInNewTab={true}>iPoly's Low Poly Server Room</ButtonizedLink></li>
        <li><ButtonizedLink href='https://hub.abinteractive.net/worlds/detail?id=8f9c2b14-dba4-490c-b868-edacbc27516f' openInNewTab={true}>Surround Sound Mute Tester</ButtonizedLink> <b class='error'>not working properly</b></li>
        <li><ButtonizedLink href='https://hub.abinteractive.net/worlds/detail?id=d55da2f2-6349-4558-ad6e-f74ce92945af' openInNewTab={true}>Minimum World</ButtonizedLink> <b class='error'>not reducing size</b></li>
        <li><ButtonizedLink href='https://hub.abinteractive.net/worlds/detail?id=60c50664-1c58-4a8f-8e82-b4242b29f8bc' openInNewTab={true}>Planet Sample</ButtonizedLink> Example gravity zone planet</li>
        <li><ButtonizedLink href='https://hub.abinteractive.net/worlds/detail?id=dec62aa9-9f9f-48e8-98a7-8f2591de2511' openInNewTab={true}>Inverse Gravity House Residence</ButtonizedLink> Example gravity zone priority</li>
        <li><ButtonizedLink href='https://hub.abinteractive.net/worlds/detail?id=9a708c96-2f39-47e5-a49e-79ae97e193f5' openInNewTab={true}>Water Box Planet Sample</ButtonizedLink> Example gravity zone weird shape</li>
        {nsfw?<Fragment>
            <li><ButtonizedLink href='https://hub.abinteractive.net/worlds/detail?id=604d2db5-93b4-4511-8b53-a66e16cc6325' openInNewTab={true}>Corn Syrup</ButtonizedLink></li>
            </Fragment>
        :""}
    </ul>
    <h3>Source Code</h3>
    {nsfw?
        <Fragment>
            <p>Visit Github: <ButtonizedLink href='https://github.com/Perkedel/CVR_Stuffings' openInNewTab={true}>https://github.com/Perkedel/CVR_Stuffings</ButtonizedLink></p>
            </Fragment>
    :
        <Fragment>
            <p class='error'>Sorry, the source code URL is only available to adults. Pls open up below banner to visit the full version of this page. <b>You must be biologically adult!</b></p>
            </Fragment>
    }
    <h2>Raw Markdown Content</h2>
        <h3>Terms for idea submissions (<code>CONTRIBUTING.md</code>)</h3>

        <details>
            <summary>Click here to reveal entire <code>CONTRIBUTING.md</code> from the GitHub repository. <i>Powered by Marked</i></summary>
            <Fragment set:html={contribContent}/>
        </details>

        <h3>Main (<code>README.md</code>)</h3>
        {nsfw?
            <Fragment>
                <details>
                    <summary>Click here to reveal entire <code>README.md</code> from the GitHub repository. <i>Powered by Marked</i></summary>
                    <Fragment set:html={content}/>
                </details>
            </Fragment>
        :
            <Fragment>
                <p class='error'>Sorry, <code>README.md</code> from the GitHub repository is only available for adults.</p>
            </Fragment>}
    
</CorePage>