---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import EnterNSFWButton from '@components/Elements/SparePart/EnterNSFWButton.astro';
import CorePage from './__CorePage.astro';
import BeginningOfNSFW from '@components/Elements/SparePart/ListCells/BeginningOfNSFW.astro';
import FCKDRMIcon from '@components/Icons/FCKDRMIcon.astro';
import EFFIcon from '@components/Icons/EFFIcon.astro';
import DeffectiveByDesignIcon from '@components/Icons/DeffectiveByDesignIcon.astro';
import DRMCompare from '@components/Elements/SparePart/Tables/DRMCompare.astro';
import DRMFreeQuote from '@components/Elements/SparePart/DRMFreeQuote.astro';
import MessageBoxTemplate from "@components/Messages/MessageBoxTemplate.astro";
import QCode from "@components/Elements/SparePart/Tables/QCode.astro";
import PilotABC from "@components/Elements/SparePart/Tables/PilotABC.astro";
import PrintButton from "@components/Elements/SparePart/Options/PrintButton.astro";
import EmbedAudio from '@components/Elements/EmbedAudio.astro';
import Figurative from '@components/Elements/SparePart/Figurative.astro';

export interface Props{
    nsfw?:Boolean;
}

const{
    nsfw=false,
} = Astro.props.frontmatter || Astro.props as Props;
---
<CorePage
    nsfw={nsfw}
    addKeywords={`Doom, Freedoom, Doom Mods, Mods, PWAD, IWAD, WAD`}
    addDescriptions='Doom Stuffs. Doom Stuffs Related'
    addHeaderTitle='Doom'
    addMetaTitle='Doom Mods & Cool Stuffs'
    author='JOELwindows7'
    disableOverwhelmStatement={true}
    noNeedNSFW={true}
    >
    <p>Doom stuffs lol</p>
    <h2>Lah Mboh?</h2>
        <div>
            <p style='overflow-x:auto;'>
                <img src="https://raw.githubusercontent.com/Perkedel/Lah-Mboh/refs/heads/main/src/screenshot/itemvarietytest.png" alt="Item Variety" height="400"/>
                <img src="https://raw.githubusercontent.com/Perkedel/Lah-Mboh/refs/heads/main/src/screenshot/enemytester.png" alt="Test the enemy demon" height="400"/>
                <img src="https://raw.githubusercontent.com/Perkedel/Lah-Mboh/refs/heads/main/src/screenshot/pove1m1knockoff.png" alt="There is also a Megawad included" height="400"/>
            </p>
            <p>
                <ButtonizedLink href="https://github.com/Perkedel/Lah-Mboh/releases/download/tip/Lah-Mboh.7z" openInNewTab={true}><b>DOWNLOAD PK7 NOW</b></ButtonizedLink>
                <ButtonizedLink href="https://github.com/Perkedel/Lah-Mboh" openInNewTab={true}>Source Code</ButtonizedLink>
                <ButtonizedLink href="https://github.com/Perkedel/Lah-Mboh/blob/main/INSTALL.md" openInNewTab={true}>How to install?</ButtonizedLink>
            </p>
        </div>
    <h2>Oops! Sorry, we don't have website for this rabbit hole topic</h2>
        <p>Sorry, Kaorfa today is too lazy right now. He feels unmotivated making website just to get it done, when he already put efforts on the documentation towards the Lah-Mboh Mod PK3 anyway. Please have a look around in Lah-Mboh Source Code above. Thancc.</p>
</CorePage>