---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import ListCellsDankMemesSFW from '@components/Elements/SparePart/ListCells/ListCellsDankMemesSFW.astro';
import ListCellsDankMemesNSFW from '@components/Elements/SparePart/ListCells/ListCellsDankMemesNSFW.astro';
import CorePage from './__CorePage.astro';
import DownloadShowHideListCell from '@components/Elements/SparePart/Options/DownloadShowHideListCell.astro';
import KolmoIsOverwhelmed from '@components/Messages/KolmoIsOverwhelmed.astro';
import HarrassedByYouTubeAgain from '@components/Messages/HarrassedByYouTubeAgain.astro';
import BeginningOfNSFW from '@components/Elements/SparePart/ListCells/BeginningOfNSFW.astro';
// import DetailSummary from '@components/Elements/SparePart/DetailSummary';
// import DumpEverything from '@components/Elements/SparePart/DumpEverything.astro';

export interface Props{
    nsfw?:Boolean;
}

const{
    nsfw=false,
} = Astro.props.frontmatter || Astro.props as Props;
---
<CorePage
    nsfw={nsfw}
    addKeywords='sauce, dump, links, url, all, random'
    addDescriptions='Everything Dump links'
    addHeaderTitle='Dump Links'
    addMetaTitle='Dump Links'
    author='JOELwindows7'
    >
    <p>
        <!-- All Links there is to it. Too lazy to sort or even label. Pls Archive anyways. -->
        <b class='error'>Sorry, we are out of performance.</b> In order to avoid performance issues both in compilations & viewing (<i class='warning'>among other things</i>), with heavy heart, we decided to sunset these dump links.<br/>
        Thank you for using our service.
    </p>
    <p>Dump link files can still be viewed here:</p>
    <p>
        <ul>
            <!-- <li><ButtonizedLink href='https://github.com/Perkedel/perkedel-astro/blob/main/public/assets/txt/md/DumpAllSFW.md' openInNewTab={true}>SFW</ButtonizedLink></li> -->
            <li><ButtonizedLink href='/public/assets/txt/md/DumpAllSFW.md' openInNewTab={true}>SFW</ButtonizedLink>, <ButtonizedLink href='https://github.com/Perkedel/perkedel-astro/blob/main/public/assets/txt/md/DumpAllSFW.md' openInNewTab={true}>GitHub</ButtonizedLink></li>
            <li>{nsfw?<ButtonizedLink href='/public/assets/txt/md/DumpAllNSFW.md' openInNewTab={true}>NSFW</ButtonizedLink>, <ButtonizedLink href='https://github.com/Perkedel/perkedel-astro/blob/main/public/assets/txt/md/DumpAllNSFW.md' openInNewTab={true}>GitHub</ButtonizedLink>:"..."}</li>
        </ul>
    </p>
    <h2>Begin Dumps</h2>
    <details>
        <summary>Click here to toggle open/close</summary>
        <!-- <DumpEverything nsfw={nsfw}/> -->
         <p>Empty</p>
    </details>
    <h2>End Dumps</h2>
    <!-- <p>We apologize for inconveniences. Due to sheer amounts of sauces coming right up, we are unable to review each sauce & properly label them accordingly. Thank you for your understanding.</p> -->
    <p>We apologize for inconveniences. Due to bajillion amounts of sauces coming right up, we are no longer able to keep up the demands. Thank you for your understanding.</p>
    

</CorePage>