---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import EnterNSFWButton from '@components/Elements/SparePart/EnterNSFWButton.astro';
import CorePage from './__CorePage.astro';
import BeginningOfNSFW from '@components/Elements/SparePart/ListCells/BeginningOfNSFW.astro';
import FCKDRMIcon from '@components/Icons/FCKDRMIcon.astro';
import EFFIcon from '@components/Icons/EFFIcon.astro';
import DeffectiveByDesignIcon from '@components/Icons/DeffectiveByDesignIcon.astro';
import DRMCompare from '@components/Elements/SparePart/Tables/DRMCompare.astro';
import DRMFreeQuote from '@components/Elements/SparePart/DRMFreeQuote.astro';

export interface Props{
    nsfw?:Boolean;
}

const{
    nsfw=false,
} = Astro.props.frontmatter || Astro.props as Props;
---
<CorePage
    nsfw={nsfw}
    addKeywords={`fckdrm, digital rights management, drm, digital restriction management, cyberpunk, GOG, GOG.com, Good Ol' Games, Good Old Games, CD Projekt Red, CDPR`}
    addDescriptions='FCKDRM the truth of DRMs. REINSTATED BY FAN, OFFICIAL UNOFFICIAL REUPLOAD. You can lose access to your favorite games, music, movies and apps! Stay in control and support DRM-free sources — learn more on FCKDRM.com'
    addHeaderTitle='FCKDRM'
    addMetaTitle='FCKDRM, the truth of DRMs'
    author='JOELwindows7'
    disableOverwhelmStatement={true}
    >
    <!-- https://web.archive.org/web/20210126175016/https://fckdrm.com/ -->
    <!-- fckdrm.com died -->
    <Fragment slot='TitlePre'><FCKDRMIcon/> </Fragment>
    <p>Did you know that there's a killswitch in yourgames: books, music, movies, apps? It's called <b class='error' style='font-size:large;'>DRM</b>, and it can <u>block your access to the things you bought</u>. You can still take control by choosing DRM-free sources.<br/>
    <!-- https://web.archive.org/web/20210126175016/https://twitter.com/share?ref_src=twsrc%5Etfw -->
    <ButtonizedLink href='https://twitter.com/share?ref_src=twsrc%5Etfw' openInNewTab={true}>Tweet!</ButtonizedLink>
    </p>

    <h2>Quotes</h2>
        <h3>Valve, (2008)</h3>
            <!-- <div class='row QuoteFckDrm'>
                <div class='column colLeft'>
                    <img width="75%" class="SpecialityImageWide" class='' src='/assets/img/fckdrm/newell_forbes.jpg'/>
                </div>
                <div class='column colVertCenter'>
                    <p><q>As far as DRM goes, most DRM strategies are just dumb. The goal should be to create greater value for customers through service value (...), not by decreasing the value of a product</q> — <a target="_blank" rel="noopener noreferrer" href= 'https://arstechnica.com/gaming/2008/12/valve-calls-drm-stupid-microsoft-still-doesnt-get-it/'>Gabe Newell</a></p>
                </div>
            </div> -->
            <DRMFreeQuote author={`Gabe Newell`} authorSauce={`https://arstechnica.com/gaming/2008/12/valve-calls-drm-stupid-microsoft-still-doesnt-get-it/`} authorImgSrc={`/assets/img/fckdrm/newell_forbes.jpg`} nsfw={nsfw}>
                As far as DRM goes, most DRM strategies are just dumb. The goal should be to create greater value for customers through service value (...), not by decreasing the value of a product
            </DRMFreeQuote>
        <h3>Number None, creator of Braid and The Witness (2016)</h3>
            <DRMFreeQuote author={`Jonathan Blow`} authorSauce={`https://www.gamespot.com/articles/the-witness-is-being-pirated-a-lot-dev-says/1100-6434309/`} authorImgSrc={`/assets/img/fckdrm/author-photo-2.png`} nsfw={nsfw}>
                I don't like DRM because I think people should have the freedom to own things
            </DRMFreeQuote>
        <h3>Flying Wild Hog, creators of Shadow Warrior 2</h3>
            <DRMFreeQuote author={`Artur Maksara and Tadeusz Zieliński`} authorSauce={`https://kotaku.com/pc-game-developers-say-anti-piracy-tech-would-make-thei-1787747680`} authorImgSrc={`/assets/img/fckdrm/maskara_youtube.jpg`} nsfw={nsfw}>
                We don't believe in DRM, and we don't like DRM. We don't believe it works, nor that it's good for the players.
            </DRMFreeQuote>
        <h3>Double Fine</h3>
            <DRMFreeQuote author={`Tim Schafer`} authorSauce={`https://www.rockpapershotgun.com/2012/11/20/interview-tim-schafer-on-kickstarter-and-good-will/`} authorImgSrc={`/assets/img/fckdrm/schafer_wikipedia.jpg`} nsfw={nsfw}>
                Wow, you can actually make a DRM-free version of your game, and make more money than if you spend millions of dollars on copy protection.
            </DRMFreeQuote>
        <h3>Squad, creator of Kerbal Space Program</h3>
            <DRMFreeQuote author={`Felipe Falanghe`} authorSauce={`https://truepcgaming.wordpress.com/2011/08/08/kerbal-space-program-developer-interview/`} authorImgSrc={`/assets/img/fckdrm/falanghe_kerbalspaceprogram.jpg`} nsfw={nsfw}>
                My opinion is that DRM is an illusion. You can’t beat piracy more than you can beat an earthquake. And in the end, all DRM does is make your paying customers resent you.
            </DRMFreeQuote>
        <h3>CD PROJEKT RED</h3>
            <DRMFreeQuote author={`Marcin Iwiński`} authorSauce={`https://kotaku.com/some-real-talk-on-piracy-from-a-witcher-3-dev-1783864910`} authorImgSrc={`/assets/img/fckdrm/Zielinski_youtube.jpg`} nsfw={nsfw}>
                We cannot force people to buy things. We can only convince them to do it. We totally believe in the carrot, not in the stick.
            </DRMFreeQuote>
        <h3>Perkedel Technologies</h3>
            <DRMFreeQuote author={`JOELwindows7`} authorSauce={``} authorImgSrc={`/assets/img/fckdrm/Joel_profile.png`} nsfw={nsfw}>
                You're not buying the product if it has Digital Restriction Management a.k.a. DRM. That's technically <u class='error'>still theirs</u> instead of now yours. <b class='error'>You've been scammed!</b>
                <br/>
                Also if you <b class='error'>cannot have the file on the disk i.e. cannot download to local storage</b>, unplayable without the <i>store app</i> running in the background, & inaccessible nor executable through a file manager way, <b><u>that's also a DRM</u></b>. <b class='error'>You still got scammed!</b>
                <br/>
                Also, pls don't be ironic y'all gamers. Especially you! What the hell? you were supposed to despise <i>that streaming platform</i>, but so suddenly put the show there & not on any that is DRM-free, what the peck? traitor..
                <br/>
                Oh yeah, cool {nsfw?<a href='https://smutba.se/project/34701/' target="_blank" rel="noopener noreferrer">Rebecca</a>:`Rebecca`} btw 😏.
            </DRMFreeQuote>
        <!-- <h3>Flying Wild Hog, creators of Shadow Warrior 2</h3> -->
        <!-- <h3>Flying Wild Hog, creators of Shadow Warrior 2</h3> -->
    <h2>About DRM</h2>
        <h3>What is DRM?</h3>
            <p>
                Digital Rights Management, DRM, is a really broad term for tech that controls how, and when, digital content can be used - like your games, music, video, or books.
            </p>
            <p>
                Games with DRM include a layer of software or code on top of what's needed to just play the game. Nowadays DRM will send your information to an online server, it could run checks to see if you touched any files, or outright refuse access unless you're logged in somewhere.
            </p>
            <p>
                In other words, DRM is there to question <mark class='warning'>what you're doing every step of the way</mark>.
            </p>
        <h3>Why should you care about DRM?</h3>
            <p>
                Because there is a <strong class='error'>killswitch</strong> built into your games. Sure, DRM might not affect you right now, but <u>corporations hold the key</u> and they'll only let you in as long as you can <strong class='error'>repeatedly prove ownership</strong>. As long as <u>you're connected to the internet</u>. As long as their DRM works without fault. As long <u title='looking at you, DRMists! You keep up today?!'>they're still around</u>.
            </p>
        <h3>What's important about DRM-free?</h3>
            <DRMCompare/>
    <h2>Support DRM-Free</h2>
        <h3>Support the cause and stay informed with these initiatives:</h3>
            <ul>
                <li><ButtonizedLink href={`https://www.defectivebydesign.org/`} openInNewTab={true}><DeffectiveByDesignIcon/> Deffective By Design</ButtonizedLink></li>
                <li><ButtonizedLink href={`https://www.eff.org/issues/drm`} openInNewTab={true}><EFFIcon/> EFF</ButtonizedLink></li>
            </ul>
        <h3>You have options! There are numerous sources of DRM-free art and media, including*:</h3>
            <ul>
                <li>Music:
                    <ul>
                        <li><ButtonizedLink href={`https://bandcamp.com/`} openInNewTab={true}>Bandcamp</ButtonizedLink></li>
                        <li><ButtonizedLink href={`https://www.7digital.com/`} openInNewTab={true}>7Digital</ButtonizedLink></li>
                        <li><ButtonizedLink href={`https://www.emusic.com/`} openInNewTab={true}>emusic</ButtonizedLink></li>
                        <li><ButtonizedLink href={`https://www.jamendo.com/`} openInNewTab={true}>Jamendo</ButtonizedLink></li>
                    </ul>
                </li>
                <li>Gaming:
                    <ul>
                        <li><ButtonizedLink href={`https://www.gog.com/`} openInNewTab={true}>GOG.com</ButtonizedLink></li>
                        <li><ButtonizedLink href={`https://itch.io/`} openInNewTab={true}>Itch.io</ButtonizedLink>**<sup>[1]</sup></li>
                        <li><ButtonizedLink href={`http://fireflowergames.com/`} openInNewTab={true}>FireFlower Games</ButtonizedLink></li>
                        {nsfw?
                        <Fragment>
                            <li><ButtonizedLink href={`http://nutaku.net/`} openInNewTab={true}>Nutaku</ButtonizedLink>**</li>
                        </Fragment>
                        :''}
                        <!-- Nutaku, unfortunately, some games are browser exclusive, but some are downloadable. Okay, uhh Vimeo has video not downloadable easily -->
                    </ul>
                </li>
                <li>Books:
                    <ul>
                        <li><ButtonizedLink href={`https://www.gutenberg.org/`} openInNewTab={true}>Project Gutenberg</ButtonizedLink></li>
                        <li><ButtonizedLink href={`https://openlibra.com/en/`} openInNewTab={true}>OpenLibra</ButtonizedLink></li>
                        <li><ButtonizedLink href={`https://wikisource.org/`} openInNewTab={true}>WikiSource</ButtonizedLink></li>
                    </ul>
                </li>
                <li>Video:
                    <ul>
                        <li><ButtonizedLink href={`https://odysee.com`} openInNewTab={true}>Odysee LBRY</ButtonizedLink></li>
                        <li><ButtonizedLink href={`https://archive.org/details/movies`} openInNewTab={true}>Moving Image Archive</ButtonizedLink>**</li>
                        <li><ButtonizedLink href={`https://vimeo.com/ondemand`} openInNewTab={true}>Vimeo On Demand</ButtonizedLink>**</li>
                    </ul>
                </li>
                <li>Audiobooks:
                    <ul>
                        <li><ButtonizedLink href={`https://librivox.org/`} openInNewTab={true}>Librivox</ButtonizedLink></li>
                    </ul>
                </li>
                <li>Assets:
                    <ul>
                        <li><ButtonizedLink href={`https://sketchfab.com`} openInNewTab={true}>Sketchfab</ButtonizedLink></li>
                        <li><ButtonizedLink href={`https://open3Dlab.com`} openInNewTab={true}>Open3DLab</ButtonizedLink></li>
                        <li><ButtonizedLink href={`https://opengameart.org`} openInNewTab={true}>OpenGameArt.org</ButtonizedLink></li>
                        <li><ButtonizedLink href={`https://kenney.nl/assets/`} openInNewTab={true}>Kenney Public Domain Assets</ButtonizedLink></li>
                        {nsfw?
                        <Fragment>
                            <li><ButtonizedLink href={`https://smutba.se`} openInNewTab={true}>Smutbase</ButtonizedLink></li>
                            <li><ButtonizedLink href={`https://sfmlab.com`} openInNewTab={true}>SFMLab</ButtonizedLink></li>
                        </Fragment>
                        :``}
                    </ul>
                </li>
            </ul>
            <p style='font-size:x-small;'>
                * Disclaimer:
            </p>
            <ul style='font-size:x-small;'>
                <li>Does not include obvious pirate / sparsdat site nor site designed for piracy / sparsdat submissions</li>
                <li>May contains softwares & assets that are non-free both in beer & freedom</li>
                <li>** Other sector on each site navigated beyond above URLs may have discrepancies, undownloadble easily, and/or even outright a DRM. We are focusing to the sector that is not DRM.</li>
                <li><sup>[1]</sup> While Itch themselves are not responsible for the DRM, some nasty developers have <b class='error'>installed a DRM plugins</b> inside the game code that ensures legitimate purchase of their game. To protect privacy & safety of those nasty plugin authors & avoid causing witchhunts, unfortunately we are unable to list example plugins for respective frameworks here. You may however search up <code>Itch DRM Godot</code> or <code>Itch DRM Unity</code> if you're curious.</li>
            </ul>
    <p><s>FCK DRM is an initiative by GOG.COM to promote DRM-free art and media. If you're the owner of a 100% DRM-free source and would like to be featured here, please reach out to <a href='mailto:iwantto@fckdrm.com'>iwantto@fckdrm.com</a>.</s> Initiative deactivated. Now is fan reinitiative. Please create <a href='https://github.com/Perkedel/perkedel-astro/issues/new?assignees=JOELwindows7&labels=enhancement&template=proposal.yml' target="_blank" rel="noopener noreferrer">proposal issue in our GitHub Issues</a> instead, if you'd like to be featured.</p>
</CorePage>