---
import Layout from '@components/Layout.astro';
import DiscordBouncingPunctured from '@components/Messages/DiscordBouncingPunctured.astro';
import BouncingVideosSlain from '@components/Messages/BouncingVideosSlain.astro';
import EpilepsyDiscordBouncingVideo from '@components/Messages/EpilepsyDiscordBouncingVideo.astro';
import DiscordBounceVideoList from '@components/Elements/SparePart/DiscordBounceVideoList.astro';
import DiscordBounceVideoListTempLegacy from '@components/Elements/SparePart/DiscordBouncVideoListTempLegacy.astro';
import DiscordBounceVideoMoreInfo from '@components/Elements/SparePart/DiscordBounceVideoMoreInfo.astro';
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import EnterNSFWButton from '@components/Elements/SparePart/EnterNSFWButton.astro';
import CorePage from './__CorePage.astro';
import BeginningOfNSFW from '@components/Elements/SparePart/ListCells/BeginningOfNSFW.astro';
import FCKDRMIcon from '@components/Icons/FCKDRMIcon.astro';
import EFFIcon from '@components/Icons/EFFIcon.astro';
import DeffectiveByDesignIcon from '@components/Icons/DeffectiveByDesignIcon.astro';
import DRMCompare from '@components/Elements/SparePart/Tables/DRMCompare.astro';
import DRMFreeQuote from '@components/Elements/SparePart/DRMFreeQuote.astro';
import MessageBoxTemplate from "@components/Messages/MessageBoxTemplate.astro";
import QCode from "@components/Elements/SparePart/Tables/QCode.astro";
import PilotABC from "@components/Elements/SparePart/Tables/PilotABC.astro";
import PrintButton from "@components/Elements/SparePart/Options/PrintButton.astro";

export interface Props{
    nsfw?:Boolean;
}

const{
    nsfw=false,
} = Astro.props.frontmatter || Astro.props as Props;
---
<CorePage
    nsfw={nsfw}
    addKeywords={`Walkie Talkie, Baofeng, SMP, HT, POC, PTT, Push to talk, Radio, Ham Radio, Ham`}
    addDescriptions='Walkie Talkie. Everything Radio: Analog Ham, DMR, POC, PTT, Push-to-talk, Radio, and more!'
    addHeaderTitle='Walkie Talkie'
    addMetaTitle='Walkie Talkie & Radios'
    author='JOELwindows7'
    disableOverwhelmStatement={true}
    noNeedNSFW={true}
    >
    <MessageBoxTemplate
        severity={0}
        paragraphTitle={true}
        headingTitle={"Informasi berikut hanya tersedia dalam bahasa Inggris untuk saat ini"}
        detailSummary={"Information in English"}
        opens={false}
    >
    <p style="font-size: 1.5rem;">Kami memohon maaf atas ketidaknyamanan Anda.</p>
    <p>Dikarenakan struktur website kami, kami hanya dapat melayani informasi dalam bahasa Inggris untuk saat ini. Ini dikarenakan bahwa target audience kami merupakan para brikers baik internasional maupun intergalaktik, sehingga lebih baik untuk kita semua secara rata2 diprioritaskan terlebih dahulu. Mohon untuk dimaklumi, terima kasih.</p>

    </MessageBoxTemplate>

    <MessageBoxTemplate
    severity={1}
    paragraphTitle={true}
    headingTitle={"Incomplete Informations"}
    detailSummary={"We need your help"}
    opens={false}
    >
    <p>The rabbit hole regarding this topic of wceload not only is vast, but also relevant to this day. Unfortunately, <b class='error'>no full, concrete, trustworthy & confirmed infomation available at hand</b>. Only few snippets, demo, everything but short & concise question answers. Therefore you may see errors & inaccuracies. We apologize for any of such incident occurences. If you have any ideas, fixes, and more, please don't hesitate to let us know, using our GitHub issue below:</p>

    <p><ButtonizedLink href='https://github.com/Perkedel/perkedel-astro/issues/new?assignees=JOELwindows7&labels=bug&projects=&template=bug.yml' openInNewTab={true}>GitHub Submit Issue: WalkieTalkie</ButtonizedLink> Accepts Language: EN, ID.</p>

    </MessageBoxTemplate>

    <p>Everything Radio: Analog Ham, DMR, POC, PTT, Push-to-talk, Radio, and more!<br/>Here, you'll find informations about everything radio communications, its successors, and mods.</p>

    <p><PrintButton/></p>

    <section id='section-cheatsheet'>
        <h2 id='cheatsheet'>Cheatsheet</h2>
            <details open="open">
                <summary>Radio CheatSheets</summary>
                <div class='cheatsheet-content row'>
                    <h3>Essential Template</h3>
                        <p class='info' style='background-color:blue;color:white;font-size:3.5em;font-weight:bolder;border-radius:5px;margin:0px;text-align:center;padding:5px;'>___<code>STARTING</code>___, ___<code>CALLSIGN/USERNAME</code>___. ___<code>TOPICS</code>___, ___<code>ENDING</code>___</p>
                        <ul>
                            <li><code>STARTING</code>. String (Mark the start)
                                <ul>
                                    <li><i>CQ/Secu/Sekyu</i></li>
                                    <li><i>Brik Brik</i> (Indonesia)</li>
                                </ul>
                            </li>
                            <li><code>CALLSIGN/USERNAME</code>. String (Your callsign or username)</li>
                            <li><code>TOPICS</code>. String (What would you like to talk about)
                                <ul>
                                    <li>City</li>
                                    <li>About me</li>
                                    <li>Situations</li>
                                </ul>
                            </li>
                            <li><code>ENDING</code>. String (Mark the end)
                                <ul>
                                    <li><i>Over</i></li>
                                    <li><i>Ganti</i> (Indonesia)</li>
                                </ul>
                            </li>
                        </ul>
                    <h3>Example Snippet</h3>
                        <p>This is do I think radio comms basically</p>
                        <p class=''></p>
                    <div class="column colRight colPrint">
                        <h3>Q-Code</h3>
                            <p>Q-code is used as a communication shortcut, typically used on morse code communication mode to make typing faster & efficient. Sometimes agencies used it also to semi-encrypt messages or to aleviate limited comms time and <b title='such as in SMS, e.g. per character costs 1 Pts Toll a.k.a. Pulsa'>high costs</b>.</p>
                            <QCode/>
                    </div>
                    <div class="column colLeft colPrint">
                        <h3>ITU Alphabet (Pilot ABC)</h3>
                            <p>Pilot ABC is used to state/spell out the ID of a callsign. Like with the case of spelling <b>flight numbers</b> with pilot & ATC, it resolves letter pronounciation confusion amongst international & intergalactic languages.</p>
                            <PilotABC/>
                    </div>
                </div>  
            </details>
    </section>

    <section id='section-AnalogHamRadio'>
        <h2>Analog Ham Radio</h2>
            <p>The OG of Radio Communications. <a href='https://en.wikipedia.org/wiki/Walkie-talkie' target='_blank' rel='noopener noreferrer'>Established in 1937 by Donald Hings, Motorola, & friends</a>, where its initial purpose began for soldiers, now all essential communication that requires seamlessness, speed, & reliability.</p>
    </section>

    <section id='section-DMR'>
        <h2>DMR</h2>
            <MessageBoxTemplate
                severity={0}
                paragraphTitle={true}
                headingTitle={"Please do not get confused!"}
                detailSummary={"Debunking Misconceptions, sorta"}
                opens={true}
            >
                <p>As far we have researched, DMR is just a <b class='error'>complicated glorified POC</b>. If you'd like to buy pure DMR supported Radio, you must ensure that you have what's called <b><code>Hotspot</code></b> in which you <b class='warn'>connect your HT to</b>. You can unify this experience using any POC capable smartphone devices using an app, such as <ButtonizedLink href='https://play.google.com/store/apps/details?id=org.dvswitch' openInNewTab={true}>DVSwitch Mobile (Android)</ButtonizedLink>. it combines Radio + Hotspot into just one device. Therefore, <b style="font-size: 1.5rem;" class='error'>You are still required to have internet connection to the Hotspot and/or POC devices</b>, either using Cellular LTE/5G/XG or WiFi or Ethernet.</p>
                <p>Still not believing it? <b style='font-size: large;'>Me too!!</b> But, an <i>Experienced Expert</i> whose happened to be there when I was buying my own HT <u style='font-size: large;'>says so</u>. Idk!! Many tutorial says basically to connect the hotspot Pi-Star into a national HAM radio DMR server something2.</p>
            </MessageBoxTemplate>           
            <p>Successors to Analog Ham, DMR is the major improvement in the radio communications. Beside resolving disadvantages of the Analog, it also adds more feature such as Messages, & ability to send special datas.</p>
    </section>

    <section id='section-POC'>
        <h2>POC</h2>
            <p>As the world of radio got so convoluted, the world now requires more bandwidth & spaces for people & companies to communicate as reliable as possible. POC presents as the latest protocol that provides all advantages of radio, using a simple yet reliable system, to continue the best communication experience. POC uses already existing common infrastructure of today, which is Internet to establish its communication. Note that it's called <code>Cellular</code> because typically, portable POC radio uses SIM cards to access cellular network. But now, it's simply <code>using Internet</code> since it now also utilizes other connection types such as WiFi.
            <br/>
            POC is very powerful the more powerful the application system is. Your communication experience with POC is basically depends on how good is the application system is, & what features it has.
            <br/>
            Because POC is basically just a Social Messenger, not only it's very easy to use, but also <b style='font-size:xx-large' class='success'><i>More License Free</i></b> (legally speaking). You may still need to subscribe to use and/or obtain certain features, but usually not as strict nor complicated as above 2 protocols.
            </p>
            <h3>Top Messengers</h3>
                <p>Below, are the popular Social Messenger that you can use in the this context of PTT</p>
                <ul>
                    <li><b class='success'>Zello</b> POPULAR!</li>
                    <li>Teamspeak</li>
                    <li>WalkieFleet</li>
                    <li>POC Global</li>
                    <li><del>Discord</del> <b class='error'>No PTT keybind config for Mobile version</b></li>
                    <li><del>MS Team</del> <b class='error'>No PTT keybind config</b></li>
                    <li><del>VRChat</del> <b class='error'>Not meant for PTT or too complicated</b></li>
                    <li><del>ChilloutVR</del> <b class='error'>Not meant for PTT or too complicated</b></li>
                    <li><i>For more POC hacks & tools, see section <a href='#mods'>Mods</a></i></li>
                </ul>
    </section>

    <section id='section-license'>
        <h2>License</h2>    
            <p>Radio has alot of potential & it's freedom capability that allows broadcastability by anyone. In order to keep orders in the world of radio, a license system is enforced to keep frequency air cleans from rogue signals. Ensuring the frequencies cleans is essential to keep the safety & security of the people & businesses remain upheld.
            <br/>
            Note, these section only applies typically for Analog Ham & DMR. Some galaxies & realms may require license also for POC / Social Messengers. Welp.<span title="TV Series: Sediron (????). Season 3, After a Harrasser attacked Sediron HQ due to Baser's insists of Block Reason Enforcement, the intergalactic world becomes unsafe for all. Few weeks after Sediron family were thought dead killed by the that Harrasser in their escape realm, (which btw, they are teleported to Saorfa then brought to Areluid now Arenod), Zumi & friends proposed extreme rule that requires everyone around the galaxies in order to even social media is to register for license like driving license, to keep the social air clean. In total, all 3: Ham, DMR, & POC now require license. Although as of Sediron serial and around forward until Surreal Blender Meme x ZZZ fangame, it applies only to Sloantim cluster where Dasandim planet system resides.">.</span> that will be for later days. Well for now, Earth & most planets only require license for Analog Ham & DMR, not POC<span title='looking at you, Harrassers, do not make it harder for us! It could costs innocents too if that happens you know..'>.</span> Anyways..
            </p>

            <h3>Obtaining License</h3>
                <p>Following informations are the instructions, website portals, places, & documents to aid people of the region to obtain license.</p>

                <h4>Indonesia</h4>
                    <p>You can visit this website below, SDPPI (<code style='font-size:xx-large;font-weight:bold' class='info'>https://iar-ikrap.postel.go.id</code>). Here, you can register & obtain both Residential (<ButtonizedLink href='https://rapi.or.id/' openInNewTab={true}>RAPI</ButtonizedLink> (Radio Antar Penduduk Indonesia)) & Ham (<ButtonizedLink href='https://orari.or.id/' openInNewTab={true}>ORARI</ButtonizedLink> (Organisasi Radio Amatir Republik Indonesia)) license proposals (to get IKRAP & IAR respectively).</p>
                    <p>👉👉👉👉👉👉 <ButtonizedLink href='https://iar-ikrap.postel.go.id/' openInNewTab={true} style='font-size:xx-large' title='Click here to visit https://iar-ikrap.postel.go.id/'>SDPPI IKRAP & IAR Registration Portal</ButtonizedLink> 👈👈👈👈👈👈👈</p>
                    <p>Once you have registered, chosen which or both to join, paid the fees, & printed the proposal, head over to the nearest RAPI & ORARI offices respectively near you.<br/>
                        <ul>
                            <li>For RAPI, simply complete the fee & process your proposal in the physical office. Once finished, you'll be given callsign few days later that you can read on the SDPPI portal again</li>
                            <li>For ORARI, not only to complete the fee, <b class='warn'>you are also required to take exam in the physical office or place</b>. Track the schedule & location in the <ButtonizedLink href='https://iar-ikrap.postel.go.id/site/informasiUNAR' openInNewTab={true}><code>INFORMASI</code> banner menu, <code>Jadwal Pelaksanaan UNAR</code></ButtonizedLink>. Once finished & you passed, you'll be given callsign few days later that you can read on the SDPPI portal again</li>
                        </ul>
                        <br/>
                        Please note, <b class='warn'>callsign for RAPI & ORARI are different</b>! Use which correctly on which comm realm you use. Also, the difference between the two are the service area. RAPI is whole Indonesia, while ORARI is international (basically Ham radio in general). If you are unsure, try ORARI first, since RAPI is considerably the <i>LITE version</i> of Ham Radio Comms. Even though is hard & might by toxic (usually from other planets), an old acquintance of mine once said to go there first if I'd like to begin it this radio comms. However, if registering license & how hardcore is the ethic to you, you can try just any POC first.
                        <br/>
                        Chances are, you already did with Discord, MS Team (Formerly Skype & Windows Live Messenger), Yahoo Messenger, TeamSpeak, VRChat, ChilloutVR, etc. Though are less authentic for the context of PTT of course. <br/>
                        Simply learn new morely basic ethics of:
                        <ul>
                            <li>Roger</li>
                            <li>Brik</li>
                            <li>Secu (read: Sekyu) / CQ</li>
                        </ul>
                        followed by name & rough locations, etc. finished with
                        <ul>
                            <li>over</li>
                            <li>ganti</li>
                        </ul>
                    </p>
                <h4>USA</h4>
                    <p>From this experience of the Geerling family, which YouTube video can be viewed below</p>
                    <p><ButtonizedLink href='https://youtu.be/PIeavEhUhSw' openInNewTab={true}>Geerling Engineering - It's ILLEGAL for my Dad to transmit!</ButtonizedLink></p>
            <h3>Public frequencies</h3>
                <p>Public Frequencies are basically License Free frequencies. Nations or related in the region have designated frequencies anyone can use without having to join above license (though you are still recommended to join hardcore Ham radio club (ORARI) just to be safe, unless your HT is cheapskate/toy (headless/no-display, less than 1 Watt transceiving, Channel mode only & no frequency mode)), <b class='warn'>on a note, that both you & your device abides with extra rules</b>, such as eligibility exclusive to lowest power headless (no display) simple radio (a.k.a. Cheapskate).</p>
                <h4>Indonesia</h4>
                    <p>In Indonesia, we have</p>
                    <p>...-... Khz</p>
                    <p>...-... Mhz</p>
                    <p>Although, we still recommend you upgrade to Full Version Pentanually (5 year) Subscription by joining ORARI & RAPI.</p>
                <h4>USA</h4>
                    <p>...</p>
    </section>

    <section id="section-mods">
        <h2 id='mods'>Mods</h2>
            <p>wceload & radiocomms rabbit hole are not complete without mods. Modifying your electronics opens up extra capability which are absent in the original design & never seen before. Here, you can modify your radios to add more features, opens up new band types, & expand the frequency ranges. Of course, <b class='warn'>at your own risk</b> 😜😛😝.</p>

            <h3>Quansheng</h3>
                <p>...</p>
            <h3>OpenGD</h3>
                <p>...</p>
            <h3>Android</h3>
                <p>...</p>
                <h4>Apps</h4>
                    <p>Many sellers who sell Android based POC HT, recommends that you install these apps of which POC platform used <b>at specific version</b> instead of getting the latest up to date version straight from Google Play. This is due to the compatiblity issues both with the Android version each HT stuck with & the application version that may requires later version just to connect to the server or channel. The following are the examples of which app version you should install to ensure compatibility amongst brikers across universe.</p>
                    <ul>
                        <li>Zello: <b class='info'>v5.9.1</b> (for Android 5+) (Optional, No matter what version even the latest, Zello can connect to any free channels anyways)</li>
                        <li>TeamSpeak: <b class='error'>v3.0.23</b> (for Android 5+) (<b class='error'>IMPORTANT</b>, latest version is incompatible with HT dedicated server, latest version server cannot connect to old TS client; <b class='error'>You are still required to buy TeamSpeak legit from Google Play</b> once for lifetime per Gmail logged in to HT, then install Full paid apk of told version to the device)</li>
                        <li>TeamSpeak Server: <b class='error'>v???</b> (for Windows) (<b class='error'>IMPORTANT</b>, latest version server cannot connect to old TS client)</li>
                        <li>WalkieFleet: <b class='info'>v5.5.5</b> (for Android 5+) (Optional, No matter what version even the latest, WalkieFleet can connect to any available server of any version anyways. Some functions such as GPS may not work)</li>
                        <li>DVSwitch Mobile: <b class='info'>v2.0.4</b> (for Android 5+) (Optional, DMR is supposedly version agnostic since it's an open standard)</li>
                        <li>microG (Alternative Lightweight & Portable Google Play Service): <b class='warn'>v0.2.22.223616</b> (for Android 5+) (<b class='error'>IMPORTANT</b>, To ensure compatibility with Android 5; Also it is required for TeamSpeak since the full version still checks <b class='error' title='pirated'>if you sparsdated it</b> or not)</li>
                    </ul>
                <h4 id='apk_install_insufficient_space'>APK Install Insufficient Space Error despite not memory full</h4>
                    <p>Some HT such as ones manufactured by Shanghai Motorola Product (SMP) (& ODMs) at some of which series have gross architecture of Qualcomm-Feixun, has APK installation lock in place that activates everytime these devices boots. You will need to do the following to temporarily unlock the APK installations</p>
                    <ul>
                        <li>Open app <code>Settings</code> (<code>Pengaturan</code>)</li>
                        <li>Open app <code>Settings</code> (<code>Pengaturan</code>)</li>
                        <li>Click OK multiple times <code>Model Number</code> (<code>Nomor Model</code>) until you see a special dialogue</li>
                        <li>insert password <code>123789</code> to that text box, then <code>OK</code></li>
                        <li>You should now be able to drag & drop scrcpy again, & success to install the apk. Please note, if you reboot <b class='error'>the lock will activates again</b> & you will have to repeat above steps to unlock again.</li>
                    </ul>
                <h4>Gmail Login Trouble</h4>
                    <p>If you unable to login to your Google Play account on these outdated Android devices due to a certain bug (e.g. buttons in <code>Keep your number updated</code> does nothing), chances are it's because of the 2FA has bugged on the older Android version.</p>
                    <ol>
                        <li>Simply <b>turn off you 2FA temporarily</b> (no need to remove rest of the verification methods, just disable the main switch)
                            <ol>
                                <li>Open other device web browser & open <ButtonizedLink href='https://myaccount.google.com/' openInNewTab={true}>MyAccount.Google.com</ButtonizedLink> OR in Android, go to setting & open Google Setting.</li>
                                <li>Left Category <code>Security</code> (<code>Keamanan</code>)</li>
                                <li>Open <code>2 Factor Authentication</code> (<code>Verifikasi 2 Langkah</code>)</li>
                                <li>Confirm login of your Gmail account</li>
                                <li>Click <code>Disable 2 Factor Authentication</code> (<code>Nonaktifkan Verifikasi 2 Langkah</code>) & confirm</li>
                                <li>That's all for this part, <b>No need to do anything else</b></li>
                            </ol>
                        </li>
                        <li>Clear Cache (or maybe data too) of the microG
                            <ol>
                                <li>Open up setting of your target HT device</li>
                                <li>Open up <code>Application</code> (<code>Aplikasi</code>) setting</li>
                                <li>Navigate down to find <code>microG</code> & <code>Google Play</code> app. Open that</li>
                                <li>Force Stop</li>
                                <li>Clear Cache</li>
                                <li>Delete Data (maybe? just in case)</li>
                                <li>Uninstall & reinstall (perhaps??? if the login cache still not clear..). <a href='#apk_install_insufficient_space'>Use above unlock steps if your HT is SMP & <code>Insufficient Space</code> error</a></li>
                                <li><i>Repeat for the rest of the app services & Google Play</i></li>
                            </ol>
                        </li>
                        <li>
                            <b>Restart your target device</b>
                        </li>
                        <li>Login with your Gmail account again. Accept confimation if <code>Is this you</code> dialog appears on your main device.</li>
                        <li>It should now work.</li>
                        <li>Repeat for the rest of the device</li>
                        <li>Once you finished all, <b class='warn' style='font-size: xx-large;'>Do not forget to turn the 2FA back on again!!!</b> If you forgot, you could get hacked!</li>
                    </ol>
                    <p>We would like to thancc that woman there when I had to come back to the store to fix my Gmail login trouble like this.</p>
                <h4>No signal nor service on this SIM card despite working on other flagship</h4>
                    <p>If you happen to have the SIM card do work on your flagship device, but fail on your HT, chances are, <b class='error'>the HT's IMEI maybe blacklisted or unregistered for the SIM card not in the scope</b>.
                        <br/>
                        If you e.g. have a HT that's based on Qualcomm-Feixun (SMP, Talkcom, Ksun, etc.), you can change the IMEI with a special tool of <ButtonizedLink href='https://mirrors.lolinet.com/software/windows/Feixun/' openInNewTab={true}>Qualcomm-Feixun eMMC tool</ButtonizedLink>
                        <br/>
                        Note also, this process may need be done with the help of the seller you bought this one from since they have a warehouse of spare IMEIs.
                    </p>
                    <!-- TODO: PLS SAUCE YOUTUBE!!! -->
                    <ol>
                        <li>Download above software & extract</li>
                        <li>Open <code>QualcommTool-eMMC-vX.X</code> executable</li>
                        <li>In this window, to go tab <code>IMEI</code></li>
                        <li>Read IMEI by pressing left bottom button (<code>???</code>)</li>
                        <li>Backup this IMEI to safe place!</li>
                        <li>Manipulate maybe last 5 to 8 number to something else. OR use whatever spare IMEI you had</li>
                        <li>Flash the new IMEI back to device with middle bottom button (<code>???</code>)</li>
                        <li>You may need to restart your HT.</li>
                        <li>Pray that it works. If it doesn't, repeat above manipulation again until works. If that too still never works, idk anymore. <b class='error' style='font-size: xx-small;'>I'm sorry</b>.</li>
                    </ol>
                    <p>Tips: use the SIM card best supported & has widest coverage in that nation. e.g., in Indonesia, Earth, it's <code>Telkomsel</code> (State-owned/BUMN) & the MVNOs (Simpati, As, <b class='success'>By.U (BEST)</b>).
                        <br/>
                        Also, Telkomsel do have bonus, such as available special promos for Saudi Arabia travel (Roaming Free I think), because Indonesia is one of the largest number of Umroh participants.
                        <br/>
                        So now you can Zello with your Haj guide people & quickly send signals & receive emergency helps if needed. Pretty cool huh? All is possible because WiFi covers only so much, so Cellular 4G is a must, & important to avoid Roaming as any as possible. 
                    </p>
    </section>

    <p style='font-size:xx-small'>Zenless Zone Zero & the logo <code>ZZZ</code> Copyright Hoyoverse<span title="Surreal Blender Meme x ZZZ is a fangame from Perkedel Tecnologies featuring characters from legendary gacha game Zenless Zone Zero. The experience you have been long time ago has now returned in a new formula with the setting at this point now aligns around the release time of this fangame. The story tells about a Hollow that somehow appeared in Surreal Blender Meme realm. Lancaster a.k.a. L (read: Lima) & friends are confused for how it happened. Luckily, Eitch a.k.a. H (read: Hotel) were able to call for help, which are the people from the Zenless universe. Fight all the EWthereals & other thugs once again in the same or similar format as in the original game that has been lost in time, all offline & GRATIS. The reason that we highlight this, is because in this fangame is full of HT Radios usage. In the main story, you get a quest regarding about this very HT & Rigs. From how to use, and utilizations. In the middle of the story, the Surreal Military issued a special DMR-like technology since the Ether consentration around the mission area becomes too strong, it destroyed every types of communication band possibles. The Surreal Military managed to create a special inter-dimensional band that allows frequency to travel not only in realm, but also across realms. It even unifies & simplify DMR connection with the special inter-dimensional antenna, so no more Hotspot will be required. Just 1 hotspot in Arenod Sediron Royal Palace. Spoiler alert, in the final chapter, you will find out that the final Hollow (Hollow Zero of Surreal) was being taken benefit by a Radio scalpers who scalp radios to be destroyed to ruin communication because of his terrible past, which is being betrayed by his own friends. His goal was to destroy all communications so no more connections & no betrayals, by disturbing airwaves multiple alt accounts, etc. etc. ('I am lost, just like you guys' as boss defeated & about to be arrested). This final boss right here while initially looks common, but too strong like Thanos once the epic final fight began. In fact, combination of Proprietarist & Ethereal. Even the final level is like Avengers Endgame, with chain attacks spans more than 3! You will stop chain attack once one of his combination strips off, and repeat until all. First Ether, Second Proprietarism, then Physical. Once defeated, Lancaster arrested him.">.</span></p>
</CorePage>