---
export interface Props {
    title?: string;
    src?: string;
    type? : string;
    srcExtra?: Array<Array<string>>;
    // description?: string;
    // keywords?: string;
    controls?: string;
    autoplay?: string;
    loop?: string;
    preload?: string;
    muted?:string;
    errorSay?: string;
}

const { 
  title = 'embedded audio', 
  type = 'audio/ogg',
  src,
  srcExtra,
  controls='controls',
  autoplay,
  loop,
  preload,
  muted,
  errorSay = '&#xea87; WERROR! &#xebde; Your browser cannot player HTML audio 🔊 bruh! warm and bad! 😭',
//   description = 'Perkedel NTLF+ASTR. Perkedel Technologies on Netflify with Astro framework',
//   keywords = 'tech, fun, novelty, open source, gratis, free',
} = Astro.props.frontmatter || Astro.props as Props;
---
<!-- https://www.w3schools.com/html/html5_audio.asp -->
<!-- https://www.w3schools.com/tags/tag_audio.asp -->

<audio controls={controls} autoplay={autoplay} loop={loop} preload={preload} muted={muted}>
    <source src={src} type={type}/>
    {srcExtra.map(sauce=>(
      <source src={sauce[0]} type={sauce[1]}/>
    ))}
    <p class="error">{errorSay}</p>
</audio>