---
import EmbedVideo from './EmbedVideo.astro'
import ButtonizedLink from '../ButtonizedLink.astro'

export interface Props {
    title?: string;
    description?: string;
    creditTo?: string;
    creditURL?: string;
    creditTool?: string;
    creidtToolURL?: string;
    src?: string;
    type? : string;
    srcExtra?: Array<Array<string>>;
    // keywords?: string;
    width?: string;
    height?: string;
    errorSay?: string;
    controls?: string;
    autoplay?: string;
    loop?: string;
    preload?: string;
    poster?:string;
    muted?:string;
    isFlashing?:boolean;
    isLoud?:boolean;
}

const { 
  title = 'embedded video', 
  description = title,
  creditTo = 'NAME??',
  creditURL = 'https://example.com',
  creditToolTo = 'OIRNOIR\'s video bouncer CMD utility',
  creditToolURL = 'https://github.com/OIRNOIR/WackyWebM',
  creditSauceCall = 'collection',
  creditSauceURL = 'https://example.org',
  type = 'video/webm',
  src,
  srcExtra,
  width,
  height,
  controls='controls',
  autoplay,
  loop,
  preload,
  poster = '/assets/img/perkedelbannerrender4KDCI.png',
  muted,
  errorSay = 'Werror! Your browser cannot player HTML video! warm and bad! 😭',
  isFlashing = false,
  isLoud = false,
//   keywords = 'tech, fun, novelty, open source, gratis, free',
} = Astro.props.frontmatter || Astro.props as Props;
---

<h3>{title} {isFlashing?<span class="warning">(&#xf071; &#xf740; Flashing 📸)</span>:<span></span>} {isLoud?<span class="warning">(&#xf071; &#xf9c2; Loud 🔊)</span>:<span></span>}</h3>
<slot name="aboveVid"/>
<EmbedVideo 
    src={src} 
    srcExtra={srcExtra}
    title={title} 
    width={width} 
    height={height} 
    errorSay={errorSay} 
    type={type}
    controls={controls} 
    autoplay={autoplay} 
    loop={loop} 
    preload={preload} 
    muted={muted} 
    poster={poster}
    />
<slot name="bellowVid"/>
<p>
    {description}. Collected by <a href={creditURL} target="_blank" rel="noopener noreferrer">{creditTo}</a> & was bounced with 
    <a href={creditToolURL} target="_blank" rel="noopener noreferrer">{creditToolTo}</a> I think, 
    {creditSauceCall} 
    <a href={creditSauceURL} target="_blank" rel="noopener noreferrer">here</a>
</p>
<p>
    You can copy & paste this following text <b><i><code>{src}</code></i></b> 
    into Discord Chat & any HTML video tags with format of <i>{type}</i>, 
    <a href="https://www.w3schools.com/html/html5_video.asp" target="_blank" rel="noopener noreferrer">here's how</a>. 
    <b>Please credit {creditTo} yess. PLS PLS VERY PLS credit PanIntegralus, 
        because he/she/they is/are Giga Chad, super based giant Win 
        because he/she/they put it here so you don't have to 
        join someone's discord as you already know you only have 100 join limits without nitro.</b>
</p>
<p>
    <!-- <a class="Buttonnize" href={src} target="_blank" rel="noopener noreferrer">&#xf6d9; DOWNLOAD LINK (can also be copied)</a> -->
    <ButtonizedLink content="&#xf6d9; DOWNLOAD LINK (can also be copied)" href={src} target="_blank" rel="noopener noreferrer"/>
</p>
<slot/>
<br>