---
import PerkedelWoosie from '../Icons/PerkedelWoosie.astro';
import RefreshButton from './RefreshButton.astro';
import URLInfoButton from './URLInfoButton.astro';
import CopyToClipboardButton from './CopyToClipboardButton.astro';
import CopyURLToClipboardButton from './CopyURLToClipboardButton.astro';
import SettingWindow from './SparePart/Options/SettingWindow.astro';
import HistoryNavigateArrows from './SparePart/HistoryNavigateArrows.astro';
import BerakSekarang from './SparePart/NavBtn/BerakSekarang.astro';
export interface Props {
  viewSourceURL?: string;
  handoverTitle?:string;
  rating?:string;
}
let currJustAddr = 'https://perkedel.netlify.app/'+Astro.url.pathname; // crack! the hostname returns `localhost` wtf?!
let doViewSource = 'view-source:' + currJustAddr;
const {
    viewSourceURL = doViewSource,
    handoverTitle = '???',
    rating = '',
} = Astro.props.frontmatter || Astro.props as Props;
---
<nav>
    <div class="addressBarYeah" style="display:none">
        <p style="margin:0;">{Astro.url.href}</p>
        <hr>
    </div>
    <ul>
        <HistoryNavigateArrows/>
        <!-- <li class="NavPutLeft"><a title="Go back one level in address bar path" href="../" class="NavBtn" id="BackButton">&#xf053;</a></li> -->
        <li class="NavPutLeft"><a title="Go home to root of this website" href="/" class="NavBtn" id="HomeButton" style={Astro.url.pathname =='/'?"color:cyan;":""}>🏠 Home &#xf015;</a></li>
        <li class="NavPutLeft"><a title="Go to apps page, list of applications" href="/apps/" class="NavBtn" id="AppsButton" style={Astro.url.pathname.startsWith('/apps/')?"color:cyan;":""}>📦 Applications &#xf53a;</a></li>
        <!--<li class="NavPutLeft"><a title="Go back one level in address bar path" href="../" class="NavBtn" id="BackButton">&#xf049; BACK &#xf9d4;</a></li>-->

        <!-- Poop button -->
        {(rating.includes('adult'))?
        <BerakSekarang/>
        :
        ""}
        
        <slot name="CustomNav"/>

        <!-- <li class="NavHistoryPutRight dropdown"> -->
        <li id="navMoreDropdown" class="NavPutRight dropdown">
            <!-- <a class="dropbtn NavBtn" title="Open Menu">&#xea7c;</a> -->
            <a class="dropbtn NavBtn" title="Open Menu" href='javascript:appearMoreNavMenuDialog()'>&#xf85b;</a>
            
            <ul id="navMoreList" class="dropdown-content">
                <slot name="CustomNavMore"/>
                <li><SettingWindow handoverTitle={handoverTitle}><slot name="SettingContains"/><slot name="SettingListCelss"/></SettingWindow></li>
                <li><RefreshButton Classer="NavBtn"/></li>
                <!-- <li><CopyToClipboardButton title="Copy current URL here right now to clipboard" say="Copy URL" toBeCopied={Astro.url.href}/></li> -->
                <li><CopyURLToClipboardButton Classer="NavBtn" title="Copy current URL here right now to clipboard" say="Copy URL" toBeCopied={Astro.url.href}/></li>
                <li><URLInfoButton Classer="NavBtn"/></li>
                <!-- <li><a title="View this page source" href={viewSourceURL} class="NavBtn" id="ViewSourceButton" style="display:none;">🩻 View Source &#xf1c9;</a></li> -->
                <!-- View source by button is forbidden by browsers of the world. WARM & BAD-->
                <li><a title="Go view our RSS (link can by copy pasted to your newsreader)" href="/rss.xml" class="NavBtn" id="RSSButton" style={Astro.url.pathname.startsWith('/rss.xml')?"color:cyan;":""}>📰 RSS &#xf143;</a></li>
                <li><a title="Go view our Sitemap (link can by copy pasted to your web crawler)" href="/sitemap-0.xml" class="NavBtn" id="SitemapButton" style={Astro.url.pathname.startsWith('/sitemap-0.xml')?"color:cyan;":""}>🗺️ Sitemap &#xf0e8;</a></li>
                <li><a title="Go read our Terms of Service" href="/terms_of_service/" class="NavBtn" id="TermsOfServiceButton" style={Astro.url.pathname.startsWith('/terms_of_service/')?"color:cyan;":""}>⚖️ Terms of Service &#xf495;</a></li>
                <li><a title="Go read our Privacy Policy" href="/privacy_policy/" class="NavBtn" id="PrivacyPolicyButton" style={Astro.url.pathname.startsWith('/privacy_policy/')?"color:cyan;":""}>📜 Privacy Policy &#xf069;</a></li>
                <li><a title="Go read about us & our white paper stuffs" href="/about/" class="NavBtn" id="AboutButton" style={Astro.url.pathname.startsWith('/about/')?"color:cyan;":""}>📃 About &#xf05a;</a></li>
            </ul>
        </li>
        <!-- <li class="NavPutRight"><a title="Go read our Privacy Policy" href="/privacy_policy" class="NavBtn">📜 Privacy Policy &#xf069;</a></li> -->
        <!-- <li class="NavPutRight"><a title="Go read about us & our white paper stuffs" href="/about" class="NavBtn">📃 About &#xf05a;</a></li> -->
        
    </ul>
</nav>

<!-- background:rgb(0,0,128+32) -->

<script>
    // switch(Astro.url.pathname){
    //     case '/':
    //         document.getElementById('HomeButton').style.background = "rgb(0,50,255)";
    //         document.getElementById('HomeButton').style.color = "cyan";
    //         break;
    //     case '':
    //         document.getElementById('HomeButton').style.background = "rgb(0,50,255)";
    //         document.getElementById('HomeButton').style.color = "cyan";
    //         break;
    //     default:
    //         break;
    // }
</script>

<style>
    /* #HomeButton {
        {Astro.url.pathname == '' || Astro.url.pathname =='/'?
            (color:cyan;
            background:rgb(0,0,128+32);)
            :
            (color:(internal value))
        }
    }

    #HomeButton:hover {
        {Astro.url.pathname == '' || Astro.url.pathname =='/'?
            (color:cyan;
            background:rgb(0,0,300);)
            :
            (color:inherit;
            (color:inherit;
            background:inherit;)
        }
    } */
    /* {Astro.url.pathname == '' || Astro.url.pathname =='/'?
    #HomeButton{

    }:
    } */
    
</style>