---
export interface Props {
    werror404LBRYEmbed?: string;
    werror404LBRYEmbedStyle?: string;
    werror404LBRYURL?: string;
    werror404LBRYProtocolURL?: string;
    inviteOdyseeURL?: string;
}

const{
    werror404LBRYEmbed = "https://odysee.com/$/embed/404",
    werror404LBRYEmbedStyle = "width:100%;height:50vw;",
    werror404LBRYURL = "https://open.lbry.com/404",
    werror404LBRYProtocolURL = "lbry://404",
    inviteOdyseeURL = "https://odysee.com/$/invite/@JOELwindows7",
} = Astro.props.frontmatter || Astro.props as Props;
---
<figure>
    <iframe id="odysee-iframe" src={werror404LBRYEmbed} style={werror404LBRYEmbedStyle}></iframe>
    <figcaption>Fig.1 - highest staking claim at address of <a href={werror404LBRYURL}>{werror404LBRYProtocolURL}</a></figcaption>
</figure>
<p><font size="3">(want your 404 WERROR image / video appear here? upload yours at <a href={inviteOdyseeURL}>Odysee LBRY</a> (OR other uploadable LBRY clients) now & compete by staking more than above's claim / post / video / image! Highest staking wins & have that file appears instead!)</font></p>