---
export interface Props{
    id?:string;
    design?:string;
    username?:string;
}

const{
    username='JOELwindows7',
    id='42554',
    design='rectangle',
} = Astro.props.frontmatter || Astro.props as Props;

let modifier:string = 'image';
switch(design){
    case 'square':
        modifier='imagesmall';
        break;
    case 'rectangle':
        modifier='image';
        break;
    default:
        break;
}
---
<a href={`https://internetometer.com/give/${id}`} target="_blank" rel="noopener noreferrer"><img src={`https://internetometer.com/${modifier}/${id}.png`} alt={`Internetometer of ${username} ${design} design.`} transition:name={`internetOMeter-${id}-${design}`}'/></a>