---
import ButtonizedLink from '@components/ButtonizedLink.astro'; // it has to be imported everytime, just like every programming language sigh I thought just once wtf
import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';
import Emoji from 'astro-emoji';
import EnglishO from '@components/Icons/EnglishO.astro';
---
<p>Homestuck CSS Test. Test the Homestuck CSSers</p>
<p><ButtonizedLink href='https://github.com/Perkedel/perkedel-astro/blob/main/src/components/Elements/SparePart/Experiments/HomestuckCSSTest.astro' openInNewTab={true}>Click here to view this component source code</ButtonziedLink>; <ButtonizedLink href='https://perkedel.netlify.app/assets/css/homestuck.css' openInNewTab={true}>Click here to open Homestuck.css</ButtonziedLink></p>
<h3>DialogLog</h3>
<p>
    <span class="HS JOELwindows7">Ahei, Dasandimian!</span>
    <br/>
    <span class="HS VriskaSerket">Oh cool, A CSS Stylizer for our HTMLLog!! 8ravo!</span>
    <br/>
    <span class="HS TereziPyrope" aria-label='Terezi Pyrope says, "And MarkdownLog also, if we put that too here. So far so good, yeah!"'>AND <code>MarkdownLog</code> 4LSO, 1F W3 PUT TH4T TOO H3R3. SO F4R SO GOOD, Y34H!</span>
    <br/>
    <span class="HS JOELwindows7">Perhaps. wai wait. I got an idea.</span>
</p>
<p class='info'>Tips: Ensure that all text in your HTML-log can be read by screen readers normally. Especially, Terezi's caption style is leet-speak. Hence it would mess with screen readers. Use <code>aria-label</code> to label the normal text so the screen reader would read that instead. <a href='https://stackoverflow.com/a/26032207/9079640' target="_blank" rel="noopener noreferrer">Click here to see StackOverflow answer about Aria Label solutions.</a> Remember, when Terezi lost her vision before, she can still use PC like normal due to her backup abilities, But other people who are also had vision trouble & even lost their vision do not have the same extra backups as her is. Therefore having a way for their screen reader or any similar system to be able to read aloud such text properly is essential.</p>
<h3>DialogLog per Paragraph</h3>
    <h4 id='dialog-Testoiden'>Testoiden</h4>
        <p class='HS JOELwindows7'>hmmm, Maybe it's a good idea to have each of our line on 1 paragraph, how does that look?</p>

        <p class='HS TereziPyrope' aria-label='Terezi Pyrope says, "Hey, I think that looks better. Probably just do this like this from now on."'>H3Y, 1 TH1NK TH4T LOOKS B3TT3R. PROB4BLY JUST DO TH1S L1K3 TH1S FROM NOW ON.</p>

        <p class='HS VriskaSerket'>Yeah yeah, I like this one more.</p>

        <p class='HS JOELwindows7'>Yep, it's better. in fact that's how the new paragraph in Markdown interpretation, people. I think, idk, but yeah!</p>

        <p class='HS NepetaLeijon'>Hey guys! <span aria-label='whatter'>What'rre</span> doing here?</p>

        <p class='HS JOELwindows7'>We're building your <a href='/assets/css/homestuck.css' target="_blank" rel="noopener noreferrer">captioning style system.</a> We will have our caption automatically stylized just like your writing style back in the day.</p>

        <p class='HS NepetaLeijon'><b style='font-size:large;'>OwO!?!?!? AWWSUMM 😸😸😸😸😸😸😸😸😸😸😸!!!!</b></p>

        <p class='HS JOELwindows7'>Go check it out. You will only need to type whatever inside the tag, install your class, & voilla. everything in style.</p>

        <p class='HS NepetaLeijon'>(Look this result & compare with this source code) HOHOHO,, YESS!!!</p>

        <p class='HS JOELwindows7'>Yeah. Enjoy.</p>
    <h4 id='dialog-DocScratch'>D<span style='color:gray;'>o</span>c Scratch</h4>
        <p class='HS DocScratch'>Ahem.. Test test, one, two, three..</p>
        <p class='HS JOELwindows7'>Yep, I can hear ya! But your caption had a bad contrast here. Uh.. the low hearing can't get what you say, hold on. HEY!! LOOK AT THE CAPTION LOG! Highlight it!</p>
        <p class='HS DocScratch'>Hello, audience.</p>
        <p class='HS JOELwindows7'>Kay, can you see it? That's how. Also, doc. We call viewers / audience, <mark class='info'>gamers</mark>. Coz.. to be cool. They play games!</p>
        <p class='HS DocScratch'>Oooooo.. Okay, thank you for that. <i>Gamers</i>.... Alright, I'll remember that.</p>
        <p class='HS JOELwindows7'>Okay, done. fixed your contrast!, I hope.. how does it look?</p>
        <p class='HS DocScratch'>OH MY GOD!! MY TEXT IS GLOWING!!!, Just like my head!... How did you do that?!</p>
        <p class='HS JOELwindows7'>Simple. there is this 2 properties <code>text-shadow</code> & <code>box-shadow</code>. Color each of this the bright and you'll have text glowing.</p>
        <p class='HS DocScratch'>Wow.. I'm curious, How (press <kbd>F12</kbd>) did..</p>
        <p class='HS JOELwindows7'>Yeah, like that, but.. <a href='https://perkedel.netlify.app/assets/css/homestuck.css' target="_blank" rel="noopener noreferrer">your style's here</a> aand.. <a href='https://github.com/Perkedel/perkedel-astro/blob/main/src/components/Elements/SparePart/Experiments/HomestuckCSSTest.astro' target="_blank" rel="noopener noreferrer">this' the component code</a>.</p>
        <p class='HS DocScratch'>Mmmmm, okay.. Astro.. I think <a href='https://astro.build' target="_blank" rel="noopener noreferrer">I've heard this once before</a>..</p>
        <p class='HS JOELwindows7'>Yeah I'm using it This' the framework.</p>
        <p class='HS DocScratch'>Alright.. But is it hard to use?</p>
        <p class='HS JOELwindows7'>No, not really. You just need the same knowledge of HTML & CSS & All you have to think is like.. Object orientation.</p>
        <p class='HS DocScratch'>You mean.. this part of a website inherits from a core or parent component?</p>
        <p class='HS JOELwindows7'>Yeah! Object Oriented website!</p>
        <p class='HS DocScratch'>Wwwwwooooww... How.. How didn't I know that?</p>
        <p class='HS JOELwindows7'>Yeah, frameworks lives in the background. Apparently, those who wanted to build site fast & easy but do not want the hassle & lies of the.. quote on quote "<i>free</i>" web builders, they'll know this anyways.</p>
        <p class='HS DocScratch'>I see... ... I wanted to build website, but my friends' suggestion do not satisfy me, heck this one YouTuber sponsored, is not free at all.</p>
        <p class='HS JOELwindows7'>That's because those scammers paid those YouTubers. It works for them, but never most of beings.</p>
        <p class='HS DocScratch'>Okay... ... Did you tell everyone about this?</p>
        <p class='HS JOELwindows7'>Yeah I did. In fact they're behind this curtain (open curtain remotely).</p>
        <p class='HS TereziPyrope' aria-label='Terezi Pyrope says, "Oh hey!"'>OH H3Y!</p>
        <p class='HS VriskaSerket'>sup, <i title='asshole'>a888888</i>? Finally met to 10 eyes again huh?</p>
        <p class='HS DocScratch'>Oh, Vriska. Hi..</p>
        <p class='HS JOELwindows7'>SO yeah, big shoutout to Terezi, she has been tirelessly helping me porting everyone's caption style. We're not done yet. I still has more to port to here.</p>
        <p class='HS DocScratch'>Oh wow, okay. hmmm. I hope you got all of them, don't give up.</p>
        <p class='HS JOELwindows7'>Thancc cool and good.</p>
    <h4 aria-label='Previously, on Lord English.' id='dialog-LordEnglish'>Previously, on <span style='color:var(--HS-Hemospectrum-LimeBright);'>L<EnglishO/>rd English</span>.</h4>
        <p class='HS AudioInfo'>Resurrection completed</p>
        <p class='HS LordEnglish'>uuugh... ow... ... <span style='font-size:xx-large;'>(awake very fast just torso)!?!??!?</span>...</p>
        <p class='HS JOELwindows7'>(Looking).....</p>
        <p class='HS LordEnglish'> ... <span style='font-size:xx-large;'>(awake very fast just torso)!?!??!?</span>...</p>
        <p class='HS Arn'>(flinch)!!!??...</p>
        <p class='HS JOELwindows7'>... Hello?</p>
        <p class='HS LordEnglish'> ugh... WHERE... WHERE AM I?...</p>
        <p class='HS JOELwindows7'>Ahei. Welcome to the Perkedel Cinematic Universe. You have just been brought here for the resolve. We were trying to yoink Homestuck & its elements. It appears that this franchise has alot of Git violations & merge conflicts going on, and you.. are one of the merge conflict source.</p>
        <p class='HS LordEnglish'><b style='font-size:xx-large;'>(approach fast towards glass & smack) WHAT ARE YOU TALKING ABOUT?!?!?!??!</b></p>
        <p class='HS Arn'>(panik that Lord English can anytime break through) WHAAHA!!...</p>
        <p class='HS JOELwindows7'>(calm Arn & <code>pls calm</code> hand gesture) ssh ssh shh. We have detected that you comprises of multiple entities. That's not healthy. You're not yourself.</p>
        <p class='HS LordEnglish'> SO WHAT?! WHAT ARE YOU GOING TO DO?!</p>
        <p class='HS AudioInfo'>Display says Gamzee, Equius, & Dirk bits detected</p>
        <p class='HS JOELwindows7'>☝️ One moment, please. (Call Interpol)....</p>
        <p class='HS AudioInfo'>Announcement speaker answers automatically</p>
        <p class='HS JOELwindows7'>Ahei gamers. Sorry for interuption. Urgent. Gamzee, Dirk, & Equius. (open portal to this Universe Inspection Border dimension), Please come to this portal. Thancc cool and good. (close)</p>
        <!-- pls separate Lord English, having Gamzee, Dirk & Equius here -->
        <p class='HS DirkStrider'>(got it)??? (okay, let's go)?.. (let's go)...</p>
        <p class='HS GamzeeMakara'>oKaY... (go)..</p>
        <p class='HS EquiusZahhak'>Heuh.. (go) I hope it's not strange test? Alright...</p>
        <p class='HS AudioInfo'>All entered</p>
        <p class='HS JOELwindows7'>Okay, gamers, sit on those each chair, and relax.</p>
        <p class='HS EquiusZahhak'>Whaa? Strange test?!</p>
        <p class='HS JOELwindows7'>No no, it's not. there's bits of you left out.</p>
        <p class='HS EquiusZahhak'>(not get it yet) Oh, eum.. (sit anyway)..</p>
        <p class='HS DirkStrider'>(nervously sitt)..</p>
        <p class='HS GamzeeMakara'>(sit nervously)...</p>
        <p class='HS JOELwindows7'>Okay, gamers, are we ready?</p>
        <p class='HS Arn'>Ready.</p>
        <p class='HS JOELwindows7'>(press <code>Execute</code>)!</p>
        <p class='HS AudioInfo'>Slimy separations</p>
        <p class='HS Info'>Lord English has been successfully separated.</p>
        <p class='HS Caliborn'> UUAHAA!!... (hit bed)!..</p>
        <p class='HS EquiusZahhak'>(async) (felt something filling in 🫀 heart) <b>UUUOOOOH!!..</b> wow</p>
        <p class='HS DirkStrider'>(async) (felt something filling in 🫀 heart) <b>Whoaaaahhh</b> whow...</p>
        <p class='HS GamzeeMakara'>(async) (felt something filling in 🫀 heart) <b>EeEeEeEyoOoO!!!</b> WOw, feels like I gaIneD An EnErGy inside my dOog DooG..</p>
        <p class='HS DocScratch'>eeeoooouggghhhh... euhhh..</p>
<h3>Stories & Pages</h3>
<ul>
    <li><ButtonizedLink style='background-color:rgba(0,0,0,0);color:orange;outline: 2px solid orange;' href='https://mspaintadventures.fandom.com/' openInNewTab={true}>Yoink assets from articles around MSPA Wikia!!!</a></li>
    <li><ButtonizedLink style='background-color:rgba(0,0,0,0);color:orange;outline: 2px solid orange;' href='https://homestuck.com/story/808' openInNewTab={true}>(Homestuck<sup>1</sup>) Page 808</a></li>
    <li><ButtonizedLink style='background-color:rgba(0,0,0,0);color:orange;outline: 2px solid orange;' href='https://www.homestuck.com/epilogues' openInNewTab={true}>(Homestuck<sup>1</sup>) Epilogues</a></li>
    <li><ButtonizedLink style='background-color:rgba(0,0,0,0);color:orange;outline: 2px solid orange;' href='https://www.homestuck2.com/story/407' openInNewTab={true}>(Homestuck<sup>2</sup>) Page 407</a> Note, it seems only epilogue on 1st had separation based on timeline branch, right??</li>
    <li><ButtonizedLink style='background-color:rgba(0,0,0,0);color:orange;outline: 2px solid orange;' href='https://www.homestuck.com/epilogues/candy/5' openInNewTab={true}>(Homestuck<sup>1</sup>) Epilogue Candy 5</a></li>
    <li><ButtonizedLink style='background-color:rgba(0,0,0,0);color:orange;outline: 2px solid orange;' href='https://www.homestuck.com/epilogues/meat/5' openInNewTab={true}>(Homestuck<sup>1</sup>) Epilogue Meat 5</a></li>
    <li><ButtonizedLink style='background-color:rgba(0,0,0,0);color:orange;outline: 2px solid orange;' href='https://hs.hiveswap.com/paradoxspace/index.php?comic=196' openInNewTab={true}>(Paradox Space) Page 196</a> via Hiveswap website</li>
</ul>