---
import FCKDRMCorrect from "@components/Icons/FCKDRMCorrect.astro";
import FCKDRMWrong from "@components/Icons/FCKDRMWrong.astro";

const Tabling = [
    // Code, Command Mean, Argument {Type (Expected value)}, Question Sample, Answer Sample
    [`QRG`,'Frequency / Room Number check of <code>FREQ</code>', [`FREQ`,[`Float (Frequency Mhz)`,`String (Room Name / ID)`]], 'Will you tell me your frequency?', 'Your/My frequency is ________ KHz.'],
]

// ALT + (0, 1, 5, 1) = `—` LONG DASH
---
<div style='overflow-x:auto;'>
    <table id='QCodeList'>
        <thead>
            <th>Q-Code</th>
            <th>Command Meaning</th>
            <th>Arguments</th>
            <th>Question Sample</th>
            <th>Answer Sample</th>
        </thead>
        <tbody>
            {Tabling.map((thing)=>(
                <tr>
                    <td>
                        <span set:html={thing[0]} style='font-size:xx-large;font-weight: bold;'></span>                        
                    </td>
                    <td>
                        <Fragment set:html={thing[1]}/>
                    </td>
                    <td>
                        {/* <Fragment set:html={thing[2]}/> */}
                        <ul>
                        {thing[2].map((arges)=>(
                            <Fragment>
                                <li><code>{arges[0]}</code>:<br/>
                                    <ul>
                                        {arges[1].map((types)=>(
                                        <li>{types}</li>
                                        ))}
                                    </ul>
                                </li>
                            </Fragment>
                        ))}
                        </ul>
                    </td>
                    <td>
                        <Fragment set:html={thing[3]}/>
                    </td>
                    <td>
                        <Fragment set:html={thing[4]}/>
                    </td>
                </tr>
            ))}
        </tbody>
    </table>
</div>
<p>Sauces:
    <br/>
    <ul>
        <li><a href='https://en.wikipedia.org/wiki/Q_code' target="_blank" rel="noopener noreferrer">Wikipedia</a></li>
        <li><a href='https://www.arrl.org/files/file/Get%20on%20the%20Air/Comm%20w%20Other%20Hams-Q%20Signals.pdf' target="_blank" rel="noopener noreferrer">ARRL</a></li>
    </ul>
</p>