---
import FCKDRMCorrect from "@components/Icons/FCKDRMCorrect.astro";
import FCKDRMWrong from "@components/Icons/FCKDRMWrong.astro";

const Tabling = [
    // Code, Command Mean, Argument {Type (Expected value)}, Question Sample, Answer Sample
    [`QRA`,'Username check', [[`NAME`,[`String (Username/Callsign/ID)`,]],], ['What is your Name/Username/Callsign or Station/Yourself/Body?',], ['My name is / The name of this station is <u>__<code>NAME</code>__</u>.',]],
    [`QRG`,'Frequency/Room/Server Number check', [[`FREQ`,[`Float (Frequency Mhz/Khz)`,`String (Room/Server Name/ID)`]],[`FREQ2`,[`Float (Frequency Mhz)`,`String (Room/Server Name/ID)`]],], ['Will you tell me your frequency (or that of <u>__<code>FREQ2</code>__</u> Mhz/Khz)?',`Please tell me your Discord server (or room of the server <u>__<code>FREQ2</code>__</u>).`], ['Your/My frequency (or that of <u>__<code>FREQ2</code>__</u> Mhz/Khz) is <u>__<code>FREQ</code>__</u> Mhz/KHz.',`My Discord server (or room of the server <u>__<code>FREQ2</code>__</u>) is <u>__<code>FREQ</code>__</u>.`]],
    [`QRL`,'Frequency/Room/Server Busy check', [[`FREQ`,[`Float (Frequency Mhz/Khz)`,`String (Room/Server Name/ID)`]],], ['Are you busy (with <u>__<code>FREQ</code>__</u> Mhz/Khz)?',`Are you still talking with (someone) (at/with server <u>__<code>FREQ</code>__</u>)?`], ['I am busy (with <u>__<code>FREQ</code>__</u> Mhz/Khz). (Please do not interfere)',`I am still on the voice chat (with <u>__<code>FREQ</code>__</u>). (Please do not disturb)`]],
    [`QRM`,'Interference check', [[`INTERFERENCE`,[`Integer (Rating 0-5 (0 = nil, 1 = slightly, 3 = moderately, 4 = severely, 5 = extremely))`,`String (Cause Name (e.g.: EMP, storm, power failure (blackout), power reduction (brownout), low battery, attack, etc.) & Severity rating (Optional))`]],], ['Is my transmission being interefered with (<u>__<code>INTERFERENCE</code>__</u>)?',`Who disturbed me (OR am I still disturbed by <u>__<code>INTERFERENCE</code>__</u>)?`], ['Your/My transmission is being interefed by <u>__<code>INTERFERENCE</code>__</u>.',`I am-being/have-been harrassed/disturbed by <u>__<code>INTERFERENCE</code>__</u>!!!`]],
    [`QRN`,'Staticness check', [[`STATICNESS`,[`Integer (Rating 0-5 (0 = nil, 1 = slightly, 3 = moderately, 4 = severely, 5 = extremely))`,`String (Cause Name (e.g.: EMP, storm, power failure (blackout), power reduction (brownout), low battery, attack, etc.) & Severity rating (Optional))`]],], ['Is my transmission being troubled with (<u>__<code>STATICNESS</code>__</u>)?',`Are you still troubled (OR am I still troubled by <u>__<code>STATICNESS</code>__</u>)?`], ['Your/My transmission is being troubled by <u>__<code>STATICNESS</code>__</u>.',`I am-being/have-been harrassed/disturbed by <u>__<code>STATICNESS</code>__</u>!!!`]],
    [`QRO`,'Increasse Power', [[`POWER`,[`Float (Wattage)`, `Integer (Power mode 0-5 (0 = lowest, 1 = low, 3 = middle, 4 = high, 5 = highest))`,]],], ['Shall I increase power (to <u>__<code>POWER</code>__</u>)?',], ['Please increase power to <u>__<code>POWER</code>__</u>.',]],
    [`QRP`,'Decrease Power', [[`POWER`,[`Float (Wattage)`, `Integer (Power mode 0-5 (0 = lowest, 1 = low, 3 = middle, 4 = high, 5 = highest))`,]],], ['Shall I decrease power (to <u>__<code>POWER</code>__</u>)?',], ['Please decrease power to <u>__<code>POWER</code>__</u>.',]],
    [`QRQ`,'Increase Send Speed', [[`SPEED`,[`Float (words per minute)`, `Integer (Speed scale 0-5 (0 = slowest, 1 = slow, 3 = normal, 4 = fast, 5 = fasted))`,]],], ['Shall I send faster (to <u>__<code>SPEED</code>__</u>)?',], ['Please send faster to <u>__<code>SPEED</code>__</u>.',]],
    [`QRS`,'Decrease Send Speed', [[`SPEED`,[`Float (words per minute)`, `Integer (Speed scale 0-5 (0 = slowest, 1 = slow, 3 = normal, 4 = fast, 5 = fasted))`,]],], ['Shall I send slowly (to <u>__<code>SPEED</code>__</u>)?',], ['Please send slower to <u>__<code>SPEED</code>__</u>.',]],
    [`OTW`,'Transport Progress check', [[`PROGRESS`,[`Integer (Rating 0-5 (0 = not started, 1 = just started, 3 = halfway, 4 = close, 5 = arrived))`,`String (Condition (e.g.: Current Pathway, Traffic, etc.) & Arrival rating (Optional))`]],], ['What is my progress( or that of <u>__<code>PROGRESS</code>__</u>)?',`Where are you right now (or that of <u>__<code>PROGRESS</code>__</u>)?`], ['You are being at <u>__<code>PROGRESS</code>__</u>.',`I am right now at <u>__<code>PROGRESS</code>__</u>.`]],
]

// ALT + (0, 1, 5, 1) = `—` LONG DASH
---
<div style='overflow-x:auto;'>
    <table id='QCodeList'>
        <thead>
            <th>Q-Code</th>
            <th>Command Meaning</th>
            <th>Arguments</th>
            <th>Question Sample</th>
            <th>Answer Sample</th>
        </thead>
        <tbody>
            {Tabling.map((thing)=>(
                <tr>
                    <td>
                        <span set:html={thing[0]} style='font-size:xx-large;font-weight: bold;'></span>                        
                    </td>
                    <td>
                        <Fragment set:html={thing[1]}/>
                    </td>
                    <td>
                        {/* <Fragment set:html={thing[2]}/> */}
                        <ul>
                        {thing[2].map((arges)=>(
                            <Fragment>
                                <li><code>{arges[0]}</code>=
                                    <br/>
                                    <ul>
                                        {arges[1].map((types)=>(
                                        <li>{types}</li>
                                        ))}
                                    </ul>
                                </li>
                            </Fragment>
                        ))}
                        </ul>
                    </td>
                    <td>
                        {/* <Fragment set:html={thing[3]}/> */}
                        <ul>
                        {thing[3].map((questions)=>(
                            <Fragment>
                                <li set:html={questions}/>
                            </Fragment>
                        ))}
                        </ul>
                    </td>
                    <td>
                        {/* <Fragment set:html={thing[4]}/> */}
                        <ul>
                        {thing[4].map((answers)=>(
                            <Fragment>
                                <li set:html={answers}/>
                            </Fragment>
                        ))}
                        </ul>
                    </td>
                </tr>
            ))}
        </tbody>
    </table>
</div>
<p>Sauces:
    <br/>
    <ul>
        <li><a href='https://en.wikipedia.org/wiki/Q_code' target="_blank" rel="noopener noreferrer">Wikipedia</a></li>
        <li><a href='https://www.arrl.org/files/file/Get%20on%20the%20Air/Comm%20w%20Other%20Hams-Q%20Signals.pdf' target="_blank" rel="noopener noreferrer">ARRL</a></li>
    </ul>
</p>